<template>
  <div class="action-bar">
    <div class="row justify-content-between">
      <div class="col-3">
        <SearchField
          v-model="search"
          placeholder="Найти клиента"
          @input="onSearch"
        />
      </div>
      <div class="col-3 d-flex align-items-center justify-content-end">
        <ActionButton
          color="blue"
          @click="$modal.show('create-customer', {ui: 'manager'})"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>
            Новый клиент
          </span>
        </ActionButton>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchField from "@/components/elements/SearchField";
  import ActionButton from "@/components/elements/ActionButton";

  export default {
    name: "ClientsIndexActionBar",
    components: {
      SearchField,
      ActionButton
    },
    data(){
     return{
        search: ''
     }
    },
    methods:{
      onSearch(e){
        this.search = e;
        this.$emit('on-search', e);
      }
    }
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }

</style>
