<template>
<!-- eslint-disable -->
  <modal name="delete-shop" width="300" height="auto">
    <div class="modal-confirm">
      <div class="modal-confirm__img-wrp">
        <svg class="warning-icon">
          <use xlink:href="@/assets/sprite.svg#warning" />
        </svg>
      </div>
      <div class="modal-confirm__title">Вы уверены?</div>
      <ul class="confirmation-list">
        <li class="confirmation-list-list__item">
          <ImageButton class="btn--check" @click="deleteCashbox">
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Да</span>
          </ImageButton>
        </li>
        <li class="confirmation-list-list__item">
          <ImageButton class="btn--cancel" @click="$modal.hide('delete-shop')">
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            <span>Нет</span>
          </ImageButton>
        </li>
      </ul>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
import ImageButton from "@/components/elements/ImageButton";

export default {
  name: "DeleteShopModal",
  components: {
    ImageButton
  },
  methods: {
    deleteCashbox() {
      this.$emit("delete-shop-handler");
      this.$modal.hide("delete-shop");
    }
  }
};
</script>

<style scoped>
.modal-confirm {
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
}

.modal-confirm__img-wrp {
  text-align: center;
}

.modal-confirm__title {
  margin: 20px 0 30px 0;
  font: 500 24px/29px "Montserrat", "Arial", sans-serif;
  color: #000;
  text-align: center;
}

.confirmation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.btn--check >>> svg {
  fill: #294d9c;
}

.btn--cancel {
  color: #d68282;
}

.btn--cancel >>> svg {
  fill: #d68282;
}

.warning-icon {
  margin: 0 auto;
  display: block;
  width: 44px;
  height: 38px;
  fill: #d68282;
}
</style>
