<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <Modal
    name="new-shop"
    width="450"
    height="auto"
    class="modal"
  >
    <div class="modal-box">
      <ImageButton
        class="modal-close"
        @click="closeModal"
        @closed="clear"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <header class="modal-header">
        <h1 class="modal-title">
          Новый магазин
        </h1>
      </header>

      <form
        class="form-shop"
        @submit.prevent="submit"
      >
        <div class="form-panel">
          <ScrollWrap
            class="items-wrp"
            style="max-height: 400px;"
          >
            <div class="row align-items-center mb-4">
              <div class="col-12">
                <span
                  v-if="errors"
                  class="form-error"
                >{{ errors.first('non_field_errors') }}</span>
              </div>
              <div class="col-12 modal-group-subtitle">
                <h2 class="modal-subtitle">
                  Информация о магазине
                </h2>
                <h4 class="title-caption">
                  Кодовое имя
                </h4>
                <h4 class="title-caption">
                  {{ shopName }}
                </h4>
              </div>
            </div>

            <!-- Контакты -->
            <div class="row align-items-center mb-4">
              <div class="col-12 modal-group-subtitle">
                <h2 class="modal-subtitle">
                  Контакты
                </h2>
              </div>
              <div class="col-8">
                <h4 class="title-caption">
                  Телефон
                </h4>
                <InputField
                  v-model="form.phone"
                  v-validate
                  data-vv-as="Телефон"
                  name="tel"
                />
              </div>

              <div
                v-if="errors"
                class="col-12"
              >
                <span class="form-error">{{ errors.first('tel') }}</span>
              </div>
            </div>

            <!-- Адрес магазина -->
            <div class="row align-items-center mb-4">
              <div class="col-12 modal-group-subtitle">
                <h2 class="modal-subtitle">
                  Адрес магазина
                </h2>
              </div>
              <!--------------------- Страна ------------------------>
              <div class="col-8">
                <h4 class="title-caption">
                  Страна
                </h4>
                <InputField
                  v-model="form.address.country"
                  v-validate
                  data-vv-as="Страна"
                  name="country"
                />
              </div>

              <div
                v-if="errors"
                class="col-12"
              >
                <span class="form-error">{{ errors.first('country') }}</span>
              </div>
              <!--------------------- Область ------------------------>
              <div class="col-8">
                <h4 class="title-caption">
                  Область
                </h4>
                <InputField
                  v-model="form.address.region"
                  v-validate
                  data-vv-as="Область"
                  name="region"
                />
              </div>
              <div
                v-if="errors"
                class="col-12"
              >
                <span class="form-error">{{ errors.first('region') }}</span>
              </div>

              <!--------------------- Город ------------------------>
              <div class="col-8">
                <h4 class="title-caption">
                  Город
                </h4>
                <InputField
                  v-model="form.address.city"
                  v-validate
                  data-vv-as="Город"
                  name="city"
                />
              </div>
              <div
                v-if="errors"
                class="col-12"
              >
                <span class="form-error">{{ errors.first('city') }}</span>
              </div>

              <!--------------------- Улица ------------------------>
              <div class="col-8">
                <h4 class="title-caption">
                  Улица
                </h4>
                <InputField
                  v-model="form.address.street"
                  v-validate
                  data-vv-as="Улица"
                  name="street"
                />
              </div>
              <div
                v-if="errors"
                class="col-12"
              >
                <span class="form-error">{{ errors.first('street') }}</span>
              </div>
            </div>
          </ScrollWrap>
        </div>

        <!-- Footer -->
        <footer class="modal-footer">
          <span v-if="form.submitted">Loading</span>
          <ImageButton
            v-else
            type="submit"
            class="btn--save mr-5"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Сохранить</span>
          </ImageButton>
        </footer>
      </form>
    </div>
  </Modal>
</template>

<script>
  /* eslint-disable */
import ImageButton from "@/components/elements/ImageButton";
import InputField from "@/components/elements/InputField";
import ScrollWrap from "@/layouts/ScrollWrap";

export default {
  inject: ["$validator"],
  name: "NewShopModal",
  components: {
    ImageButton,
    InputField,
    ScrollWrap
  },
  props: {
    shopName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      form: {
        submitted: false,
        name: "",
        phone: "",
        address: {
          country: "",
          region: "",
          city: "",
          street: ""
        }
      }
    };
  },
  methods: {
    closeModal() {
      this.$modal.hide("new-shop");
    },
    async submit() {
      const result = await this.$validator.validate();
      if (!result) return;
      this.form.name = this.shopName;
      const response = await this.$store.dispatch("submitNewShop", this.form);
      if (response.status === 201) {
        this.$toast.success("магазин успешно создан!");
        this.$modal.hide("new-shop");
      } else {
        this.$toast.error("ошибочный запрос, попробуйте еще раз!");
      }
    },
    clear() {
      Object.assign(this.$data, this.$options.data());
    }
  },
  destroyed() {
    this.$ResetValidator();
  }
};
</script>

<style scoped>
.modal-box {
  position: relative;
  padding: 25px 40px 40px 40px;
}

.modal-header {
  margin-bottom: 25px;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.428rem;
  font-weight: 500;
}

.modal-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: auto;
}

.title-caption {
  margin-top: 25px;
  display: block;
  font-size: 12px;
  line-height: 1px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.btn--save {
  color: #294d9c;
  font-size: 1rem;
}

.btn--save {
  border: 0;
  padding: 0;
}

.btn--save svg {
  fill: #294d9c;
}

.label--barcode >>> .input {
  padding-right: 45px;
}

.form-shop {
  display: flex;
  flex-direction: column;
}

.form-shop .form-panel {
  flex: 1;
}

@media screen and (max-height: 800px) {
  .form-shop {
    overflow: hidden;
  }
}
</style>
