<template>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>Название компании</th>
        <th>Телефон</th>
        <th>E-mail</th>
        <th colspan="2">
          Адрес
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="provider in providers"
        :key="provider.id"
      >
        <td>{{ provider.name }}</td>
        <td><a :href="'tel:' + provider.phone">{{ provider.phone }}</a></td>
        <td><a :href="'mailto:' + provider.email">{{ provider.email }}</a></td>
        <td>
          <span v-if="provider.address">{{ parseAddress(provider.address) }}</span>
        </td>
        <td>
          <ImageButton
            class="btn--delete"
            @click="$modal.show('confirmation', {id: provider.id, type: 'provider'})"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#delete" />
            </svg>
          </ImageButton>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";

  export default {
    name: "ProvidersIndexTable",
    components: {
      ImageButton
    },
    props: {
      providers: {
        type: Array,
        required: true
      }
    },
    methods: {
      parseAddress(json) {
        let items = JSON.parse(json);
        items = Object.values(items);
        return items.join(", ")
      }
    }
  }
</script>

<style scoped>
  .btn--delete {
    fill: #c4c4c4;
  }

  .btn--delete:hover >>> svg {
    fill: #D68282;
  }
</style>
