<template>
  <button
    :type="type"
    class="btn"
    :class="{
      'btn-fill-blue': color === 'blue',
      'btn-fill-white': color === 'white'
    }"
    @click="onClick"
  >
    <slot />
  </button>
</template>

<script>
  export default {
    name: "ActionButton",
    props: {
      color: {
        type: String,
        default: 'white'
      },
      type: {
        type: String,
        default: 'button'
      }
    },
    computed: {
      eventName() {
        switch (this.type) {
          case 'submit':
            return 'submit';
          case 'reset':
            return 'reset';
          default:
            return 'click';
        }
      }
    },
    methods: {
      onClick(event) {
        this.$emit(this.eventName, event);
      }
    }
  }
</script>

<style scoped>

  .btn {
    box-sizing: border-box;
    transition: .25s all ease;
  }

  .btn-fill-blue {
    background-color: #294d9c;
    color: #fff;
    border: 1px solid #294d9c;
  }

  .btn-fill-blue:hover {
    color: #294d9c;
    background-color: transparent;
  }

  .btn-fill-blue:hover svg {
    fill: #294d9c;
  }

  .btn-fill-white {
    background-color: transparent;
    color: #294d9c;
    border: 1px solid #294d9c;
  }

  .btn-fill-white:hover {
    background-color: #294d9c;
    color: #fff;
    border-color: #294d9c;
  }

  .btn-fill-white:hover svg{
    fill: white;
  }

  .btn svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    transition: .25s all ease;
  }

  .btn-fill-blue svg {
    fill: white;
  }

  .btn-fill-white {
    fill: #294d9c;
  }

  .btn:disabled,
  .btn:disabled:hover{
    border-color: gray;
    background-color: gray;
    cursor: text;
    color: #fff;
  }

  .btn:disabled svg,
  .btn:disabled:hover svg{
    fill: #fff;
  }

</style>
