<template>
  <DatePicker
    v-model="selected"
    :not-after="today"
    input-class="mx-input"
    :confirm="true"
    placeholder="Показать за период"
    range-separator="-"
    range
    append-to-body
    lang="ru"
    :shortcuts="false"
    format="DD/MM/YYYY"
    @change="onChange"
  />
</template>

<script>
  import DatePicker from 'vue2-datepicker'

  export default {
    name: "DateField",
    components: {DatePicker},
    data() {
      return {
        selected: [
          new Date().setMonth(new Date().getMonth() - 1),
          new Date()
        ],
        today: new Date(),
      }
    },
    created() {
      this.onChange(this.selected);
    },
    methods: {
      onChange(array) {
        this.$emit('change', this.toDateFormat(array));
      },
      toDateFormat(dates){
        const dateStart = new Date(dates[0]);
        const dateEnd = new Date(dates[1]);
        dateEnd.setDate(dateEnd.getDate() + 1);
        return {dateStart, dateEnd}
      }
    }
  }
</script>

<style scoped>

  >>> .mx-datepicker-range {
    width: 100%;
    height: 40px;
    color: #757575;
  }

  .mx-datepicker-range >>> .mx-input {
    height: 40px;
    border: 1px solid rgba(41, 77, 156, 0.54);
    transition: .25s all ease;
  }

  .mx-datepicker-range >>> .mx-input:hover,
  .mx-datepicker-range >>> .mx-input:focus {
    border-color: #294D9C;
  }

</style>
