<template>
  <select
    class="select"
    @input="valueChange"
  >
    <option
      value=""
      selected
      :disabled="disabled"
    >
      {{ caption }}
    </option>
    <option
      v-for="(item,i) in items"
      :key="i"
      :value="item.id"
    >
      {{ item.name }}
    </option>
  </select>
</template>

<script>
  export default {
    name: "Select",
    props: {
      caption: {type: String, default: 'Все'},
      items: {type: Array, required: true},
      disabled: {type: Boolean},
    },
    methods: {
      valueChange(e) {
        this.$emit('input', e.target.value)
      }
    }
  }
</script>

<style scoped>
  .select {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: 1px solid rgba(41, 77, 156, .54);
    border-radius: 5px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: rgba(35, 35, 35, 0.75);
    background: #fff;
    transition: .25s all ease;
  }

  .select:hover,
  .select:focus{
    border-color: #294D9C;
    outline: none;
  }
</style>
