<template>
  <label>
    <slot />
    <textarea
      :placeholder="placeholder"
      :name="name"
      @input="onInput"
    />
  </label>
</template>

<script>
  export default {
    name: "TextField",
    props: {
      placeholder: {
        type: String,
        default: null
      },
      name: {
        type: String,
        default: null
      }
    },
    methods: {
      onInput(event) {
        this.$emit('input', event.target.value)
      }
    }
  }
</script>

<style scoped>
  textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: 1px solid rgba(41, 77, 156, 0.54);
    border-radius: 5px;
    padding: 20px;
    color: #232323;
  }

  label {
    color: rgba(0, 0, 0, 0.54);
  }
</style>
