<template>
  <div>
    <div class="move-actionbar">
      <div class="procurement-filter ">
        <div class="row align-items-center justify-content-between mb-4">
          <div class="col-8">
            <h1 class="main-title">
              <RouterLink
                class="router-link"
                :to="{name: 'DiscountIndex'}"
              >
                <svg>
                  <use xlink:href="@/assets/sprite.svg#back" />
                </svg>
              </RouterLink>
              Новая скидка
            </h1>
          </div>
          <div
            v-if="!submited"
            class="col-2"
          >
            <ImageButton
              class="btn--save"
              @click="trySave"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#check" />
              </svg>
              Сохранить
            </ImageButton>
          </div>
          <div
            v-if="!submited"
            class="col-2"
          >
            <RouterLink
              class="link-icon"
              :to="{name: 'DiscountIndex'}"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#close" />
              </svg>
              Отменить
            </RouterLink>
          </div>
          <div class="col-2">
            <ProgressBar
              v-if="submited"
              message="погрузка..."
              :size="20"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h1 class="ttitle">
              Параметры скидки
            </h1>
          </div>
        </div>
        <div
          v-if="shops"
          class="row align-items-center mb-4"
        >
          <div class="col-2">
            <p class="field-caption">
              Процент скидки(%)
            </p>
            <InputField
              v-model="form.value"
              type="phone"
              placeholder="0"
              :maxlength="3"
              @input="discountChange"
            />
          </div>
          <div class="col-3">
            <p class="field-caption">
              В каком магазине скидка
            </p>
            <TreeSelect
              v-model="form.shops"
              instance-id="shop"
              class="tree-select mr-2"
              placeholder="Начните вводить название категории и нажмите Enter"
              :multiple="true"
              :open-on-click="true"
              :options="shops"
              :normalizer="normalizeList"
            />
          </div>
          <div class="col-5">
            <p class="field-caption">
              Период
            </p>
            <div class="flex">
              <DatePicker
                type="datetime"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder="Начало"
                @change="startDateChange"
              />         
              <DatePicker
                type="datetime"
                format="YYYY-MM-DD HH:mm:ss"
                placeholder="Конец"
                @change="endDateChange"
              />
            </div>
          </div>
          <div class="col-2">
            <div class="fcenter">
              <CheckField
                id="active_discount"
                name="active_discount"
                :checked="true"
                label="Активен"
                @change="statusChange"
              />
            </div>
          </div>
        </div>
      </div>
     

      <div
        v-if="discount_category"
        class="main_filter"
      >
        <div class="row">
          <div class="col-6">
            <h1 class="ttitle">
              Категории
            </h1>
          </div>
          <div class="col-12">
            <h1 class="field-caption">
              Выберите категорию на которую хотите установить скидку
            </h1>
          </div>
          <div class="col-12">
            <TreeSelect
              v-model="form.categories"
              instance-id="category"
              class="tree-select mr-2"
              placeholder="Начните вводить название категории и нажмите Enter"
              :multiple="true"
              :open-on-click="true"
              :show-count="true"
              :no-children-text="'Нет папок'"
              :options="categories"
              :normalizer="normalizeList"
            />
          </div>
        </div>
      </div>
      <div
        v-else
        class="main_filter"
      >
        <div class="row">
          <div class="col-6">
            <h1 class="ttitle">
              Товары
            </h1>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-3">
            <a
              class="btn"
              @click="$modal.show('search-product')"
            >
              Выбрать товары
            </a>
          </div>
          <div class="col-9">
            <p class="desc">
              Выберите товары со справочника к которому хотите применить скидку
            </p>
          </div>
        </div>
      </div>
    </div>
    <ProductList :items="products" />
    <SearchProducts
      :is-discount="true"
      @selected-product="getPositions"
    />
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import SearchProducts from '@/components/products/SearchProducts'
  import ImageButton from '@/components/elements/ImageButton'
  import ProgressBar from '@/components/elements/ProgressBar'
  import DatePicker from '@/components/elements/DatePicker';
  import InputField from '@/components/elements/InputField';
  import CheckField from '@/components/elements/CheckField';
  import ProductList from '@/components/discounts/ProductList';
  import TreeSelect from "@riophae/vue-treeselect";

  export default {
    name: 'DiscountNew',
    components: {
      SearchProducts,
      ImageButton,
      ProgressBar,
      DatePicker,
      InputField,
      CheckField,
      ProductList,
      TreeSelect
    },
    data() {
      return {
        submited: false,
        products: [],
        form:{
          value:null,
          status: true,
          started_at: null,
          ended_at: null,
          shops: null,
          categories: null,
          products: []
        },
      }
    },
    computed: {
      ...mapGetters({
        shops: 'shops',
        categories: 'categories_filtered',
      }),
      discount_category(){
        return this.$route.query.type ? true : false
      }
    },
    created() {
      this.getListShops();
      this.fetchCategories();
    },
    methods: {
      ...mapActions({
        getListShops: 'getListShops',
        fetchCategories: 'fetchCategories',
        createProductDiscount: 'discounts/createProductDiscount',
        createCategoryDiscount: 'discounts/createCategoryDiscount'
      }),
      exists(product){
        return this.products.findIndex(p => p.id === product.id) >= 0;
      },
      getPositions(product){
        if(!this.exists(product)){
          const pdt = {...product};
          pdt.discount = parseInt(this.form.value);
          this.products.push(pdt)
        }
      },
      discountChange(discount){
        this.products.forEach(product => {
          product.discount = discount !== '' ? parseInt(discount) : 0;
          this.form.products.push(product.id);
        });
      },
      normalizeList(node) {
        return {
          id: node.id,
          label: node.name
        };
      },
      statusChange(status){
        this.form.status = status;
      },
      startDateChange(date){
        this.form.started_at = date;
      },
      endDateChange(date){
        this.form.ended_at = date;
      },
      validated(){
        if(this.form.value === null || 
          this.form.value === '' ||
          this.form.value ==='0' ){
          this.$toast.error('Введите процент скидки');
          return false;
        }
        if(this.form.shops === null || this.form.shops.length === 0){
          this.$toast.error('Выберите магазины');
          return false;
        }
        if(this.form.started_at === null){
          this.$toast.error('Выберите период действия скидки');
          return false;
        }

        if(this.discount_category){
          if(this.form.categories === null || this.form.categories.length === 0){
            this.$toast.error('Выберите категории');
            return false;
          }
        }else{
          if(this.form.products.length === 0){
           this.$toast.error('Выберите продукты');
           return false;
          }
        }

        return true;
      },
      async trySave(){
         if(this.validated()){
           let result = null;
           this.submited = true;
           if(this.discount_category){
             result = await this.createCategoryDiscount(this.form);
           }else{
             result = await this.createProductDiscount(this.form);
           }
           if(result.status === 201){
             this.$router.push({name  : 'DiscountIndex'})
             this.$toast.success('Скидка успешна создана!')
             return;
           }else{
            this.$toast.error('Неизвесная ошибка')
            this.submited = false;
           }
         }
      },
      async saveWithCategory(){
        const rep = await this.createProductDiscount(this.form);
        return rep;
      }
      
    },
  }
</script>

<style scoped>
  .btn--save {
    display: flex;
    width: 100%;
    background-color: #294D9C;
    border-radius: 0;
    padding: 5px;
    color: #fff;
  }

  .btn--save >>> svg {
    fill: #fff;
  }

  .btn--save:hover {
    color: #fff;
  }

  .btn--save >>> svg,
  .btn--delete >>> svg {
    margin-right: 5px;
  }

  .btn--delete,
  .btn--delete:hover {
    color: #757575;
  }

  .btn--delete >>> svg {
    fill: #757575;
  }

  .main_filter {
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 15px 12px;
    margin-bottom: 15px;
  }

  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .field-caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  .desc {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }
  .ttitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
  .fcenter{
    margin-top: 18px;
    display: flex;
    align-items: center;
    height: 40px;
  }
  .flex{
    display: flex;
  }
>>> .mx-datepicker{
  width: 180px;
  margin-right: 2px;
}

</style>
