<template>
  <div>
    <ActionBar
      :shops="shops"
      @shop-change="shopChange"
      @search-change="searchChange"
    />
    <Table
      :discounts="discounts"
      @on-delete="deleteDiscount"
    />
  </div>
</template>

<script>
import ActionBar from '@/components/discounts/ActionBar';
import Table from '@/components/discounts/Table';
import {mapActions,mapGetters} from 'vuex';


export default {
    components: {ActionBar,Table},
    data(){
      return{
        search: '',
        selectedShop: null
      }
    },
    computed: {
      ...mapGetters({
        product_discounts: 'discounts/products',
        category_discounts: 'discounts/categories',
        shops: 'shops'
      }),
      discounts(){
        const outputs = [];
        for(const pdisc of this.product_discounts){
          outputs.push(this._formatDiscount(pdisc, 'product'));
        }
        for(const cdisc of this.category_discounts){
          outputs.push(this._formatDiscount(cdisc, 'category'));
        }
        return outputs;
      }
    },
    mounted(){
      this.loadDatas();
    },
    methods: {
      ...mapActions({
        getListShops: 'getListShops',
        fetchProductDiscounts: 'discounts/fetchProductDiscounts',
        fetchCategoryDiscounts: 'discounts/fetchCategoryDiscounts',
      }),
      async loadDatas(){
        await this.getListShops();
        await this.fetchProductDiscounts();
        await this.fetchCategoryDiscounts();
      },
      shopChange(shop){
        this.selectedShop = shop;
      },
      searchChange(){},
      deleteDiscount(){},
      _formatDiscount(payload, type){
        return  {
          ...payload, 
          type:  type === 'category' ? {
            index: 0,
            title: 'Категории'
          } : {
            index: 1,
            title: 'Товары'
          },
          name: ''
        };
      }
    }
}
</script>

<style>

</style>