<template>
  <div class="settings--discounts">
    <DiscountDynamic />
    <DiscountStatic />
  </div>
</template>

<script>
  import DiscountDynamic from '@/components/loyalties/DiscountDynamic';
  import DiscountStatic from '@/components/loyalties/DiscountStatic';

  export default {
    name: 'LoyaltiesPage',
    components: {
      DiscountDynamic,
      DiscountStatic
    }
  };
</script>

<style scoped>
.settings--discounts{
 background: #fff;
 margin-top: 20px;
}
</style>
