<template>
  <Modal
    name="callback-sales"
    width="300"
    height="auto"
    @before-open="getParamsData($event)"
  >
    <div class="modal-confirm">
      <div class="modal-confirm__img-wrp">
        <svg
          class="btn--check"
          fill="#fff"
        >
          <use xlink:href="@/assets/sprite.svg#check" />
        </svg>
      </div>
      <div class="modal-confirm__title">
        {{ title }}
      </div>
      <div
        v-if="!fromCard"
        class="modal-confirm__subtitle"
      >
        Сдача: <b>{{ subtitle }}</b> руб.
      </div>
      <ImageButton
        class="modal-close"
        @click="$modal.hide('callback-sales')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";

  export default {
    name: "CallbackSalesModal",
    components: {
      ImageButton
    },
    data(){
      return{
        title: '',
        subtitle: '',
        fromCard: false
      }
    },
    methods: {
      getParamsData(e) {
        this.title = e.params.title;
        this.subtitle = e.params.subtitle;
        this.fromCard = e.params.fromCard;
      },
    }
  }
</script>

<style scoped>

  .modal-confirm {
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
  }
  .modal-confirm__img-wrp {
      margin: 0 auto;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #294D9C;
  }
  .modal-confirm__title {
    margin: 20px 0 30px 0;
    font: 500 24px/29px "Montserrat", "Arial", sans-serif;
    color: #000;
    text-align: center;
  }
  .modal-confirm__subtitle {
    margin: 20px 0 30px 0;
    text-align: center;
  }

</style>
