<template>
  <Modal
    name="confirm-sale"
    width="410"
    height="auto"
  >
    <div class="confirm-sale">
      <h2 class="modal-title">
        Продажа
      </h2>
      <ul
        v-if="!onProgress"
        class="payment-list"
      >
        <li class="payment-list__item">
          <div class="row">
            <div class="col-9 mb-3">
              <ActionButton
                class="payments-list__btn"
                color="blue"
                @click="$modal.show('select-customer')"
              >
                <svg
                  width="20"
                  height="20"
                  fill="#fff"
                >
                  <use xlink:href="@/assets/sprite.svg#gravatar" />
                </svg>
                <span v-if="currentClient">{{ currentClient.name }}</span>
              </ActionButton>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <ActionButton class="payments-list__btn">
                <svg
                  width="20"
                  height="20"
                  fill="#294D9C"
                >
                  <use xlink:href="@/assets/sprite.svg#loyality" />
                </svg>
                <span>Скидка • 0%</span>
              </ActionButton>
            </div>
          </div>
        </li>
        <li class="payment-list__item">
          <div class="details">
            <div class="details__caption">
              Итого
            </div>
            <p class="details__total">
              {{ sumOfProducts }} руб.
            </p>
          </div>
        </li>
        <li class="payment-list__item">
          <div class="payment-list__caption">
            <svg class="payment-list__icon">
              <use xlink:href="@/assets/sprite.svg#cash" />
            </svg>
            <span>Наличными</span>
          </div>
          <ul class="flex-list">
            <li
              v-for="(render,i) in renders"
              :key="i"
              class="flex-item"
              @click="confirmSales(render)"
            >
              <ActionButton color="blue">
                <span>{{ render }} руб</span>
              </ActionButton>
            </li>
            <li>
              <ActionButton @click="$modal.show('confirm-sales-other', {amount: sumCart})">
                <span>Другая сумма</span>
              </ActionButton>
            </li>
          </ul>
        </li>
        <li class="payment-list__item">
          <div class="payment-list__caption">
            <svg class="payment-list__icon">
              <use xlink:href="@/assets/sprite.svg#card" />
            </svg>
            <span>Картой</span>
          </div>
          <div class="row">
            <div class="col-auto">
              <ActionButton
                color="blue"
                @click="confirmWithCard"
              >
                <span>Принять оплату</span>
              </ActionButton>
            </div>
          </div>
        </li>
      </ul>
      <ImageButton
        class="modal-close"
        @click="$modal.hide('confirm-sale')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
    </div>
    <div
      v-if="onProgress"
      class="progress"
    >
      <ProgressBar />
    </div>
    <ConfirmSalesOther @get-amount="confirmByOtherAmount" />
  </Modal>
</template>

<script>
import ImageButton from "@/components/elements/ImageButton";
import ActionButton from "@/components/elements/ActionButton";
import ConfirmSalesOther from "@/components/modals/ConfirmSalesOtherModal";
import ProgressBar from "@/components/elements/ProgressBar";
import { mapGetters, mapActions } from "vuex";

function _calculateAllPossiblePayments(
  denominations,
  price,
  result,
  current,
  idx,
  memo
) {
  if (memo[idx].has(current)) return;
  memo[idx].add(current);
  if (current >= price) {
    result.add(current);
    return;
  }

  for (let i = idx; i >= 0; i--) {
    current += denominations[i];
    _calculateAllPossiblePayments(
      denominations,
      price,
      result,
      current,
      i,
      memo
    );
    current -= denominations[i];
  }
}

function calculateAllPossiblePayments(denominations, price) {
  price = Math.ceil(price);
  const result = new Set();
  const memo = denominations.map(() => new Set());
  _calculateAllPossiblePayments(
    denominations,
    price,
    result,
    0,
    denominations.length - 1,
    memo
  );
  return Array.from(result).sort((a, b) => a - b);
}

const DENOMINATIONS = Object.freeze([
  1,
  2,
  5,
  10,
  50,
  100,
  200,
  500,
  1000,
  2000,
  5000
]);

export default {
  name: "ConfirmSaleModal",
  components: {
    ImageButton,
    ActionButton,
    ConfirmSalesOther,
    ProgressBar
  },
  data() {
    return {
      receiveSum: 0,
      onProgress: false,
      is_online_payment: false
    };
  },
  computed: {
    ...mapGetters([
      "currentClient",
      "sumCart",
      "shift",
      "cart",
      "defaultRetailClient"
    ]),
    renders() {
      return calculateAllPossiblePayments(DENOMINATIONS, this.sumCart);
    },
    sumOfProducts() {
      return this.cart
        .reduce((total, p) => total + this.getPrice(p.price) * p.qte, 0)
        .toFixed(2);
    }
  },
  methods: {
    ...mapActions(["saveSales", "refreshShift"]),
    getPrice(price) {
      return Number(
        this.currentClient.is_retail ? price.retail : price.wholesale
      );
    },
    async pay(online_pay = false) {
      this.onProgress = true;
      const positions = [];
      this.cart.forEach(function(el) {
        positions.push({ product: el.id, count: el.qte });
      });
      var form = {
        client: this.currentClient.id,
        shift: this.shift.id,
        positions: positions,
        is_online_payment: online_pay
      };
      const newShift = await this.refreshShift(this.shift.id);
      if (newShift.data.closed_at !== null) {
        this.$toast.success("Текущая смена закрыта другим пользователем");
      }
      const response = await this.saveSales(form);
      if (response.status === 201) {
        this.$modal.show("callback-sales", {
          title: "Успешно",
          subtitle: this.receiveSum,
          fromCard: this.is_online_payment
        });
        this.$modal.hide("confirm-sale");
        this.$store.commit("TRUNCATE_CART");
        this.$store.commit("SET_CURRENT_CLIENT", this.defaultRetailClient);
        this.updateProduct(positions);
        this.$store.commit("REFRESH_SHIFT", response.data.shift);
        this.reset();
      } else {
        this.$toast.error(response.data);
      }
      this.onProgress = false;
    },
    confirmSales(render) {
      this.receiveSum = parseFloat(render - this.sumCart);
      this.pay();
    },
    confirmByOtherAmount(amount) {
      this.receiveSum = parseFloat(amount - this.sumCart);
      this.pay();
    },
    confirmWithCard() {
      this.is_online_payment = true;
      this.pay(true);
    },
    reset() {
      this.is_online_payment = false;
    },
    updateProduct(positions) {
      const vm = this;
      positions.forEach(function(el) {
        vm.$store.commit("UPDATE_PRODUCT_BALANCE", el);
      });
    }
  }
};
</script>

<style scoped>
.progress {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-sale {
  padding: 25px 30px 30px;
}
.modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
}
.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.payment-list {
  margin: 25px 0 0 0;
  padding: 0;
  list-style: none;
}
.payment-list__item + .payment-list__item {
  margin-top: 30px;
}
.payment-list__caption {
  margin: 0 0 15px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.payment-list__caption svg {
  vertical-align: top;
}
.payment-list__caption span {
  margin-left: 5px;
  vertical-align: top;
}
.payment-list__icon {
  width: 20px;
  height: 16px;
  fill: #294d9c;
}
.payments-list__btn {
  width: 100%;
  justify-content: flex-start;
}
.details__caption {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
}
.details__total {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.flex-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.flex-item:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}
</style>
