<template>
  <Modal
    name="confirm-sales-other"
    width="400"
    height="auto"
    @before-open="beforeOpen($event)"
    @closed="beforeClose"
  >
    <form @submit.prevent="submit">
      <div class="cash-refill">
        <h2 class="modal-title">
          Сумма
        </h2>
        <div class="row mt-4">
          <div class="col-12">
            <InputField
              v-model="form.amount"
              v-validate="{required: true, decimal:true, min_value: totalPrice}"
              name="amount"
            />
            <div
              v-show="errors.has('amount')"
              class="errors"
            >
              <span class="form-error">{{ errors.first('amount') }}</span>
            </div>
          </div>
        </div>
        <ImageButton
          class="modal-close"
          @click="hide"
        >
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <use xlink:href="@/assets/sprite.svg#close" />
          </svg>
        </ImageButton>

        <ActionButton
          class="submit mt-4"
          color="blue"
          type="submit"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#check" />
          </svg>
          <span>Принять</span>
        </ActionButton>
      </div>
    </form>
  </Modal>
</template>

<script>
import ImageButton from "@/components/elements/ImageButton";
import InputField from "@/components/elements/InputField";
import ActionButton from "@/components/elements/ActionButton";

export default {
  inject: ["$validator"],
  name: "ConfirmSalesOtherModal",
  components: {
    ImageButton,
    InputField,
    ActionButton
  },
  data() {
    return {
      totalPrice: 0,
      form: {
        amount: "0"
      }
    };
  },
  methods: {
    hide() {
      this.$modal.hide("confirm-sales-other");
    },
    reset() {
      Object.assign(this.$data, this.$options.data());
    },
    beforeOpen(e) {
      this.totalPrice = e.params.amount.toString();
    },
    beforeClose() {
      this.reset();
    },
    async submit() {
      const result = await this.$validator.validate();
      if (!result) return;
      this.$emit("get-amount", this.form.amount);
      this.hide();
    }
  }
};
</script>

<style scoped>
.progress {
  display: flex;
  justify-content: center;
}
.cash-refill {
  padding: 30px;
  background-color: #fff;
}

.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.field-caption {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.submit {
  color: #fff;
}

.submit svg {
  fill: #fff;
}
</style>
