<template>
  <Modal
    name="close-shift"
    width="300"
    height="auto"
  >
    <div class="modal-confirm">
      <div class="modal-confirm__img-wrp">
        <svg class="warning-icon">
          <use xlink:href="@/assets/sprite.svg#warning" />
        </svg>
      </div>
      <div class="modal-confirm__title">
        {{ message }}
      </div>
      <ul class="confirmation-list">
        <li class="confirmation-list-list__item">
          <ImageButton
            class="btn--check"
            @click="closeShift"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>{{ confirmText }}</span>
          </ImageButton>
        </li>
        <li class="confirmation-list-list__item">
          <ImageButton
            class="btn--cancel"
            @click="close"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            <span>{{ cancelText }}</span>
          </ImageButton>
        </li>
      </ul>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  export default {
    name: "CloseShiftModal",
    components: {
      ImageButton
    },
    data(){
      return{
        message:'Вы уверены?',
        confirmText:'Да',
        cancelText:'Нет'
      }
    },
    methods: {
      close(){
        this.$modal.hide('close-shift');
      },
      async closeShift() {
        const rep = await this.$store.dispatch('closeShift');
        this.close();
        if(rep.status === 200){
          this.$store.commit('CLOSE_SHIFT');
          location.reload();
        }else{
          this.$toast.errors(rep.data);
        }
      }
    }
  }
</script>

<style scoped>

  .modal-confirm {
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
  }
  .modal-confirm__img-wrp {
    text-align: center;
  }
  .modal-confirm__title {
    margin: 20px 0 30px 0;
    font: 500 24px/29px "Montserrat", "Arial", sans-serif;
    color: #000;
    text-align: center;
  }
  .confirmation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .btn--check >>> svg {
    fill: #294D9C;
  }
  .btn--cancel >>> svg {
    fill: #D68282;
  }

  .btn--cancel {
    color: #D68282;
  }
  .warning-icon {
    margin: 0 auto;
    display: block;
    width: 44px;
    height: 38px;
    fill: #D68282;
  }
</style>
