<template>
  <Modal
    name="create-customer"
    width="370"
    height="auto"
    @before-open="getParamsData($event)"
    @closed="beforeClose"
  >
    <div class="modal-box">
      <h2 class="modal-title">
        Новый покупатель
      </h2>
      <Switcher
        v-if="ui === 'manager'"
        :items="tabs"
        class="customer-switch mt-4"
        @on-changed="changeCustomer"
      />

      <h3 class="subtitle">
        Данные о клиенте
      </h3>
      <ScrollWrap
        class="items-wrp"
        style="max-height: 400px;"
      >
        <div
          v-if="ui === 'manager'"
          class="row mt-3"
        >
          <div class="col-8 mt-3">
            <div class="field-caption">
              Тип клиента
            </div>
            <div class="flex-row">
              <Switcher
                :items="retails"
                @on-changed="changeType"
              />
            </div>
          </div>
        </div>
        <form
          v-if="tab === 0"
          @submit.prevent="submitIndividual"
        >
          <div class="row  mt-3">
            <div class="col-8">
              <InputField
                v-model="form.name"
                v-validate="'required'"
                name="name"
              >
                <span class="field-caption">
                  Ф.И.О
                </span>
              </InputField>
              <div
                v-show="errors.has('name')"
                class="errors"
              >
                <span class="error">{{ errors.first('name') }}</span>
              </div>
            </div>
            <div class="col-8 mt-3">
              <InputField
                v-model="form.phone"
                v-validate="'required'"
                placeholder="+7(___)__-__-__"
                name="phone"
              >
                <span class="field-caption">Номер телефона</span>
              </InputField>
              <div
                v-show="errors.has('phone')"
                class="errors"
              >
                <span class="error">{{ errors.first('phone') }}</span>
              </div>
            </div>
            <div class="col-8 mt-3">
              <InputField
                v-model="form.email"
                v-validate="'required|email'"
                name="email"
              >
                <span class="field-caption">Почта</span>
              </InputField>
              <div
                v-show="errors.has('email')"
                class="errors"
              >
                <span class="error">{{ errors.first('email') }}</span>
              </div>
            </div>
            <div
              v-if="notuse"
              class="col-8 mt-3"
            >
              <span class="field-caption">Дата рождения</span>
              <DatePicker
                class="datefield"
                @change="getBirthday"
              />
            </div>
            <div class="col-8 mt-3">
              <div class="field-caption">
                Пол
              </div>
              <Switcher
                :items="genders"
                @on-changed="changeGender"
              />
            </div>
            <div class="col-8 mt-3">
              <InputField
                v-model="form.card_number"
                v-validate="'required'"
                name="card_number"
              >
                <span class="field-caption">Номер карты</span>
              </InputField>
              <div
                v-show="errors.has('card_number')"
                class="errors"
              >
                <span class="error">{{ errors.first('card_number') }}</span>
              </div>
            </div>
          </div>

          <ActionButton
            v-if="!onProgress"
            class="submit"
            color="blue"
            type="submit"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Создать клиента</span>
          </ActionButton>
        </form>

        <!-- form2 -->
        <form
          v-else
          @submit.prevent="submitNonIndividual"
        >
          <div class="row mt-3">
            <div
              v-if="notuse"
              class="col-12"
            >
              <SearchField placeholder="Поиск организации по ИНН или ОГРН" />
              <hr class="mt-3">
            </div>
            <div class="col-8 mt-3">
              <InputField
                v-model="form.name"
                v-validate="'required'"
                name="name"
              >
                <span class="field-caption">Компания</span>
              </InputField>
              <div
                v-show="errors.has('name')"
                class="errors"
              >
                <span class="error">{{ errors.first('name') }}</span>
              </div>
            </div>
            <div class="col-8 mt-3">
              <InputField
                v-model="form.phone"
                v-validate="'required'"
                placeholder="+7(___)__-__-__"
                name="phone"
              >
                <span class="field-caption">Номер телефона</span>
              </InputField>
              <div
                v-show="errors.has('phone')"
                class="errors"
              >
                <span class="error">{{ errors.first('phone') }}</span>
              </div>
            </div>
            <div class="col-8 mt-3">
              <InputField
                v-model="form.email"
                v-validate="'required|email'"
                name="email"
              >
                <span class="field-caption">Почта</span>
              </InputField>
              <div
                v-show="errors.has('email')"
                class="errors"
              >
                <span class="error">{{ errors.first('email') }}</span>
              </div>
            </div>
            <div class="col-8 mt-3">
              <InputField
                v-model="form.card_number"
                v-validate="'required'"
                name="card_number"
              >
                <span class="field-caption">Номер карты</span>
              </InputField>
              <div
                v-show="errors.has('card_number')"
                class="errors"
              >
                <span class="error">{{ errors.first('card_number') }}</span>
              </div>
            </div>
          </div>
          <div>
            <h3 class="subtitle">
              Реквизиты
            </h3>
            <div class="row">
              <div class="col-8 mt-3">
                <InputField
                  v-model="requisite.inn"
                  name="requisite_inn"
                >
                  <span class="field-caption">ИНН</span>
                </InputField>
                <div
                  v-show="errors.has('requisite_inn')"
                  class="errors"
                >
                  <span class="error">{{ errors.first('requisite_inn') }}</span>
                </div>
              </div>
              <div class="col-8 mt-3">
                <InputField
                  v-model="requisite.ogrn"
                  name="requisite_ogrn"
                >
                  <span class="field-caption">ОГРН</span>
                </InputField>
                <div
                  v-show="errors.has('requisite_ogrn')"
                  class="errors"
                >
                  <span class="error">{{ errors.first('requisite_ogrn') }}</span>
                </div>
              </div>
              <div class="col-8 mt-3">
                <InputField
                  v-model="requisite.kpp"
                  name="requisite_kpp"
                >
                  <span class="field-caption">КПП</span>
                </InputField>
                <div
                  v-show="errors.has('requisite_kpp')"
                  class="errors"
                >
                  <span class="error">{{ errors.first('requisite_kpp') }}</span>
                </div>
              </div>
            </div>
          </div>
          <ActionButton
            v-if="!onProgress"
            class="submit"
            color="blue"
            type="submit"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Создать клиента</span>
          </ActionButton>
        </form>
      </ScrollWrap>
      <ImageButton
        class="modal-close"
        @click="$modal.hide('create-customer')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
      <div
        v-if="onProgress"
        class="progress"
      >
        <ProgressBar />
      </div>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import InputField from "@/components/elements/InputField";
  import DatePicker from "@/components/elements/DatePicker";
  import SearchField from "@/components/elements/SearchField";
  import ActionButton from "@/components/elements/ActionButton";
  import Switcher from "@/components/elements/Switcher";
  import ProgressBar from "@/components/elements/ProgressBar";
  import ScrollWrap from "@/components/elements/ScrollWrap";
  import {mapActions} from "vuex";

  export default {
    inject: ['$validator'],
    name: "CreateCustomerModal",
    components: {
      ImageButton,
      Switcher,
      ActionButton,
      InputField,
      DatePicker,
      SearchField,
      ProgressBar,
      ScrollWrap,
    },
    data() {
      return {
        ui: '',
        notuse: false,
        onProgress: false,
        tab: 0,
        currentGender: 0,
        currentType: 1,
        tabs: [
          {id: 0, title: "Физ. лицо"},
          {id: 1, title: "Юр. лицо"}
        ],
        retails: [
          {id: 1, title: "Розничный"},
          {id: 0, title: "Оптовый"}
        ],
        genders: [
          {id: 0, title: "Мужчина", value: "MALE"},
          {id: 1, title: "Женщина", value: "FEMALE"}
        ],
        form: {
          card_number: null,
          name: null,
          email: null,
          phone: null,
          gender: null,
          is_individual: true,
          requisites: {},
          discount_percent: 0,
          is_retail: false,
          birthday: null
        },
        requisite: {
          inn: null,
          ogrn: null,
          kpp: null,
        }
      }
    },
    methods: {
      ...mapActions(['createClient']),
      hide() {
        this.$modal.hide('create-customer');
      },
      reset() {
        Object.assign(this.$data, this.$options.data());
      },
      beforeClose() {
        this.reset()
      },
      changeCustomer(e) {
        this.tab = e.id;
        if (this.tab === 1) {
          this.subtitle = "Данные о клиенте";
        } else {
          this.subtitle = "Данные о компании";
        }
      },
      changeGender(gender) {
        this.currentGender = gender.id;
      },
      changeType(type) {
        this.currentType = type.id;
      },
      getBirthday(date) {
        this.form.birthday = this.$date.toDateFormat(date, '-');
      },
      getParamsData(event) {
        this.ui = event.params.ui;
      },
      async submit() {
        this.onProgress = true;
        this.form.is_retail = this.currentType > 0;
        const response = await this.createClient(this.form);
        if (response.status === 201) {
          this.$toast.success("Клиент успешно добавлен!");
          this.hide();
        } else {
          this.$toast.errors(response.data);
        }
        this.onProgress = false;
      },
      async submitIndividual() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.form.gender = this.genders[this.currentGender].value;
        this.submit();
      },
      async submitNonIndividual() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.form.requisites = this.requisite;
        delete this.form.gender;
        this.form.is_individual = false;
        this.submit();
      }
    }
  }
</script>

<style scoped>

  .modal-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .modal-box {
    padding: 25px 30px 30px 30px;
  }

  .customer-switch {
    width: 215px;
    height: auto;
  }

  .customer-switch >>> .switch_item {
    padding: 12px 15px;
  }

  .subtitle {
    margin: 20px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  .submit {
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }

  .submit >>> svg {
    margin-right: 5px;
    fill: #fff;
  }

  .field-caption {
    display: block;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  .datefield {
    width: 100%;
    min-width: auto;
    border: 1px solid rgba(41, 77, 156, 0.54);
  }

</style>
