<template>
  <div
    v-if="showOpenShift"
    class="shift-wall"
  >
    <div class="open-shift">
      <ImageButton
        class="exit-btn"
        @click="$modal.show('auth-logout')"
      >
        <svg>
          <use xlink:href="@/assets/sprite.svg#exit" />
        </svg>
      </ImageButton>
      <h2 class="modal-title">
        Открытие смены
      </h2>
      <div
        v-if="form.errors.length"
        class="row mt-4"
      >
        <div
          v-for="(err,e) in form.errors"
          :key="e"
          class="col-12"
        >
          <span class="form-error">{{ err }}</span>
        </div>
      </div>
      <form @submit.prevent="submitSift">
        <div class="row mt-4">
          <div class="col-12">
            <div class="field-caption">
              Касса
            </div>
            <SelectList
              v-model="form.cashbox"
              v-validate="'required'"
              caption="Выберите кассу"
              :items="filterCashboxes"
              name="cashbox"
              @input="cashboxChange"
            />
            <div
              v-show="errors.has('cashbox')"
              class="errors"
            >
              <span class="form-error">{{ errors.first('cashbox') }}</span>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-8">
            <div class="field-caption">
              Денег в кассе
            </div>
            <InputField
              v-model="form.balance"
              v-validate="{required: true,decimal:3}"
              name="balance"
            />
            <div
              v-show="errors.has('balance')"
              class="errors"
            >
              <span class="form-error">{{ errors.first('balance') }}</span>
            </div>
          </div>
        </div>
        <!-- progressbar -->
        <div
          v-if="form.submited"
          class="row loader"
        >
          <ProgressBar />
        </div>
        <footer
          v-else
          class="row mt-4"
        >
          <div class="col-7">
            <ActionButton
              v-if="closeOpenShift"
              class="submit close-shift-btn"
              color="blue"
              @click="closeAndSubmitShift"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#exit" />
              </svg>
              <span>Заткрыть текущую</span>
            </ActionButton>
            <ActionButton
              v-else
              class="submit"
              color="blue"
              type="submit"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#check" />
              </svg>
              <span>Открыть смену</span>
            </ActionButton>
          </div>
          <div class="col-5">
            <a
              class="btn btn__text"
              @click="$router.go(-1)"
            >Отменить</a>
          </div>
        </footer>
      </form>
    </div>
    <div v-if="loading">
      <ProgressBar
        message="Подождите..."
        orientation="vertical"
        :full="true"
      />
    </div>
  </div>
</template>

<script>
import ActionButton from "@/components/elements/ActionButton";
import ImageButton from "@/components/elements/ImageButton";
import InputField from "@/components/elements/InputField";
import ProgressBar from "@/components/elements/ProgressBar";
import SelectList from "@/components/elements/Select";
import {mapActions, mapGetters} from "vuex";
import storage from '@/plugins/storage';


export default {
  inject: ["$validator"],
  name: "OpenShiftModal",
  components: {
    ActionButton,
    ImageButton,
    InputField,
    ProgressBar,
    SelectList,
  },
  props: {
    cashboxes: { type: Array, required: true }
  },
  data() {
    return {
      loading: false,
      showOpenShift: false,
      closeOpenShift: false,
      openShift: null,
      form: {
        errors: [],
        submited: false,
        cashbox: null,
        balance: "0"
      }
    };
  },
  computed: {
    ...mapGetters(['employees']),
    getCurrentUserId(){
      const currentUser = storage.getAuthUser();
      return currentUser.meta.id;
    },
    getCurrentEmployee(){
      if(!this.employees.length) return;
      const result = this.employees.filter(employee => {
        return employee.user.id === this.getCurrentUserId;
      });
      return result[0];
    },
    getCurrentShop(){
      if(!this.getCurrentEmployee) return;
      return this.getCurrentEmployee.current_work.shop;
    },
    filterCashboxes(){
      return this.cashboxes.filter(cashbox => cashbox.shop.id === this.getCurrentShop);
    }
  },
  created(){

  },
  mounted() {
    if (!storage.exists('shift')) {
      this.showOpenShift = true;
    } else {
      const shift = storage.get("shift");
      if (shift.closed_at !== null) {
        this.$store.commit("CLOSE_SHIFT");
        this.showOpenShift = true;
      }
    }
  },
  methods: {
    ...mapActions([
      "fetchProductsByShop",
      "submitNewInsertion",
      "submitNewShift",
      "closeShift",
      "getOpenShift"
    ]),

    async submitSift() {
      this.form.errors = [];
      const result = await this.$validator.validate();
      if (!result) return;
      this.form.submited = true;

      const response = await this.submitNewShift(this.form);
      if (response.status === 201) {
        const form2 = {
          amount: this.form.balance,
          comment: "Начало открытия смены",
          shift: response.data.id
        };
        const response2 = await this.submitNewInsertion(form2);
        if (response2.status === 201) {
          this.form.submited = false;
          this.showOpenShift = false;
          this.$modal.hide("create-employee");
          this.$router.push({ name: "Home" });
          this.$toast.success("Добро пожаловать!");
          this.fetchProductsByShop();
        } else {
          this.form.submited = false;
          this.form.errors = response2.data;
          this.$toast.error(response2.data);
        }
      } else {
        this.form.submited = false;
        this.form.errors = response.data;
        this.$toast.error(response.data);
        this.closeOpenShift = true;
      }
    },
    async closeAndSubmitShift() {
      const result = await this.closeShift(this.openShift.id);
      if (result.status === 200) this.submitSift();
      else this.$toast.errors(result.data);
    },
    async cashboxChange(cashboxId) {
      if (cashboxId) {
        this.closeOpenShift = false;
        this.loading = true;
        const result = await this.getOpenShift(cashboxId);
        if (result.status === 200) {
          this.openShift = result.data;
          this.closeOpenShift = true;
        }
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped>
.loader {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.shift-wall {
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.open-shift {
  position: relative;
  width: 400px;
  padding: 30px;
  background-color: #fff;
}

.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.field-caption {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.submit {
  color: #fff;
}
.submit svg {
  fill: #fff;
}

.exit-btn{
  position: absolute;
  top: 30px;
  right: 30px;
}

.exit-btn svg{
  fill: #294D9C;
  transition: .25s fill ease;
}

.exit-btn:hover svg{
  fill: #e57373;
}

.btn__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #294d9c;
  background-color: transparent;
  border: 0;
}
.close-shift-btn {
  font-size: 11px;
}
</style>
