<template>
  <Modal
    name="refill"
    width="400"
    height="auto"
    @before-open="beforeOpen($event)"
    @closed="beforeClose"
  >
    <form @submit.prevent="submit">
      <div class="cash-refill">
        <h2 class="modal-title">
          {{ title }}
        </h2>
        <div class="row mt-4">
          <div class="col-6">
            <InputField
              v-model="form.amount"
              v-validate="'required|decimal|min_value:1'"
              name="amount"
            >
              <div class="field-caption">
                Сумма
              </div>
            </InputField>
            <div v-if="isEnoughCash">
              <span class="form-error">{{ `На кассе ${parseInt(shift.revenue, 10)}` }} руб</span>
            </div>
            <div
              v-show="errors.has('amount')"
              class="errors"
            >
              <span class="form-error">{{ errors.first('amount') }}</span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <TextField
              v-model="form.comment"
              v-validate="'required'"
              name="comment"
              class="comment"
            >
              <div class="field-caption">
                Комментарий
              </div>
            </TextField>
            <div
              v-show="errors.has('comment')"
              class="errors"
            >
              <span class="form-error">{{ errors.first('comment') }}</span>
            </div>
          </div>
        </div>
        <ImageButton
          class="modal-close"
          @click="hide"
        >
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <use xlink:href="@/assets/sprite.svg#close" />
          </svg>
        </ImageButton>
        <div
          v-if="submited"
          class="progress"
        >
          <ProgressBar />
        </div>
        <ActionButton
          v-else
          :disabled="isEnoughCash"
          class="mt-4"
          color="blue"
          type="submit"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#check" />
          </svg>
          <span>{{ btnText }}</span>
        </ActionButton>
      </div>
    </form>
  </Modal>
</template>

<script>
import ImageButton from "@/components/elements/ImageButton";
import InputField from "@/components/elements/InputField";
import TextField from "@/components/elements/TextField";
import ActionButton from "@/components/elements/ActionButton";
import ProgressBar from "@/components/elements/ProgressBar";
import { mapGetters } from "vuex";

export default {
  inject: ["$validator"],
  name: "RefillCashboxModal",
  components: {
    ImageButton,
    InputField,
    TextField,
    ActionButton,
    ProgressBar
  },
  data() {
    return {
      title: "",
      btnText: "",
      action: 0,
      submited: false,
      form: {
        amount: null,
        comment: null,
        shift: null
      }
    };
  },
  computed: {
    ...mapGetters(["shift"]),
    isEnoughCash() {
      return (
        this.action === 1 &&
        parseInt(this.form.amount, 10) > parseInt(this.shift.revenue, 10)
      );
    }
  },
  methods: {
    hide() {
      this.$modal.hide("refill");
    },
    reset() {
      Object.assign(this.$data, this.$options.data());
    },
    beforeOpen(e) {
      this.title = e.params.title;
      this.btnText = e.params.btnText;
      this.action = e.params.action;
    },
    beforeClose() {
      this.reset();
    },
    async submit() {
      const result = await this.$validator.validate();
      if (!result) return;
      if (!this.shift) {
        this.$toast.error("Пожалуйста, откройте cмену!");
        return;
      }
      this.submited = true;
      this.form.shift = this.shift.id;
      if (this.action == 1) {
        const rep = await this.$store.dispatch(
          "submitNewWithdrawals",
          this.form
        );
        if (rep.status === 201) {
          this.$toast.success("Выдача успешно сохраненa!");
          this.hide();
        } else {
          this.$toast.errors(rep.data);
        }
        this.submited = false;
      } else {
        const rep2 = await this.$store.dispatch(
          "submitNewInsertion",
          this.form
        );
        if (rep2.status === 201) {
          this.$toast.success("Внесение успешно сохранено!");
          this.hide();
        } else {
          this.$toast.errors(rep2.data);
        }
        this.submited = false;
      }
    }
  }
};
</script>

<style scoped>
.progress {
  display: flex;
  justify-content: center;
}

.cash-refill {
  padding: 30px;
  background-color: #fff;
}

.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.field-caption {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
</style>
