<template>
  <Modal
    name="return-cash"
    width="410"
    height="auto"
    @before-open="getExtras"
  >
    <div class="return-cash">
      <h2 class="modal-title">
        Возврат денег
      </h2>
      <ul class="payment-list">
        <li class="payment-list__item">
          <div class="row">
            <div class="col-12 mb-2">
              <ActionButton class="btn-style">
                <svg
                  width="20"
                  height="20"
                >
                  <use xlink:href="@/assets/sprite.svg#gravatar" />
                </svg>
                <span>
                  Покупатель: {{ client.name }}
                </span>
              </ActionButton>
            </div>
          </div>
        </li>
        <li class="payment-list__item">
          <div class="details">
            <div class="details__caption">
              К возврату
            </div>
            <p class="details__total">
              {{ getTotal }} руб.
            </p>
          </div>
        </li>
        <li class="payment-list__item">
          <div class="row">
            <div class="col-auto">
              <ActionButton
                color="blue"
                @click="returnProducts"
              >
                <span>Вернуть товары</span>
              </ActionButton>
            </div>
          </div>
        </li>
      </ul>
      <ImageButton
        class="modal-close"
        @click="$modal.hide('return-cash')"
      >
        <svg
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import ActionButton from "@/components/elements/ActionButton";
  import {mapGetters, mapActions} from "vuex";

  export default {
    name: "ReturnCashModal",
    components: {
      ImageButton,
      ActionButton
    },
    data() {
      return {
        client: {},
        cart: []
      }
    },
    computed: {
      ...mapGetters(['currentSale']),
      getTotal() {
        return this.cart.reduce((total, p) => {
          const price = this.client.is_retail ? p.price.retail : p.price.wholesale;
          return total + (Number(price)) * p.qte;
        }, 0).toFixed(2)
      }
    },
    methods: {
      ...mapActions(['saveReturn']),
      getExtras({params: {cart, client}}) {
        this.cart = cart;
        this.client = client;
      },
      async returnProducts() {
        const shift = this.$store.getters.shift.id;
        const sale = this.currentSale.id;
        const client = this.client.id;
        const return_positions = this.cart.map(p => ({
          product: p.id,
          count: p.qte
        }));

        const data = await this.saveReturn({
          shift,
          client,
          sale,
          return_positions
        });

        this.$modal.hide('return-cash');
        this.$eventBus.$emit('change-receipt-state');
        this.$store.commit('SET_SALE', {});
        this.$store.commit("REFRESH_SHIFT", data.shift);
        await this.$router.push({name: 'Home'});
        this.$toast.success('Возврат успешно оформлен');
      }
    }
  }
</script>

<style scoped>

  .return-cash {
    padding: 25px 30px 30px;
  }

  .modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .modal-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .payment-list {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
  }

  .payment-list__item + .payment-list__item {
    margin-top: 30px;
  }

  .payment-list__caption {
    margin: 0 0 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .payment-list__caption svg {
    vertical-align: top;
  }

  .payment-list__caption span {
    margin-left: 5px;
    vertical-align: top;
  }

  .payment-list__icon {
    width: 20px;
    height: 16px;
    fill: #294D9C;
  }

  .btn-style {
    width: 100%;
    justify-content: flex-start;
    border: 1px solid #EEEEEE;
    font-weight: normal;
    background: #FAFAFA;
    color: #000;
  }

  .btn-style:hover {
    background: #FAFAFA;
    color: #000;
  }

  .btn-style >>> svg {
    fill: #000;
  }

  .details__caption {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
  }

  .details__total {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

</style>
