<template>
  <Modal
    name="return-sale"
    width="745"
    height="auto"
    @before-open="fetchSalesCurrentShop"
  >
    <div class="modal-box">
      <ImageButton
        class="modal-close"
        @click="$modal.hide('return-sale')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
      <h2 class="modal-title">
        Возврат
      </h2>
      <p class="modal-caption mt-2">
        Выберите продажу для возврата
      </p>
      <div class="mt-4">
        <SearchField
          v-model="searchText"
          placeholder="Введите номер продажи"
          @input="search"
        />
      </div>
      <ScrollWrap
        class="items-wrp"
        style="max-height: 500px;"
      >
        <ul class="items">
          <li
            v-for="({date, sales}) in elementsForSales"
            :key="date.id"
            class="item"
          >
            <h3 class="item__title">
              {{ new Date(date).toLocaleDateString('ru') }}
            </h3>
            <ul class="sales-list">
              <li
                v-for="sale in sales"
                :key="sale.id"
                class="sale-item"
              >
                <div class="grid-item">
                  <div class="table-value">
                    {{ new Date(sale.created_at).getHours() }}:{{ new Date(sale.created_at).getMinutes() }}
                  </div>
                </div>
                <div class="grid-item">
                  <div class="table-value">
                    <RouterLink
                      class="router-link"
                      :to="{name: 'PosReturn', params: {id: sale.id}}"
                      @click.native="$modal.hide('return-sale')"
                    >
                      Продажа
                      {{ `${sale.number}`.padStart(6, '0') }}
                    </RouterLink>
                  </div>
                </div>
                <div class="grid-item">
                  <div class="table-value">
                    {{ sale.client.name }}
                  </div>
                </div>
                <div class="grid-item">
                  <svg
                    fill="#294D9C"
                    width="20"
                    height="16"
                  >
                    <use xlink:href="@/assets/sprite.svg#cash" />
                  </svg>
                </div>
                <div class="grid-item">
                  <div class="table-value sale-item__price">
                    {{ sale.sum }} руб.
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </ScrollWrap>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import SearchField from "@/components/elements/SearchField";
  import ScrollWrap from "@/components/elements/ScrollWrap";
  import debounce from 'lodash.debounce';
  import {mapActions, mapGetters} from 'vuex'


  export default {
    name: "ReturnSaleModal",
    components: {
      ImageButton,
      SearchField,
      ScrollWrap,
    },
    data() {
      return {
        searchText: ''
      }
    },
    computed: {
      ...mapGetters(['elementsForSales', 'shift']),
    },
    methods: {
      ...mapActions(['fetchSales', 'setSaleShopId', 'setSaleSearchId']),
      fetchSalesCurrentShop() {
        this.setSaleShopId({id: this.shift.cashbox.shop.id}).then(this.fetchSales())
      },
      search: debounce(function () {
        this.setSaleShopId({id: this.shift.cashbox.shop.id});
        this.setSaleSearchId({id: this.searchText});
        this.fetchSales();
      }, 100)
    }
  }
</script>

<style scoped>

  .modal-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .modal-caption {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.54);
  }

  .modal-box {
    padding: 30px 50px 30px 30px;
    min-height: 695px;
  }

  .items-wrp {
    margin-top: 25px;
  }

  .items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .item + .item {
    margin-top: 15px;
  }

  .item__title {
    margin: 0;
    padding: 0 0 10px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  .sales-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sale-item {
    display: grid;
    grid-template-columns: 40px 2fr 4fr auto 2fr;
    align-items: center;
    grid-column-gap: 15px;
    padding: 14px 0;
    border-top: 1px solid #DEDEDE;
  }

  .sale-item:last-child {
    border-bottom: 1px solid #DEDEDE;
  }

  .sale-item__price {
    text-align: right;
  }

  .table-value {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .add-customer >>> svg {
    width: 14px;
    height: 14px;
    fill: #294D9C;
  }

</style>
