<template>
  <Modal
    name="select-customer"
    width="800"
    height="auto"
  >
    <div class="modal-box">
      <ImageButton
        class="modal-close"
        @click="$modal.hide('select-customer')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
      <h2 class="modal-title">
        Покупатель
      </h2>
      <div class="row align-items-center mb-4 mt-4">
        <div class="col-8">
          <SearchField
            placeholder="Номер карты, e-mail, телефон"
            @input="onSearchChange"
          />
        </div>
        <div class="col-4">
          <ActionButton
            class="add-customer"
            @click="$modal.show('create-customer', {ui: 'pos'})"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#plus" />
            </svg>
            <span>Новый покупатель</span>
          </ActionButton>
        </div>
      </div>
      <header class="table-header">
        <div class="row">
          <div class="col-3">
            <div class="table-caption">
              ФИО
            </div>
          </div>
          <div class="col-3">
            <div class="table-caption">
              Номер
            </div>
          </div>
          <div class="col-2">
            <div class="table-caption">
              Карта
            </div>
          </div>
          <div class="col-4">
            <div class="table-caption">
              E-mail
            </div>
          </div>
        </div>
      </header>
      <div class="table-body">
        <div
          v-if="loading"
          class="row loader"
        >
          <ProgressBar />
        </div>
        <ScrollWrap
          v-else
          style="height: 500px;"
        >
          <ul class="customer-list">
            <li
              v-for="client in clients"
              :key="client.id"
              class="customer-item"
              @click="chooseClient(client)"
            >
              <div class="row">
                <div class="col-3">
                  <div class="table-value">
                    {{ client.name }}
                  </div>
                </div>
                <div class="col-3">
                  <div class="table-value">
                    {{ client.phone }}
                  </div>
                </div>
                <div class="col-2">
                  <div class="table-value">
                    <span
                      v-if="client.card"
                      class="number_card"
                      :title="client.card.card_number"
                    >{{ padCard(client.card.card_number) }}</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="table-value">
                    {{ client.email }}
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </ScrollWrap>
      </div>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import SearchField from "@/components/elements/SearchField";
  import ActionButton from "@/components/elements/ActionButton";
  import ScrollWrap from "@/components/elements/ScrollWrap";
  import ProgressBar from "@/components/elements/ProgressBar";
  import {mapGetters, mapActions} from "vuex"

  export default {
    name: "SelectCustomerModal",
    components: {
      ImageButton,
      SearchField,
      ActionButton,
      ScrollWrap,
      ProgressBar
    },
    data() {
      return {
        loading: false
      }
    },
    computed:{
      ...mapGetters(['clients']),
    },
    mounted(){
      this.getListClients()
    },
    methods:{
      ...mapActions(['getListClients','searchClient']),
      chooseClient(client){
        this.$store.commit('SET_CURRENT_CLIENT', client)
        this.$store.commit('UPDATE_CART', {id: null, qte: null })
        this.$modal.hide('select-customer')
      },
      async onSearchChange(e){
        this.loading = true
        await this.searchClient(e)
        this.loading = false
      },
      padCard(card){
        return card.length > 10 ? card.substring(0, 10).padEnd(13, '...') : card
      }
    }
  }
</script>

<style scoped>
  .loader {
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
  }
  .modal-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
  .modal-box {
    padding: 30px 50px 30px 30px;
  }
  .customer-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .customer-item {
    cursor: pointer;
    padding: 14px 0;
    border-top: 1px solid #DEDEDE;
  }
  .customer-item:hover{
    background-color: rgb(245, 245, 245);
  }
  .customer-item:last-child {
    border-bottom: 1px solid #DEDEDE;
  }
  .table-header {
    padding: 5px 0;
  }
  .table-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }
  .table-value {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .add-customer >>> svg {
    width: 14px;
    height: 14px;
    fill: #294D9C;
  }

</style>
