<template>
  <Modal
    name="settings"
    class="settings-modal"
    width="855"
    height="auto"
  >
    <div class="settings">
      <h2 class="modal-title">
        Настройки
      </h2>
      <ul class="settings-list">
        <li class="settings-item">
          <h3 class="style-title">
            Внешний вид
          </h3>
          <div class="products-settings">
            <h4 class="title-sm">
              Отображение списка товаров
            </h4>
            <Switcher
              class="switcher__settings"
              :items="periods"
            />
            <ul class="filter-list">
              <li class="filter-item">
                <input
                  id="checkbox1"
                  type="checkbox"
                >
                <label for="checkbox1">Картинка товара</label>
              </li>
              <li class="filter-item">
                <input
                  id="checkbox2"
                  type="checkbox"
                >
                <label for="checkbox2">Описание товара</label>
              </li>
              <li class="filter-item">
                <input
                  id="checkbox3"
                  type="checkbox"
                >
                <label for="checkbox3">Остаток на складе</label>
              </li>
              <li class="filter-item">
                <input
                  id="checkbox4"
                  type="checkbox"
                >
                <label for="checkbox4">Штрих-код</label>
              </li>
              <li class="filter-item">
                <input
                  id="checkbox5"
                  type="checkbox"
                >
                <label for="checkbox5">Артикул</label>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ImageButton
        class="modal-close"
        @click="$modal.hide('settings')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import Switcher from "@/components/elements/Switcher";

  export default {
    name: "SettingsModal",
    components: {
      ImageButton,
      Switcher
    },
    data() {
      return {
        productsSettings: {
          list: {
            image: true,
            description: true,
            stock: true,
            barcode: true,
            sku: true
          },
          grid: {
            image: true,
            description: true,
            stock: true,
            barcode: true,
            sku: true
          }
        },
        periods: [
          {id: 1, title: 'Список'},
          {id: 2, title: 'Карточки'},
        ],
      }
    }
  }
</script>

<style scoped>

  [type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }

  [type="checkbox"] + label {
    position: relative;
    padding: 0 0 0 26px;
    cursor: pointer;
  }

  [type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 0;
    width: 18px;
    height: 18px;
    opacity: 0;
    background: url("../../assets/checked.svg") no-repeat center center/10px 10px;
    transition: .2s;
  }

  [type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    border-radius: 2px;
    transition: .2s;
  }

  [type="checkbox"]:checked + label:before {
    opacity: 1;
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
  }


  .modal-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .style-title {
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #294D9C;
  }

  .style-title::before {
    content: "";
    position: absolute;
    left: -16px;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #294D9C;
  }

  .modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .title-sm {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  .settings {
    padding: 25px 30px 30px 30px;
    min-height: 700px;
  }

  .settings-list {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 290px));
  }

  .settings-item {
    padding-left: 16px;
  }

  .filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .filter-item + .filter-item {
    margin-top: 15px;
  }

  .products-settings {
    margin-top: 30px;
  }

  .switcher__settings {
    margin-top: 15px;
    margin-bottom: 35px;
    width: 185px;
    height: auto;
  }

  .switcher__settings >>> .switch_item {
    padding: 12px 15px;
    flex-grow: 0;
  }

</style>
