<template>
  <Modal
    name="shift"
    width="855"
    height="auto"
  >
    <div class="shift">
      <h2 class="modal-title">
        Смены
      </h2>
      <div class="row mt-4">
        <div class="col-4">
          <DatePicker
            class="date-field"
            :range="true"
            @change="onPeriodChange"
          />
          <ScrollWrap class="shift-list-wrp">
            <ul
              v-if="filtredShifts.length > 0"
              class="shift-list"
            >
              <li
                v-for="(shift,s) in filtredShifts"
                :key="s"
                class="shift-item"
                :class="{active: shift === selectedShift}"
                @click="selectShift(shift)"
              >
                <div class="shift-item__grid">
                  <h3 class="title">
                    Смена #{{ shift.number }}
                  </h3>
                </div>
                <div class="shift-item__grid">
                  <div class="value value--green">
                    {{ shift.revenue }}
                  </div>
                </div>
                <div class="shift-item__grid">
                  <div class="value">
                    {{ $date.getDuration(shift.opened_at) }}
                  </div>
                </div>
                <div
                  v-if="canuse"
                  class="shift-item__grid"
                >
                  <div class="value value--red">
                    {{ shift.revenue }}
                  </div>
                </div>
              </li>
            </ul>
            <NoData
              v-else
              message="Cмен не найдено"
              orientation="vertical"
            />
          </ScrollWrap>
        </div>
        <div
          v-if="selectedShift !== null"
          class="col-8"
        >
          <ul class="list">
            <li class="list-item">
              <h3 class="title mb-2">
                Смена #{{ selectedShift.number }}
              </h3>
              <p class="value mb-2">
                {{ $date.toLongDateTime(selectedShift.opened_at) }} — {{ $date.toLongDateTime(new Date()) }} ({{ $date.getDuration(selectedShift.opened_at) }})
              </p>
              <p
                v-if="cashier"
                class="value"
              >
                <span>Кассир: </span> <span style="color: #000;">{{ cashier.name }}</span>
              </p>
            </li>
            <!-- <li class="list-item">
              <h3 class="title">
                Касса
              </h3>
              <div class="cash mt-3">
                <div class="value value--lg">
                  Сумма на начало смены
                </div>
                <div class="value value--lg value--black">
                  20 000 руб.
                </div>
                <div class="value value--lg">
                  Сумма на конец смены
                </div>
                <div class="value value--lg value--black">
                  70 000 руб.
                </div>
              </div>
            </li>
            <li class="list-item">
              <h3 class="title">
                Продажи
              </h3>
              <div class="sales mt-3">
                <div class="value">
                  Наличные
                </div>
                <div class="value value--lg value--black">
                  365 000 руб.
                </div>
                <div class="value">
                  Итого:
                </div>
                <div class="value">
                  Безналичные
                </div>
                <div class="value value--lg value--black">
                  70 200 руб.
                </div>
                <div class="value value--lg value--black">
                  435 210 руб.
                </div>
              </div>
            </li>
            <li class="list-item">
              <h3 class="title">
                Возвраты
              </h3>
              <div class="return mt-3">
                <div class="value">
                  Наличные
                </div>
                <div class="value value--lg value--black">
                  5 320 руб.
                </div>
                <div class="value">
                  Итого:
                </div>
                <div class="value">
                  Безналичные
                </div>
                <div class="value value--lg value--black">
                  100 000 руб.
                </div>
                <div class="value value--lg value--black">
                  105 210 руб.
                </div>
              </div>
            </li> -->
          </ul>
          <!-- <hr class="hr"/>
          <div class="total">
            <span class="value">Выручка: </span>
            <span class="value value--lg value--black">329 690 руб.</span>
          </div> -->
        </div>
      </div>
      <ImageButton
        class="modal-close"
        @click="$modal.hide('shift')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import DatePicker from "@/components/elements/DatePicker";
  import ScrollWrap from "@/components/elements/ScrollWrap";
  import NoData from "@/components/elements/NoData"
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: "ShiftListModal",
    components: {
      ImageButton,
      DatePicker,
      ScrollWrap,
      NoData
    },
    data(){
      return{
        canuse:false,
        selectedShift: null,
        selectedDates: []
      }
    },
    computed:{
     ...mapGetters(['shifts', 'employees']),
     filtredShifts() {
       if((this.selectedDates.length <= 0) || !this.selectedDates[0] || !this.selectedDates[1]){
         return this.shifts
       }
       const filtered = this.shifts.filter((sh) => {
         return new Date(sh.opened_at) >= new Date(this.selectedDates[0]) &&
                new Date(sh.opened_at) <= new Date(this.selectedDates[1])
       })
       // eslint-disable-next-line vue/no-side-effects-in-computed-properties
       this.selectedShift = filtered[0] || null
       return filtered
     },
     cashier(){
       const result = this.employees.find(e => e.user.id == this.selectedShift.created_by)
       return result
     }
    },
    mounted() {
      this.getShifts()
      this.getEmployees()
    },
    methods:{
      ...mapActions(['getEmployees']),
      async getShifts(){
       const response = await this.$store.dispatch('getListShifts')
       if(response.status !== 200) {
         this.$noty.error("Oops, something went wrong!", {layout: 'bottomRight',theme:'sunset'})
       }else{
         if(this.shifts.length > 0){
          this.selectedShift = this.shifts[0]
         }
       }
      },
      selectShift(payload){
        this.selectedShift = payload
      },
      onPeriodChange(payload){
        this.selectedDates = payload
      },
    }
  }
</script>

<style scoped>

  .shift {
    min-height: 700px;
    padding: 30px;
    background-color: #fff;
  }

  .modal-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  .value {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  .value--green {
    color: #81C784;
  }

  .value--red {
    color: #E57373;
  }

  .value--black {
    color: #000;
  }

  .value--lg {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .shift-list-wrp {
    margin-top: 20px;
    height: 265px;
  }

  .shift-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .shift-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    border-top: 1px solid #DEDEDE;
    padding: 10px;
    background: #FAFAFA;
  }

  .shift-item__grid:nth-child(2n) {
    text-align: right;
  }

  .shift-item:last-child {
    border-bottom: 1px solid #DEDEDE;
  }
  .shift-item{
    cursor: pointer;
  }
  .shift-item.active {
    background: #DEDEDE;
  }

  .date-field {
    width: 100%;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list-item + .list-item {
    margin-top: 30px;
  }

  .cash {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    align-items: center;
    grid-gap: 10px 20px;
  }

  .sales,
  .return {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 10px 20px;
  }

  .hr {
    margin: 20px 0 15px;
    background-color: #DEDEDE;
  }

  .total > *:first-child {
    text-transform: uppercase;
  }
</style>
