<template>
<!-- eslint-disable -->
  <div class="row file-manager">
    <div class="col-4">
      <div class="folder-item">
        Товары
      </div>
    </div>
    <div class="col-4">
      <div class="folder-item">
        Услуги
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  export default {
    name: "FileManager"
  }
</script>

<style scoped>
  .folder-item {
    width: 188px;
    height: 188px;
    padding-top: 94px;
    background: url(../../assets/sprite.svg#bg-folder) no-repeat center center;
    text-align: center;
  }

</style>
