<template>
<!-- eslint-disable -->
  <div class="invoice">
    <h2 class="invoice-title">
      Накладная №123456789
    </h2>
    <div class="invoice-products">
      <div v-for="n in 5" class="invoice-products-item" :key="n">
        <header class="invoice-products-item__header">
          <h3 class="invoice-products-item__title">
            Смартфон Apple iPhone 8 Plus 64GB Space Gray MQ8L2RU/A
          </h3>
          <ImageButton class="remove-btn">
            <svg>
              <use xlink:href="@/assets/sprite.svg#remove_circle"></use>
            </svg>
          </ImageButton>
        </header>
        <footer class="invoice-products-item__footer">
          <div class="qte-wrp">
            <InputField class="qte" value="300"></InputField>
            <div class="qte-caption">
              кол-во
            </div>
          </div>
          <div class="product-price invoice-products-item__price">
            1 062 900
            <span class="rouble">₽</span>
          </div>
        </footer>
      </div>
    </div>
    <div class="invoice-total-block">
      <div class="invoice-total">
        Итого: <span class="invoice-total__price">400 240</span>
        <span class="rouble">₽</span>
      </div>
      <ImageButton class="add-sale">Добавить продажу</ImageButton>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import InputField from "@/components/elements/InputField";
  import ImageButton from "@/components/elements/ImageButton";

  export default {
    name: "Invoice",
    components: {
      ImageButton,
      InputField
    }
  }
</script>

<style scoped>
  .invoice {
    position: relative;
    width: 390px;
    padding: 25px 0 0 0;
    background-color: #d9d9d9;
  }

  .invoice-products-item {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  }

  .invoice-products-item__header {
    display: flex;
    justify-content: space-between;
  }

  .invoice-title {
    margin: 0;
    padding: 0 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(35, 35, 35, 0.54);
  }

  .invoice-products-item__title {
    margin: 0;
    max-width: 280px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  .invoice-products-item__footer {
    margin-top: 10px;
    display: flex;
  }

  .invoice-products-item__price {
    margin-left: 20px;
    padding-top: 5px;
  }

  .invoice-total-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font: 400 20px/24px "Montserrat", sans-serif;
    background-color: #eee;
  }

  .invoice-total {
    padding: 18px 20px;
  }

  .invoice-total__price {
    margin-left: 10px;
    font-weight: 400;
  }

  .product-price {
    white-space: nowrap;
    font: 400 18px/22px "Montserrat", sans-serif;
    color: #232323;
  }

  .qte-wrp {
    margin-right: 15px;
  }

  .qte >>> .input {
    width: 46px;
    height: 30px;
    border: 1px solid #294D9C;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    font: 400 14px/18px "Montserrat", sans-serif;
    background-color: transparent;
    color: #232323;
    text-align: center;
  }

  .qte-caption {
    font: 400 10px/13px "Montserrat", sans-serif;
    color: rgba(35, 35, 35, 0.54);
    text-align: center;
  }

  .rouble {
    font-size: .6em;
  }

  .add-sale {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    padding: 18px 0;
    border-radius: 0;
    font: 400 20px/24px "Montserrat", sans-serif;
    background-color: #294D9C;
    color: #fff;
    text-align: center;
  }

  .add-sale:hover {
    background-color: #294D9C;
    color: #fff;
  }

</style>
