<template>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>№ перемещения</th>
        <th>Время перемещения</th>
        <th>Кол-во позиций</th>
        <th>Итого шт.</th>
        <th>Откуда</th>
        <th>Куда</th>
        <th>Проведен</th>
      </tr>
    </thead>

    <tbody v-if="rangeMoves.length === 0">
      <tr>
        <td colspan="7">
          <div class="not-found">
            Нет соответствующих параметрам
          </div>
        </td>
      </tr>
    </tbody>
    <tbody v-else>
      <template v-for="move in rangeMoves">
        <tr :key="move.date">
          <td>
            <time class="date">{{ $date.toLongDate(move.date) }}</time>
          </td>
        </tr>
        <tr
          v-for="entry in move.entries"
          :key="entry.id"
          :class="{'not-posted' : !entry.is_posted}"
        >
          <td>
            <RouterLink :to="{name: 'MovesInfo', params: {id: entry.id}}">
              {{ entry.number }}
            </RouterLink>
          </td>
          <td>{{ $date.toTime(entry.created_at) }}</td>
          <td>{{ entry.move_positions.length }}</td>
          <td>{{ totalCount(entry.move_positions) }}</td>
          <td>
            <RouterLink :to="{name: 'ShopsInfos', params: {id: entry.shop_from.id}}">
              {{ entry.shop_from.name }}
            </RouterLink>
          </td>
          <td>
            <RouterLink :to="{name: 'ShopsInfos', params: {id: entry.shop_where.id}}">
              {{ entry.shop_where.name }}
            </RouterLink>
          </td>
          <td>
            <svg
              v-if="entry.is_posted"
              class="posted-icon posted-icon--posted"
            >
              <use xlink:href="@/assets/sprite.svg#check_circle" />
            </svg>
            <svg
              v-if="!entry.is_posted"
              class="posted-icon posted-icon--noposted"
            >
              <use xlink:href="@/assets/sprite.svg#check_circle" />
            </svg>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>

  export default {
    name: "IndexTable",
    props: {
      rangeMoves: {
        type: Array,
        default: null
      }
    },
    methods: {
      totalCount(positions){        
        return positions.reduce((sum, current) => sum + parseInt(current.count), 0);
      }
    }
  }
</script>

<style scoped>

  .posted-icon {
    width: 20px;
    height: 20px;
  }

  .posted-icon--posted {
    fill: #81C784;
  }

  .posted-icon--noposted {
    fill: #757575;
  }

  .not-posted, .not-posted a{
    color: #757575;
  }

  .date{
    font-size: 11px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54);
  }

  .not-found{
    text-align: center;
  }

</style>