<template>
  <div class="action-bar">
    <div class="row align-items-center">
      <div class="col-3">
        <SearchField
          v-model="search"
          placeholder="Поиск по имени"
          @input="searchChanged"
        />
      </div>
      <div class="col-3">
        <SelectList
          v-model="shop"
          caption="Все магазины"
          :items="shopList"
          @input="chopChanged"
        />
      </div>
      <div class="col-6 d-flex justify-content-end">
        <ActionButton
          color="blue"
          @click="$modal.show('create-employee')"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>
            Новый сотрудник
          </span>
        </ActionButton>
      </div>
    </div>
    <NewEmployeeModal
      :positions="positionList"
      :shops="shopList"
    />
  </div>
</template>

<script>
  import SearchField from "@/components/elements/SearchField";
  import ActionButton from "@/components/elements/ActionButton";
  import SelectList from "@/components/elements/Select";
  import NewEmployeeModal from "@/components/employee/modals/NewEmployee";

  export default {
    name: "EmployeesActionBar",
    components: {
      SearchField,
      ActionButton,
      NewEmployeeModal,
      SelectList,
    },
    props: {
      shopList: {type: Array, required: true},
      positionList: {type: Array, required: true}
    },
    data() {
      return {
        search: '',
        shop: null,
      }
    },
    methods: {
      searchChanged() {
        this.$emit('search-changed', this.search)
      },
      chopChanged() {
        this.$emit('shop-changed', this.shop)
      }
    }
  }
</script>

<style scoped>

  .action-bar {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fff;
  }

</style>
