<template>
<!-- eslint-disable -->
  <div class="stats">
    <h2 class="title-sm">
      Статистика за
      <LinkButton class="stats-btn">март</LinkButton>
    </h2>
    <ul class="stats-list">
      <li class="stats-list__item">
        <div class="stats-list__item-caption">
          5
        </div>
        <div class="stats-list__item-value">
          дней пропущено
        </div>
      </li>
      <li class="stats-list__item">
        <div class="stats-list__item-caption">
          1320
        </div>
        <div class="stats-list__item-value">
          рублей штраф
        </div>
      </li>
      <li class="stats-list__item">
        <div class="stats-list__item-caption">
          640
        </div>
        <div class="stats-list__item-value">
          рублей премия
        </div>
      </li>
    </ul>
    <div class="info-block-sm">
      <h2 class="title-sm">
        Последние штрафы
        <LinkButton class="all-btn" color="">
          Все
        </LinkButton>
      </h2>
      <ul class="list">
        <li>
          -200 рублей за опоздание
        </li>
        <li>
          -100 рублей за грязную посуду
        </li>
        <li>
          -500 рублей за грубое обращение с клиентом
        </li>
      </ul>
    </div>
    <div class="info-block-sm">
      <h2 class="title-sm">
        Последние премии
        <LinkButton class="all-btn" color="">
          Все
        </LinkButton>
      </h2>
      <ul class="list">
        <li>
          +500 рублей сверхурочные
        </li>
        <li>
          +100 рублей шабашка
        </li>
      </ul>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <ActionButton class="button" @click="$modal.show('surcharge', {title: 'Выдать премию'})">
          <svg>
            <use xlink:href="@/assets/sprite.svg#like"></use>
          </svg>
          <span>Премия</span>
        </ActionButton>
      </div>
      <div class="col-6">
        <ActionButton class="button" @click="$modal.show('surcharge', {title: 'Штраф'})">
          <svg>
            <use xlink:href="@/assets/sprite.svg#dislake"></use>
          </svg>
          <span>Штраф</span>
        </ActionButton>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import ActionButton from "@/components/elements/ActionButton";
  import LinkButton from "@/components/elements/LinkButton";

  export default {
    name: "Stats",
    components: {
      ActionButton,
      LinkButton
    }
  }
</script>

<style scoped>

  .title-sm {
    margin: 0;
    font: 400 16px/20px "Montserrat", sans-serif;
  }

  .title-sm a {
    text-decoration: none;
  }

  .info-block-sm + .info-block-sm {
    margin-top: 35px;
  }

  .stats-list {
    margin: 15px 0 35px 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .stats-list__item {
    width: 30%;
    font: 400 14px/17px "Montserrat", "Arial", sans-serif;
    color: #000;
  }

  .stats-list__item + .stats-list__item {
    margin-left: 40px;
  }

  .stats-list__item-caption {
    font: 700 24px/29px "Montserrat", "Arial", sans-serif;
  }

  .stats-list__item:nth-child(2) .stats-list__item-caption {
    color: #D68282;
  }

  .stats-list__item:nth-child(3) .stats-list__item-caption {
    color: #6CAA2F;
  }

  .title-sm + .list {
    margin-top: 15px;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .list li + li {
    margin-top: 10px;
  }

  .all-btn {
    border: 0;
    outline: 0;
    box-shadow: none;
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
    background-color: transparent;
    font: 400 10px/12px "Montserrat", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.54);
  }

  .stats-btn {
    font-size: 16px;
  }

  .button {
    border: 0;
    outline: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    background: #294D9C;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }

  .button:hover {
    background: #294D9C;
    color: #fff;
  }

  .button >>> svg {
    vertical-align: middle;
    width: 22px;
    height: 20px;
    margin-right: 10px;
  }

</style>
