<template>
  <tr>
    <td>
      <RouterLink
        tag="a"
        :to="{name: 'employeeInfos', params:{id: employee.id}}"
      >
        {{ employee.name }}
      </RouterLink>
    </td>
    <td>
      <span v-if="position">
        {{ position.name }}
      </span>
    </td>
    <td>
      <span v-if="work">{{ work.salary }}</span>
    </td>
    <td>
      <RouterLink
        v-if="shop"
        tag="a"
        :to="{name: 'ShopsInfos', params: {id: shop.id}}"
      >
        {{ shop.name }}
      </RouterLink>
    </td>
    <td>
      <span> {{ employee.phone }}</span>
    </td>
    <td>
      <ImageButton
        class="btn--delete"
        @click="$modal.show('confirmation', {id: employee.id, type: 'employee'})"
      >
        <svg>
          <use xlink:href="@/assets/sprite.svg#delete" />
        </svg>
      </ImageButton>
    </td>
  </tr>
</template>

<script>
import { mapGetters } from 'vuex';
import ImageButton from "@/components/elements/ImageButton";
export default {
  name: 'EmployeeTableItem',
  components: {
    ImageButton
  },
  props:{
    employee: {type:Object, required: true},
  },
  computed: {
    ...mapGetters(['shops', 'positions']),
    work(){
      return this.employee.current_work || null;
    },
    shop() {
      if(this.work === null)
        return null;
      return this.shops.find(shop => shop.id === this.work.shop);
    },
    position() {
      if(this.work === null) return null;
      return this.positions.find(p => p.id === this.work.position);
    },
  }
}
</script>

<style scoped>
td{
  margin: 0;
  padding: 0;
}
td a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
td a:hover{
 background: rgb(236, 242, 255);
}
.btn--delete {
  fill: #c4c4c4;
}
.btn--delete:hover >>> svg {
  fill: #D68282;
}

</style>