<template>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>Сотрудник</th>
        <th>Должность</th>
        <th>ЗП</th>
        <th>Магазин</th>
        <th colspan="2">
          Контакты
        </th>
      </tr>
    </thead>
    <tbody v-if="loading">
      <tr>
        <td colspan="6">
          <div class="row loader">
            <ProgressBar />
          </div>
        </td>
      </tr>
    </tbody>
    <tbody v-else>
      <TableItem
        v-for="e in entries"
        :key="e.id"
        :employee="e"
      />
    </tbody>
  </table>
</template>

<script>
  import ProgressBar from '@/components/elements/ProgressBar';
  import TableItem from '@/components/employee/TableItem';

  export default {
    name: "EmployeesTable",
    components: {
      ProgressBar,
      TableItem
    },
    props: {
      entries: {type: Array, required: true},
      // eslint-disable-next-line vue/no-boolean-default
      loading: {type: Boolean, default: true},
    }
  }
</script>

<style scoped>

  .loader {
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
  }

</style>
