<template>
  <div>
    <h1 class="main-title mb-2">
      Настройки
    </h1>
    <Tabs padding="15px 20px">
      <TabItem
        name="Настройки организации"
        :selected="true"
      >
        <UpdateCompany
          v-if="isEdition"
          :extras="company"
          @open-edit="closeEditorState"
        />
        <InfosCompany
          v-else
          :extras="company"
          @open-edit="closeEditorState"
        />
      </TabItem>
      <TabItem name="Настройки администратора">
        <LoyaltyProgram style="padding: 20px 0" />
      </TabItem>
    </Tabs>
  </div>
</template>
<script>
  import InfosCompany from "@/components/settings/InfosCompany"
  import LoyaltyProgram from "@/components/settings/LoyaltyProgram"
  import UpdateCompany from "@/components/settings/UpdateCompany"
  import Tabs from "@/components/elements/Tabs"
  import TabItem from "@/components/elements/TabItem"
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: "SettingsIndex",
    components: {
      InfosCompany, 
      UpdateCompany,
      Tabs, 
      TabItem,
      LoyaltyProgram
    },
    data() {
      return {
        isEdition: false
      }
    },
    computed: {
      ...mapGetters({
        company: 'settings/company'
      }),
    },
    created() {
      this.getCompany();
    },
    methods: {
      ...mapActions({
        getCompany: 'settings/getCompany'
      }),
      closeEditorState(state) {
        this.isEdition = state;
      },
    }
  }
</script>
