<template>
  <div>
    <h1 class="main-title mb-2">
      Настройки пользователя
    </h1>
    <div class="row">
      <div class="col-6">
        <div class="settings-item">
          <div>
            <div class="company_item">
              <div class="company_item_caption">
                Адрес электронной почты
              </div>
              <div
                v-if="user.meta !== null"
                class="company_item_value"
              >
                <span v-if="user.meta.email !== null">{{ user.meta.email }}</span>
              </div>
            </div>
            <div
              v-if="!onlogout"
              class="company_actions"
            >
              <ActionButton
                color
                class="edit-btn"
                @click="$modal.show('auth-logout')"
              >
                <svg class="svg-gris">
                  <use xlink:href="@/assets/sprite.svg#exit" />
                </svg>
                <span>Выйти</span>
              </ActionButton>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <form @submit.prevent="resetPassword">
          <div class="settings-item">
            <div class="settings-item__block">
              <h2 class="title">
                Сменить пароль
              </h2>
              <div class="field-wrp">
                <label
                  for
                  class="field-label"
                >Старый пароль</label>
                <div class="input-wrp">
                  <PasswordField
                    v-model="form.current_password"
                    v-validate="{required:true}"
                    name="current_password"
                  />
                </div>
                <div
                  v-show="errors.has('current_password')"
                  class="errors"
                >
                  <span class="form-error">{{ errors.first('current_password') }}</span>
                </div>
              </div>
              <div class="field-wrp">
                <label
                  for
                  class="field-label"
                >Новый пароль</label>
                <div class="input-wrp">
                  <PasswordField
                    ref="new_password"
                    v-model="form.new_password"
                    v-validate="{required:true, regex:'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})'}"
                    name="new_password"
                  />
                </div>
                <div
                  v-show="errors.has('new_password')"
                  class="errors"
                >
                  <span class="form-error">{{ errors.first('new_password') }}</span>
                </div>
              </div>
              <div class="field-wrp">
                <label
                  for
                  class="field-label"
                >Подтвердите новый пароль</label>
                <div class="input-wrp">
                  <PasswordField
                    v-model="form.re_new_password"
                    v-validate="{required: true, confirmed:'new_password'}"
                    name="re_new_password"
                  />
                </div>
                <div
                  v-show="errors.has('re_new_password')"
                  class="errors"
                >
                  <span class="form-error">{{ errors.first('re_new_password') }}</span>
                </div>
              </div>
            </div>
            <ImageButton
              v-if="!onresetpwd"
              class="btn--save"
              type="submit"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#check" />
              </svg>
              <span>Сохранить</span>
            </ImageButton>
          </div>
        </form>
      </div>
    </div>
    <Logout @logout="logout" />
  </div>
</template>

<script>
  import Logout from '@/components/auth/Logout';
  import ActionButton from '@/components/elements/ActionButton';
  import ImageButton from '@/components/elements/ImageButton';
  import PasswordField from '@/components/elements/PasswordField';
  import Storage from '@/plugins/storage';


  export default {
    inject: ['$validator'],
    name: 'SettingsUser',
    components: {
      Logout,
      ActionButton,
      ImageButton,
      PasswordField,
    },
    data() {
      return {
        user: null,
        onlogout: false,
        onresetpwd: false,
        form: {
          new_password: '',
          re_new_password: '',
          current_password: ''
        }
      };
    },
    created() {
      this.user = Storage.getAuthUser();
    },
    methods: {
      async resetPassword() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.onresetpwd = true;
        const res = await this.$store.dispatch('resetPassword', this.form);
        if (res.status !== 204) {
          this.onresetpwd = false;
          this.$toast.errors(res.data);
        }
      },
      async logout(e) {
        if (e) {
          this.onlogout = true;
          const response = await this.$store.dispatch('logout');
          if (response.status === 404) {
            this.onlogout = false;
            this.$toast.errors(response.data);
          } else {
            this.$router.push({name: 'Login'});
          }
        }
      }
    }
  };
</script>

<style scoped>
  .settings-item {
    width: 100%;
    padding: 30px 165px 40px 30px;
    background-color: #fff;
    border-radius: 5px;
  }

  .settings-item .field-wrp {
    margin-bottom: 15px;
  }

  .settings-item + .settings-item {
    margin-top: 30px;
  }

  .company_actions {
    margin-top: 20px;
  }

  .company_item_caption {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.4);
  }

  .company_item_value {
    font-weight: 400;
    margin-bottom: 10px;
  }

  .edit-btn {
    border: 0;
    outline: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #294d9c;
  }

  .edit-btn svg {
    fill: #294d9c;
  }

  .edit-btn img {
    margin-right: 10px;
  }

  .title {
    margin: 0 0 10px 0;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }

  .input-wrp {
    position: relative;
    transform-style: preserve-3d;
  }

  .password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 18px;
    height: 18px;
  }

  .settings-item [type='password'] {
    padding-right: 50px;
  }

  .field-label {
    display: block;
    margin-bottom: 8px;
    line-height: 15px;
    font-size: 12px;
    color: #707070;
  }

  .btn--save >>> svg {
    fill: #294d9c;
  }

  .btn--save {
    line-height: 18px;
    font-weight: bold;
    font-size: 14px;
    color: #294d9c;
  }
</style>
