<template>
<!-- eslint-disable -->
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
  /* eslint-disable */
  export default {
    name: "SaleSlug"
  }
</script>

<style scoped>

</style>
