<template>
  <div class="">
    <Actionbar
      ref="actionBar"
      placeholder="Поиск по номеру накладной"
      :shops="shops"
    />
    <div>
      <table class="table">
        <thead class="table-head">
          <tr>
            <th>№ накладной</th>
            <th>Время продажи</th>
            <th>Кол-во позиций</th>
            <th>Сумма продажи</th>
            <th>Клиент</th>
            <th>Магазин</th>
            <th>Кассир</th>
          </tr>
        </thead>
        <tr v-if="elementsForSales.length === 0">
          <td
            colspan="7"
            class="not-found"
          >
            Нет соответствующих параметрам продаж
          </td>
        </tr>
        <SalesItem
          v-for="elem in elementsForSales"
          :key="elem.date"
          :sales="elem.sales"
          :date="elem.date"
        />
      </table>
      <div
        v-if="totalSum"
        class="total"
      >
        <strong>
          Итого - {{ totalSum }} р.
        </strong>
      </div>
    </div>
  </div>
</template>

<script>
  import Actionbar from '@/components/sales/IndexActionBar'
  import SalesItem from '@/components/sales/SalesItem'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'SalesIndexItem',
    components: {
      Actionbar,
      SalesItem
    },
    computed: {
      ...mapGetters(['elementsForSales', 'shops']),
      totalSum(){
        return this.elementsForSales.reduce((sum, current) => {
          return sum + current.sales.reduce((sum, current) => sum + parseInt(current.amount), 0);
        }, 0)
      }
    },
    created () {
      this.getListShops();
      this.$eventBus.$on('set-sale-searchId', this.setSaleSearchId);
      this.$eventBus.$on('set-sale-shopId', this.setSaleShopId);
      this.$eventBus.$on('set-sale-arrayDate', this.setSaleArrayDate);
      this.$eventBus.$emit('set-sale-searchId', {id: ""});
      this.$eventBus.$emit('set-sale-shopId', {id: ""});
      this.$eventBus.$on('change-sales-params', () => {
        this.fetchSales();
      });

    },
    beforeDestroy() {
      this.$eventBus.$off('set-sale-searchId');
      this.$eventBus.$off('set-sale-shopId');
      this.$eventBus.$off('set-sale-arrayDate');
      this.$eventBus.$off('change-sales-params');
    },
    methods: {
      ...mapActions([
        'fetchSales',
        'getListShops',
        'setSaleSearchId',
        'setSaleShopId',
        'setSaleArrayDate'
      ]),
    }
  }
</script>

<style scoped>
  .total{
    margin-top: 15px;
    padding-right: 20px;
    text-align: right;
  }
</style>
