<template>
<!-- eslint-disable -->
  <div>
      <ActionBar></ActionBar>
      <Table></Table>
      <ul class="total">
        <li class="total-item">Сумма - {{currentSale.sum}}р.</li>
        <li class="total-item">Скидка - {{currentSale.discount_sum}}р.</li>
        <li class="total-item">Скидка клиента - {{currentSale.client_discount_sum}}р.</li>
        <li class="total-item"><strong>ИТОГО - {{currentSale.amount}}р.</strong></li>
      </ul>
  </div>
</template>

<script>
  /* eslint-disable */
  import {mapActions, mapGetters} from 'vuex'
  import Table from '@/components/sales/SingleTable'
  import ActionBar from '@/components/sales/SingleActionBar'

  export default {
    name: 'SalesSingle',
    components: {
      Table,
      ActionBar
    },
    computed: mapGetters(['currentSale']),
    methods: {
      ...mapActions([
        'fetchSale',
        'currentSale'
      ]),

    },
    created() {
      const id = this.$route.params.id;
      this.fetchSale({id: id});

    },
    beforeDestroy() {

    }
  }
</script>

<style scoped>
  .total{
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: right;
  }

  .total-item + .total-item{
    margin-top: 10px;
  }
</style>
