<!-- eslint-disable -->
<template>
  <div class="row">
    <div class="col-12">
      <div class="item flex-col">
        <h2 class="title">
          <span class="mr-2">Статистика за</span>
          <DropDownList :items="$stats_periods" @dropdown-item-change="statsPeriodChange" />
          <span class="m-2">по</span>
          <DropDownList :items="listShops" @dropdown-item-change="statShopChange" />
        </h2>
        <div class="flex-row" style="margin-top: 35px;">
          <div class="flex-col mr10">
            <div class="text-balance">
              <b>{{salesCount}}</b>
            </div>
            <div class="title-m">продажи</div>
          </div>
          <div class="flex-col mr10">
            <div class="text-balance">
              <b>{{ profit }}</b>
            </div>
            <div class="title-m">выручка</div>
          </div>
          <div class="flex-col mr10" v-if="statPeriod === 1">
            <div class="image-label">
              <svg :class="{minus: formatedAverage<0}">
                <use xlink:href="@/assets/sprite.svg#arrow_oblic" />
              </svg>
              <span>{{Math.abs(formatedAverage)}}%</span>
            </div>
            <div class="subtitle-m">выше среднего</div>
          </div>
        </div>
        <div class="chart">
          <line-chart :data="chartData" :colors="chartColors" legend="bottom" :dataset="dataset" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="item">
        <h2 class="title">
          Оценка склада по
          <DropDownList :items="listShops" @dropdown-item-change="valuationShopChange" />
        </h2>
        <div class="flex-row">
          <svg fill="#B4B4B4" width="45" height="45">
            <use xlink:href="@/assets/sprite.svg#info" />
          </svg>
          <div class="flex-col center" style="margin-left: 10px">
            <div class="title-m">
              <a class="links">03 позиции</a> с остатком меньше 5
            </div>
            <div class="title-m">
              <a class="links">12 позиции</a> с себестоимостью равной 0 руб
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="item">
        <h2 class="title">
          План продаж за
          <DropDownList :items="$months_of_years" @dropdown-item-change="monthPlanChange" />
        </h2>
        <div class="flex-row">
          <CircleProgress :percent="62" :size="120" :stroke="16" />
          <div class="flex-col center">
            <div class="title-m">
              План выручки:
              <b>1 000 000 руб.</b>
            </div>
            <div class="title-m">
              Выполнено:
              <b>620 000 руб.</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import CircleProgress from "@/components/elements/CircleProgress";
import DropDownList from "@/components/elements/DropDownList";
import { mapActions, mapGetters } from "vuex";

export default {
  components: { CircleProgress, DropDownList },
  data() {
    return {
      chartData: [],
      chartColors: ["#294D9C", "#DEDEDE"],
      dataset: {
        borderWidth: 1
      },
      salesCount: "0",
      profit: 0,
      average: 0,
      statPeriod: 1,
      statShop: null
    };
  },
  computed: {
    ...mapGetters(["shops"]),
    listShops() {
      return [{ id: 0, name: "всем магазинам" }, ...this.shops];
    },
    formatedAverage() {
      return this.$format.decimal(this.average);
    },
    shopStatsParam(){
        if(this.statShop)
          return {shop: this.statShop }
        return null
    }
  },
  mounted() {
    this.loadStats();
    this.getListShops();
  },
  methods: {
    ...mapActions([
      "getShopDailyStats",
      "getShopWeeklyStats",
      "getShopMonthlyStats",
      "getListShops"
    ]),
    clearGraph(){
      this.chartData = [];
    },
    statsPeriodChange(period) {
      this.loadStats(period.id);
      this.statPeriod = period.id;
    },
    statShopChange(shop) {
      this.statShop = shop.id === 0 ? null : shop.id
      this.loadStats(this.statPeriod);
    },
    valuationShopChange(shop) {},
    monthPlanChange(month) {},
    loadStats(pos) {
     this.clearGraph()
      switch (pos) {
        case 1:
          this.loadShopDailyStats();
          break;
        case 2:
          this.loadShopWeeklyStats();
          break;
        case 3:
          this.loadShopMonthlyStats();
          break;
        default:
          this.loadShopDailyStats();
          break;
      }
    },
    async loadShopDailyStats() {
      this.clearGraph()
      let result = await this.getShopDailyStats(this.shopStatsParam);
      if (result.status === 200) {
        const stats = { name: "График за сегодня", data: [] };
        let salesCount = 0;
        let profit = 0;
        for(let sts of result.data){
          stats.data.push([sts.hour.toString(), sts.amount]);
          salesCount += parseInt(sts.sales);
          profit += parseFloat(sts.profit);
        }
        this.chartData.push(stats);
        this.salesCount = this.$format.number(salesCount);
        this.profit = profit;
        result = await this.getShopDailyStats({...this.shopStatsParam, days_trunc: 1 });
        if (result.status === 200) {
          const stats2 = { name: "График за вчера", data: [] };
          profit = 0;
          for(let sts of result.data){
            stats2.data.push([sts.hour.toString(), sts.amount]);
            profit += parseFloat(sts.profit);
          }
          this.chartData.push(stats2);
          this.average = this.$stats.averagePercent(profit, this.profit);
        }
      }
    },
    async loadShopWeeklyStats() {
      this.clearGraph()
      const result = await this.getShopWeeklyStats(this.shopStatsParam);
      if (result.status === 200) {
        const stats = { name: "График за неделю", data: [] };
        let salesCount = 0;
        let profit = 0;
        for(let sts of result.data){
          stats.data.push([this.$days_of_week[sts.day].name, sts.amount]);
          salesCount += parseInt(sts.sales);
          profit += parseFloat(sts.profit);
        }
        this.chartData.push(stats);
        this.salesCount = this.$format.number(salesCount);
        this.profit = profit;
      }
    },
    async loadShopMonthlyStats() {
      this.clearGraph()
      const result = await this.getShopMonthlyStats(this.shopStatsParam);
      if (result.status === 200) {
        const stats = { name: "График за год", data: [] };
        let salesCount = 0;
        let profit = 0;
        for(let sts of result.data){
          stats.data.push([
            this.$months_of_years[sts.month - 1].name,
            sts.amount
          ]);
          salesCount += parseInt(sts.sales);
          profit += parseFloat(sts.profit);
        }
        this.chartData.push(stats);
        this.salesCount = this.$format.number(salesCount);
        this.profit = profit;
      }
    }
  }
};
</script>

<style scoped>
.item {
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0;
}
.item .title {
  font: 400 16px/20px "Montserrat", "Arial", sans-serif;
}
.item .title-m {
  font: 400 13px/20px "Montserrat", "Arial", sans-serif;
}
.item .links {
  text-decoration: none;
  color: #294d9c;
  cursor: pointer;
}
.item .flex-row {
  display: flex;
}
.item .flex-col {
  display: flex;
  flex-direction: column;
}
.item .flex-col.center {
  justify-content: center;
}
.item .circle-progress {
  margin-right: 10px;
}
.item .text-balance {
  font: 400 24px/20px "Montserrat", "Arial", sans-serif;
}

.item .image-label {
  font: 400 14px/20px "Montserrat", "Arial", sans-serif;
}
.item .image-label span {
  margin: 0 5px;
}
.item .image-label svg {
  width: 16px;
  height: 16px;
  fill: #294d9c;
}
.item .image-label svg.minus {
  transform: rotate(180deg);
}
.item .m5 {
  margin: 5px;
}
.item .mr10 {
  margin-right: 30px;
}
.item .subtitle-m {
  font: 400 9px/11px "Montserrat", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.54);
}
.item .chart {
  margin-top: 20px;
}
</style>