<template>
<!-- eslint-disable -->
  <div class="row">
    <div class="col-12">
      <h1 class="main-title">
        <LinkButton class="back-btn">
          <svg>
            <use xlink:href="@/assets/sprite.svg#back"></use>
          </svg>
        </LinkButton>
        <span>Абдурахманов Абдулбасир Вагабович</span>
      </h1>
    </div>
    <div class="col-6">
      <div class="item">
        <div class="info-block">
          <h3 class="title-sm">
            Профиль
          </h3>
          <ul class="info-list">
            <li class="info-list__item">
              <label for="" class="field-caption">ФИО</label>
              <InputField></InputField>
            </li>
            <li class="info-list__item">
              <label for="" class="field-caption">Логин</label>
              <div class="row">
                <div class="col-7">
                  <InputField></InputField>
                </div>
              </div>

            </li>
            <li class="info-list__item">
              <label for="" class="field-caption">Старый Пароль</label>
              <div class="row">
                <div class="col-6">
                  <div class="input-wrp">
                    <InputField></InputField>
                    <svg class="password-icon">
                      <use xlink:href="@/assets/sprite.svg#eye"></use>
                    </svg>
                  </div>
                </div>
                <div class="col-6">
                  <div class="field-text">
                    Если не хотите менять пароль
                    оставьте поле пустым
                  </div>
                </div>
              </div>
            </li>
            <li class="info-list__item">
              <label for="" class="field-caption">Новый Пароль</label>
              <div class="row">
                <div class="col-6">
                  <div class="input-wrp">
                    <InputField></InputField>
                    <svg class="password-icon">
                      <use xlink:href="@/assets/sprite.svg#eye"></use>
                    </svg>
                  </div>
                </div>
                <div class="col-6">
                  <div class="field-text">
                    Если не хотите менять пароль
                    оставьте поле пустым
                  </div>
                </div>
              </div>
            </li>
            <li class="info-list__item">
              <label for="" class="field-caption">Подтвердите новый пароль</label>
              <div class="row ">
                <div class="col-6">
                  <div class="input-wrp">
                    <InputField></InputField>
                    <svg class="password-icon">
                      <use xlink:href="@/assets/sprite.svg#eye_rotate"></use>
                    </svg>
                  </div>
                </div>
                <div class="col-6">
                  <div class="field-text">
                    Если не хотите менять пароль
                    оставьте поле пустым
                  </div>
                </div>
              </div>
            </li>
            <li class="info-list__item">
              <label for="" class="field-caption">Документ</label>
              <div class="row">
                <div class="col-3">
                  <InputField placeholder="серия"></InputField>
                </div>
                <div class="col-4">
                  <InputField placeholder="Номер"></InputField>
                </div>
              </div>
            </li>
            <li class="info-list__item">
              <label for="" class="field-caption">Выдан</label>
              <TextField class="label-textarea"></TextField>
            </li>
          </ul>
        </div>
        <div class="info-block">
          <h3 class="title-sm">Контакты</h3>
          <ul class="info-list">
            <li class="row info-list__item">
              <div class="col-7">
                <label for="" class="field-caption">Телефон</label>
                <InputField></InputField>
              </div>
            </li>
            <li class="row info-list__item">
              <div class="col-8">
                <label for="" class="field-caption">Почта</label>
                <InputField></InputField>
              </div>
            </li>
          </ul>
        </div>
        <div class="info-block">
          <h3 class="title-sm">
            Работа
            <LinkButton color="" class="dismiss-btn">Уволить</LinkButton>
          </h3>
          <ul class="info-list">
            <li class="row info-list__item">
              <div class="col-7">
                <label for="" class="field-caption">Должность</label>
                <SelectList
                  caption="Выберите должность"
                  :items="positions"/>
              </div>
            </li>
            <li class="row info-list__item">
              <div class="col-7">
                <label for="" class="field-caption">Магазин</label>
                <SelectList
                  caption="Выберите магазин"
                  :items="shops"/>
              </div>
            </li>
            <li class="row info-list__item">
              <div class="col-4">
                <label for="" class="field-caption">
                  Оклад
                </label>
                <InputField></InputField>
              </div>
            </li>
          </ul>
        </div>
        <footer class="modal-employee__footer">
          <ActionButton class="btn--save btn-fill-white">
            <svg>
              <use xlink:href="@/assets/sprite.svg#check"></use>
            </svg>
            <span>Сохранить</span>
          </ActionButton>
        </footer>
      </div>
    </div>
    <div class="col-6">
      <div class="item">
        <Stats></Stats>
      </div>
    </div>
    <Surcharge></Surcharge>
  </div>
</template>

<script>
  /* eslint-disable */
  import InputField from "@/components/elements/InputField";
  import TextField from "@/components/elements/TextField";
  import ActionButton from "@/components/elements/ActionButton";
  import LinkButton from "@/components/elements/LinkButton";
  import SelectList from "@/components/elements/Select";
  import Stats from "@/components/employee/Stats";
  import Surcharge from "@/components/modals/Surcharge";

  export default {
    name: "EmployeeEdit",
    components: {
      InputField,
      LinkButton,
      TextField,
      ActionButton,
      SelectList,
      Stats,
      Surcharge
    },
    data() {
      return {
        employee: null,
        loading: false,
        id: null,
        shops: [],
        positions:[]
      }
    },
    mounted(){
      this.id =this.$route.params.id 
      this.shops =this.$route.params.shops || []
      this.positions =this.$route.params.positions || []
      //this.loadData()
    },
  }
</script>

<style scoped>

  .main-title {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .item {
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
  }

  .label-textarea >>> textarea {
    height: 60px;
  }

  .title-sm {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
  }

  .info-block + .info-block {
    margin-top: 35px;
  }

  .info-list {
    margin: 15px 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  .info-list__item + .info-list__item {
    margin-top: 20px;
  }

  .back-btn {
    vertical-align: top;
  }

  .back-btn >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: top;
    fill: #294D9C;
  }

  .modal-employee__footer {
    margin-top: 30px;
  }

  .field-caption {
    margin: 0 0 5px 0;
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  .field-text {
    display: block;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
  }

  .input-wrp {
    position: relative;
    transform-style: preserve-3d;
  }

  .btn--save {
    border: 0;
    padding: 0;
    color: #294D9C;
  }

  .btn--save >>> svg {
    fill: #294D9C;
  }

  .dismiss-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #D68282;
  }

  .password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
  }

  [type="password"] {
    padding-right: 50px;
  }

</style>
