<template>
  <div>
    <ActionBar
      :shop-list="shops"
      :position-list="positions"
      @search-changed="onSearchChange"
      @shop-changed="onShopChange"
    />
    <EmployeeTable
      class="mt-3"
      :entries="filteredItems"
      :loading="loading"
    />
    <Confirmation />
  </div>
</template>

<script>
  import ActionBar from "@/components/employee/ActionBar"
  import EmployeeTable from "@/components/employee/Table"
  import Confirmation from "@/components/modals/Confirmation";
  import {mapGetters} from 'vuex'

  export default {
    name: "EmployeesIndex",
    components: {
      ActionBar,
      EmployeeTable,
      Confirmation
    },
    data(){
      return {
        searchChar:'',
        loading: true,
      }
    },
    computed: {
      ...mapGetters(['filteredEmployees', 'shops', 'positions']),
      filteredItems() {
        return this.filteredEmployees.filter(employee => {
          const chr = this.searchChar.toLowerCase();
          const employee_name = employee.name.toLowerCase();
          return employee_name.match(chr);
        })
      }
    },
    created() {
      this.getListEmployees();
      this.$store.dispatch('getListShops', []);
      this.$store.dispatch('getWorks', []);
      this.$store.dispatch('getPositions', []);
    },
    methods:{
      onSearchChange(e){
         this.searchChar = e;
      },
      onShopChange(shopId){
        this.$store.dispatch('searchEmployeeByShop', shopId);
      },
      async getListEmployees(){
        this.loading = true;
        const result = await this.$store.dispatch('getEmployees');
        if(result.status === 200){
          this.loading = false
        }
      }
    },
  }
</script>

<style scoped>

</style>
