<template>
  <div class="">
    <div v-if="!loading && employee">
      <h1 class="main-title">
        <RouterLink 
          class="back-btn"
          :to="{name: 'EmployeeIndex'}"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#back" />
          </svg>
        </RouterLink>
        <span>{{ employee.name }}</span>
      </h1>
      <div class="row employees">
        <div class="col-12">
          <div class="item">
            <div class="info-block-sm">
              <h2 class="title-sm">
                Профиль
              </h2>
              <ul class="info-list">
                <li class="info-list__item">
                  <div class="caption-sm">
                    ФИО
                  </div>
                  <div class="value-sm">
                    {{ employee.name }}
                  </div>
                </li>
                <li class="info-list__item">
                  <div class="caption-sm">
                    Документ
                  </div>
                  <div
                    v-if="employee.document"
                    class="value-sm"
                  >
                    {{ employee.document.serial }} {{ employee.document.number }}
                  </div>
                </li>
                <li class="info-list__item">
                  <div class="caption-sm">
                    Выдан
                  </div>
                  <div
                    v-if="employee.document"
                    class="value-sm"
                  >
                    {{ employee.document.issued_by }}
                  </div>
                </li>
              </ul>
            </div>
            <div class="info-block-sm">
              <h2 class="title-sm">
                Контакты
              </h2>
              <ul class="info-list">
                <li class="info-list__item">
                  <div class="caption-sm">
                    Телефон
                  </div>
                  <div class="value-sm">
                    {{ employee.phone }}
                  </div>
                </li>
                <li class="info-list__item">
                  <div class="caption-sm">
                    Почта
                  </div>
                  <div class="value-sm">
                    {{ employee.user.email }}
                  </div>
                </li>
              </ul>
            </div>
            <div class="info-block-sm">
              <h2 class="title-sm">
                Работа
              </h2>
              <ul class="info-list">
                <li class="info-list__item">
                  <div class="caption-sm">
                    Должность
                  </div>
                  <div class="value-sm">
                    <span v-if="position">{{ position.name }}</span>
                  </div>
                </li>
                <li class="info-list__item">
                  <div class="caption-sm">
                    Магазин
                  </div>
                  <div class="value-sm">
                    <RouterLink
                      v-if="shop"
                      class="router-link"
                      tag="a"
                      :to="{name:'ShopsInfos', params:{id: shop.id}}"
                    >
                      <span> {{ shop.name }}</span>
                    </RouterLink>
                  </div>
                </li>
                <li class="info-list__item">
                  <div class="caption-sm">
                    Оклад
                  </div>
                  <div class="value-sm">
                    <span v-if="employee.current_work">{{ salary(employee.current_work.salary ) }} руб.</span>
                  </div>
                </li>
              </ul>
            </div>
            <div
              v-if="canedit"
              class="info-block-sm"
            >
              <LinkButton
                class="back-btn flex"
                @click="$modal.show('edit-employee', {employee: employee, shops: shops, positions: positions})"
              >
                <svg>
                  <use xlink:href="@/assets/sprite.svg#edit" />
                </svg>
                <span>Редактировать</span>
              </LinkButton>
            </div>
          </div>
        </div>
      </div>
      <Surcharge />
    </div>
    <div
      v-else
      class="loading"
    >
      <ProgressBar
        message="Подождите..."
        :size="30"
      />
    </div>
    <EditEmployeeModal @update-callback="updateCallback" />
  </div>
</template>

<script>
  import Surcharge from "@/components/modals/Surcharge";
  import ProgressBar from "@/components/elements/ProgressBar";
  import LinkButton from "@/components/elements/LinkButton";
  import EditEmployeeModal from "@/components/employee/modals/EditEmployee";
  import { mapActions, mapGetters } from 'vuex';

  export default {
    name: "EmployeeInfo",
    components: {
      Surcharge,
      ProgressBar,
      LinkButton,
      EditEmployeeModal
    },
    data() {
      return {
        employee: null,
        loading: false,
        id: null,
        canedit: false
      }
    },
    computed:{
      ...mapGetters(['shops', 'positions']),
      shop(){
        if(!this.employee.current_work)
         return null
        return this.shops.find(e => e.id === this.employee.current_work.shop) || null
      },
      position(){
        if(!this.employee.current_work)
         return null
        return this.positions.find(e => e.id === this.employee.current_work.shop) || null
      }
    },
    mounted(){
      this.id =this.$route.params.id
      this.loadData()
      this.getPositions()
      this.getListShops()
    },
    methods: {
      ...mapActions(["getEmployeeById", "getListShops", "getPositions"]),
      async loadData(){
        if(!this.id)
          this.redirect();
        
        this.loading = true;
        
        const result = await this.getEmployeeById(this.id);
        if(result.status !== 200)
          this.redirect();

        this.employee = result.data;

        this.loading = false;
      },
      salary(m){
        if(m)
         return m;
        return 0;
      },
      redirect(){
        this.$router.push({name: "NotFound"});
      },
      updateCallback(){
        this.loadData();
      }
    }
  }
</script>

<style scoped>
  .main-title {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
  }

  .main-title svg {
    vertical-align: middle;
  }

  .title-sm {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .caption-sm {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
  }

  .value-sm {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
  }

  .item {
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
  }

  .info-block-sm + .info-block-sm {
    margin-top: 35px;
  }

  .info-list {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
  }

  .info-list__item + .info-list__item {
    margin-top: 20px;
  }

  .edit-btn {
    border: 0;
    outline: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #294D9C;
  }

  .edit-btn svg {
    margin-right: 5px;
    fill: #294D9C;
  }

  .employees {
    margin-top: 10px;
  }

  .dismiss-btn {
    margin: 0 0 0 15px;
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    display: inline-block;
    background-color: transparent;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #D68282;
  }

  .back-btn {
    vertical-align: top;
  }

  .back-btn >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: top;
    fill: #294D9C;
  }

    .back-btn.flex {
    display: flex;
    align-items: center;
  }



  .hire-btn {
    margin: 5px 0 0 0;
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    display: inline-block;
    background-color: transparent;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #294D9C;
  }
  .loading{
    background: #fff;
    display: flex;
    height: 300px;
    justify-content: center;
  }
</style>
