<template>
  <Modal
    name="detail-client"
    width="800"
    height="auto"
    @before-open="getParamsData($event)"
    @closed="beforeClose"
  >
    <div class="modal-box">
      <h2 class="modal-title">
        Данные о клиенте 
      </h2>
      <div class="row">
        <div class="col-8">
          <table
            v-if="client"
            class="disc-table"
          >
            <tbody>
              <tr>
                <td>Имя</td>
                <td><b>{{ client.name }}</b></td>
              </tr>
              <tr>
                <td>Телефон</td>
                <td><b>{{ client.phone }}</b></td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td><b>{{ client.email }}</b></td>
              </tr>
              <tr>
                <td>Номер карты</td>
                <td><b>{{ card }}</b></td>
              </tr>
              <tr>
                <td>Тип:</td>
                <td><b>{{ type }}</b></td>
              </tr>
              <tr>
                <td>Организация:</td>
                <td><b>{{ organization }} </b></td>
              </tr>
              
              <tr>
                <td>Скидка:</td>
                <td><b>{{ client.discount }} %</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <fieldset>
            <legend>
              Скидка клиента
            </legend>
            <Select
              v-model="discount"
              :items="discounts"
              :disabled="true"
              caption="Выбирите скидку"
              @input="discountChange"
            />
          </fieldset>
        </div>
      </div>
      <ImageButton
        class="modal-close"
        @click="$modal.hide('detail-client')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
    </div>
    <ProgressBar
      v-if="inProcess"
      :full="true"
    />
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import Select from "@/components/elements/Select";
  import ProgressBar from "@/components/elements/ProgressBar";
  import {mapActions, mapGetters} from "vuex";

  export default {
    name: "DetailClientModal",
    components: {
      ImageButton,
      Select,
      ProgressBar
    },
    data() {
      return {
        client: null,
        inProcess: false,
        discount:0
      }
    },
    computed: {
      ...mapGetters({
         staticDiscounts: 'discounts/static_discounts'
      }),
      organization(){
        return this.client.is_individual ? 'Физическое лицо' : 'Юридическое лицо';
      },
      discounts(){
        const cloneDiscounts = []
        for(let discount of this.staticDiscounts){
          discount = {...discount, name: discount.percent}
          cloneDiscounts.push(discount);
        }
       return  cloneDiscounts;
      },
      type() {
        return this.client.is_retail ? 'Розничный' : 'Оптовый';
      },
      card(){
        return this.client.card !== null? this.client.card.card_number : null
      }
    },
    mounted(){
      this.fetchStaticDiscounts();
    },
    methods: {
      ...mapActions({
        fetchStaticDiscounts: 'discounts/fetchStaticDiscounts',
        addStaticClientDiscount: 'discounts/addStaticClientDiscount',
        getClientById: 'getClientById'
      }),
      beforeClose() {
        Object.assign(this.$data, this.$options.data());
      },
      getParamsData(event) {
        this.client = event.params.client
      },
      async discountChange(discountId){
        this.inProcess = true;
        let rep = await this.addStaticClientDiscount({
          client: this.client.id,
          percent: discountId
        });
        if(rep.status === 201){
          rep = await this.getClientById(this.client.id);
          if(rep.status === 200){
            this.client = rep.data;
          }else{
            this.$toast.error('невозможно найти данные этого клиента');
          }
        }else{
          this.$toast.error('произошла ошибка при сохранинии');
        }
        this.inProcess = false;
      }
    }
  }
</script>

<style scoped>

.modal-box{
    min-height: 300px;
}
  .modal-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .modal-box {
    padding: 25px 30px 30px 30px;
  }

  fieldset{
    border: 1px solid #ccc;
    padding: 20px 15px;
  }
  fieldset legend{
    display: block;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }
  .disc-table{
      margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  .disc-table td{
    line-height: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
  .disc-table tr:last-child td{
      border-bottom: 0;
  }
</style>
