<template>
<!-- eslint-disable -->
  <div class>
    <header class="header">
      <LinkButton class="back-btn" @click="goBack">
        <svg>
          <use xlink:href="@/assets/sprite.svg#back" />
        </svg>
      </LinkButton>
      <h1 class="main-title">{{ currentShop.name }}</h1>
    </header>

    <div class="row mt-2">
      <!-- Информация о магазине -->
      <div class="col-6">
        <div class="item">
          <form @submit.prevent="submit" class="form-shop">
            <!-- Название магазина -->
            <div>
              <h2 class="title">Название</h2>
              <div class="field">
                <InputField
                  v-validate="'required'"
                  data-vv-as="Название магазина"
                  name="name"
                  v-model="form.name"
                >
                  <div class="field-caption">Название *</div>
                </InputField>
                <div v-if="errors">
                  <span class="form-error">{{errors.first('name')}}</span>
                </div>
              </div>
            </div>
            <!-- Контакты -->
            <div class="mt-4">
              <h2 class="title">Контакты</h2>
              <div class="field">
                <InputField
                  v-validate="'required'"
                  data-vv-as="Телефон"
                  name="tel"
                  v-model="form.phone"
                >
                  <div class="field-caption">Телефон *</div>
                </InputField>
                <div v-if="errors">
                  <span class="form-error">{{errors.first('tel')}}</span>
                </div>
              </div>
            </div>

            <!-- Адрес магазина -->
            <div class="mt-4">
              <h2 class="title">Адрес магазина</h2>
              <!--------------------- Страна ------------------------>
              <div class="field">
                <InputField
                  v-validate="'required'"
                  data-vv-as="Страна"
                  name="country"
                  v-model="form.address.country"
                >
                  <div class="field-caption">Страна *</div>
                </InputField>
                <div v-if="errors">
                  <span class="form-error">{{errors.first('country')}}</span>
                </div>
              </div>

              <!--------------------- Область ------------------------>
              <div class="field">
                <InputField
                  v-validate="'required'"
                  data-vv-as="Область"
                  name="region"
                  v-model="form.address.region"
                >
                  <div class="field-caption">Область *</div>
                </InputField>
                <div v-if="errors">
                  <span class="form-error">{{errors.first('region')}}</span>
                </div>
              </div>

              <!--------------------- Город ------------------------>
              <div class="field">
                <InputField
                  v-validate="'required'"
                  data-vv-as="Город"
                  name="city"
                  v-model="form.address.city"
                >
                  <div class="field-caption">Город *</div>
                </InputField>
                <div v-if="errors">
                  <span class="form-error">{{errors.first('city')}}</span>
                </div>
              </div>

              <!--------------------- Улица ------------------------>
              <div class="field">
                <InputField
                  v-validate="'required'"
                  data-vv-as="Улица"
                  name="street"
                  v-model="form.address.street"
                >
                  <div class="field-caption">Улица *</div>
                </InputField>
                <div v-if="errors">
                  <span class="form-error">{{errors.first('street')}}</span>
                </div>
              </div>
            </div>

            <!-- Footer -->
            <footer class="footer">
              <ActionButton type="submit" class="btn--save mr-5">
                <svg>
                  <use xlink:href="@/assets/sprite.svg#check" />
                </svg>
                <span>Сохранить</span>
              </ActionButton>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
import ActionButton from "@/components/elements/ActionButton";
import InputField from "@/components/elements/InputField";
import LinkButton from "@/components/elements/LinkButton";

export default {
  name: "ShopEdit",
  inject: ["$validator"],
  data() {
    return {
      form: {
        name: "",
        phone: "",
        address: {
          country: "",
          region: "",
          city: "",
          street: ""
        }
      },
      currentShop: {}
    };
  },
  components: {
    ActionButton,
    InputField,
    LinkButton,
  },
  created() {
    this.getCurrent();
  },
  methods: {
    async getCurrent() {
      const id = this.$route.params.id;
      const response = await this.$store.dispatch("getShopsById", id);
      if (response != null) {
        this.currentShop = response.data;
        this.form.name = this.currentShop.name;
        this.form.phone = this.currentShop.phone;
        this.form.address = this.currentShop.address;
      } else {
        this.$toast.error("Магазин не найден");
      }
    },
    goBack() {
      this.$router.go(-1);
    },
    async submit() {
      const result = await this.$validator.validate();
      if (!result) return;
      const response = await this.$store.dispatch("updateShop", {id: this.currentShop.id, form: this.form});
      if (response.status === 200) {
        this.$toast.success("Данные изменены");
        this.$router.go(-1);
      } else {
        this.$toast.error("Ошибка при отправке формы");
      }
    }
  }
};
</script>

<style scoped>
.main-title {
  display: inline;
}

.title {
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.item {
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
}

.form-shop {
  width: 75%;
}

.btn--save {
  border: 0;
  outline: 0;
  box-shadow: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  color: #294d9c;
}

.btn--save svg {
  fill: #294d9c;
}

.back-btn {
  vertical-align: top;
}

.back-btn >>> svg {
  width: 24px;
  height: 24px;
  vertical-align: top;
}

.field + .field {
  margin-top: 15px;
}

.field-caption {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.54);
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
</style>
