<template>
<!-- eslint-disable -->
  <div class="main-shop">
    <Actionbar ref="actionBar" @search-changed="onSearchChange" />

    <ShopTable :items="filteredItems" :loading="loading" />
    <CreateShopModal :shop-name="genStoreName" />
  </div>
</template>

<script>
  /* eslint-disable */
import Actionbar from "@/components/shops/ActionBar";
import CreateShopModal from "@/components/shops/modals/NewShop";
import ShopTable from "@/components/shops/Table";
import {mapGetters} from "vuex";

export default {
  name: "Shops",
  components: {
    Actionbar,
    ShopTable,
    CreateShopModal
  },
  data() {
    return {
      searchChar: "",
      loading: true
    };
  },
  computed: {
    ...mapGetters(["shops"]),
    genStoreName() {
      return `Магазин ${this.shops.length + 1}`;
    },
    filteredItems() {
      return this.shops.filter(({ name, phone }) => {
        return name.toLowerCase().match(this.searchChar.toLowerCase()) || phone.match(this.searchChar)
      });
    }
  },
  methods: {
    onSearchChange(e) {
      this.searchChar = e;
    },
    async getShopList() {
      this.loading = true;
      await this.$store.dispatch("getListShopsWithStats");
      this.loading = false;
    }
  },
  created() {
    this.getShopList([]);
  }
};
</script>
