<template>
  <!-- eslint-disable -->
  <div class>
    <header class="header">
      <LinkButton class="back-btn" @click="goBack" title="Назад">
        <svg>
          <use xlink:href="@/assets/sprite.svg#back"/>
        </svg>
      </LinkButton>
      <h1 class="main-title">{{ currentShop.name }}</h1>
    </header>

    <div class="row mt-2">
      <!-- Информация о магазине -->
      <div class="col-8">
        <div class="item">
          <div class="info-block-sm">
            <h2 class="title">Информация о магазине</h2>
            <ul class="info-list">
              <li class="info-list__item" v-if="currentShop.name">
                <div class="caption">Кодовое имя</div>
                <div class="value">{{ currentShop.name }}</div>
              </li>
              <li class="info-list__item" v-if="currentShop.address">
                <div class="caption">Адрес магазина</div>
                <table class="address-table">
                  <tr>
                    <th>Страна:</th>
                    <td>{{ currentShop.address.country }}</td>
                  </tr>
                  <tr>
                    <th>Регион:</th>
                    <td>{{ currentShop.address.region }}</td>
                  </tr>
                  <tr>
                    <th>Город:</th>
                    <td>{{ currentShop.address.city }}</td>
                  </tr>
                  <tr>
                    <th>Улица:</th>
                    <td>{{ currentShop.address.street }}</td>
                  </tr>

                </table>
              </li>
            </ul>
          </div>

          <div class="info-block-sm" v-if="currentShop.phone">
            <h2 class="title">Контакты</h2>
            <ul class="info-list">
              <li class="info-list__item">
                <div class="caption">Телефон</div>
                <div class="value">{{ currentShop.phone }}</div>
              </li>
            </ul>
          </div>

          <footer class="info-block-sm">
            <router-link class="link-button" tag="a" :to="{name: 'ShopsEdit'}">
              <svg>
                <use xlink:href="@/assets/sprite.svg#edit"/>
              </svg>
              <span>Редактировать</span>
            </router-link>
            <LinkButton class="link-button ml-5" @click="$modal.show('delete-shop')">
              <svg>
                <use xlink:href="@/assets/sprite.svg#delete"/>
              </svg>
              <span>Удалить</span>
            </LinkButton>
          </footer>
        </div>
      </div>
      <!-- cash -->
      <div class="col-4" v-if="cashboxes.length">
        <div class="item">
          <h2 class="title">Кассы</h2>
          <ul class="cashbox-list">
            <li class="cashbox-item" v-for="cash in cashboxes" :key="cash.id">{{ cash.name }}</li>
          </ul>
        </div>
      </div>
    </div>
    <DeleteShopModal @delete-shop-handler="deleteShopHandler"/>
    <ProgressBar :full="true" v-if="loading"/>
  </div>
</template>

<script>
  /* eslint-disable */
  import LinkButton from "@/components/elements/LinkButton";
  import ProgressBar from "@/components/elements/ProgressBar";
  import DeleteShopModal from "@/components/shops/modals/DeleteShop";
  import {mapActions, mapGetters} from "vuex";

  export default {
    name: "ShopInfo",
    components: {
      LinkButton,
      ProgressBar,
      DeleteShopModal
    },
    data() {
      return {
        currentShop: {},
        loading: false
      };
    },
    created() {
      const id = this.$route.params.id;
      this.getCurrent();
      this.getShopCashboxes(id);
    },
    computed: mapGetters(["cashboxes"]),
    methods: {
      ...mapActions(["getShopsById", "getShopCashboxes", "deleteShop"]),
      async getCurrent() {
        const id = this.$route.params.id;
        const response = await this.getShopsById(id);
        if (response.status === 200) {
          this.currentShop = response.data;
        } else {
          this.$router.push({name: "NotFound"});
        }
      },
      goBack() {
        this.$router.push({name: "Shops"});
      },
      async deleteShopHandler() {
        this.loading = true;
        const rep = await this.deleteShop(this.currentShop.id);
        if (rep.status === 204) {
          this.$router.push({name: "Shops"});
          this.$toast.success("Магазин удален");
        }
        this.loading = false;
      }
    }
  };
</script>

<style lang="postcss" scoped>
  .main-title {
    display: inline;
  }

  .title {
    margin: 0;
    font-size: 16px;
  }

  .caption {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
  }

  .value {
    margin: 5px 0 0 0;
    color: #000;
  }

  .item {
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
  }

  .info-block-sm + .info-block-sm {
    margin-top: 35px;
  }

  .info-list {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
  }

  .info-list__item + .info-list__item {
    margin-top: 20px;
  }

  .back-btn {
    vertical-align: top;
  }

  .link-button {
    display: inline-flex;
    align-items: center;
    color: #294d9c;
  }

  .link-button svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    fill: #294d9c;
  }

  .back-btn >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: top;
  }

  .cashbox-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .cashbox-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .address-table{
    margin-top: 5px;
    border-collapse: collapse;
  }

  .address-table td{
    padding: 2px;
  }

  .address-table td:last-child{
    padding-left: 15px;
  }
</style>
