<template>
  <main class="reg-page">
    <div class="reg">
      <header class="reg__header">
        <div class="logo">
          <svg class="logo__img">
            <use xlink:href="@/assets/sprite.svg#main_logo" />
          </svg>
        </div>
        <p class="reg-caption">
          Вход
        </p>
      </header>
      <div class="reg__body">
        <form
          class="reg-form"
          @submit.prevent="login"
        >
          <div
            v-if="errors"
            class="error mb-2"
          >
            {{ errors.first('non_field_errors') }}
          </div>
          <div class="row align-items-center mb-4">
            <div class="col-12">
              <label class="field-label">Адрес электронной почты</label>
            </div>
            <div class="col-7">
              <InputField
                v-model="form.email"
                v-validate="{required: true, email: true}"
                name="email"
              />
            </div>
            <div class="col-5">
              <span class="caption">
                Введите адрес вашей электронной почты
              </span>
            </div>
            <div
              v-if="errors"
              class="col-12"
            >
              <span class="error">{{ errors.first('email') }}</span>
            </div>
          </div>
          <div class="row align-items-center mb-4">
            <div class="col-12">
              <label class="field-label">Пароль</label>
            </div>
            <div class="col-4">
              <PasswordField
                v-model="form.password"
                v-validate="'required'"
                name="password"
              />
            </div>
            <div class="col-8">
              <span class="caption">
                Пароль должен быть длиной от 6 до 12 символов
                и содержать буквы верхнего и нижниго регистров,
                а так же цифры
              </span>
            </div>
            <div
              v-if="errors"
              class="col-12"
            >
              <span class="error">{{ errors.first('password') }}</span>
            </div>
          </div>
          <div class="mt-5">
            <ImageButton
              class="button"
              type="submit"
              :disabled="submitted"
            >
              <ProgressBar
                v-if="submitted"
                :size="24"
              />
              <span v-else>Войти</span>
            </ImageButton>
          </div>
        </form>
      </div>
      <footer class="reg__footer">
        <ul class="login-list">
          <li class="login-list__item">
            <RouterLink :to="{name: 'Register'}">
              Регистрация
            </RouterLink>
          </li>
          <li class="login-list__item">
            <RouterLink :to="{name: 'RestorePassword'}">
              Забыли пароль?
            </RouterLink>
          </li>
        </ul>
      </footer>
    </div>
  </main>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';
  import PasswordField from '@/components/elements/PasswordField';
  import ProgressBar from '@/components/elements/ProgressBar';
  import Storage from '@/plugins/storage';


  export default {
    inject: ['$validator'],
    name: 'Auth',
    components: {
      ImageButton,
      InputField,
      PasswordField,
      ProgressBar,
    },
    data() {
      return {
        submitted: false,
        form: {
          email: '',
          password: ''
        }
      };
    },
    destroyed() {
      this.$ResetValidator();
    },
    methods: {
      async login() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.submitted = true;
        const response = await this.$store.dispatch('login', this.form);
        if (response.status === 200) {
          const me = await this.$store.dispatch('me');
          if (me.status === 200) {
            if (me.data.current_access === 2) {
              await Storage.setCrossUser();
              Storage.reset();
            } else {
              this.$router.push({name: 'Home'});
            }
          } else {
            this.$toast.error('Произошла ошибка. Попробуйте еще раз');
            this.submitted = false;
          }
        } else {
          this.$toast.errors(response.data);
          this.submitted = false;
        }
      }
    }
  }
</script>

<style scoped>
  .reg-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .reg {
    width: 540px;
    margin: auto;
  }

  .reg-caption {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #294D9C;
    text-align: center;
  }

  .logo__img {
    width: 101px;
    height: 90px;
    display: block;
    margin: 0 auto;
  }

  .reg__body {
    margin-top: 15px;
  }

  .reg-form {
    display: block;
    padding: 40px 40px 50px 40px;
    background-color: #fff;
    border-radius: 5px;
  }

  .caption {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: rgba(41, 77, 156, 0.54);
  }

  .reg__footer {
    margin-top: 25px;
    text-align: center;
  }

  .login-list__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
  }

  .login-list__item a {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    transition: .25s all ease;
  }

  .login-list__item a:hover {
    color: #294D9C;
  }

  .button {
    border: 0;
    outline: 0;
    box-shadow: none;
    width: 100%;
    height: auto;
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    background: #294D9C;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }

  .button:hover {
    background: #294D9C;
    color: #fff;
  }

  .login-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .login-list__item + .login-list__item {
    margin-left: 25px;
  }
</style>
