<template>
  <main class="reg-page">
    <div class="reg-block">
      <div class="reg-block__wrp">
        <header class="reg-block__header">
          <div class="logo">
            <svg class="logo__img">
              <use xlink:href="@/assets/sprite.svg#main_logo" />
            </svg>
          </div>
          <p class="reg-caption">
            Регистрация
          </p>
        </header>
        <div class="reg-block__body">
          <form
            class="reg-form"
            @submit.prevent="submitRegister"
          >
            <div class="row align-items-center mb20">
              <div class="col-12">
                <span
                  v-if="errors"
                  class="form-error"
                >{{ errors.first('non_field_errors') }}</span>
              </div>
              <div class="col-12">
                <label class="field-label field-label__sm">
                  Название организации
                </label>
              </div>
              <div class="col-7">
                <InputField
                  v-model="form.company_name"
                  v-validate="'required'"
                  name="company_name"
                />
              </div>
              <div class="col-5">
                <span class="input-caption">
                  Введите название <br> своей организации
                </span>
              </div>
              <div class="col-12">
                <span
                  v-if="errors"
                  class="error"
                >{{ errors.first('company_name') }}</span>
              </div>
            </div>
            <div class="row align-items-center mb20">
              <div class="col-12">
                <label class="field-label field-label__sm">
                  Адрес электронной почты
                </label>
              </div>
              <div class="col-7">
                <InputField
                  v-model="form.email"
                  v-validate="'required|email'"
                  name="email"
                />
              </div>
              <div class="col-5">
                <span class="input-caption">
                  Введите адрес вашей электронной почты
                </span>
              </div>
              <div class="col-12">
                <span
                  v-if="errors"
                  class="error"
                >{{ errors.first('email') }}</span>
              </div>
            </div>
            <div class="row align-items-center mb20">
              <div class="col-12">
                <label class="field-label field-label__sm">
                  Пароль
                </label>
              </div>
              <div class="col-4">
                <PasswordField
                  ref="password"
                  v-model="form.password"
                  v-validate="{required:true, regex:'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})'}"
                  name="password"
                />
              </div>
              <div class="col-8">
                <span class="input-caption">
                  Пароль должен содержать как минимум 8 символов <br>
                  и содержать буквы верхнего и нижниго регистров,
                  а так же цифры
                </span>
              </div>
              <div class="col-12">
                <span
                  v-if="errors"
                  class="error"
                >{{ errors.first('password') }}</span>
              </div>
            </div>
            <div class="row align-items-center mb20">
              <div class="col-12">
                <label class="field-label field-label__sm">
                  Повторите пароль
                </label>
              </div>
              <div class="col-4">
                <PasswordField
                  v-model="form.re_password"
                  v-validate="{required: true, confirmed:'password'}"
                  name="re_password"
                />
              </div>
              <div class="col-8">
                <span class="input-caption">
                  Введите пароль еще раз для подтверждения
                </span>
              </div>
              <div class="col-12">
                <span
                  v-if="errors"
                  class="error"
                >{{ errors.first('re_password') }}</span>
              </div>
            </div>
            <div class="row mt40">
              <div class="col-12">
                <ImageButton
                  class="button reg_button"
                  type="submit"
                  :disabled="submitted"
                >
                  <ProgressBar
                    v-if="submitted"
                    :size="24"
                  />
                  <span v-else>Зарегистрироваться</span>
                </ImageButton>
              </div>
            </div>
          </form>
        </div>
        <footer
          v-if="!submitted"
          class="reg-block__footer"
        >
          <ul class="login-list">
            <li class="login-list__item">
              <RouterLink :to="{name: 'Login'}">
                Войти
              </RouterLink>
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </main>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';
  import PasswordField from '@/components/elements/PasswordField';
  import ProgressBar from '@/components/elements/ProgressBar';


  export default {
    inject: ['$validator'],
    name: 'Register',
    components: {
      ImageButton,
      InputField,
      PasswordField,
      ProgressBar,
    },
    data() {
      return {
        submitted: false,
        form: {
          company_name: '',
          email: '',
          password: '',
          re_password: '',
        },
      }
    },
    destroyed() {
      this.$ResetValidator();
    },
    methods: {
      async submitRegister() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.submitted = true;
        const response = await this.$store.dispatch('register', this.form);
        if (response.status === 200) {
          this.$router.push({name: 'Home'});
        } else {
          this.$toast.errors(response.data);
        }
        this.submitted = false;
      }
    }
  }
</script>

<style scoped>
  .reg-page {
    margin: 20px auto;
    position: relative;
  }

  .reg-block {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .reg_button:hover {
    color: #ccc
  }

  .reg-block__wrp {
    width: 540px;
    margin: auto;
  }

  .reg-caption {
    margin-top: 20px;
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
    color: #294D9C;
    text-align: center;
  }

  .logo__img {
    width: 101px;
    height: 90px;
    display: block;
    margin: 0 auto;
  }

  .reg-block__body {
    margin-top: 15px;
  }

  .reg-form {
    display: block;
    padding: 40px 40px 50px 40px;
    background-color: #fff;
    border-radius: 5px;
  }

  .field-label {
    display: block;
    margin-bottom: 8px;
    line-height: 15px;
    font-size: 12px;
    color: #707070;
  }

  .mb20 {
    margin-bottom: 20px;
  }

  .input-caption {
    display: block;
    line-height: 12px;
    font-weight: 500;
    font-size: 10px;
    color: rgba(41, 77, 156, 0.54);
  }

  .reg-block__footer {
    margin-top: 25px;
    text-align: center;
  }

  .login-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .login-list__item {
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
  }

  .login-list__item button {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
  }

  .button {
    border: 0;
    outline: 0;
    box-shadow: none;
    width: 100%;
    height: auto;
    padding: 13px 20px;
    border-radius: 5px;
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
    background: #294D9C;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }

  .mt40 {
    margin-top: 40px;
  }

  .error {
    color: red;
    line-height: 17px;
    font-weight: 200;
    font-size: 9px;
  }
</style>
