<template>
  <main class="reg-page">
    <div class="reg">
      <header class="reg__header">
        <div class="logo">
          <svg class="logo__img">
            <use xlink:href="@/assets/sprite.svg#main_logo" />
          </svg>
        </div>
      </header>
      <div class="reg__body">
        <div class="success-block">
          <svg class="success-icon">
            <use xlink:href="@/assets/sprite.svg#check" />
          </svg>
          <p class="desc">
            <template v-if="type === 'restoresuccess'">
              На ваш на e-mail адрес высланы иструкции по восстановлению пароля
            </template>
            <template v-if="type === 'resetsuccess'">
              Ваш пароль сброшен
            </template>
          </p>
          <p
            v-if="type === 'resetsuccess'"
            class="caption"
          >
            После авторизации можете сменить пароль в профиле пользователя
          </p>

          <footer class="mt-4">
            <RouterLink
              class="btn btn-fill success-block__button"
              :to="{name: 'Login'}"
            >
              Вернуться на страницу входа
            </RouterLink>
          </footer>
        </div>
      </div>
    </div>
  </main>
</template>

<script>

  export default {
    name: 'ResetSuccess',
    data() {
      return {
        form: {
          email: '',
        },
        type: '',
      }
    },
    watch: {
      '$route'() {
        this.setType();
        setTimeout(() => this.$router.push({name: 'Login'}), 5000);
      }
    },
    created(){
      this.setType();
      setTimeout(() => this.$router.push({name: 'Login'}), 5000);
    },
    methods: {
      setType() {
        this.type = this.$route.name.toLowerCase();
      }
    }
  }
</script>

<style scoped>
  .reg-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .reg {
    width: 540px;
    margin: auto;
  }

  .desc {
    margin: 0;
    font-weight: 700;
    color: #363636;
  }

  .caption {
    margin: 25px 0 0 0;
    color: rgba(0, 0, 0, 0.54);
  }

  .logo__img {
    width: 101px;
    height: 90px;
    display: block;
    margin: 0 auto;
  }

  .reg__body {
    margin-top: 15px;
  }

  .success-block {
    display: block;
    padding: 20px 80px 40px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
  }

  .success-block__button {
    width: 100%;
    height: 40px;
  }

  .success-icon {
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 80px;
    fill: #6CAA2F;
  }


</style>
