<template>
  <main class="reg-page">
    <div class="reg">
      <header class="reg__header">
        <div class="logo">
          <svg class="logo__img">
            <use xlink:href="@/assets/sprite.svg#main_logo" />
          </svg>
        </div>
        <h1 class="title">
          Восстановление пароля
        </h1>
      </header>
      <div class="reg__body">
        <form
          class="reg-form"
          @submit.prevent="submit"
        >
          <div
            v-if="errors.items.length"
            class="error mb-2"
          >
            {{ errors.first('non_field_errors') }}
          </div>
          <div>
            <label class="field-label">
              Введите адрес электронной почты указанный при регистрации
            </label>
            <InputField
              v-model="form.email"
              v-validate="{required: true, email: true}"
              name="email"
            />
            <div
              v-if="errors"
              class="col-12"
            >
              <span class="error">{{ errors.first('email') }}</span>
            </div>
          </div>
          <div class="mt-4">
            <ActionButton
              class="btn--submit"
              type="submit"
              color="blue"
            >
              Восстановить
            </ActionButton>
          </div>
        </form>
      </div>
      <footer class="reg__footer">
        <ul class="login-list">
          <li class="login-list__item">
            <RouterLink :to="{name: 'Login'}">
              Войти
            </RouterLink>
          </li>
          <li class="login-list__item">
            <RouterLink :to="{name: 'Register'}">
              Регистрация
            </RouterLink>
          </li>
        </ul>
      </footer>
    </div>
  </main>
</template>

<script>
  import ActionButton from '@/components/elements/ActionButton';
  import InputField from '@/components/elements/InputField';
  import {mapActions} from 'vuex';

  export default {
    inject: ['$validator'],
    name: 'RestorePassword',
    components: {
      ActionButton,
      InputField,
    },
    data() {
      return {
        form: {
          email: '',
        },
      }
    },
    methods: {
      ...mapActions(['restorePassword']),
      async submit(){
        const result = await this.$validator.validate();
        if (!result) return;

        const response = await this.restorePassword(this.form);
        if(response.status === 204){
          this.$router.push({name: 'RestoreSuccess'});
        }else{
          this.$noty.error("Ошибка при отправке email");
        }
      },
    }
  }
</script>

<style scoped>
  .reg-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .reg {
    width: 440px;
    margin: auto;
  }

  .title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #294D9C;
    text-align: center;
  }

  .logo__img {
    width: 101px;
    height: 90px;
    display: block;
    margin: 0 auto;
  }

  .reg__body {
    margin-top: 15px;
  }

  .reg-form {
    display: block;
    padding: 40px 40px 50px 40px;
    background-color: #fff;
    border-radius: 5px;
  }

  .field-label {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 15px;
    color: #707070;
  }

  .reg__footer {
    margin-top: 25px;
    text-align: center;
  }

  .login-list__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
  }

  .login-list__item a {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    transition: .25s all ease;
  }

  .login-list__item a:hover {
    color: #294D9C;
  }

  .login-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .login-list__item + .login-list__item {
    margin-left: 25px;
  }

  .btn--submit {
    width: 100%;
    height: 44px;
    font-size: 14px;
  }

</style>
