<template>
  <Modal
    name="edit-employee"
    class="modal"
    width="450"
    height="600"
    @before-open="getExtras($event)"
  >
    <div
      v-if="employee"
      class="modal-box"
    >
      <ImageButton
        class="modal-close"
        @click="$modal.hide('edit-employee')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <header class="modal-header">
        <h1 class="modal-title">
          {{ employee.name }}
        </h1>
      </header>

      <form
        class="form"
        @submit.prevent="save"
      >
        <ScrollWrap class="scroll">
          <div class="row">
            <div class="col-12 flex-col">
              <label
                for="name"
                class="field-caption"
              >ФИО</label>
              <InputField
                v-model="employee.name"
                v-validate="'required'"
                name="name"
              />
              <div
                v-show="errors.has('name')"
                class="errors"
              >
                <span class="error">{{ errors.first('name') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label
                class="field-caption"
              >Документ</label>
            </div>
            <div class="col-4">
              <InputField
                v-model="employee.document.serial"
                v-validate="'required|numeric|min:2'"
                name="documentSerial"
              />
              <div
                v-show="errors.has('documentSerial')"
                class="errors"
              >
                <span class="error">{{ errors.first('documentSerial') }}</span>
              </div>
            </div>
            <div class="col-6">
              <InputField
                v-model="employee.document.number"
                v-validate="'required|numeric|min:2'"
                name="documentNumber"
              />
              <div
                v-show="errors.has('documentNumber')"
                class="errors"
              >
                <span class="error">{{ errors.first('documentNumber') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 flex-col">
              <label
                for="name"
                class="field-caption"
              >Выдан</label>
              <InputField
                v-model="employee.document.issued_by"
                name="documantIssuedBy"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h1 class="field-header">
                Контакты
              </h1>
            </div>
            <div class="col-8 flex-col">
              <label
                for="phone"
                class="field-caption"
              >Телефон</label>
              <InputField
                v-model="employee.phone"
                v-validate="'required'"
                name="phone"
              />
              <div
                v-show="errors.has('phone')"
                class="errors"
              >
                <span class="error">{{ errors.first('phone') }}</span>
              </div>
            </div>
            <div class="col-8 flex-col">
              <label
                for="email"
                class="field-caption"
              >Почта</label>
              <InputField
                v-model="employee.user.email"
                v-validate="'required|email'"
                name="email"
              />
              <div
                v-show="errors.has('email')"
                class="errors"
              >
                <span class="error">{{ errors.first('email') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h1 class="field-header">
                Работа
              </h1>
            </div>
            <div class="col-8 flex-col">
              <label
                for="phone"
                class="field-caption"
              >Должность</label>
              <Select
                v-model="employee.current_work.position"
                v-validate="'required'"
                caption="Выберите Должность"
                :disabled="true"
                :items="positions"
                name="position"
              />
              <div
                v-show="errors.has('position')"
                class="errors"
              >
                <span class="error">{{ errors.first('position') }}</span>
              </div>
            </div>
            <div class="col-8 flex-col">
              <label
                for="phone"
                class="field-caption"
              >Магазин</label>
              <Select
                v-model="employee.current_work.shop"
                v-validate="'required'"
                caption="Выберите Магазин"
                :disabled="true"
                :items="shops"
                name="shop"
              />
              <div
                v-show="errors.has('shop')"
                class="errors"
              >
                <span class="error">{{ errors.first('shop') }}</span>
              </div>
            </div>
            <div class="col-8 flex-col">
              <label
                for="salary"
                class="field-caption"
              >Оклад</label>
              <InputField
                v-model="employee.current_work.salary"
                v-validate="'required|numeric|min:4|max:11'"
                name="salary"
              />
              <div
                v-show="errors.has('salary')"
                class="errors"
              >
                <span class="error">{{ errors.first('salary') }}</span>
              </div>
            </div>
          </div>
        </ScrollWrap>
        <footer class="modal-footer">
          <div
            v-if="loading"
            class="loading"
          >
            <ProgressBar
              message="Подождите"
              :size="32"
            />
          </div>
          <ImageButton
            v-else
            type="submit"
            class="btn--save mr-5"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Сохранить</span>
          </ImageButton>
        </footer>
      </form>
    </div>
  </Modal>
</template>

<script>
import ImageButton from "@/components/elements/ImageButton";
import ScrollWrap from "@/layouts/ScrollWrap";
import InputField from "@/components/elements/InputField";
import Select from "@/components/elements/Select";
import ProgressBar from "@/components/elements/ProgressBar";
import {mapActions} from "vuex"

export default {
  inject: ["$validator"],
  name: "EditEmployeeModal",
  components: { 
    ImageButton, 
    ScrollWrap, 
    InputField, 
    Select,
    ProgressBar
  },
  data() {
    return {
      shops: [],
      positions: [],
      employee: null,
      loading: false,
    };
  },
  destroyed() {
    this.$ResetValidator();
  },
  methods: {
    ...mapActions(["updateEmployee"]),
    async save() {
      const result = await this.$validator.validate();
      if (!result) return;
      const form = {
        id: this.employee.id,
        name: this.employee.name,
        phone: this.employee.phone,
        shop: this.employee.current_work.shop,
        position: this.employee.current_work.position,
        salary: this.employee.current_work.salary,
        email: this.employee.user.email,
        document: this.employee.document,
        is_cashier: this.employee.current_work.is_cashier
      }
      const rep = await this.updateEmployee(form);
      if(rep.status === 201){
        this.$emit("update-callback");
        this.$modal.hide("edit-employee");
        this.$toast.success("данные успешно обновлены");
      }else{
        this.$toast.error("произошла ошибка попробуйте еще раз!");
      }
      this.loading = false;
    },
    getExtras(extras) {
      this.employee = extras.params.employee || null;
      this.positions = extras.params.positions || [];
      this.shops = extras.params.shops ||  [];
    }
  },
};
</script>

<style scoped>
.modal-box {
  height: 100%;
  position: relative;
  padding: 25px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  margin-bottom: 25px;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.428rem;
  font-weight: 500;
}
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form .scroll {
  flex: 1;
  max-height: 500px;
}
.modal-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.btn--save {
  color: #294d9c;
  font-size: 1rem;
}
.btn--save {
  border: 0;
  padding: 0;
}
.btn--save svg {
  fill: #294d9c;
}
.field-caption {
  margin: 0 0 5px 0;
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.field-text {
  display: block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  color: rgba(41, 77, 156, 0.54);
}
.row, .flex-col{
  margin-top: 10px;
}
.field-header{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.loading{
  display: flex;
  justify-content: center;
}
</style>
