<template>
  <Modal
    name="create-employee"
    class="modal"
    width="450"
    height="650"
    @closed="clear"
  >
    <div class="modal-employee">
      <ImageButton
        class="modal-close"
        @click="$modal.hide('create-employee')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>
      <h2 class="modal-title">
        Новый сотрудник
      </h2>
      <!-- progressbar -->
      <div
        v-if="order === -1"
        class="row loader"
      >
        <ProgressBar />
      </div>

      <div class="row">
        <div class="col-12">
          <span
            v-if="errors"
            class="form-error"
          >{{ errors.first('non_field_errors') }}</span>
        </div>
      </div>
      <TransitionGroup name="wizard">
        <form
          v-if="order === 0"
          key="0"
          class="form"
          @submit.prevent="next"
        >
          <div class="info-block">
            <h3 class="title">
              Профиль
            </h3>
            <ul class="info-list">
              <li class="info-list__item">
                <label class="field-caption">ФИО</label>
                <div class="row">
                  <div class="col-12">
                    <InputField
                      v-model="form.name"
                      v-validate="'required'"
                      name="name"
                    />
                    <div
                      v-show="errors.has('name')"
                      class="errors"
                    >
                      <span class="error">{{ errors.first('name') }}</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="info-list__item">
                <label class="field-caption">Почта</label>
                <div class="row">
                  <div class="col-12">
                    <InputField
                      v-model="form.email"
                      v-validate="'required|email'"
                      name="email"
                    />
                    <div
                      v-show="errors.has('email')"
                      class="errors"
                    >
                      <span class="error">{{ errors.first('email') }}</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="info-list__item">
                <label class="field-caption">Пароль</label>
                <div class="row">
                  <div class="col-6">
                    <div class="input-wrp">
                      <PasswordField
                        ref="password"
                        v-model="form.password"
                        v-validate="{required:true, regex:'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})'}"
                        name="password"
                      />
                    </div>
                    <div
                      v-show="errors.has('password')"
                      class="errors"
                    >
                      <span class="error">{{ errors.first('password') }}</span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="field-text">
                      Пароль должен быть длиной от 6 до 12 символов
                      и содержать буквы верхнего и нижниго регистров,
                      а так же цифры
                    </div>
                  </div>
                </div>
              </li>
              <li class="info-list__item">
                <label class="field-caption">Подтвердите пароль</label>
                <div class="row">
                  <div class="col-6">
                    <div class="input-wrp">
                      <PasswordField
                        v-model="form.re_password"
                        v-validate="{required: true, confirmed:'password'}"
                        name="re_password"
                      />
                    </div>
                    <div
                      v-show="errors.has('re_password')"
                      class="errors"
                    >
                      <span class="error">{{ errors.first('re_password') }}</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <footer class="modal-employee__footer">
            <ImageButton
              class="save-btn"
              type="submit"
            >
              Следующий
            </ImageButton>
          </footer>
        </form>

        <!-- информация о сотруднике -->
        <form
          v-if="order === 1"
          key="1"
          class="form"
          @submit.prevent="next2"
        >
          <ScrollWrap class="form-scroll">
            <div class="bloc">
              <div class="info-block">
                <h3 class="title">
                  информация о сотруднике
                </h3>
                <ul class="info-list">
                  <li class="info-list__item">
                    <label class="field-caption">Пол</label>
                    <div class="row">
                      <div class="col-12">
                        <SelectList
                          v-model="form.gender"
                          v-validate="'required'"
                          caption="Выберите пол"
                          :items="genders"
                          name="gender"
                        />
                        <div
                          v-show="errors.has('gender')"
                          class="errors"
                        >
                          <span class="error">{{ errors.first('gender') }}</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="info-list__item">
                    <label class="field-caption">Дата рождения</label>
                    <div class="row">
                      <div class="col-12">
                        <DatePicker
                          v-model="form.birthday"
                          v-validate="{required: false}"
                          name="birthday"
                          @change="getBirthday"
                        />
                        <div
                          v-show="errors.has('birthday')"
                          class="errors"
                        >
                          <span class="error">{{ errors.first('birthday') }}</span>
                        </div>
                      </div>
                    </div>
                  </li>

                  <!-- Документ -->
                  <li class="info-list__item">
                    <label class="field-caption">Документ</label>
                    <div class="row">
                      <div class="col-4">
                        <InputField
                          v-model="form.document.serial"
                          v-validate="{required: false,numeric:true}"
                          placeholder="серия"
                          name="serial"
                        />
                        <div
                          v-show="errors.has('serial')"
                          class="errors"
                        >
                          <span class="error">{{ errors.first('serial') }}</span>
                        </div>
                      </div>
                      <div class="col-6">
                        <InputField
                          v-model="form.document.number"
                          v-validate="{required: false,numeric:true}"
                          placeholder="Номер"
                          name="number"
                        />
                        <div
                          v-show="errors.has('number')"
                          class="errors"
                        >
                          <span class="error">{{ errors.first('number') }}</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="info-list__item">
                    <label class="field-caption">Выдан</label>
                    <TextField
                      v-model="form.document.issued_by"
                      v-validate="{required: false}"
                      class="label-textarea"
                      name="issued_by"
                    />
                    <div
                      v-show="errors.has('issued_by')"
                      class="errors"
                    >
                      <span class="error">{{ errors.first('issued_by') }}</span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="info-block">
                <h3 class="title">
                  Контакты
                </h3>
                <ul class="info-list">
                  <li class="row info-list__item">
                    <div class="col-7">
                      <label class="field-caption">Телефон</label>
                      <InputField
                        v-model="form.phone"
                        v-validate="'required'"
                        name="phone"
                      />
                      <div
                        v-show="errors.has('phone')"
                        class="errors"
                      >
                        <span class="error">{{ errors.first('phone') }}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </ScrollWrap>

          <footer class="modal-employee__footer">
            <ImageButton
              class="save-btn"
              @click="order = 0"
            >
              Предыдущий
            </ImageButton>
            <ImageButton
              class="save-btn"
              type="submit"
            >
              Следующий
            </ImageButton>
          </footer>
        </form>
        <!-- form 3 -->
        <form
          v-if="order === 2"
          key="2"
          class="form"
          @submit.prevent="save"
        >
          <ScrollWrap class="form-scroll">
            <div class="bloc">
              <div class="info-block">
                <h3 class="title">
                  Работа
                </h3>
                <ul class="info-list">
                  <li class="row info-list__item">
                    <div class="col-12">
                      <label class="field-caption">Должность</label>
                      <SelectList
                        v-model="form.position"
                        v-validate="'required'"
                        caption="Выберите должность"
                        :items="positions"
                        name="position"
                      />
                      <div
                        v-show="errors.has('position')"
                        class="errors"
                      >
                        <span class="error">{{ errors.first('position') }}</span>
                      </div>
                    </div>
                  </li>
                  <li class="row info-list__item">
                    <div class="col-12">
                      <label class="field-caption">Магазин</label>
                      <SelectList
                        v-model="form.shop"
                        v-validate="'required'"
                        caption="Выберите магазин"
                        :items="shops"
                        name="shop"
                      />
                      <div
                        v-show="errors.has('shop')"
                        class="errors"
                      >
                        <span class="error">{{ errors.first('shop') }}</span>
                      </div>
                    </div>
                  </li>
                  <li class="row info-list__item">
                    <div class="col-12">
                      <label class="field-caption">Оклад</label>
                      <InputField
                        v-model="form.salary"
                        v-validate="'required|numeric|min:4|max:11'"
                        name="salary"
                      />
                      <div
                        v-show="errors.has('salary')"
                        class="errors"
                      >
                        <span class="error">{{ errors.first('salary') }}</span>
                      </div>
                    </div>
                  </li>
                  <li class="row info-list__item">
                    <div class="col-12">
                      <label class="field-caption">Уровень доступа</label>
                      <SelectList
                        v-model="form.is_cashier"
                        v-validate="'required'"
                        caption="Уровень доступа"
                        :items="accessLevel"
                        :disabled="true"
                        name="access"
                      />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </ScrollWrap>
          <footer class="modal-employee__footer">
            <ImageButton
              class="save-btn"
              @click="order = 1"
            >
              Предыдущий
            </ImageButton>
            <ImageButton
              class="save-btn"
              type="submit"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#check" />
              </svg>
              Сохранить
            </ImageButton>
          </footer>
        </form>
      </TransitionGroup>
    </div>
  </Modal>
</template>

<script>
  import DatePicker from '@/components/elements/DatePicker';
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';
  import PasswordField from '@/components/elements/PasswordField';
  import ProgressBar from '@/components/elements/ProgressBar';
  import SelectList from '@/components/elements/Select';
  import TextField from '@/components/elements/TextField';
  import ScrollWrap from '@/layouts/ScrollWrap';


  export default {
    inject: ['$validator'],
    name: 'CreateEmployeeModal',
    components: {
      DatePicker,
      ImageButton,
      InputField,
      PasswordField,
      ProgressBar,
      SelectList,
      ScrollWrap,
      TextField,
    },
    props: {
      shops: {type: Array, required: true},
      positions: {type: Array, required: true}
    },
    data() {
      return {
        order: 0,
        genders: [
          {id: 'MALE', name: 'Мужской'},
          {id: 'FEMALE', name: 'Женский'}
        ],
        form: {
          email: '',
          password: '',
          re_password: '',
          is_cashier: null,
          salary: null,
          name: '',
          phone: '',
          gender: null,
          document: {
            serial: null,
            number: null,
            issued_by: null
          },
          birthday: null,
          shop: null,
          position: null
        },
        accessLevel: [
          {
            id: 1,
            name: 'Интерфейс Менеджера'
          },
          {
            id: 2,
            name: 'Интерфейс Кассира'
          }
        ]
      };
    },
    destroyed() {
      this.$ResetValidator();
    },
    methods: {
      getBirthday(date) {
        this.form.birthday = this.$date.toDateFormat(date, '-');
      },
      async clear() {
        await this.$validator.reset();
        Object.assign(this.$data, this.$options.data());
        this.errors.clear();
      },
      async next() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.order = 1;
      },
      async next2() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.order = 2;
      },
      async save() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.order = -1;
        const response = await this.$store.dispatch('addEmployee', this.form);
        if (response.status === 201) {
          this.order = 0;
          this.$toast.success('Сотрудник успешно создан!');
          this.$modal.hide('create-employee');
        } else {
          this.order = 2;
          this.$toast.error('Произошла ошибка. Попробуйте еще раз!');
        }
      }
    }
  };
</script>

<style scoped>
  .wizard-enter-active {
    transition: all 1s;
  }

  .wizard-leave-active {
    transition: all 0.5s;
  }

  .wizard-enter,
  .wizard-leave-to {
    opacity: 0;
    transform: translateX(200px);
  }

  .loader {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal-employee .form {
    position: absolute;
    background-color: #ffffff;
    height: 600px;
    padding: 30px 50px 30px 30px;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .errors {
    padding-top: 5px;
  }

  .errors .error {
    color: tomato;
    font-size: 11px;
  }

  .modal-employee {
    position: relative;
    margin: auto;
    padding: 30px 50px 30px 30px;
    border-radius: 5px;
    background-color: #fff;
  }

  .modal-title {
    margin: 0 0 40px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
  }

  .label-textarea >>> textarea {
    height: 50px;
    padding: 10px 20px;
  }

  .title {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
  }

  .info-block + .info-block {
    margin-top: 35px;
  }

  .info-list {
    margin: 15px 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  .info-list__item + .info-list__item {
    margin-top: 20px;
  }

  .modal-employee__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .field-caption {
    margin: 0 0 5px 0;
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  .field-text {
    display: block;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    color: rgba(41, 77, 156, 0.54);
  }

  .input-wrp {
    position: relative;
    transform-style: preserve-3d;
  }

  .save-btn >>> svg {
    margin-right: 5px;
    fill: #294d9c;
  }
</style>
