<template>
<!-- eslint-disable -->
  <div class="main_filter">
    <div class="row align-items-center">
      <div class="col-3">
        <SearchField  placeholder="Поиск по номеру" @input="onSearchChange"/>
      </div>
      <div class="col-3">
        <DatePicker class="date-field" @change="onPeriodChange" :range="true"/>
      </div>
      <div class="col-3">
        <SelectList caption="Все магазины" :items="listShops" @input="onShopChange"/>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
import DatePicker from "@/components/elements/DatePicker"
import SearchField from "@/components/elements/SearchField"
import SelectList from "@/components/elements/Select"

export default {
  name: "ReturnsActionbar",
  components: {
     DatePicker,
     SearchField,
     SelectList
  },
  props: {
    listShops: {type: Array, required: true }
  },
  methods: {
    onPeriodChange(dates){
     this.$emit("period-changed", dates)     
    },
    onSearchChange(e){
     this.$emit("search-changed", e)  
    },
    onShopChange(shopId) {
      this.$emit('shop-changed', shopId)
    }
 }
}
</script>

<style scoped>
  .main_filter {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }
  .select {
    border: 1px solid #294D9C;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
  }

</style>
