<template>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>N°</th>
        <th>Наименование товара</th>
        <th>Кол-во</th>
        <th>Цена</th>
        <th />
      </tr>
    </thead>
    <tbody v-if="positions.length > 0">
      <tr
        v-for="(position, i) in positions"
        :key="position.product.id"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ getProductName(position.product) }}</td>
        <td>{{ position.count }} шт.</td>
        <td>{{ position.amount }} ₽.</td>
        <td
          style="width: 35px"
          @click="$modal.show('actions-return', {action: 'delete-returnline', id: i})"
        >
          <ImageButton class="btn-remove">
            <svg>
              <use xlink:href="@/assets/sprite.svg#remove_circle" />
            </svg>
          </ImageButton>
        </td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr>
        <td
          colspan="5"
          align="center"
        >
          Нет позиций возврата
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import ImageButton from "@/components/elements/ImageButton"
export default {
  name: 'ReturnInfoTable',
  components:{ImageButton},
  props: {
    positions: {type: Array, required: true},
    products: {type: Array, required: true},
  },
  methods: {
    getProductName(id){
      const product = this.products.find(p => p.id === parseInt(id))
      if (product) return product.name

      return ''
    },
  }
}
</script>

<style scoped>
 @media print {
   .btn-remove {
      display: none !important;
      visibility: hidden;
    }
  }
</style>
