<template>
  <div class="actionbar">
    <div class="row align-items-center">
      <div class="col-3">
        <SearchField
          ref="searchByNumber"
          :placeholder="placeholder"
          @input="handlerForNumberInput"
        />
      </div>
      <div class="col-3">
        <SelectList
          caption="Выберите магазин"
          :items="shops"
          class="select"
          @input="handlerForSelectShop"
        />
      </div>
      <div class="col-3">
        <DateField @change="handlerForDateSort" />
      </div>
      <div class="col-3 d-flex justify-content-end">
        <ActionButton
          class="btn--print"
          @click="print"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#print" />
          </svg>
          <span>Напечать</span>
        </ActionButton>
      </div>
    </div>
  </div>
</template>

<script>
  import DateField from '@/components/elements/DateField';
  import SearchField from '@/components/elements/SearchField';
  import SelectList from '@/components/elements/Select';
  import ActionButton from '@/components/elements/ActionButton';
  import {mapActions} from 'vuex';


  export default {
    name: 'Actionbar',
    components: {
      DateField,
      SearchField,
      SelectList,
      ActionButton
    },
    props: {
      placeholder: {
        type: String,
        default: ''
      },
      shops: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    methods: {
      ...mapActions(['setSaleArrayDate']),

      handlerForSelectShop(value) {
        this.$eventBus.$emit('set-sale-shopId', {id: value});
        this.$eventBus.$emit('change-sales-params');
      },
      handlerForNumberInput(e) {
        let replaceVal = e.replace(/[^\d;]/g, '');
        this.$refs.searchByNumber.$el.children[0].value = replaceVal;
        let id = parseInt(replaceVal, 10);
        if (!isNaN(id)) {
          this.$eventBus.$emit('set-sale-searchId', {id: id});
        } else {
          this.$eventBus.$emit('set-sale-searchId', {id: ''});
        }
        this.$eventBus.$emit('change-sales-params');
      },
      handlerForDateSort(dates) {
        this.setSaleArrayDate(dates);
        this.$eventBus.$emit('change-sales-params');
      },
      print(){
        window.print();
      }
    }
  }
</script>

<style scoped>

  .actionbar {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }


  .btn--print svg{
    width: 18px;
    height: 18px;
  }

    @media print {
    .actionbar {
      display: none;
    }
  }

</style>
