<template>
<!-- eslint-disable -->
  <tbody>
  <tr>
    <td colspan="7">
      {{date}}
    </td>
  </tr>
  <tr v-for="sale in sales" :key="sale.id">
    <td>
      <router-link class="router-link" :to="{name: 'SalesSingle', params: {id: sale.id}}">
        {{`${sale.number}`.padStart(6, '0')}}
      </router-link>
    </td>
    <td>{{new Date(sale.created_at).getHours()}}:{{new Date(sale.created_at).getMinutes()}}</td>
    <td>{{sale.positions.length}}</td>
    <td>{{sale.amount}}</td>
    <td>{{sale.client.name}}</td>
    <td>{{sale.shift.cashbox.shop.name}}</td>
    <td>{{sale.created_by.email}}</td>
  </tr>
  </tbody>
</template>

<script>
  /* eslint-disable */
  export default {
    name: 'SalesItem',
    props: {
      sales: {
        type: Array,
        required: true
      },
      date: {
        type: String,
        required: true
      }
    }
  }
</script>
