<template>
<!-- eslint-disable -->
  <tr class="procurement-table__item">
    <td>
      {{position.id}}
    </td>
    <td>
      {{position.product.name}}
    </td>
    <td>
      {{position.count}}
    </td>
    <td>
      {{position.sum}}
    </td>
    <td>
      {{position.discount_sum}}
    </td>
    <td>
      {{position.client_discount_sum}}
    </td>
    <td>
      {{position.amount}}
    </td>
  </tr>
</template>

<script>
  /* eslint-disable */
  export default {
    name: 'SalesSingleTableItem',
    props: {
      position: {},
    }
  }
</script>

<style scoped>

  .procurement-table__item td {
    padding: 15px;
  }

  .procurement-table__item{
    background-color: #fff;
  }

  .procurement-table__item:nth-child(even) {
    background-color: #EEEEEE;
  }

</style>
