<template>
<!-- eslint-disable -->
  <div>
    <table class="procurement-table">
      <thead class="procurement-table__header">
      <tr>
        <th>
          №
        </th>
        <th>
          Наименование
        </th>
        <th>
          Кол-во
        </th>
        <th>
          Сумма
        </th>
        <th>
          Скидка товара
        </th>
        <th>
          Скидка клиента
        </th>
        <th>
          Итого
        </th>
      </tr>
      </thead>

      <tbody v-if="currentSale">
      <SingleTableItem v-for="position in currentSale.positions" :position="position" :key="position.id"/>
      </tbody>

    </table>
  </div>
</template>

<script>
  /* eslint-disable */
  import SingleTableItem from '@/components/sales/SingleTableItem'
  import {mapGetters} from 'vuex';

  export default {
    name: 'SalesSingleTable',
    computed: mapGetters(['currentSale']),
    components: {
      SingleTableItem
    }
  }
</script>

<style scoped>

  .procurement-table {
    width: 100%;
    border-collapse: collapse;
  }

  .procurement-table td {
    padding: 15px;
  }

  .procurement-table__header th {
    padding: 20px 15px;
    background: rgba(41, 77, 156, 0.54);
    font: 400 14px/18px 'Montserrat', sans-serif;
    color: #fff;
    text-align: left;
  }

  .procurement-table__header th:first-child {
    border-top-left-radius: 5px;
  }

  .procurement-table__header th:last-child {
    border-top-right-radius: 5px;
  }

</style>
