<template>
<!-- eslint-disable -->
  <div>
    <div class="procurement-filter">
      <div class="mb-4">
        <h1 class="main-title" v-if="currentSale">
          <router-link class="router-link arrow-back" to="/sales">
            <svg>
              <use xlink:href="@/assets/sprite.svg#back"></use>
            </svg>
          </router-link>
          №{{ `${currentSale.number}`.padStart(6, '0') }} от
          {{this.formatDate(currentSale.created_at)}}
        </h1>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-3">
          <p class="field-caption">
            Магазин
          </p>
          <p class="text" v-if="currentSale.shift && currentSale.shift.cashbox && currentSale.shift.cashbox.shop">
            {{currentSale.shift.cashbox.shop.name}}
          </p>
        </div>
        <div class="col-3">
          <p class="field-caption">
            Продавец
          </p>
          <p class="text" v-if="currentSale.created_by">
            {{currentSale.created_by.email}}
          </p>
        </div>
        <div class="col-3">
          <p class="field-caption">
            Клиент
          </p>
          <p class="text" v-if="currentSale.client">
            <router-link class="router-link" :to="{name: ' Clients', params: {id: currentSale.client}}">
              {{currentSale.client.name}}
            </router-link>
          </p>
        </div>
        <div class="col-3">
          <ActionButton class="btn--print" @click="print">
            <svg>
              <use xlink:href="@/assets/sprite.svg#print"></use>
            </svg>
            <span>Напечать документ</span>
          </ActionButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import ActionButton from '@/components/elements/ActionButton'
  import LinkButton from '@/components/elements/LinkButton'
  import {mapGetters} from 'vuex';

  export default {
    name: 'SalesSingleActionBar',
    components: {
      ActionButton,
      LinkButton,
    },
    computed: mapGetters(['currentSale']),
    methods: {
      formatDate(str) {
        let date = new Date(str);
        let dd = date.getDate();
        let mm = date.getMonth() + 1;//January is 0!

        const yyyy = date.getFullYear();
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        date = dd + '-' + mm + '-' + yyyy;

        return date
      },
      print() {
        window.print()
      }
    }
  }
</script>

<style scoped>

  @media print {
    .arrow-back {
      display: none;
    }
  }

  .btn--print >>> svg {
    width: 20px;
    height: 18px;
    fill: #294D9C;
  }

  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .field-caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  .text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  @media print {
    .btn--print, #back, .header__nav, .aside_nav {
      display: none !important;
      visibility: hidden;
    }
  }
</style>
