<template>
  <tbody>
    <tr>
      <td colspan="7">
        <time class="date">{{ date }}</time>
      </td>
    </tr>
    <tr
      v-for="procurement in procurements"
      :key="procurement.id"
      :class="{'not-posted' : !procurement.is_posted}"
    >
      <td>
        <RouterLink
          class="router-link"
          :to="{name: 'ProcurementSingle', params: {id: procurement.id}}"
        >
          {{ `${procurement.number}`.padStart(6, '0') }}
        </RouterLink>
      </td>
      <td>
        {{ new Date(procurement.created_at).getHours() }} :
        {{ new Date(procurement.created_at).getMinutes() }}
      </td>
      <td>
        <span v-if="procurement.positions.length">
          {{ procurement.positions.length }}
        </span>
      </td>
      <td>
        <RouterLink
          class="router-link"
          :to="{name: 'Shops', params: {id: procurement.shop.id}}"
        >
          {{ procurement.shop.name }}
        </RouterLink>
      </td>
      <td>
        <span v-if="procurement.provider">
          {{ procurement.provider.name }}
        </span>
      </td>
      <td>
        <svg
          v-if="procurement.is_posted"
          class="icon icon--posted"
        >
          <use xlink:href="@/assets/sprite.svg#check_circle" />
        </svg>
        <svg
          v-else
          class="icon icon--not-posted"
        >
          <use xlink:href="@/assets/sprite.svg#check_circle" />
        </svg>
      </td>
    </tr>
  </tbody>
</template>

<script>
  export default {
    name: 'ProcurementsIndexTableItem',
    props: {
      procurements: {
        type: Array,
        required: true
      },
      date: {
        type: String,
        required: true
      }
    }
  }
</script>

<style scoped>

  .date {
    color: #757575;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .icon--posted {
    fill: #81C784;
  }

  .icon--not-posted {
    fill: #757575;
  }

  .not-posted td, .not-posted a{
    color: #757575;
  }

</style>
