<template>
<!-- eslint-disable -->
  <tr class="procurement-table__item">

    <td v-if="!isNotPosted">
      {{position.product.id}}
    </td>
    <td>
      {{position.product.name}}
    </td>
    <td>
      {{position.count}}
    </td>
    <td>
      {{position.purchases}}
    </td>
    <td>
      {{position.wholesale}}
    </td>
    <td>
      {{position.retail}}
    </td>

    <td v-if="this.$route.name === 'ProcurementEditSingle' || this.$route.name === 'ProcurementNewSingle'">
      <ImageButton @click="deleteProcurementPosition({id: position.id})"
         class="btn-remove">
        <svg>
          <use xlink:href="@/assets/sprite.svg#remove_circle"></use>
        </svg>
      </ImageButton>
    </td>
  </tr>
</template>

<script>
  /* eslint-disable */

  import {mapActions} from "vuex";
  import ImageButton from "../../elements/ImageButton";

  export default {
    name: 'ProcurementsSingleTableItem',
    components: {
      ImageButton
    },
    props: {
      position: {},
      isNotPosted: false
    },
    methods: {
      ...mapActions([
        'deleteProcurementPosition',
      ]),
    },
  }
</script>

<style scoped>

  .procurement-table__item td {
    padding: 15px;
  }

  .procurement-table__item{
    background-color: #fff;
  }

  .procurement-table__item:nth-child(even) {
    background-color: #EEEEEE;
  }

  .btn-remove {
    display: inline-block;
  }

  .btn-remove >>> svg {
    width: 24px;
    height: 24px;
  }

</style>
