<template>
  <div>
    <table class="procurement-table">
      <thead class="procurement-table__header">
        <tr :class="{'procurement-table__header-row': isNewProcurement}">
          <th v-if="!isNotPosted">
            №
          </th>
          <th>Наименование</th>
          <th>Кол-во</th>
          <th>Закупочная цена</th>
          <th>Оптовая цена</th>
          <th>Розничная цена</th>
          <th v-if="this.$route.name === 'ProcurementEditSingle' || this.$route.name === 'ProcurementNewSingle'" />
        </tr>
      </thead>

      <tbody
        class="procurement-table__body"
        :class="{'procurement-table__body--reverse': isNewProcurement}"
      >
        <template v-if="procurement">
          <SingleTableItem
            v-for="position in procurement.positions"
            :key="position.id"
            :position="position"
            :is-remove="isRemove"
            :is-not-posted="isNotPosted"
          />
        </template>
        <template v-if="isEdit || isNewProcurement">
          <SingleTableNewItem
            v-for="(position, index) in newPositions"
            :key="position.product"
            :index="index"
            :position="position"
          />
        </template>
      </tbody>
    </table>

    <div
      v-if="isPositionEmpty"
      class="not-found"
    >
      Нет позиций поступления
    </div>
    <div
      v-if="!isNotPosted"
      class="total"
    >
      <table class="total-table">
        <caption class="total-table__caption">
          Итого
        </caption>
        <tr>
          <th>Кол-во:</th>
          <td>
            <span id="test-total-count">
              {{ totalCount }}
            </span>
          </td>
        </tr>
        <tr>
          <th>Закупочная цена:</th>
          <td>
            <span id="test-total-purchases">
              {{ totalPurchases }} руб.
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
  import SingleTableItem from '@/components/procurements/tables/SingleTableItem'
  import SingleTableNewItem from '@/components/procurements/tables/SingleTableNewItem'


  export default {
    name: 'ProcurementsSingleTable',
    components: {
      SingleTableItem,
      SingleTableNewItem
    },
    props: {
      procurement: {
        type: Object,
        required: true
      },
      newPositions: {
        type: Array,
        required: true
      },
      isRemove: Boolean,
      isEdit: Boolean,
      isNewProcurement: Boolean,
      isNotPosted: Boolean
    },
    computed: {
      isPositionEmpty() {
        if (this.isNewProcurement) {
          return !this.newPositions.length
        }
        if (this.isEdit) {
          return !(this.procurement.positions.length || this.newPositions.length)
        }
        return !this.procurement.positions.length
      },
      totalPurchases() {
        return this.procurement.positions
          .reduce((sum, current) => sum + parseInt(current.purchases) * parseInt(current.count), 0)
      },
      totalCount() {
        return this.procurement.positions
          .reduce((sum, current) => sum + parseInt(current.count), 0)
      }
    }
  }
</script>

<style scoped>
  .procurement-table {
    width: 100%;
    border-collapse: collapse;
  }

  .procurement-table td {
    padding: 15px;
  }

  .procurement-table__header-row {
    display: grid;
    grid-template-columns: 370px repeat(4, 130px) auto;
  }

  .procurement-table__header-row th {
    display: flex;
    align-items: center;
  }

  .procurement-table__header th {
    padding: 20px 15px;
    background: rgba(41, 77, 156, 0.54);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    flex-grow: 1;
  }

  .procurement-table__header th:first-child {
    border-top-left-radius: 5px;
    flex-basis: 370px;
  }

  .procurement-table__header th:last-child {
    border-top-right-radius: 5px;
  }

  .procurement-table__body--reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .not-found {
    padding: 22px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
    background: #fff;
    text-align: center;
  }

  .total {
    margin-top: 15px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .total-table,
  .total-table__caption {
    text-align: left;
  }
</style>
