<template>
  <tr
    class="procurement-table__item"
    :class="{'procurement-table__item--grid': isNewProcurement}"
  >
    <td>
      {{ position.name }}
    </td>
    <td>
      <InputField
        v-model="count"
        class="position-input"
        type="number"
        :min="0"
        :step="1"
        :has-error="purchases > 0 && count === 0"
      />
    </td>
    <td>
      <InputField
        v-model="purchases"
        class="position-input"
        type="number"
        :min="0"
        :step=".01"
        :decimal="true"
      />
    </td>
    <td>
      <InputField
        v-model="wholesale"
        class="position-input"
        type="number"
        :min="0"
        :step="0.01"
        :has-error="purchases > wholesale"
        :decimal="true"
      />
    </td>
    <td>
      <InputField
        v-model="retail"
        class="position-input"
        type="number"
        :min="0"
        :step=".01"
        :has-error="wholesale > retail"
        :decimal="true"
      />
    </td>
    <td>
      <ImageButton
        class="btn-remove"
        @click="removeProcurementPosition(index)"
      >
        <svg>
          <use xlink:href="@/assets/sprite.svg#remove_circle" />
        </svg>
      </ImageButton>
    </td>
  </tr>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField'
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    name: 'ProcurementsSingleTableNewItem',
    components: {
      ImageButton,
      InputField
    },
    props: {
      position: {
        type: Object,
        required: true
      },
      index: {
        type: Number,
        required: true
      }
    },
    computed: {
      ...mapGetters(['newPositions', 'roundingAccuracy']),
      count: {
        get() { return this.position.count; },
        set(value) { this.UPDATE_NUMBER_PROPERTY_OF_NEWPOSITION([this.index, 'count', value]); }
      },
      purchases: {
        get() { return this.position.purchases; },
        set(value) { this.UPDATE_NUMBER_PROPERTY_OF_NEWPOSITION([this.index, 'purchases', value]); }
      },
      wholesale: {
        get() { return (this.position.wholesale); },
        set(value) { this.UPDATE_AND_ROUND_NUMBER_PROPERTY_OF_NEWPOSITION([this.index, 'wholesale', value]); }
      },
      retail: {
        get() { return this.position.retail; },
        set(value) { this.UPDATE_AND_ROUND_NUMBER_PROPERTY_OF_NEWPOSITION([this.index, 'retail', value]); }
      },
      isNewProcurement() {
        return this.$route.name === 'ProcurementNewSingle';
      }
    },
    methods: {
      ...mapMutations([
        'DELETE_NEWPOSITION',
        'UPDATE_NUMBER_PROPERTY_OF_NEWPOSITION',
        'UPDATE_AND_ROUND_NUMBER_PROPERTY_OF_NEWPOSITION'
      ]),
      removeProcurementPosition(index) {
        this.DELETE_NEWPOSITION(index)
      }
    }
  }
</script>

<style scoped>

  .procurement-table__item {
    margin-bottom: 5px;
    background-color: #fff;
  }

  .procurement-table__item td {
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .procurement-table__item td:first-child {
    width: 500px;
  }

  .procurement-table__item--grid {
    display: grid;
    grid-template-columns: 370px repeat(4, 130px) auto;
  }

  .procurement-table__item--grid td:first-child {
    width: auto;
  }

  .procurement-table__item--grid td {
    display: flex;
    align-items: center;
  }

  .position-input {
    width: 100px;
  }

  .btn-remove {
    display: inline-block;
  }

  .btn-remove >>> svg {
    width: 24px;
    height: 24px;
  }

</style>
