<template>
  <ul class="categories">
    <li
      v-for="(category,c) in items"
      :key="c"
      class="category"
      @click="addToBreadcrumb(category)"
    >
      <svg class="category__icon">
        <use xlink:href="@/assets/sprite.svg#folder" />
      </svg>
      <p class="category__title">
        {{ category.name }}
      </p>
    </li>
  </ul>
</template>

<script>

  export default {
    name: "ProductCategories",
    props:{
      items:{type:Array, required: true}
    },
    data() {
      return {
      }
    },
    methods:{
      addToBreadcrumb(category){
        this.$emit('on-selected', category)
      },
    }
  }
</script>

<style scoped>

  .categories {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .category {
    cursor: pointer;
    position: relative;
    padding: 8px 14px 8px 44px;
    background: #FAFAFA;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .category__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 16px;
    fill: #294D9C;
  }

  .category__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .more {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #294D9C;
  }

  @media (max-width: 1499px) {
    .categories{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 1199px) {
    .category{
      min-height: 60px;
    }
  }

</style>
