<template>
  <ul class="products disable-select">
    <li
      v-for="product in items"
      :key="product.id"
      class="product"
      @click="addProductToCart(product)"
    >
      <header class="product__head">
        <img
          v-if="product.photos.length"
          :src="product.photos[0].image"
          alt="product"
          class="product__image"
        >
        <img
          v-else
          src="https://dummyimage.com/250x150/faebd7/a0522d.png&text=+CRON+BUSINESS"
          alt="product"
          class="product__image"
        >
      </header>
      <div class="product__body">
        <h3 class="product__title">
          {{ product.name }}
        </h3>
        <div class="product-price">
          <span>{{ product.price && setPrice(product.price) || '0' }} руб.</span>
        </div>
        <ul class="product-props">
          <li
            v-if="product.barcode"
            class="product-props__item"
          >
            {{ product.barcode }}
          </li>
          <li class="product-props__item">
            <span v-if="product.product_type === 1">
              <svg class="product-props__icon">
                <use xlink:href="@/assets/sprite.svg#stack" />
              </svg>
              На складе: {{ product.balance }} шт.
            </span>
            <span v-else>
              Услуга
            </span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "ProductsGrid",
  props: {
    items: { type: Array, required: true }
  },
  computed: {
    ...mapGetters(["currentClient"])
  },
  methods: {
    ...mapActions(["addProductToCart"]),
    setPrice(price) {
      if (this.currentClient === null)
        return 0;
      return this.currentClient.is_retail ? price.retail : price.wholesale;
    }
  }
};
</script>

<style scoped>
.product__body {
  padding: 10px;
}

.products {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 15px;
}

.product {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  transition: 0.25s all ease;
}

.product:hover {
  box-shadow: inset 0 0 3px #1284e7;
}

.product__image {
  display: block;
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.product__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.product-props {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.product-props__item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.product-props__item + .product-props__item {
  margin-top: 10px;
}

.product-props__icon {
  vertical-align: top;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  fill: rgba(0, 0, 0, 0.54);
}

.product-price {
  margin: 10px 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #294d9c;
}

@media (max-width: 1499px) {
  .products{
    grid-template-columns: repeat(3, 1fr);
  }

  .product__title,
  .product-price{
    font-size: 13px;
    line-height: 1.2;
  }

  .product__image{
    height: 100px;
  }
}


</style>
