<template>
  <ul
    v-if="items.length"
    class="breadcrumbs"
  >
    <li class="breadcrumbs-item">
      <a
        class="breadcrumbs-link"
        @click.prevent="toHome"
      >
        <svg>
          <use xlink:href="@/assets/sprite.svg#home" />
        </svg>
      </a>
    </li>
    <li
      v-for="(breadcrumb,i) in items"
      :key="i"
      class="breadcrumbs-item"
    >
      <span @click="removeBreadcrumbs(breadcrumb)">{{ breadcrumb.name }}</span>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "ProductsBreadcrumbs",
    props:{
      items:{type: Array, required: true}
    },
    methods: {
      addBreadcrumb(category) {
        const f = this.items.find(b => b.id === category.id)
        if(!f){
         this.items.push(category);
        }
      },
      removeBreadcrumbs(category) {
        for (let i = 0; i < this.items.length; i++) {
          if (this.items[i].id === category.id) {
            this.items.splice(i + 1);
            break
          }
        }
        this.$emit('get-products-by-categories', category);
      },
      toHome(){
        this.items.splice(0);
        this.$emit('get-products-by-categories', null);
      }
    },
  }
</script>

<style scoped>

  .breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #294D9C;
  }

  .breadcrumbs-item {
    position: relative;
    cursor: pointer;
  }

  .breadcrumbs-item svg {
    width: 20px;
    height: 20px;
    fill: rgba(41, 77, 156, 0.54);
  }

  .breadcrumbs-item + .breadcrumbs-item {
    margin-left: 35px;
  }

  .breadcrumbs-item + .breadcrumbs-item::before {
    content: "";
    border: solid rgba(0, 0, 0, 0.54);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    position: absolute;
    left: -25px;
    top: 6px;
  }

  .breadcrumbs-link {
    color: rgba(41, 77, 156, 0.54);
    text-decoration: none;
  }

  .breadcrumbs-link:hover {
    text-decoration: underline;
  }
</style>
