<template>
  <li class="product">
    <div class="row align-items-center mb-1">
      <div class="col-10">
        <h3 class="product__title">
          {{ product.name }}
        </h3>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <ImageButton @click="removeProduct">
          <svg>
            <use xlink:href="@/assets/sprite.svg#remove_circle" />
          </svg>
        </ImageButton>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-7">
        <input
          :ref="product.id"
          class="number-field"
          type="number"
          min="1"
          :max="Math.max(1, product.balance)"
          :value="product.qte"
          @change="updateQuantityState"
          @keypress="onKeyPress"
        >
        <span class="product__price">	&#215; {{ price }} руб.</span>
        <span
          v-if="product.discount > 0"
          class="product__discount"
        > <sup> . </sup>{{ product.discount }}%</span>
      </div>
      <div class="col-5">
        <div class="product__total">
          <span :class="[priceStyle]">{{ total }} руб. </span>
          <span
            v-if="product.discount > 0"
            class="line-normal"
          >{{ discount }} руб.</span>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton';
  import {mapGetters} from 'vuex'

  export default {
    name: 'PosReceiptProductItem',
    components: {
      ImageButton
    },
    props:{
      product: {type: Object, required: true},
      index: {type: Number, required: true},
    },
    computed: {
      ...mapGetters(['currentClient', 'currentSale']),
      price() {
        const client = this.currentSale.client || this.currentClient;
        return client.is_retail ? this.product.price.retail : this.product.price.wholesale;
      },
      total() {
        return this.product.qte * parseFloat(this.price).toFixed(2)
      },
      discount() {
        return  this.total - parseFloat(this.total * this.product.discount/100);
      },
      priceStyle(){
        return this.product.discount > 0 ? 'line-through' : 'line-normal';
      }
    },
    methods: {
      removeProduct() {
        this.$store.commit('REMOVE_FROM_CART', {id: this.product.id, index: this.index});
      },
      updateQuantityState(e) {
        this.$store.commit('UPDATE_CART', {id: this.product.id, qte: e.target.value});
      },
      onKeyPress(event) {
        if (event.charCode >= 48 && event.charCode <= 57) return true;
        event.preventDefault();
      }
    }
  }
</script>

<style scoped>

  .product {
    border-bottom: 1px solid #DEDEDE;
    padding: 10px 0;
    list-style: none;
  }

  .product__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .product__total {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .product__price,
  .product__discount {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.54);
  }
  .line-normal{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
 .line-through{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #969696;
  }
  .number-field {
    width: 70px;
    height: 30px;
    padding: 7px 10px;
    border: 1px solid #294D9C;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

</style>
