<template>
  <div>
    <div
      v-for="category in categories"
      :key="category.id"
      class="col-6"
    >
      <CategoryItem
        :category="category"
        @click.native="emits(category)"
      />
    </div>
    <UpdateCategory />
  </div>
</template>

<script>
  import CategoryItem from '@/components/products/CategoryItem';
  import UpdateCategory from '@/components/products/UpdateCategory';


  export default {
    name: 'CategoryList',
    components: {
      CategoryItem,
      UpdateCategory,
    },
    props: {
      categories: {
        type: Array,
        required: true
      }
    },
    methods: {
      emits(category) {
        this.$store.dispatch('fetchProducts', category.id);
        this.$emit('setCategoryId', category.id);
        this.$store.commit('ADD_BREADCRUMB', {id: category.id, name: category.name});
      }
    }
  }
</script>
