<template>
  <div>
    <div class="folder">
      <div class="folder__title">
        <svg
          width="24"
          height="24"
          fill="#757575"
        >
          <use xlink:href="@/assets/sprite.svg#folder" />
        </svg>
        <span>{{ category.name }}</span>
      </div>

      <div class="actions">
        <ImageButton
          class="btn--edit"
          @click.native.stop="$modal.show('update-category', {id: category.id, title: category.name, parentCategory: category.parent})"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#edit" />
          </svg>
        </ImageButton>

        <ImageButton
          class="btn--delete"
          @click.native.stop="$modal.show('confirmation', {id: category.id, type: 'category', parentCategory: category.parent})"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#delete" />
          </svg>
        </ImageButton>
      </div>
    </div>
  </div>
</template>


<script>
  import ImageButton from '@/components/elements/ImageButton';


  export default {
    name: 'CategoryItem',
    components: {
      ImageButton,
    },
    props: {
      category: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style scoped>

  .folder {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 18px 15px 18px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #d5e8fd;
    cursor: pointer;
    transition: .4s all ease;
  }

  .folder:hover {
    box-shadow: 0 0 3px #294d9c;
  }

  .folder__title {
    display: flex;
    align-items: center;
    width: calc(100% - 70px);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  .folder__title span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }

  .actions {
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
  }

  .btn--edit {
    fill: #8b9fc9;
  }

  .btn--edit,
  .btn--delete {
    padding: 2px;
  }

  .btn--edit {
    fill: rgba(41, 77, 156, 0.54);
  }

  .btn--edit:hover >>> svg {
    fill: #294d9c;
  }

  .btn--delete {
    fill: #c4c4c4;
  }

  .btn--delete:hover >>> svg {
    fill: #D68282;
  }

</style>
