<template>
  <Modal
    name="new-folder"
    width="575"
    height="auto"
    @closed="reset"
    @before-open="getParamsData"
  >
    <div class="modal-box">
      <ImageButton
        class="modal-close"
        @click="$modal.hide('new-folder')"
      >
        <svg
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <header class="modal-header">
        <h1 class="modal-title">
          Новая папка
        </h1>
      </header>

      <form @submit.prevent="submit">
        <div class="row align-items-center mb-4">
          <div class="col-7">
            <TreeSelect
              v-model="form.parent"
              :multiple="false"
              :open-on-click="true"
              :options="parentCategories"
              :no-children-text="'Нет папки'"
              :normalizer="normalizeCategories"
              class="tree-select mr-2"
              placeholder="Родительская папка"
            />
          </div>
          <div class="col-5">
            <span class="field-caption">Выберите из списка родителя новой папки</span>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-7">
            <InputField
              v-model="form.name"
              v-validate="{required:true}"
              name="name"
              placeholder="Имя папки"
            />
          </div>
          <div class="col-5">
            <span class="field-caption">Не более 200 символов *</span>
          </div>

          <div
            v-if="errors"
            class="col-12"
          >
            <span class="form-error">{{ errors.first('name') }}</span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <span class="field-caption">* - обязательные поля</span>
          </div>
        </div>

        <footer class="modal-footer">
          <ImageButton
            type="submit"
            class="btn--save mr-5"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Сохранить</span>
          </ImageButton>

          <ImageButton
            type="reset"
            class="btn--reset"
            @reset="reset"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            <span>Очистить</span>
          </ImageButton>
        </footer>
      </form>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';

  import TreeSelect from '@riophae/vue-treeselect';


  export default {
    inject: ['$validator'],
    name: 'NewFolder',
    components: {
      InputField,
      ImageButton,
      TreeSelect
    },
    data() {
      return {
        types: [
          {
            name: 'Товар',
            type_code: 1
          },
          {
            name: 'Услуга',
            type_code: 2
          }
        ],
        form: {
          parent: null,
          name: '',
          category_type: null
        }
      };
    },
    computed: {
      parentCategories() {
        return this.$store.getters.categories.filter(category => category.parent === null);
      }
    },
    methods: {
      async submit() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.form.category_type = this.$route.meta.type;
        const responseResult = await this.$store.dispatch('submitNewFolder', {
          form: this.form,
          categoryType: this.$route.meta.type,
        });

        if (responseResult.status === 201) {
          this.$toast.success('Категория добавлена');
          this.$modal.hide('new-folder');
        } else {
          this.$toast.error('Произошла ошибка');

          for (let item in responseResult.data) {
            this.errors.add({
              field: item,
              msg: responseResult.data[item][0]
            });
          }
        }
      },
      normalizeCategories(node) {
        return {
          label: node.name
        };
      },
      normalizeCategoriesTypes(node) {
        return {
          id: node.type_code,
          label: node.name
        };
      },
      reset() {
        Object.assign(this.$data, this.$options.data());
      },
      getParamsData(e) {
        this.form.parent = e.params.currentCategory;
      }
    }
  };
</script>

<style scoped>

  .modal-box {
    position: relative;
    padding: 25px 40px 40px 40px;
  }

  .modal-header {
    margin-bottom: 25px;
  }

  .modal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.428rem;
    font-weight: 500;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .v--modal-overlay >>> .v--modal-box {
    overflow: visible;
  }

  .tree-select >>> .vue-treeselect__control {
    border-color: rgba(41, 77, 156, 0.54);
    z-index: 5;
  }

  .field-caption {
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  .btn--save {
    color: #294d9c;
    font-size: 1rem;
  }

  .btn--save,
  .btn--reset {
    border: 0;
    padding: 0;
  }

  .btn--save svg {
    fill: #294d9c;
  }

  .btn--reset,
  .btn--reset:hover {
    color: #757575;
  }

  .btn--reset svg {
    fill: #757575;
  }

</style>
