<template>
  <Modal
    name="new-product"
    width="575"
    height="auto"
    @before-open="getParamsData"
    @closed="reset"
  >
    <div class="modal-box">
      <ImageButton
        class="modal-close"
        @click="$modal.hide('new-product')"
      >
        <svg
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <header class="modal-header">
        <h1 class="modal-title">
          {{ modalTitle }}
        </h1>
      </header>

      <form
        name="create-product"
        @submit.prevent="submit"
      >
        <div class="row align-items-center mb-4">
          <div class="col-7">
            <TreeSelect
              v-model="form.category"
              instance-id="category"
              class="tree-select mr-2"
              placeholder="Папка"
              :multiple="false"
              :open-on-click="true"
              :no-children-text="'Нет папок'"
              :options="parentCategories"
              :normalizer="normalizeCategories"
            />
          </div>
          <div class="col-5">
            <span class="field-caption">Выберите из списка необходимую папку</span>
          </div>
        </div>

        <div class="row align-items-center mb-4">
          <div class="col-7">
            <InputField
              v-model="form.name"
              v-validate="{required:true, max:200}"
              data-vv-as="наименование"
              name="name"
              placeholder="Наименование"
            />
          </div>
          <div class="col-5">
            <span class="field-caption">Не более 200 символов</span>
          </div>
          <div
            v-if="errors"
            class="col-12"
          >
            <span class="form-error">{{ errors.first('name') }}</span>
          </div>
        </div>

        <div
          v-if="$route.meta.type === 2"
          class="row align-items-center mb-4"
        >
          <div class="col-7">
            <InputField
              v-model="form.cost"
              v-validate="{numeric: true, required:true}"
              data-vv-as="Цена услуги"
              name="cost"
              placeholder="Цена услуги"
            />
          </div>
          <div
            v-if="errors"
            class="col-12"
          >
            <span class="form-error">{{ errors.first('cost') }}</span>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-7">
            <div class="input-wrp">
              <InputField
                v-model="form.barcode"
                placeholder="Штрихкод"
                name="barcode"
                class="label--barcode"
              />
              <ImageButton
                class="btn--barcode"
                @click="generateBarcode"
              >
                <svg>
                  <use xlink:href="@/assets/sprite.svg#barcode" />
                </svg>
              </ImageButton>
            </div>
          </div>

          <div class="col-5">
            <span class="field-caption">Нажмите на поле ввода и отсканируйте товар</span>
          </div>
          <div
            v-if="errors"
            class="col-12"
          >
            <span class="form-error">{{ errors.first('barcode') }}</span>
          </div>
        </div>
        <div>
          <div class="field-caption mb-2">
            Изображения товара (макс. 5)
          </div>
          <div>
            <input
              id="file"
              type="file"
              multiple
              name="photos1"
              class="file"
              accept="image/*"
              @change="onFileChange"
            >
            <label
              class="btn btn--download"
              for="file"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#plus" />
              </svg>
              <span>Загрузить изображения</span>
            </label>
          </div>
          <div
            v-if="thumbs.length"
            class="field-caption mt-3"
          >
            Выберите главное изображение товара
          </div>
          <ul
            v-if="thumbs.length"
            class="thumbs"
          >
            <li
              v-for="(thumb, index) of thumbs"
              :key="index"
              class="thumb"
            >
              <img
                class="thumb-image"
                :src="thumb"
                alt="thumb"
                @click="mainImage(index)"
              >
              <ImageButton
                class="thumb-delete"
                @click="deleteImage(index)"
              >
                <svg>
                  <use xlink:href="@/assets/sprite.svg#close" />
                </svg>
              </ImageButton>
            </li>
          </ul>
          <div
            v-if="isNotice"
            class="form-error mt-2"
          >
            Превышено максимальное количество изображений
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <TextField v-model="form.description">
              <p class="field-caption">
                Описание товара
              </p>
            </TextField>
          </div>
        </div>

        <footer class="modal-footer">
          <ImageButton
            type="submit"
            class="btn--save mr-5"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Сохранить</span>
          </ImageButton>

          <ImageButton
            type="reset"
            class="btn--reset"
            @reset="reset"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            <span>Очистить</span>
          </ImageButton>
        </footer>
      </form>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';
  import TextField from '@/components/elements/TextField';

  import TreeSelect from '@riophae/vue-treeselect';


  export default {
    inject: ['$validator'],
    name: 'NewProduct',
    components: {
      ImageButton,
      InputField,
      TextField,
      TreeSelect
    },
    props: {
      procurement: Boolean
    },
    data() {
      return {
        currentCategory: null,
        types: [
          {
            name: 'Товар',
            type_code: 1
          },
          {
            name: 'Услуга',
            type_code: 2
          }
        ],
        form: {
          category: null,
          name: null,
          cost: '',
          barcode: '',
          product_type: null,
          description: '',
          photos: []
        },
        thumbs: [],
        isNotice: false
      };
    },
    computed: {
      parentCategories() {
        const categories = this.$store.getters.categories;

        if (categories.length) {
          return categories.filter(
            category =>
              category.parent === null &&
              category.category_type === this.form.product_type
          );
        }
        return null;
      },
      modalTitle() {
        return this.$route.name === 'Products' ? 'Новый товар' : this.$route.name === 'Services' ? 'Новая услуга' : '';
      }
    },
    methods: {
      async submit() {
        const result = await this.$validator.validate();
        if (!result) return;

        const form = {...this.form};
        if (form.category === null) delete form.category;

        const formData = new FormData();

        Object.entries(form).forEach(([key, value]) => {
          if (key !== 'photos') formData.append(key, value);
        });

        for (const photo of form.photos) {
          formData.append('photos', photo);
        }

        const responseResult = await this.$store.dispatch('submitNewProduct', {
          formData,
          currentCategory: this.currentCategory
        });

        if (responseResult.status === 201) {
          this.$toast.success('Добавлено');
          this.$modal.hide('new-product');
          if (this.procurement) this.$store.commit('SET_NEWPOSITION', this.formatSelectedProduct(responseResult.data));
        } else {
          this.$toast.error('Произошла ошибка');

          for (let item in responseResult.data) {
            this.errors.add({
              field: item,
              msg: responseResult.data[item][0],
              vmId: this.errors.vmId
            });
          }
        }
      },
      normalizeCategories(node) {
        return {
          label: node.name
        };
      },
      normalizeCategoriesTypes(node) {
        return {
          id: node.type_code,
          label: node.name
        };
      },
      reset() {
        Object.assign(this.$data, this.$options.data());
      },
      async generateBarcode() {
        const result = await this.$store.dispatch('generateBarcode');
        this.form.barcode = result.data;
      },
      getParamsData(e) {
        if (e.params) {
          this.currentCategory = e.params.currentCategory;
          this.form.category = e.params.currentCategory;
        }
        this.setProductType();
      },
      onFileChange(event) {
        let files = event.target.files;
        const countPhotos = this.form.photos.length;
        if (files.length + countPhotos > 5) {
          this.isNotice = true;
          setTimeout(() => {
            this.isNotice = false;
          }, 4000);
          return false;
        }

        for (const file of files) {
          this.form.photos.push(file);

          let reader = new FileReader();
          reader.readAsDataURL(file);

          reader.onload = () => {
            this.thumbs.push(reader.result);
          };

          reader.onerror = function () {
            this.$noty('Ошибка при загрузке файла');
          };
        }
      },
      mainImage(index) {
        const thumb = this.thumbs[index];
        this.thumbs.splice(index, 1);
        this.thumbs.unshift(thumb);

        const photo = this.form.photos[index];
        this.form.photos.splice(index, 1);
        this.form.photos.unshift(photo);
      },
      deleteImage(index) {
        this.thumbs.splice(index, 1);
        this.form.photos.splice(index, 1);
      },
      setProductType() {
        this.form.product_type = this.$route.meta.type ? this.$route.meta.type : 1;
      },
      formatSelectedProduct(product) {
        return {
          product: product.id,
          name: product.name,
          count: 0,
          retail: 0,
          wholesale: 0,
          purchases: 0
        }
      },
    }
  };
</script>

<style scoped>

  .tree-select {
    width: 100%;
  }

  .tree-select >>> .vue-treeselect__control {
    border-color: rgba(41, 77, 156, 0.54);
    z-index: 5;
  }

  .input-wrp {
    position: relative;
    transform-style: preserve-3d;
  }

  .modal-box {
    position: relative;
    padding: 25px 40px 40px 40px;
  }

  .modal-header {
    margin-bottom: 25px;
  }

  .modal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.428rem;
    font-weight: 500;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .field-caption {
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  .btn--download svg {
    margin-right: 5px;
    fill: #294d9c;
    transition: 0.25s all ease;
  }

  .btn--download:hover svg {
    fill: white;
  }

  .btn--save {
    color: #294d9c;
    font-size: 1rem;
  }

  .btn--save,
  .btn--reset {
    border: 0;
    padding: 0;
  }

  .btn--save svg {
    fill: #294d9c;
  }

  .btn--reset,
  .btn--reset:hover {
    color: #757575;
  }

  .btn--reset svg {
    fill: #757575;
  }

  .label--barcode >>> .input {
    padding-right: 45px;
  }

  .btn--barcode {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  .thumbs {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: 100px repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 15px;
  }

  .thumb {
    position: relative;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.25s all ease;
  }

  .thumb:first-child {
    height: 100px;
    opacity: 1;
    box-shadow: 0 0 0 2px #e57373;
  }

  .thumb:hover {
    opacity: 1;
    box-shadow: 0 0 0 2px #294d9c;
  }

  .thumb-image {
    display: block;
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: center;
  }

  .thumb:first-child .thumb-image {
    height: 100px;
  }

  .file {
    display: none;
  }

  .file + label {
    cursor: pointer;
    transition: 0.25s all ease;
  }

  .file:focus + label,
  .file + label:hover {
    background-color: #294d9c;
    color: #fff;
  }

  .file:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .file + label * {
    pointer-events: none;
  }

  .thumb-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s all ease;
  }

  .thumb:hover .thumb-delete {
    opacity: 1;
    visibility: visible;
  }

  .thumb-delete svg {
    fill: #e57373;
  }

</style>
