<template>
  <div>
    <ProductItem
      v-for="product in filterProducts"
      :key="product.id"
      :product="product"
      class="col-6"
    />
    <UpdateProduct />
  </div>
</template>

<script>
  import ProductItem from '@/components/products/ProductItem';
  import UpdateProduct from '@/components/products/UpdateProduct';


  export default {
    name: 'ProductList',
    components: {
      ProductItem,
      UpdateProduct,
    },
    props: {
      products: {
        type: Array,
        required: true
      },
    },
    computed: {
      filterProducts() {
        return this.products.filter(item => item.product_type === this.$route.meta.type);
      }
    }
  }
</script>
