<template>
  <ul
    v-if="breadcrumbs.length"
    class="breadcrumbs"
  >
    <li class="breadcrumbs-item">
      <span
        class="breadcrumbs-link"
        @click.prevent="toHome"
      >
        <svg>
          <use xlink:href="@/assets/sprite.svg#home" />
        </svg>
      </span>
    </li>
    <li
      v-for="(breadcrumb) in breadcrumbs"
      :key="breadcrumb.id"
      class="breadcrumbs-item"
    >
      <span @click="removeBreadcrumbs(breadcrumb.id)">{{ breadcrumb.name }}</span>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'ProductsBreadcrumbs',
    computed: {
      breadcrumbs() {
        return this.$store.getters.breadcrumbs
      },
    },
    watch: {
      '$route'() {
        this.toHome();
      }
    },
    methods: {
      removeBreadcrumbs(id) {
        this.$store.commit('REMOVE_BREADCRUMBS', id);
        this.$emit('setCategoryId', id);
        this.$store.dispatch('fetchProducts', id);
      },
      toHome() {
        this.$store.commit('TRUNCATE_BREADCRUMBS');
        this.$emit('setCategoryId', null);
        this.$store.dispatch('fetchCategories', this.$route.meta.type);
        this.$store.dispatch('fetchProducts');
      }
    }
  }
</script>

<style scoped>

  .breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #294D9C;
  }

  .breadcrumbs-item {
    position: relative;
  }

  .breadcrumbs-item:not(:last-child):hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .breadcrumbs-item svg {
    width: 20px;
    height: 20px;
    fill: rgba(41, 77, 156, 0.54);
    transition: .25s all ease;
  }

  .breadcrumbs-item:hover svg {
    fill: #294D9C;
  }

  .breadcrumbs-item + .breadcrumbs-item {
    margin-left: 35px;
  }

  .breadcrumbs-item + .breadcrumbs-item::before {
    content: '';
    border: solid rgba(0, 0, 0, 0.54);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    position: absolute;
    left: -25px;
    top: 6px;
  }

  .breadcrumbs-link {
    color: rgba(41, 77, 156, 0.54);
    text-decoration: none;
  }

  .breadcrumbs-link:hover {
    text-decoration: underline;
  }

</style>
