<template>
  <div class="main_filter">
    <div class="row justify-content-between align-items-center">
      <div class="col-4">
        <SearchField
          v-model="searchText"
          placeholder="Поиск по наименованию товара"
          @input="search"
        />
      </div>

      <div class="col-8 d-flex justify-content-end">
        <ActionButton
          id="test-new-product-btn"
          class="mr-2"
          color="blue"
          @click="$modal.show('new-product', {currentCategory: currentCategory})"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>{{ btnCaption }}</span>
        </ActionButton>

        <ActionButton
          id="test-new-folder-btn"
          color="white"
          @click="$modal.show('new-folder', {currentCategory: currentCategory})"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>Папка</span>
        </ActionButton>
      </div>
    </div>
    <NewProduct />
    <NewFolder />
  </div>
</template>

<script>
  import ActionButton from '@/components/elements/ActionButton';
  import SearchField from '@/components/elements/SearchField';
  import NewFolder from '@/components/products/NewFolder';
  import NewProduct from '@/components/products/NewProduct';

  import debounce from 'lodash.debounce';


  export default {
    name: 'ProductsActionbar',
    components: {
      ActionButton,
      SearchField,
      NewFolder,
      NewProduct,
    },
    props: {
      currentCategory: {
        type: Number,
        default: null
      }
    },
    data() {
      return {
        isTrue: false,
        searchText: ''
      }
    },
    computed: {
      btnCaption() {
        return this.$route.name === 'Products' ? 'Товар' : this.$route.name === 'Services' ? 'Услуга' : '';
      }
    },
    methods: {
      search: debounce(function () {
        if (this.searchText === '') {
          this.$store.dispatch('fetchProducts', this.currentCategory);
          this.$emit('is-search', false);
        } else {
          this.$store.dispatch('searchProduct', this.searchText);
          this.$emit('is-search', true);
        }
      }, 600),
    }
  }
</script>

<style scoped>

  .main_filter {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }

</style>
