<template>
  <Modal
    name="search-product"
    width="1200"
    height="600"
  >
    <div class="catalog">
      <aside class="sidebar catalog__sidebar">
        <nav class="nav">
          <VueTreeList
            class="tree-list"
            :model="categoriesForSearch"
            :default-expanded="false"
            @click="handlerForSelectCategory"
          />
        </nav>
      </aside>

      <div class="goods-search">
        <div class="search-wrap">
          <SearchField
            placeholder="Введите наименование товара"
            @input="handlerForSearchProductByName"
          />
        </div>
        <div class="products-container mt-5">
          <ScrollWrap class="products-wrapper">
            <div class="goods">
              <div
                v-for="product in productsForSearch"
                v-show="isNotIn(product.id)"
                :key="product.id"
                class="goods-item"
                :class="{selected: isSelected(product)}"
                @click="handlerForSelectProduct(product)"
              >
                <div class="goods-item__img-wrp">
                  <img
                    v-if="product.photos.length"
                    :src="product.photos[0].image"
                    class="goods-item__img"
                    :alt="product.name"
                  >
                  <img
                    v-else
                    class="goods-item__img"
                    src="https://dummyimage.com/250x150/faebd7/a0522d.png&text=+CRON+BUSINESS"
                  >
                </div>
                <p class="goods-item__desc">
                  {{ product.name }}
                </p>
              </div>
            </div>
          </ScrollWrap>
        </div>
        <ImageButton
          class="modal-close"
          @click="$modal.hide('search-product')"
        >
          <svg
            width="24"
            height="24"
          >
            <use xlink:href="@/assets/sprite.svg#close" />
          </svg>
        </ImageButton>
      </div>
      <aside class="sidebar">
        <div class="selected-products">
          <div class="selected-products__body">
            <h1 class="caption">
              Выбранные товары({{ selected_products.length }})
            </h1>
            <ScrollWrap>
              <div
                class="crop-row"
              >
                <table class="crop-table">
                  <tr
                    v-for="(pdt,k) in selected_products"
                    :key="k"
                    class="crop-table-row"
                  >
                    <td><span class="crop-table-td">{{ pdt.name }}</span></td>
                    <td>
                      <ImageButton
                        class="btn-remove"
                        @click="selected_products.splice(k, 1)"
                      >
                        <svg>
                          <use xlink:href="@/assets/sprite.svg#remove_circle" />
                        </svg>
                      </ImageButton>
                    </td>
                  </tr>
                </table>
              </div>
            </ScrollWrap>
          </div>
          <footer class="selected-products__footer">
            <ActionButton
              v-if="selected_products.length"
              color="blue"
              @click="validateSelectedProducts"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#plus" />
              </svg>
              <span>Добавить</span>
            </ActionButton>
          </footer>
        </div>
      </aside>
    </div>
  </Modal>
</template>

<script>
import SearchField from "@/components/elements/SearchField";
import ImageButton from "@/components/elements/ImageButton";
import ActionButton from "@/components/elements/ActionButton";
import ScrollWrap from "@/layouts/ScrollWrap";
import { mapActions, mapGetters, mapMutations } from "vuex";
import { VueTreeList } from "vue-tree-list";
import BarcodeScanner from "simple-barcode-scanner";

const scanner = BarcodeScanner();


export default {
  name: "SearchProducts",
  components: {
    SearchField,
    ImageButton,
    ScrollWrap,
    VueTreeList,
    ActionButton
  },
  props: {
    isProcurement: Boolean,
    isDiscount: Boolean
  },
  data() {
    return {
      selected_category_for_search: "",
      selected_name_for_search: "",
      selected_products: []
    };
  },
  computed: {
    ...mapGetters([
      "categoriesForSearch",
      "productsForSearch",
      "procurement",
      "newPositions",
      "categories"
    ])
  },
  created() {
    scanner.on((code, event) => {
      event.preventDefault();
      const product = this.selected_products.find(p => p.barcode === parseInt(code));
      if (product) {
        this.addToSelectedList(product)
      }
    });
    this.fetchCategories().then(() => {
      this.fetchCategoriesForSearch(this.categories);
    });
    this.$eventBus.$on(
      "fetch-products-for-search",
      this.fetchProductsForSearch
    );
    this.$eventBus.$emit("fetch-products-for-search", {
      is_procurement: true,
      selected_category_for_search: this.selected_category_for_search,
      selected_name_for_search: this.selected_name_for_search
    });
  },
  beforeDestroy() {
    this.$eventBus.$off("fetch-categories-for-search");
    this.$eventBus.$off("fetch-products-for-search");
  },
  destroyed() {
    scanner.off();
  },
  methods: {
    ...mapActions([
      "fetchCategoriesForSearch",
      "fetchProductsForSearch",
      "fetchCategories"
    ]),
    ...mapMutations([
      "SET_NEWPOSITION",
      "SET_SELECTED_CATEGORY_FOR_SEARCH",
      "SET_SELECTED_NAME_FOR_SEARCH"
    ]),
    validateSelectedProducts() {
      for (let product of this.selected_products) {
        this.SET_NEWPOSITION(product);
        this.$emit("selected-product", product);
      }
      this.$modal.hide("search-product");
      this.selected_products = [];
    },
    isSelected(product) {
      return this.getIndexOf(product) >= 0;
    },
    getIndexOf(product) {
      if(this.isDiscount){
        return this.selected_products.findIndex(p => p.id === product.id);
      }
      return this.selected_products.findIndex(p => p.product === product.id);
    },
    formatSelectedProduct(product) {
      if(this.isDiscount){
        return product;
      }
      return {
        product: product.id,
        name: product.name,
        count: 0,
        retail: 0,
        wholesale: 0,
        purchases: 0
      };
    },
    addToSelectedList(product) {
      const index = this.getIndexOf(product);
      if (index < 0) {
        this.selected_products.push(this.formatSelectedProduct(product));
      } else {
        this.selected_products.splice(index, 1);
      }
    },
    handlerForSelectProduct(product) {
      this.addToSelectedList(product);
    },
    handlerForSelectCategory(params) {
      this.selected_category_for_search = params.id;

      let currentElem = document.getElementById(params.id);
      let nodeList = document.querySelectorAll(".vtl-tree-node");
      nodeList.forEach(function (item) {
        item.classList.remove("selected");
      });
      currentElem.classList.add("selected");

      this.$eventBus.$emit("fetch-products-for-search", {
        is_procurement: true,
        selectedCategoryForSearch: this.selected_category_for_search,
        selectedNameForSearch: this.selected_name_for_search
      });
    },
    handlerForSearchProductByName(e) {
      this.selected_name_for_search = e;
      this.$eventBus.$emit("fetch-products-for-search", {
        is_procurement: true,
        selectedCategoryForSearch: this.selected_category_for_search,
        selectedNameForSearch: this.selected_name_for_search
      });
    },
    isNotIn(id) {
      if (this.isProcurement) {
        const inNewPositions = this.newPositions.find(x => x.product === id);
        if (this.procurement.positions) {
          const inProcurement = this.procurement.positions
            .map(x => x.product.id)
            .find(x => x === id);

          if (
            typeof inProcurement !== "undefined" ||
            typeof inNewPositions !== "undefined"
          ) {
            return false;
          }
        } else {
          if (typeof inNewPositions !== "undefined") {
            return false;
          }
        }
      }
      return true;
    }
  }
};
</script>

<style scoped>

  .nav {
    position: relative;
    padding: 20px 15px;
    width: 100%;
    font-size: 1em;
    word-break: break-all;
  }

  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav ul a {
    text-decoration: none;
    font: inherit;
    color: inherit;
  }

  .nav > ul > li {
    margin-bottom: 25px;
  }

  .nav .dropdown > a {
    position: relative;
  }

  .nav .dropdown > a:after {
    content: "";
    background: url("../../assets/sprite.svg#arrow_down") 0 0 no-repeat;
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    right: -23px;
    top: 50%;
    margin-top: -9px;
  }

  .nav .dropdown ul {
    padding: 0;
    margin: 0;
    display: none;
  }

  .nav .dropdown li {
    font-size: 8px;
    margin: 16px 0;
  }

  .nav .dropdown-active {
    margin-bottom: 19px;
  }

  .nav .dropdown-active > a:after {
    transform: rotate(180deg);
  }

  .nav .dropdown-active ul {
    display: block;
  }

  .nav a.active {
    color: #294d9c;
  }

  .tree-list >>> .vtl-operation {
    display: none !important;
  }

  .tree-list >>> .selected {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.25s all ease;
  }

  .tree-list >>> .vtl-tree-margin {
    margin-left: 0.7em;
  }

  .tree-list >>> .vtl-tree-node {
    cursor: pointer;
  }

  .catalog {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto 240px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
  }

  .sidebar {
    width: 100%;
    flex-shrink: 0;
    background-color: #eee;
  }

  .catalog__sidebar{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .products-container{
    flex-grow: 1;
    position: relative;
  }

  .products-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .search-wrap{
    width: 600px;
    margin-left: 10px;
  }

  .goods-search {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
  }

  .goods {
    display: flex;
    flex-wrap: wrap;
  }

  .goods-item {
    margin: 10px;
    flex-basis: calc(33.33% - 20px);
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s all ease;
  }

  .goods-item.selected {
    border-width: 4px;
    border-color: limegreen;
  }

  .goods-item__img-wrp {
    width: 100%;
    border-bottom: 1px solid #b4b4b4;
  }

  .goods-item:hover {
    border-color: #294d9c;
    box-shadow: 0 0 2px inset;
  }

  .goods-item__img {
    display: block;
    width: 100%;
    height: 150px;
    object-position: center;
    object-fit: cover;
  }

  .goods-item__desc {
    margin: 0;
    padding: 10px 15px;
    overflow: hidden;
    font-weight: 500;
    font-size: 1em;
    color: #000000;
  }

  .good-item__count img {
    margin-right: 5px;
  }

  .selected-products{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .selected-products__body{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 27px 10px 0;
  }

  .selected-products__footer{
    margin-top: 20px;
  }

  .selected-products .btn{
    width: 100%;
    border-radius: 0;
  }

  .selected-products .wrapper{
    position: relative;
    flex-grow: 1;
  }

  .caption{
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 1.2em;
  }

  .crop-row{
    position: absolute;
    left: 0;
    right: 0;
  }

  .crop-table{
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .crop-table-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #DBDBDB;
  }

  .crop-table-td{
    font-size: 12px;
    color: #212121;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #294D9C;
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: #294D9C;
  }
</style>
