<template>
  <Modal
    name="update-product"
    width="500"
    height="auto"
    @before-open="getParamsData"
    @closed="reset"
  >
    <div class="modal-box">
      <ImageButton
        class="modal-close"
        @click.native.stop="$modal.hide('update-product')"
      >
        <svg
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <header class="modal-header">
        <h1 class="modal-title">
          Обновить
          <span>{{ modalTitle }}</span>
        </h1>
      </header>

      <form @submit.prevent="submit">
        <TreeSelect
          v-model="form.category"
          placeholder="Родительская папка"
          class="tree-select mb-3"
          :multiple="false"
          :open-on-click="true"
          :options="parentCategories"
          :no-children-text="'Нет папки'"
          :normalizer="normalizeCategories"
        />
        <div class="mb-3">
          <InputField
            v-model="form.name"
            v-validate="{required: true}"
            name="name"
            placeholder="Наименование товара"
          >
            <div class="mb-1">
              Наименование
            </div>
          </InputField>
          <div v-if="errors">
            <span class="form-error">{{ errors.first('name') }}</span>
          </div>
        </div>

        <div
          v-if="$route.meta.type === 2"
          class="mb-4"
        >
          <InputField
            v-model="form.cost"
            v-validate="{numeric: true, required:true}"
            data-vv-as="Цена услуги"
            name="cost"
            placeholder="Цена услуги"
          >
            <div class="mb-1">
              Цена услуги
            </div>
          </InputField>
          <div v-if="errors">
            <span class="form-error">{{ errors.first('cost') }}</span>
          </div>
        </div>

        <div class="mb-4">
          <TextField
            v-model="form.description"
            name="description"
            placeholder="Описание"
          >
            <div class="mb-1">
              Описание
            </div>
          </TextField>
          <div v-if="errors">
            <span class="form-error">{{ errors.first('description') }}</span>
          </div>
        </div>

        <footer class="modal-footer">
          <ImageButton
            type="submit"
            class="btn--check mr-2"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Сохранить</span>
          </ImageButton>

          <ImageButton
            type="reset"
            class="btn--close"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            <span>Очистить</span>
          </ImageButton>
        </footer>
      </form>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';
  import TextField from '@/components/elements/TextField';

  import TreeSelect from '@riophae/vue-treeselect';


  export default {
    inject: ['$validator'],
    name: 'UpdateProduct',
    components: {
      ImageButton,
      InputField,
      TextField,
      TreeSelect
    },
    data() {
      return {
        id: null,
        parentCategory: null,
        form: {
          name: null,
          category: null,
          product_type: null,
          cost: null,
          description: null,
        }
      };
    },
    computed: {
      parentCategories() {
        return this.$store.getters.categories.filter(
          category =>
            category.parent === null &&
            category.category_type === this.$route.meta.type
        );
      },
      modalTitle() {
        return this.$route.name === 'Products' ? 'товар' : this.$route.name === 'Services' ? 'услугу' : '';
      }
    },
    methods: {
      async submit() {
        const result = await this.$validator.validate();
        if (!result) return;
        if (this.form.category === undefined) this.form.category = null;
        if (!this.form.cost) {
          delete this.form.cost;
        }

        const responseResult = await this.$store.dispatch('updateProduct', {
          form: {...this.form},
          id: this.id,
          parentCategory: this.parentCategory
        });
        if (responseResult.status === 200) {
          this.$toast.success('Данные изменены');
          this.$modal.hide('update-product');
        } else {
          this.$toast.error('Произошла ошибка');
        }
      },
      getParamsData(e) {
        this.id = e.params.id;
        this.form.name = e.params.name;
        this.form.product_type = e.params.product_type;
        this.parentCategory = e.params.category;
        this.form.category = e.params.category;
        this.form.description = e.params.description;
        if (e.params.price && e.params.product_type === 2) {
          this.form.cost = parseInt(e.params.price.retail, 10);
        }
      },
      reset() {
        Object.assign(this.$data, this.$options.data());
      },
      normalizeCategories(node) {
        return {
          label: node.name
        };
      }
    }
  };
</script>

<style scoped>

  .category-field span {
    opacity: 0.54;
    color: #000;
  }

  .v--modal-overlay >>> .v--modal-box {
    overflow: visible;
  }

  .modal-box {
    position: relative;
    padding: 25px 30px 41px 40px;
  }

  .modal-header {
    margin-bottom: 25px;
  }

  .modal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.428rem;
    font-weight: 400;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .btn--check {
    color: #294d9c;
    font-size: 1rem;
  }

  .btn--check svg {
    fill: #294d9c;
  }

  .btn--close,
  .btn--close:hover {
    color: #999;
  }

  .btn--close svg {
    fill: #999;
  }

</style>
