<template>
  <Modal
    name="update-category"
    width="500"
    height="auto"
    @before-open="getPropsData"
    @closed="reset"
  >
    <div class="modal-box">
      <ImageButton
        class="modal-close"
        @click.native.stop="$modal.hide('update-category')"
      >
        <svg
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <header class="modal-header">
        <h1 class="modal-title">
          Переименовать папку
        </h1>
      </header>

      <form @submit.prevent="submit">
        <TreeSelect
          v-model="form.parent"
          :multiple="false"
          :open-on-click="true"
          :options="parentCategories"
          :no-children-text="'Нет папки'"
          :normalizer="normalizeCategories"
          class="tree-select mb-3"
          placeholder="Родительская папка"
        />

        <div>
          <InputField
            v-model="form.name"
            v-validate="{required: true}"
            name="name"
            placeholder="Наименование товара"
          />
          <div v-if="errors">
            <span class="form-error">{{ errors.first('name') }}</span>
          </div>
          <div class="mt-2 field-caption">
            Не более 200 символов
          </div>
        </div>

        <footer class="modal-footer">
          <ActionButton
            type="submit"
            class="btn--save mr-2"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Сохранить</span>
          </ActionButton>

          <ActionButton
            type="reset"
            class="btn--close"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            <span>Очистить</span>
          </ActionButton>
        </footer>
      </form>
    </div>
  </Modal>
</template>

<script>
  import ActionButton from '@/components/elements/ActionButton';
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';

  import TreeSelect from '@riophae/vue-treeselect';


  export default {
    inject: ['$validator'],
    name: 'UpdateCategory',
    components: {
      ActionButton,
      ImageButton,
      InputField,
      TreeSelect
    },

    data() {
      return {
        id: null,
        form: {
          name: null,
          parent: null
        }
      };
    },
    computed: {
      parentCategories() {
        return this.$store.getters.categories.filter(
          category =>
            category.parent === null &&
            category.category_type === this.$route.meta.type
        );
      }
    },
    methods: {
      async submit() {
        const result = await this.$validator.validate();
        if (!result) return;
        if (this.form.parent === undefined) this.form.parent = null;

        const responseResult = await this.$store.dispatch('updateCategory', {
          form: {...this.form},
          id: this.id,
          categoryType: this.$route.meta.type
        });
        if (responseResult.status === 200) {
          this.$toast.success('Данные изменены');
          this.$modal.hide('update-category');
        } else {
          this.$toast.error('Произошла ошибка');
        }
      },
      getPropsData(e) {
        this.id = e.params.id;
        this.form.name = e.params.title;
        this.form.parent = e.params.parentCategory;
      },
      reset() {
        Object.assign(this.$data, this.$options.data());
      },
      normalizeCategories(node) {
        return {
          label: node.name
        };
      }
    }
  };
</script>

<style scoped>

  .v--modal-overlay >>> .v--modal-box {
    overflow: visible;
  }

  .modal-box {
    position: relative;
    padding: 25px 30px 40px;
  }

  .modal-header {
    margin-bottom: 25px;
  }

  .modal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.428rem;
    font-weight: 400;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .field-caption {
    color: #999;
  }

  .btn--save {
    border: 0;
    padding: 0;
    color: #294d9c;
    font-size: 1rem;
  }

  .btn--save svg {
    fill: #294d9c;
  }

  .btn--save:hover {
    color: #294d9c;
    background-color: transparent;
  }

  .btn--save:hover svg {
    fill: #294d9c;
  }

  .btn--close {
    border: 0;
    padding: 0;
    color: #999;
  }

  .btn--close:hover {
    color: #999;
    background-color: transparent;
  }

  .btn--close svg,
  .btn--close:hover svg {
    fill: #999;
  }

</style>
