<template>
  <fieldset>
    <legend>
      <h1 class="main-title mb-2">
        Динамические скидки
      </h1>
    </legend>
    <div class="row">
      <div class="col-8">
        <table class="disc-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Процент скидки</th>
              <th>Начиная с суммы</th>
              <th>Период суммирования</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="dynDiscount in dynamicDiscounts"
              :key="dynDiscount.id"
            >
              <td>{{ dynDiscount.id }}</td>
              <td>{{ dynDiscount.percent }} %</td>
              <td>{{ dynDiscount.start_sum }}</td>
              <td>{{ dynDiscount.period }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <form @submit.prevent="submitDynamicDiscount">
          <div
            class="settings-item" 
            style="padding: 20px"
          >
            <div class="settings-item__block">
              <h2 class="title">
                Новая динамическая скидка
              </h2>
              <div class="field-wrp">
                <label class="field-label">Процент скидки</label>
                <div class="input-wrp">
                  <InputField
                    v-model="form.percent"
                    v-validate="{required:true}"
                    name="dyn_form_percent"
                    type="phone"
                  />
                </div>
                <span
                  v-if="errors.has('dyn_form_percent')"
                  class="form-error"
                >{{ errors.first('dyn_form_percent') }}</span>
              </div>
              <div class="field-wrp">
                <label
                  for
                  class="field-label"
                >Начиная с суммы</label>
                <div class="input-wrp">
                  <InputField
                    v-model="form.start_sum"
                    v-validate="{required:true}"
                    name="dyn_form_start_sum"
                    type="phone"
                  />
                </div>
                <span
                  v-if="errors.has('dyn_form_start_sum')"
                  class="form-error"
                >{{ errors.first('dyn_form_start_sum') }}</span>
              </div>
              <div class="field-wrp">
                <label
                  for
                  class="field-label"
                >Период суммирования</label>
                <div class="input-wrp">
                  <InputField
                    v-model="form.period"
                    type="phone"
                    name="dyn_form_period"
                  />
                </div>
              </div>
            </div>
            <div 
              v-if="formSubmitted"
              class="pg"
            >
              <ProgressBar :size="32" />
            </div>
            <ImageButton
              v-else
              class="btn--save"
              type="submit"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#plus" />
              </svg>
              <span>Добавить</span>
            </ImageButton>
          </div>
        </form>
      </div>
    </div>
  </fieldset>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';
  import ProgressBar from '@/components/elements/ProgressBar';

  export default {
    inject: ['$validator'],
    name: 'LoyaltyDiscountDynamic',
    components: {
      ImageButton,
      InputField,
      ProgressBar
    },
    data() {
      return {
        formSubmitted: false,
        form: {
          percent: null,
          start_sum: null,
          period: null
        }
      };
    },
    computed: {
      ...mapGetters({
        dynamicDiscounts: 'discounts/dynamic_discounts'
      })
    },
    mounted(){
      this.fetchDynamicDiscounts();
    },
    methods: {
      ...mapActions({
        fetchDynamicDiscounts: 'discounts/fetchDynamicDiscounts',
        createDynamicDiscount: 'discounts/createDynamicDiscount',
      }),
      async submitDynamicDiscount() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.formSubmitted = true;
        const rep = await this.createDynamicDiscount(this.form);
        if(rep.status === 201){
          this.reset();
        }else{
          this.$toast.error('произошла ошибка при сохранинии');
        }
        this.formSubmitted = false;
      },
      reset(){
        this.form.percent=0;
        this.form.start_sum=0;
        this.form.period=null;
      }
    }
  };
</script>

<style scoped>
.settings--discounts{
 background: #fff;
 margin-top: 20px;
}
  .settings-item {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }

  .settings-item .field-wrp {
    margin-bottom: 15px;
  }

  .settings-item + .settings-item {
    margin-top: 30px;
  }

  .company_actions {
    margin-top: 20px;
  }

  .company_item_caption {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.4);
  }

  .company_item_value {
    font-weight: 400;
    margin-bottom: 10px;
  }

  .edit-btn {
    border: 0;
    outline: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #294d9c;
  }

  .edit-btn svg {
    fill: #294d9c;
  }

  .edit-btn img {
    margin-right: 10px;
  }

  .title {
    margin: 0 0 10px 0;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }

  .input-wrp {
    position: relative;
    transform-style: preserve-3d;
  }

  .password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 18px;
    height: 18px;
  }

  .settings-item [type='password'] {
    padding-right: 50px;
  }

  .field-label, .checkbox {
    display: block;
    margin-bottom: 8px;
    line-height: 15px;
    font-size: 12px;
    color: #707070;
  }

  .btn--save >>> svg {
    fill: #294d9c;
  }

  .btn--save {
    line-height: 18px;
    font-weight: bold;
    font-size: 14px;
    color: #294d9c;
  }
  .disc-table{
    width: 100%;
    border-collapse: collapse;
  }
  .disc-table th{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
  }
  .disc-table td{
    line-height: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  .disc-table tr:last-child td{
      border-bottom: 0;
  }
  fieldset{
    border: 1px solid #ccc;
  }
  fieldset .main-title{
    padding: 10px 15px;
  }
  .pg{
    display: flex;
    justify-content: center;
  }
</style>
