<template>
  <fieldset style="margin-top: 20px">
    <legend>
      <h1 class="main-title mb-2">
        Статические скидки
      </h1>
    </legend>
    <div class="row">
      <div class="col-8">
        <table class="disc-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Только для розничных клиентов?</th>
              <th>Процент скидки</th>
              <th>По умолчанию при создании клиента?</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="stcDiscount in staticDiscounts"
              :key="stcDiscount.id"
            >
              <td>{{ stcDiscount.id }}</td>
              <td>{{ stcDiscount.only_retail_client }}</td>
              <td>{{ stcDiscount.percent }} %</td>
              <td>{{ stcDiscount.default }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <form
          name="staticform"
          @submit.prevent="submitStaticDiscount"
        >
          <div
            class="settings-item" 
            style="padding: 20px"
          >
            <div class="settings-item__block">
              <h2 class="title">
                Новая статическая скидка
              </h2>
              <div class="field-wrp">
                <div class="input-wrp">
                  <CheckField
                    id="retail_client"
                    class="checkbox"
                    name="retail_client"
                    label="Только для розничных клиентов?"
                  />
                </div>
              </div>
              <div class="field-wrp">
                <label class="field-label">Процент скидки</label>
                <div class="input-wrp">
                  <InputField
                    v-model="form.percent"
                    name="percent"
                    type="phone"
                    :maxlength="3"
                  />
                </div>
                <span
                  v-if="hasErrors"
                  class="form-error"
                >Процент скидки должен быть больше 0</span>
              </div>
              <div class="field-wrp">
                <CheckField
                  id="default"
                  name="default"
                  class="checkbox"
                  label="По умолчанию при создании клиента?"
                />
              </div>
            </div>
            <div 
              v-if="formSubmitted"
              class="pg"
            >
              <ProgressBar :size="32" />
            </div>
            <ImageButton
              v-else
              class="btn--save"
              type="submit"
              style="margin-top: 10px"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#plus" />
              </svg>
              <span>Добавить</span>
            </ImageButton>
          </div>
        </form>
      </div>
    </div>
  </fieldset>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';
  import CheckField from '@/components/elements/CheckField';
  import ProgressBar from '@/components/elements/ProgressBar';

  export default {
    name: 'LoyaltyDiscountStatic',
    components: {
      ImageButton,
      InputField,
      CheckField,
      ProgressBar
    },
    data() {
      return {
        formSubmitted: false,
        form: {
          only_retail_client: false,
          percent: 0,
          default: false
        },
        hasErrors: false
      };
    },
    computed: {
      ...mapGetters({
          staticDiscounts: 'discounts/static_discounts',
      })
    },
    mounted(){
      this.fetchStaticDiscounts();
    },
    methods: {
      ...mapActions({
        fetchStaticDiscounts: 'discounts/fetchStaticDiscounts',
        createStaticDiscount: 'discounts/createStaticDiscount',
      }),
      async submitStaticDiscount(){
        if (!this.validate()){
          this.hasErrors = true
          return;
        }
        this.formSubmitted = true;
        const rep = await this.createStaticDiscount(this.form);
        if(rep.status === 201){
          this.reset();
        }else{
          this.$toast.error('произошла ошибка при сохранинии');
        }
        this.formSubmitted = false;
        this.hasErrors = false;
      },
      reset(){
        this.form.only_retail_client = false;
        this.form.percent = 0;
        this.form.default = false;
      },
      validate(){
        return this.form.percent > 0;
      }
    }
  };
</script>

<style scoped>

  .settings-item {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }

  .settings-item .field-wrp {
    margin-bottom: 15px;
  }

  .settings-item + .settings-item {
    margin-top: 30px;
  }

  .company_actions {
    margin-top: 20px;
  }

  .company_item_caption {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.4);
  }

  .company_item_value {
    font-weight: 400;
    margin-bottom: 10px;
  }

  .edit-btn {
    border: 0;
    outline: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #294d9c;
  }

  .edit-btn svg {
    fill: #294d9c;
  }

  .edit-btn img {
    margin-right: 10px;
  }

  .title {
    margin: 0 0 10px 0;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }

  .input-wrp {
    position: relative;
    transform-style: preserve-3d;
  }

  .password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 18px;
    height: 18px;
  }

  .settings-item [type='password'] {
    padding-right: 50px;
  }

  .field-label, .checkbox {
    display: block;
    margin-bottom: 8px;
    line-height: 15px;
    font-size: 12px;
    color: #707070;
  }

  .btn--save >>> svg {
    fill: #294d9c;
  }

  .btn--save {
    line-height: 18px;
    font-weight: bold;
    font-size: 14px;
    color: #294d9c;
  }
  .disc-table{
    width: 100%;
    border-collapse: collapse;
  }
  .disc-table th{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
  }
  .disc-table td{
    line-height: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  .disc-table tr:last-child td{
      border-bottom: 0;
  }
  fieldset{
    border: 1px solid #ccc;
  }
  fieldset .main-title{
    padding: 10px 15px;
  }
  .pg{
    display: flex;
    justify-content: center;
  }
</style>
