<template>
<!-- eslint-disable -->
  <div >
     <ActionBar @search-changed="searchChange" 
                @period-changed="periodChange"
                @shop-changed="shopChange"
                :list-shops="shops"/>
     <div class="table">
        <div class="table-head">
          <div class="table-head__item"> № Возврата</div>
          <div class="table-head__item">Время возврата</div>
          <div class="table-head__item">Сумма возврата</div>
          <div class="table-head__item">Магазин</div>
          <div class="table-head__item">Касса</div>
          <div class="table-head__item">Клиент</div>
        </div>
        <div class="table-body" v-if="rangeReturns.length === 0 && !loading">
          <div class="empty-row">Нет соответствующих параметрам</div>
        </div>
        <div class="row loader" v-if="loading">
          <ProgressBar/>
        </div>
        <div class="table-body" v-else>
          <div class="table-range" v-for="(retn,i) in rangeReturns" :key="i">
             <div class="table-row">
               <span class="table-row-title">{{toLongDate(retn.date)}}</span>
             </div>
             <div class="table-row"  v-for="entry in retn.entries" :key="entry.id">
              <div class="table-body__item" >
                <router-link :to="{name: 'ReturnsInfo', params: {id: entry.id}}">{{ entry.id }}</router-link>
              </div>
              <div class="table-body__item" >{{ toTime(entry.created_at) }}</div>
              <div class="table-body__item" >{{ entry.amount }}</div>
              <div class="table-body__item" >
                <router-link :to="{name: 'ShopsInfos', params: {id: entry.shift.cashbox.shop.id}}">
                  {{ entry.shift.cashbox.shop.name  }}
                </router-link>
              </div>
              <div class="table-body__item" >
                <router-link to="#">
                  {{ entry.shift.cashbox.name  }}
                </router-link>
              </div>
              <div class="table-body__item" >
                 <router-link  to="#">
                   {{ entry.client.name  }}
                 </router-link>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import ActionBar from '@/components/returns/ActionBar'
  import ProgressBar from '@/components/elements/ProgressBar'
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: 'Returns',
    components: {
      ActionBar,
      ProgressBar
    },
    data(){
      return{
        loading: false,
        searchParams: {
          shift__cashbox__shop: null,
          created_at__gte: '',
          created_at__lte: '',
          number: '',
        }
      }
    },
    computed: {
      ...mapGetters(['rangeReturns', 'shops'])
    },
    created(){
      this.getListShops()
      this.loadDatas()
    },
    methods:{
      ...mapActions(['fetchReturns','searchReturns', 'getListShops']),
      async loadDatas(){
        this.loading = true
        await this.fetchReturns()
        this.loading = false
      },
      async searchChange(e){
        this.searchParams.number = e
        this.loading = true
        await this.searchReturns(this.searchParams)
        this.loading = false
      },
      async periodChange(dates){
        this.searchParams.created_at__gte = dates[0]
        this.searchParams.created_at__lte = dates[1]
        this.loading = true
        await this.searchReturns(this.searchParams)
        this.loading = false
      },
      async shopChange(shopId){
        this.searchParams.shift__cashbox__shop = shopId
        this.loading = true
        await this.searchReturns(this.searchParams)
        this.loading = false
      },
      toLongDate(e){
        const months = ['январь','февраль','март','апрель', 'май','июнь', 'июль','август','сентябрь','октябрь','ноябрь','декабрь'];
        const date = new Date(e);
        const str = [date.getDate(), months[date.getMonth()], date.getFullYear()]
        return str.join(" ")
      },
      toTime(e) {
        const date = new Date(e);
        const str = [date.getHours(), date.getMinutes()]
        return str.join(":")
      },
    }
  }
</script>

<style scoped>

.loader {
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
  }

  .table {
    margin-top: 15px;
  }

  .table-head {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-column-gap: 20px;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    min-height: 60px;
    background-color: rgba(41, 77, 156, .54);
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .table-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    color: #000;
  }

  .table-row {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-column-gap: 20px;
    align-items: center;
    padding: 10px;
    min-height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .table-row:nth-child(even) {
    background-color: rgba(238, 238, 238, .3);
  }
  .empty-row{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table-row-title{
    font-size: 11px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54);
  }
</style>
