<template>
<!-- eslint-disable -->
  <div>
    <div class="" v-if="currentReturn && !loading">
      <div>
        <div class="row align-items-center mb-4">
          <div class="col-4">
            <h1 class="main-title" >
              <router-link class="router-link btn-back" :to="{name: 'Returns'}">
                <svg>
                  <use xlink:href="@/assets/sprite.svg#back"></use>
                </svg>
              </router-link>
              Возврат №{{currentReturn.id}}
            </h1>
          </div>
          <div class="col-8" >
            <div class="row" style="display; flex; justify-content: flex-end">
              <div class="col-auto ml-auto">
                <ActionButton class="btn--print" @click="print">
                  <svg>
                    <use xlink:href="@/assets/sprite.svg#print"></use>
                  </svg>
                  <span>Напечать документ</span>
                </ActionButton>
              </div>
              <div class="col-auto">
                <ActionButton class="btn__del" @click="$modal.show('actions-return', {action: 'delete-return', id:currentReturn.id})">
                  <svg>
                    <use xlink:href="@/assets/sprite.svg#close"></use>
                  </svg>
                  Удалить
                </ActionButton>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-3">
            <p class="field-caption">Клиент</p>
            <p class="text">{{currentReturn.client.name}}</p>
          </div>
          <div class="col-3">
            <p class="field-caption">Магазин</p>
            <p class="text">{{currentReturn.shift.cashbox.shop.name}}</p>
          </div>
          <div class="col-3">
            <p class="field-caption">Касса</p>
            <p class="text">{{currentReturn.shift.cashbox.name}}</p>
          </div>
          <div class="col-3">
            <p class="field-caption">Сумма возврата</p>
            <p class="text">{{currentReturn.amount}} руб.</p>
          </div>
        </div>
      </div>
      <ScrollWrap style="max-height: 400px">
        <InfoTable :positions="currentReturn.return_positions" :products="products"/>
      </ScrollWrap>
    </div>
    <ConfirmActionModal @on-actions-return="getActionHandler" />
    <div v-if="loading">
      <ProgressBar message="Подождите..." orientation="vertical" :full="true"/>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import LinkButton from '@/components/elements/LinkButton'
  import InfoTable from '@/components/returns/InfoTable'
  import ConfirmActionModal from '@/components/returns/ConfirmActionModal'
  import ActionButton from '@/components/elements/ActionButton'
  import ProgressBar from '@/components/elements/ProgressBar'
  import ScrollWrap from '@/layouts/ScrollWrap'
  import {mapGetters, mapActions} from "vuex";

  export default {
    name: "ReturnsInfo",
    components: {
      LinkButton,
      ActionButton,
      InfoTable,
      ConfirmActionModal,
      ProgressBar,
      ScrollWrap
    },
    data(){
      return {
        loading: false,
        id: null,
        currentReturn: null
      }
    },
    created(){
      this.getDataHandler(this.$route.params.id)
      this.fetchProducts()
    },
    computed:{
      ...mapGetters(['products']),
    },
    methods: {
      ...mapActions(['getReturn','fetchProducts','deleteReturn','deleteReturnLine']),
      async getDataHandler(id){
        this.loading = true
        const result = await this.getReturn(id)
        if(result.status === 200){
          this.id = id
          this.currentReturn = result.data
        }else{
          this.$router.push({name: 'NotFound'})
        }
        this.loading = false
      },
      async deleteReturnHandler(){
        this.loading = true
        const result = await this.deleteReturn(this.id)
        if(result.status === 204){
          this.$router.push({name: 'Returns'})
        }else{
          this.loading = false
          this.$toast.error(result.data)
        }
      },
      async deleteReturnLineHandler(id){
        this.loading = true
        const result = await this.deleteReturnLine(id)
        if(result.status === 204){
          this.getDataHandler(this.id)
        }else{
          this.loading = false
          this.$toast.error(result.data)
        }
      },
      getActionHandler(extras){
        switch (extras.action) {
          case "delete-return":
            this.deleteReturnHandler()
            break;
          case "delete-returnline":
            this.deleteReturnLineHandler(extras.id)
            break;
        }
      },
      print() {
        window.print()
      }
    },
  }
</script>

<style scoped>

  .main_filter {
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 15px 12px;
    margin-bottom: 15px;
  }
  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  .field-caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }
  .btn--print >>> svg {
    width: 20px;
    height: 18px;
    fill: #294D9C;
  }
  .btn__del >>> svg {
    margin-right: 5px;
  }
  .btn__del {
    border: none;
    padding: 0;
  }
  .btn__del:hover {
    background-color: transparent;
    color: #294D9C;
  }
  .btn__del:hover svg{
    fill: #294D9C;
  }
  .desc {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }
  .text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  @media print {
    .btn--print, .btn__del, #back, .header__nav, .aside_nav, .btn-back{
      display: none !important;
      visibility: hidden;
    }
  }

</style>
