<template>
  <div class="action-bar">
    <div class="row justify-content-between">
      <div class="col-4 d-flex align-items-center">
        <ActionButton
          color="blue"
          @click="$modal.show('create-position')"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>
            Добавить должность
          </span>
        </ActionButton>
      </div>
    </div>
  </div>
</template>

<script>
  import ActionButton from "@/components/elements/ActionButton";

  export default {
    name: "PositionsIndexActionBar",
    components: {
      ActionButton
    }
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }

</style>
