<template>
<!-- eslint-disable -->
  <modal name="create-position" width="400" height="auto" @closed="reset()">
    <div class="modal-content">
      <ImageButton class="modal-close" @click.native.stop="$modal.hide('create-position')">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <h2 class="modal-title">Добавить должность</h2>

      <form class="mt-3" @submit.prevent="submit">
        <div class="row">
          <span v-if="errors" class="form-error">{{errors.first('non_field_errors')}}</span>
        </div>
        <div>
          <InputField
            v-model="form.name"
            name="name"
            v-validate="{required:true}"
            placeholder="Введите должность"
          >
            <div class="mb-1">Должность</div>
          </InputField>
          <div class="errors" v-show="errors.has('name')">
            <span class="form-error">{{errors.first('name')}}</span>
          </div>
        </div>
        <ActionButton class="mt-4" color="blue" type="submit">Создать</ActionButton>
      </form>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
import ImageButton from "@/components/elements/ImageButton";
import ActionButton from "@/components/elements/ActionButton";
import InputField from "@/components/elements/InputField";
import { mapActions } from "vuex";

export default {
  inject: ["$validator"],
  name: "CreatePosition",
  components: {
    ImageButton,
    ActionButton,
    InputField
  },
  data() {
    return {
      form: {
        name: ""
      }
    };
  },
  methods: {
    ...mapActions(["addPosition"]),
    reset() {
      Object.assign(this.$data, this.$options.data());
    },
    async submit() {
      const result = await this.$validator.validate();
      if (!result) return;
      const responseResult = await this.addPosition(this.form);
      if (responseResult.status == 201) {
        this.$toast.success("Должность добавлена");
        this.$modal.hide("create-position");
      } else {
        this.$toast.error("Произошла ошибка");
      }
    }
  },
  destroyed() {
    this.$ResetValidator();
  }
};
</script>

<style scoped>
.modal-content {
  padding: 20px 30px 30px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
</style>
