<template>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>Название должности</th>
        <th>Изменить</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="position in positions"
        :key="position.id"
      >
        <td>
          {{ position.name }}
        </td>
        <td>
          <ImageButton
            class="btn--edit"
            @click="$modal.show('update-position', position)"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#edit" />
            </svg>
          </ImageButton>
        </td>
        <td>
          <ImageButton
            class="btn--delete"
            @click="deletePosition({id: position.id, type: 'position'})"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#delete" />
            </svg>
          </ImageButton>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import {mapGetters, mapActions} from "vuex";

  export default {
    name: 'PositionsIndexTable',
    components: {
      ImageButton
    },
    computed: {
      ...mapGetters(['positions', 'employees']),
    },
    created(){
      this.getPositions();
      this.getEmployees();
    },
    methods: {
      ...mapActions(['getPositions', 'getEmployees']),
      isUsedPosition(id){
        return this.employees.some(employee => employee.current_work.position === id);
      },
      deletePosition(data){
        const result = this.isUsedPosition(data.id);
        if(result){
          this.$noty.error('Данная должность закреплена за сотрудником', {layout: 'bottomRight'});
          return false;
        }
        this.$modal.show('confirmation', data);
      }
    }
  }
</script>

<style scoped>

  .btn--edit {
    fill: #8b9fc9;
  }

  .btn--edit,
  .btn--delete {
    padding: 2px;
  }

  .btn--edit {
    fill: rgba(41, 77, 156, 0.54);
  }

  .btn--edit:hover >>> svg {
    fill: #294d9c;
  }

  .btn--delete {
    fill: #c4c4c4;
  }

  .btn--delete:hover >>> svg {
    fill: #D68282;
  }
</style>
