<template>
  <Modal
    name="update-position"
    width="400"
    height="auto"
    @closed="reset"
    @before-open="getParamsData($event)"
  >
    <div class="modal-content">
      <ImageButton
        class="modal-close"
        @click.native.stop="$modal.hide('update-position')"
      >
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <h2 class="modal-title">
        Изменить должность
      </h2>

      <form
        class="mt-3"
        @submit.prevent="submit"
      >
        <div class="row">
          <span
            v-if="errors"
            class="form-error"
          >{{ errors.first('non_field_errors') }}</span>
        </div>
        <div>
          <InputField
            v-model="form.name"
            v-validate="{required:true}"
            name="name"
            placeholder="Введите должность"
          >
            <div class="field-caption">
              Должность
            </div>
          </InputField>
          <div
            v-show="errors.has('name')"
            class="errors"
          >
            <span class="form-error">{{ errors.first('name') }}</span>
          </div>
        </div>
        <ActionButton
          class="mt-4"
          color="blue"
          type="submit"
        >
          Изменить
        </ActionButton>
      </form>
    </div>
  </Modal>
</template>

<script>
import ImageButton from "@/components/elements/ImageButton";
import ActionButton from "@/components/elements/ActionButton";
import InputField from "@/components/elements/InputField";
import { mapActions } from "vuex";

export default {
  inject: ["$validator"],
  name: "UpdatePosition",
  components: {
    ImageButton,
    ActionButton,
    InputField
  },
  data() {
    return {
      id: null,
      form: {
        name: ""
      }
    };
  },
  destroyed() {
    this.$ResetValidator();
  },
  methods: {
    ...mapActions(["updatePositionEmployee"]),
    reset() {
      Object.assign(this.$data, this.$options.data());
    },
    async submit() {
      const result = await this.$validator.validate();
      if (!result) return;
      const response = await this.updatePositionEmployee({id: this.id, form: this.form});
      if (response.status === 200) {
        this.$toast.success("Должность изменена");
        this.$modal.hide("update-position");
      } else {
        this.$toast.error("Произошла ошибка");
      }
    },
    getParamsData(event){
      this.id = parseInt(event.params.id);
      this.form.name = event.params.name;
    }
  }
};
</script>

<style scoped>
.modal-content {
  padding: 20px 30px 30px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
</style>
