<template>
<!-- eslint-disable -->
  <main class="reg-page">
    <div class="reg-block">
      <div class="errorCode">404</div>
      <div class="errorMessage">Страница не найдена</div>
    </div>
  </main>
</template>

<style scoped>
  .reg-page {
    margin: 0 auto;
  }

  .reg-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .errorCode {
    color: #294D9C;
    font-size: 145px;
  }

  .errorMessage {
    font: 700 30px/34px "Montserrat", sans-serif;
    color: #555;
  }
</style>
