<template>
  <div class="action-bar">
    <div class="row align-items-center">
      <div class="col-3">
        <SearchField
          v-model="search"
          placeholder="Поиск по кассе"
          @input="searchChar"
        />
      </div>
      <div class="col-3">
        <SelectList
          v-model="shop"
          caption="Все магазины"
          :items="listShops"
          @input="filteredShop"
        />
      </div>
      <div class="col-6 d-flex justify-content-end">
        <ActionButton
          color="blue"
          @click="$modal.show('new-cashbox')"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>Новая касса</span>
        </ActionButton>
      </div>
    </div>
    <NewCashbox :shops="listShops" />
  </div>
</template>

<script>

  import SearchField from "@/components/elements/SearchField";
  import ActionButton from "@/components/elements/ActionButton";
  import SelectList from "@/components/elements/Select";
  import NewCashbox from "@/components/cashboxes/NewCashbox";

  export default {
    name: "CashBoxActionBar",
    components: {
      SearchField,
      ActionButton,
      SelectList,
      NewCashbox,
    },
    props: {
      listShops: {
        type: Array,
        required: true
      },
    },
    data() {
      return {
        search: '',
        shop: null,
      }
    },
    methods: {
      searchChar() {
        this.$emit('search-changed', this.search);
      },
      filteredShop() {
        this.$emit('shop-changed', this.shop);
      }
    }
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }

</style>
