<template>
<!-- eslint-disable -->
  <modal name="delete-cashbox" width="300" height="auto" @before-open="getParamsData($event)">
    <div class="modal-confirm">
      <div class="modal-confirm__img-wrp">
        <svg class="warning-icon">
          <use xlink:href="@/assets/sprite.svg#warning"></use>
        </svg>
      </div>
      <div class="modal-confirm__title">
        Вы уверены?
      </div>
      <ul class="confirmation-list">
        <li class="confirmation-list-list__item">
          <ImageButton class="btn--check" @click="deleteCashbox">
            <svg>
              <use xlink:href="@/assets/sprite.svg#check"></use>
            </svg>
            <span>Да</span>
          </ImageButton>
        </li>
        <li class="confirmation-list-list__item">
          <ImageButton class="btn--cancel" @click="$modal.hide('delete-cashbox')">
            <svg>
              <use xlink:href="@/assets/sprite.svg#close"></use>
            </svg>
            <span>Нет</span>
          </ImageButton>
        </li>
      </ul>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
  import ImageButton from "../elements/ImageButton";


  export default {
    name: "DeleteCashbox",
    data(){
      return {
        id: null,
      }
    },
    components: {
      ImageButton
    },
    methods: {
      getParamsData(e) {
        this.id = e.params.id;
      },
      async deleteCashbox() {
        await this.$store.dispatch('deleteCashbox', {id: this.id});
        this.$modal.hide('delete-cashbox');
        this.$toast.success('Касса удалена');
      },
    }
  }
</script>

<style scoped>

  .modal-confirm {
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
  }

  .modal-confirm__img-wrp {
    text-align: center;
  }

  .modal-confirm__title {
    margin: 20px 0 30px 0;
    font: 500 24px/29px "Montserrat", "Arial", sans-serif;
    color: #000;
    text-align: center;
  }

  .confirmation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .btn--check >>> svg {
    fill: #294D9C;
  }

  .btn--cancel >>> svg {
    fill: #D68282;
  }

  .btn--cancel {
    color: #D68282;
  }

  .warning-icon {
    margin: 0 auto;
    display: block;
    width: 44px;
    height: 38px;
    fill: #D68282;
  }
</style>
