<template>
<!-- eslint-disable -->
  <modal name="info-cashbox" width="575" height="auto" @before-open="getExtras($event)">
    <div class="modal-box" v-if="cashbox !=null">
      <ImageButton class="modal-close" @click="$modal.hide('info-cashbox')">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="@/assets/sprite.svg#close"></use>
        </svg>
      </ImageButton>
      <header class="modal-header">
        <h1 class="modal-title">{{ cashbox.shop.name }} {{ cashbox.name }}</h1>
        <h3 class="date-created">Создана {{ $date.toDateTime(cashbox.created_at) }}</h3>
        <h4 class="text_light_gray">{{ cashbox.shop.name }}</h4>
      </header>
      <div class="separator"></div>
      <div class="balance_bloc">
        <div class="balance_title">Баланс</div>
        <div class="balance">{{ $format.balance(cashbox.balance) }} руб</div>
      </div>
      <footer class="modal-footer">
        <ActionButton @click="$modal.hide('info-cashbox'); $modal.show('delete-cashbox',{id: cashbox.id})" class="mr-2"
                      color="blue">
          <svg>
            <use xlink:href="@/assets/sprite.svg#delete"></use>
          </svg>
          <span>Удалить</span>
        </ActionButton>
      </footer>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */

  import ImageButton from "@/components/elements/ImageButton";
  import ActionButton from "@/components/elements/ActionButton";

  export default {
    name: "InfoCashbox",
    components: {
      ActionButton,
      ImageButton,
    },
    data() {
      return {
        cashbox: null
      }
    },
    methods: {
      getExtras(e) {
        this.cashbox = e.params.cashbox;
      }
    }
  }
</script>

<style scoped>

  .date-created {
    color: #294d9c;
  }

  .text_light_gray {
    font-size: 14px;
    line-height: 1px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.64);
  }

  .separator {
    border-top: 1px solid rgba(0, 0, 0, 0.155);
  }

  .balance_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    margin: 20px 0;
  }

  .balance_bloc .balance_title {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.64);
  }

  .balance_bloc .balance {
    font-size: 45px;
    font-weight: 700;
  }

  .modal-box {
    position: relative;
    padding: 25px 40px 40px 40px;
  }

  .modal-header {
    margin-bottom: 25px;
  }

  .modal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.428rem;
    font-weight: 500;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .v--modal-overlay >>> .v--modal-box {
    overflow: visible;
  }

  .field-caption {
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

</style>
