<template>
<!-- eslint-disable -->
  <modal name="new-cashbox" width="575" height="auto" @closed="reset">
    <div class="modal-box">
      <ImageButton class="modal-close" @click="$modal.hide('new-cashbox')">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <header class="modal-header">
        <h1 class="modal-title">Создание кассы</h1>
      </header>

      <form @submit.prevent="submit">
        <div class="row align-items-center mb-4">
          <div class="col-12">
            <span v-if="errors" class="form-error">{{errors.first('non_field_errors')}}</span>
          </div>
          <div class="col-7">
            <TreeSelect
              placeholder="Выберите магазин"
              class="tree-select mr-2"
              :multiple="false"
              :open-on-click="true"
              :options="shops"
              :noChildrenText="'Нет магазинов'"
              :normalizer="normalizeShops"
              name="shop"
              v-model="form.shop"
              v-validate="{required: true}"
            />
          </div>
          <div class="col-5">
            <span class="field-caption">К какому магазину принадлежит касса</span>
          </div>
          <div class="col-12" v-if="errors">
            <span class="form-error">{{errors.first('shop')}}</span>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-7">
            <InputField
              placeholder="Имя кассы"
              name="name"
              v-model="form.name"
              v-validate="{required: true, min: 4}"
            />
          </div>
          <div class="col-5">
            <span class="field-caption">Оставьте поле пустым, чтобы автоматически сгенерировать имя</span>
          </div>
          <div class="col-12" v-if="errors">
            <span class="form-error">{{errors.first('name')}}</span>
          </div>
        </div>

        <footer class="modal-footer">
          <ImageButton type="submit" class="btn--save mr-5">
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Создать</span>
          </ImageButton>

          <ImageButton type="reset" class="btn--reset" @reset="reset">
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            <span>Отменить</span>
          </ImageButton>
        </footer>
      </form>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
import InputField from "@/components/elements/InputField";
import ImageButton from "@/components/elements/ImageButton";
import TreeSelect from "@riophae/vue-treeselect";

export default {
  inject: ["$validator"],
  name: "NewCashbox",
  components: {
    InputField,
    ImageButton,
    TreeSelect
  },
  props: {
    shops: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      form: {
        shop: null,
        name: ""
      }
    };
  },
  methods: {
    async submit() {
      const result = await this.$validator.validate();
      if (!result) return;

      await this.$store.dispatch("submitNewCashbox", { ...this.form });
      this.$modal.hide("new-cashbox");
      this.$toast.success("Касса добавлена");
    },
    normalizeShops(node) {
      this.form.shop = node.name;
      return {
        id: node.id,
        label: node.name
      };
    },
    reset() {
      Object.assign(this.$data, this.$options.data());
    }
  },
  destroyed() {
    this.$ResetValidator();
  }
};
</script>

<style scoped>
.modal-box {
  position: relative;
  padding: 25px 40px 40px 40px;
}

.modal-header {
  margin-bottom: 25px;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.428rem;
  font-weight: 500;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.v--modal-overlay >>> .v--modal-box {
  overflow: visible;
}

.tree-select >>> .vue-treeselect__control {
  border-color: rgba(41, 77, 156, 0.54);
  z-index: 5;
}

.field-caption {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.btn--save {
  color: #294d9c;
  font-size: 1rem;
}

.btn--save,
.btn--reset {
  border: 0;
  padding: 0;
}

.btn--save svg {
  fill: #294d9c;
}

.btn--reset,
.btn--reset:hover {
  color: #757575;
}

.btn--reset svg {
  fill: #757575;
}
</style>
