<template>
  <div>
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>Название</th>
          <th>Магазин</th>
          <th>Денег в кассе</th>
          <th>Дата создания</th>
          <th />
        </tr>
      </thead>
      <tbody>
        <tr v-if="dataSource.length === 0">
          <td
            colspan="5"
            class="not-found"
          >
            Нет соответствующих параметрам приходов
          </td>
        </tr>
        <tr
          v-for="data in dataSource"
          :key="data.id"
        >
          <td>
            <LinkButton
              class="link-button"
              @click="$modal.show('info-cashbox', {cashbox : data})"
            >
              {{ data.shop.name }} {{ data.name }}
            </LinkButton>
          </td>
          <td>
            <RouterLink :to="{name: 'ShopsInfos', params: {id: data.shop.id}}">
              {{ data.shop.name }}
            </RouterLink>
          </td>
          <td>{{ $format.balance(data.balance) }}</td>
          <td>{{ $date.toDateTime(data.created_at) }}</td>
          <td>
            <ImageButton
              class="btn--delete"
              title="Удалить кассу"
              @click="$modal.show('delete-cashbox', {id: data.id})"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#delete" />
              </svg>
            </ImageButton>
          </td>
        </tr>
      </tbody>
    </table>
    <DeleteCashbox />
    <InfoCashbox />
  </div>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import LinkButton from "@/components/elements/LinkButton";
  import DeleteCashbox from "@/components/cashboxes/DeleteCashbox";
  import InfoCashbox from "@/components/cashboxes/InfoCashbox";

  export default {
    name: 'CashBoxesTable',
    components: {
      ImageButton,
      LinkButton,
      DeleteCashbox,
      InfoCashbox
    },
    props: {
      dataSource: {
        type: Array,
        required: true
      },
    }
  }
</script>
<style scoped>

  .btn--delete svg{
    fill: #999;
    transition: .25s all ease;
  }

  .btn--delete:hover svg{
    fill: #555;
  }

</style>
