<template>
  <div class="action-bar">
    <div class="row align-items-center">
      <div class="col-3">
        <SearchField
          v-model="search"
          placeholder="Поиск по названию скидки"
          @input="searchChar"
        />
      </div>
      <div class="col-3">
        <SelectList
          v-model="shop"
          caption="Все магазины"
          :items="shops"
          @input="filteredShop"
        />
      </div>
      <div class="col-6 d-flex justify-content-end toggle-list-parent">
        <ActionButton
          color="blue"
          @click="toggleList = !toggleList"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>Создать</span>
        </ActionButton>
        <div
          v-if="toggleList"
          class="toggle-list"
          @mouseleave="toggleList = !toggleList"
        >
          <RouterLink
            :to="{name: 'DiscountCreate', query:{type: 'category'}}"
            class="toggle-list-item"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#folder" />
            </svg>
            <span>Скидку на категорию</span>
          </RouterLink>
          <RouterLink
            :to="{name: 'DiscountCreate'}"
            class="toggle-list-item"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#file" />
            </svg>
            <span>Скидку на товар</span>
          </RouterLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchField from "@/components/elements/SearchField";
  import ActionButton from "@/components/elements/ActionButton";
  import SelectList from "@/components/elements/Select";

  export default {
    name: "DiscountActionbar",
    components: {
      SearchField,
      ActionButton,
      SelectList,
    },
    props: {
      shops: {
        type: Array,
        required: true
      },
    },
    data() {
      return {
        search: '',
        shop: null,
        toggleList: false
      }
    },
    computed: {
      searchChar() {
        this.$emit('search-change', this.search)
        return;
      },
      filteredShop() {
        this.$emit('shop-change', this.shop);
        return;
      }
    }
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }
  .toggle-list-parent{
    position: relative;
  }
  .toggle-list{
    width: 242px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 15px;
    top: 40px;
    border-radius: 4px;
    background-color: var(--primary-color);
    animation:  anim 0.5s;
  }
  .toggle-list-item{
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }
  .toggle-list-item svg{
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-right: 10px;
  }
  .toggle-list-item:hover{
    background-color: #224082;
    border-radius: 4px;
  }

  @keyframes anim {
    from{
      transform: translateY(20px);
      opacity: 0;
    }
     to{
      transform: translateY(0px);
      opacity: 1;
    }
  }


</style>
