<template>
  <li
    class="product"
  >
    <div class="product__head">
      <img
        v-if="product.photos.length"
        :src="product.photos[0].image"
        alt="product"
        class="product__image"
      >
      <img
        v-else
        src="@/assets/img_placeholder.svg"
        alt="product"
        class="product__image"
      >
    </div>
    <div class="product__body">
      <h3 class="product__title">
        {{ product.name }}
      </h3>
      <ul class="product-props">
        <li
          v-if="product.barcode"
          class="product-props__item"
        >
          {{ product.barcode }}
        </li>
        <li
          v-if="product.sku"
          class="product-props__item"
        >
          {{ product.sku }}
        </li>
        <li class="product-props__item">
          <span v-if="product.product_type === 1">
            На складе: {{ product.balance || 0 }} шт.
          </span>
          <span v-else>
            Услуга
          </span>
        </li>
      </ul>
    </div>
    <div class="product__footer">
      <div class="product-price">
        <span :class="[priceStyle]">{{ product.price.retail }} </span>
        <span
          v-if="product.discount > 0"
          class="line-normal"
        >{{ discount }}</span>
      </div>
    </div>
  </li>
</template>

<script>

export default {
  name: "ProductItem",
  props: {
    product: { type: Object, required: true }
  },
  computed: {
    discount() {
      return this.product.price.retail - parseFloat(this.product.price.retail * this.product.discount/100);
    },
    priceStyle(){
      return this.product.discount > 0 ? 'line-through' : 'line-normal';
    }
  },
};
</script>

<style scoped>
.product__head {
  display: flex;
  align-items: center;
  width: 76px;
}

.product__body {
  padding-left: 10px;
  width: calc(80% - 46px);
}

.product__footer {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.product {
  position: relative;
  border-top: 1px solid #dedede;
  padding: 5px;
  display: flex;
  align-items: center;
  background: #fafafa;
  cursor: pointer;
  transition: 0.25s all ease;
}

.product:hover {
  box-shadow: inset 0 0 3px #1284e7;
}

.product:last-child {
  border-bottom: 1px solid #dedede;
}

.product__image {
  width: 46px;
  height: 46px;
  object-fit: cover;
  object-position: center;
}

.product__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #232323;
}

.product-props {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
}

.product-props__item {
  position: relative;
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.54);
}

.product-props__item + .product-props__item {
  margin-left: 10px;
}

.product-props__item + .product-props__item::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  margin-top: -1px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.54);
}

.product-price {
  display: flex;
  flex-direction: column;
}
.line-normal{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.line-through{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #969696;
}
@media (max-width: 1199px) {
  .product-price{
    font-size: 14px;
  }
}

</style>
