<template>
  <ul class="products">
    <ProductItem
      v-for="product in items"
      :key="product.id"
      :product="product"
    />
  </ul>
</template>

<script>
import ProductItem from '@/components/discounts/ProductItem';

export default {
  name: "ProductList",
  components:{ProductItem},
  props: {
    items: { type: Array, required: true }
  },
};
</script>

<style scoped>
.products {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

</style>
