<template>
  <div>
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>Название скидки</th>
          <th>Тип</th>
          <th>Период действия</th>
          <th>Скидка</th>
          <th>Статус</th>
          <th />
        </tr>
      </thead>
      <tbody>
        <tr v-if="discounts.length === 0">
          <td
            colspan="6"
            class="not-found"
            align="center"
          >
            Нет соответствующих параметрам приходов
          </td>
        </tr>
        <tr
          v-for="(discount,k) in discounts"
          :key="k"
        >
          <td>{{ discount.name }}</td>
          <td>{{ discount.type.title }}</td>
          <td>{{ discount.started_at }} — {{ discount.ended_at }}</td>
          <td>{{ discount.value }} %</td>
          <td>
            <span
              v-if="discount.status"
              class="actived"
            >Активен</span>
          </td>
          <td>
            <ImageButton
              class="btn--delete"
              @click="deleteDiscount(discount)"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#delete" />
              </svg>
            </ImageButton>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";

  export default {
    name: 'DiscountTable',
    components: {
      ImageButton
    },
    props: {
      discounts: {
        type: Array,
        required: true
      },
    },
    data() {
      return {}
    },
    methods: {
      deleteDiscount(discount){
        this.$emit('on-delete', discount);
      }
    }
  }
</script>
<style scoped>

  .btn--delete svg{
    fill: #999;
    transition: .25s all ease;
  }

  .btn--delete:hover svg{
    fill: #555;
  }
  .actived{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #388E3C;
  }
</style>
