<template>
<!-- eslint-disable -->
  <div id="layout">
    <navbar></navbar>
    <main class="main">
      <div class="container">
        <div class="row">
          <Sidebar class="col-2"></Sidebar>
          <div class="col-10">
           <slot />
         </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  /* eslint-disable */
  import Navbar from "@/components/partials/Navbar";
  import Sidebar from "@/components/partials/Sidebar";

  export default {
    name: 'App',
    components: {
      Navbar,
      Sidebar
    }
  }
</script>
