<template>
<!-- eslint-disable -->
  <div class="wrapper">
    <slot></slot>
  </div>
</template>

<script>
  /* eslint-disable */
  export default {
    name: "ScrollWrap",
  }
</script>

<style scoped>

  .wrapper{
    padding-right: 7px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 2px;

  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #294D9C;
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: #294D9C;
  }

</style>
