<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 mix justify-content-between">
        <ImageButton
          class="menu-open"
          @click="$modal.show('drawer')"
        >
          <div class="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner" />
            </div>
          </div>
        </ImageButton>
        <RouterView />
        <StatusBar
          class="status-bar"
          :shift="shift"
          :cashboxes="cashboxes"
        />
      </div>
      <Receipt class="col-4" />
    </div>
    <Drawer :shift="shift" />
    <Settings />
    <CreateCustomer />
    <OpenShift :cashboxes="cashboxes" />
    <CloseShift />
    <Logout @logout="logout" />
  </div>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import StatusBar from "@/components/partials/StatusBar";
  import Receipt from "@/components/partials/Receipt";
  import Drawer from "@/components/partials/Drawer";
  import Settings from "@/components/modals/SettingsModal";
  import CreateCustomer from "@/components/modals/CreateCustomerModal";
  import OpenShift from '@/components/modals/OpenShiftModal';
  import CloseShift from '@/components/modals/ConfirmCloseShiftModal';
  import Logout from "@/components/modals/LogoutModal";
  import {mapActions, mapGetters} from 'vuex';

  export default {
    name: "HomeFrame",
    components: {
      ImageButton,
      StatusBar,
      Receipt,
      Drawer,
      Settings,
      CreateCustomer,
      OpenShift,
      CloseShift,
      Logout
    },
    data(){
      return{
        searchProduct: '',
        filteredCategories:[],
        display: 0
      }
    },
    computed: {
      ...mapGetters(['cashboxes', 'shift']),
    },
    created(){
      this.getCashboxes()
    },
    methods: {
     ...mapActions(['getCashboxes']),
      async logout(e) {
        if (e) {
          const response = await this.$store.dispatch('logout')
          if (response.status === 404) {
            this.$toast.errors(response.data)
          } else {
            window.location.replace(`${process.env.VUE_APP_WWW_URL}/login`);
          }
        }
      },
    }
  }
</script>

<style>
  .b-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  .btn-list-grid{
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
    padding-right: 0px;
  }
  .btn-list-grid svg{
    fill: #000;
  }
  .btn-list-grid.selected svg{
    fill: #294D9C;
  }
  .cashbox-inner {
    position: relative;
    padding: 20px 35px 20px 70px;
  }
  .title {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
  }
  .main-title {
    margin: 0;
    padding: 0 10px;
    display: inline-block;
  }
  .main-caption {
    display: inline-block;
    margin: 0;
  }
  .mix {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu-open {
    position: absolute;
    top: 24px;
    left: 30px;
    z-index: 90;
  }
  .hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 6px 3px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
  }
  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 16px;
  }
  .hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
  }
  .hamburger-inner:before {
    top: -6px;
  }
  .hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 18px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
  }
  .hamburger-inner:after {
    bottom: -6px;
  }
  .hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
  }
  .btn-print{
    background-color: transparent;
  }

  @media (max-width: 1199px) {
    .menu-open{
      left: 20px;
    }
  }

</style>
