<template>
  <div class="cashbox-inner">
    <SearchField
      id="searchField"
      v-model="searchText"
      class="mb-4"
      placeholder="Поиск по названию, штрихкоду"
      @input="searchTextChange"
    />
    <div class="b-flex">
      <div class="grid">
        Каталог
      </div>
      <div class="grid">
        <ImageButton
          class="btn-list-grid mr-2"
          :class="{selected: !display}"
          @click="changeDisplayProducts(0)"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#list" />
          </svg>
        </ImageButton>
        <ImageButton
          class="btn-list-grid"
          :class="{selected: display}"
          @click="changeDisplayProducts(1)"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#grid" />
          </svg>
        </ImageButton>
      </div>
    </div>
    <div class="catalog">
      <ProductsBreadcrumbs
        class="mb-3"
        :items="filteredCategories"
        @get-products-by-categories="getCategoriesFromBreadcrumb"
      />
      <ScrollWrap class="scroll-wrap">
        <Categories
          :items="categories_filtered"
          class="mb-4"
          @on-selected="SelectedCategoryChange"
        />
        <div
          v-if="searching"
          class="loader"
        >
          <ProgressBar />
        </div>
        <template v-else>
          <KeepAlive>
            <ProductsGrid
              v-if="display === 1"
              :items="products"
            />
            <ProductsList
              v-else
              :items="products"
            />
          </KeepAlive>
        </template>
      </ScrollWrap>
    </div>
    <ProgressBar
      v-if="loading"
      :full="true"
      message="загрузка ..."
      orientation="vertical"
    />
  </div>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import ProgressBar from "@/components/elements/ProgressBar";
  import SearchField from "@/components/elements/SearchField";
  import Categories from "@/components/products/Categories";
  import ProductsBreadcrumbs from "@/components/products/ProductsBreadcrumbs";
  import ProductsGrid from "@/components/products/ProductsGrid";
  import ProductsList from "@/components/products/ProductsList";
  import ScrollWrap from "@/components/elements/ScrollWrap";
  import BarcodeScanner from "simple-barcode-scanner";
  import {mapActions, mapGetters} from 'vuex';

  const scanner = BarcodeScanner();

  export default {
    name: "HomePage",
    components: {
      ImageButton,
      ProgressBar,
      SearchField,
      Categories,
      ProductsBreadcrumbs,
      ProductsGrid,
      ProductsList,
      ScrollWrap,
    },
    data() {
      return {
        filteredCategories: [],
        display: 0,
        loading: false,
        searching: false,
        searchText: null
      }
    },
    computed: {
      ...mapGetters([
        'products',
        'categories_filtered',
        'shift',
      ]),
    },
    created() {
      this.$eventBus.$emit('change-receipt-state');
      this.loadData();
      scanner.on((code, event) => {
        event.preventDefault();
        if (!this.loading) {
          this.searchText = code;
          this.getProductsByBarcode(code);
          document.getElementById('searchField').focus()
        }
      });
      this.addMatchMediaListener();
    },
    destroyed() {
      scanner.off();
    },
    methods: {
      ...mapActions([
        'fetchProductsByShop',
        'fetchCategories',
        'searchProductBy',
        'searchProductsByCategory',
        'filterCategories',
        'restoreCategories'
      ]),
      changeDisplayProducts(i) {
        this.display = i;
      },
      async loadData() {
        this.loading = true;
        await this.fetchCategories();
        await this.fetchProductsByShop();
        this.loading = false;
      },
      getCategoriesFromBreadcrumb(category) {
        this.getProductsByCategory(category)
      },
      async SelectedCategoryChange(category) {
        const f = this.filteredCategories.find(b => b.id === category.id);
        if (!f) {
          this.filteredCategories.push(category);
        }
        this.getProductsByCategory(category)
      },
      async getProductsByCategory(category) {
        this.searching = true;
        if (category !== null) {
          this.filterCategories(category);
          await this.searchProductsByCategory({category: category, shopId: this.shift.cashbox.shop.id});
        } else {
          this.restoreCategories();
          await this.fetchProductsByShop();
        }
        this.searching = false;
      },
      async searchTextChange(e) {
        this.searchText = e;
        this.searching = true;
        await this.searchProductBy({
          shop: this.shift.cashbox.shop.id,
          name__icontains: this.searchText
        });
        this.searching = false;
      },
      async getProductsByBarcode(code) {
        this.loading = true;
        await this.searchProductBy({
          shop: this.shift.cashbox.shop.id,
          barcode: code,
        });
        this.loading = false;
      },
      addMatchMediaListener(){
        let mediaQuery = window.matchMedia('(max-width: 1199px)');
        const self = this;
        function handleMatchMediaChange(evt) {
          if (evt.matches) {
            self.changeDisplayProducts(1)
          } else {
            self.changeDisplayProducts(0)
          }
        }
        mediaQuery.addEventListener('change', handleMatchMediaChange);
        handleMatchMediaChange(mediaQuery);
      }
    }
  }
</script>

<style>
  .loader {
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
  }

  .cashbox-inner {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    position: relative;
    padding: 20px 35px 20px 70px;
  }

  .btn-list-grid {
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
  }

  .btn-list-grid svg {
    fill: #000;
  }

  .btn-list-grid.selected svg {
    fill: #294D9C;
  }

  .products-row {
    flex-grow: 1;
    position: relative;
  }

  .catalog{
    position: relative;
    flex-grow: 1;
  }

  .scroll-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1199px) {
    .cashbox-inner{
      padding: 20px 15px 20px 50px;
    }
  }

</style>
