<template>
  <div class="cashbox-inner">
    <SearchField
      v-model="searchProduct"
      class="mb-4"
      placeholder="Поиск по названию, артикулу, штрихкоду и описанию товара"
    />

    <header
      v-if="!isEmptyCurrentSale"
      class="header"
    >
      <div class="header__column">
        <ImageButton @click="$router.push({name: 'Home'})">
          <svg fill="#294D9C">
            <use xlink:href="@/assets/sprite.svg#back" />
          </svg>
        </ImageButton>
        <h1 class="main-title">
          Продажа
          {{ `${currentSale.number}`.padStart(6, '0') }}
        </h1>
        <p class="main-caption">
          {{ client.name }}
        </p>
      </div>
      <div class="">
        <ActionButton class="btn-print">
          <svg fill="#294D9C">
            <use xlink:href="@/assets/sprite.svg#print" />
          </svg>
          <span>
            Печатать накладную
          </span>
        </ActionButton>
      </div>
    </header>
    <div
      v-if="filteredProducts.length"
      class="b-flex mt-3"
    >
      <h2 class="title">
        Товары
      </h2>
    </div>
    <ScrollWrap style="max-height: 50vh;">
      <ReturnProductsList
        :items="filteredProducts"
        :is-retail="client.is_retail"
      />
    </ScrollWrap>
  </div>
</template>

<script>
  import SearchField from "@/components/elements/SearchField";
  import ImageButton from "@/components/elements/ImageButton";
  import ActionButton from "@/components/elements/ActionButton";
  import ReturnProductsList from "@/components/products/ReturnProductsList";
  import ScrollWrap from "@/components/elements/ScrollWrap";
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: "ReturnPage",
    components: {
      ImageButton,
      ActionButton,
      SearchField,
      ReturnProductsList,
      ScrollWrap,
    },
    data() {
      return {
        searchProduct: '',
        products: [],
        client: ''
      }
    },
    computed: {
      ...mapGetters(['currentSale']),
      filteredProducts() {
        if(!this.products) return;
        return this.products.filter(p =>
          (p.id || p.barcode) == this.searchProduct ||
          p.name.toLowerCase().includes(this.searchProduct.trim().toLowerCase())
        )
      },
      isEmptyCurrentSale(){
        return Object.keys(this.currentSale).length === 0;
      }
    },
    watch: {
      '$route' () {
        this.getRouteParams();
      }
    },
    created() {
      this.getRouteParams();
    },
    methods: {
      ...mapActions(['fetchSale']),
      async getRouteParams() {
        const id = this.$route.params.id;
        await this.fetchSale({id});

        this.products = this.currentSale.positions.map(p => ({
          balance: p.count,
          ...p.product
        }));

        this.$eventBus.$on('change-receipt-state', () => {
          this.client = this.$store.getters.currentSale.client;
        });
        this.$eventBus.$emit('change-receipt-state');
      }
    }
  }
</script>

<style scoped>

  .cashbox-inner {
    position: relative;
    padding: 20px 35px 20px 70px;
  }

  .header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header__column{
    display: flex;
    align-items: center;
  }

  @media (max-width: 1199px) {
    .header__column{
      width: 100%;
      margin-bottom: 10px;
    }
  }

</style>
