<template>
  <div>
    <ActionBar @on-search="getSearch" />
    <Table :providers="filteredProviders" />
    <CreateProvider />
    <Confirmation />
  </div>
</template>

<script>

  import ActionBar from '@/components/providers/actionbars/IndexActionBar'
  import CreateProvider from '@/components/providers/modals/CreateProvider'
  import Table from '@/components/providers/tables/IndexTable'
  import Confirmation from "@/components/modals/Confirmation";
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: "ProvidersIndex",
    components: {
      ActionBar,
      Table,
      CreateProvider,
      Confirmation
    },
    data(){
      return{
        search: ''
      }
    },
    computed: {
      ...mapGetters(['providers']),
      filteredProviders(){
        return this.providers.filter(
          p => p.name.toLowerCase().match(this.search.toLowerCase())
        )
      }
    },
    created() {
      this.fetchProviders([]);
    },
    methods: {
      ...mapActions(['fetchProviders']),
      getSearch(e){
        this.search = e;
      }
    }
  }
</script>

<style scoped>

</style>


