<template>
<!-- eslint-disable -->
  <modal name="create-provider" width="350" height="auto" @closed="reset">
    <div class="modal-content">
      <ImageButton class="modal-close" @click.native.stop="$modal.hide('create-provider')">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="@/assets/sprite.svg#close" />
        </svg>
      </ImageButton>

      <h2 class="modal-title">Новый поставщик</h2>

      <form class="create-provider mt-3" @submit.prevent="submit">
        <div>
          <InputField v-model="form.name" name="name" v-validate="{required:true}">
            <div class="field-caption">Название</div>
          </InputField>
          <div class="errors" v-show="errors.has('name')">
            <span class="form-error">{{errors.first('name')}}</span>
          </div>
        </div>

        <div>
          <InputField v-model="form.phone" name="phone" v-validate="{required:true}">
            <div class="field-caption">Телефон</div>
          </InputField>
          <div class="errors" v-show="errors.has('phone')">
            <span class="form-error">{{errors.first('phone')}}</span>
          </div>
        </div>

        <div>
          <InputField v-model="form.email" name="email" v-validate="{required:true}">
            <div class="field-caption">E-mail</div>
          </InputField>
          <div class="errors" v-show="errors.has('email')">
            <span class="form-error">{{errors.first('email')}}</span>
          </div>
        </div>

        <ActionButton class="mt-4" color="blue" type="submit">Создать</ActionButton>
      </form>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
import ActionButton from "@/components/elements/ActionButton";
import ImageButton from "@/components/elements/ImageButton";
import InputField from "@/components/elements/InputField";
import { mapActions } from "vuex";

export default {
  inject: ["$validator"],
  name: "CreateProvider",
  components: {
    ActionButton,
    ImageButton,
    InputField
  },
  data() {
    return {
      form: {
        name: "",
        phone: "",
        email: ""
      }
    };
  },
  methods: {
    ...mapActions(["createProvider"]),
    async submit() {
      const result = await this.$validator.validate();
      if (!result) return;
      const responseResult = await this.createProvider(this.form);
      if (responseResult.status === 201) {
        this.$toast.success("Поставщик добавлен");
        this.$modal.hide("create-provider");
      } else {
        this.$toast.error("Произошла ошибка");
      }
    },
    reset() {
      Object.assign(this.$data, this.$options.data());
    }
  }
};
</script>

<style scoped>
.modal-content {
  padding: 20px 30px 30px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.create-provider {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
</style>
