<template>
  <Modal
    class=""
    name="drawer"
    width="300"
    height="auto"
  >
    <div class="drawer">
      <div class="drawer-wrp">
        <div
          v-if="shift"
          class="caption"
        >
          <ImageButton @click="$modal.hide('drawer')">
            <svg class="back-icon">
              <use xlink:href="@/assets/sprite.svg#back" />
            </svg>
          </ImageButton>
          <span>Смена #{{ shift.number }}</span>
        </div>
        <ul
          class="menu"
          @click="$modal.hide('drawer')"
        >
          <li class="menu-item">
            <RouterLink :to="{name: 'Home'}">
              <svg>
                <use xlink:href="@/assets/sprite.svg#dollar" />
              </svg>
              <span>Продажа</span>
            </RouterLink>
          </li>
          <li class="menu-item">
            <a
              href="#"
              @click.prevent="$modal.show('return-sale')"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#replay" />
              </svg>
              <span>Возврат</span>
            </a>
          </li>
          <li class="menu-item">
            <a @click.prevent="$modal.show('shift')">
              <svg>
                <use xlink:href="@/assets/sprite.svg#repeat" />
              </svg>
              <span>Смены</span>
            </a>
          </li>
          <!--          <li class="menu-item">-->
          <!--            <a href="#">-->
          <!--              <svg>-->
          <!--                <use xlink:href="@/assets/sprite.svg#history"></use>-->
          <!--              </svg>-->
          <!--              <span>-->
          <!--                История-->
          <!--              </span>-->
          <!--            </a>-->
          <!--          </li>-->
          <!--          <li class="menu-item">-->
          <!--            <a @click.prevent="$modal.show('settings')">-->
          <!--              <svg>-->
          <!--                <use xlink:href="@/assets/sprite.svg#settings"></use>-->
          <!--              </svg>-->
          <!--              <span>-->
          <!--                Настройки-->
          <!--              </span>-->
          <!--            </a>-->
          <!--          </li>-->
          <li class="menu-item">
            <a
              href="#"
              @click="$modal.show('close-shift')"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#exit" />
              </svg>
              <span>Закрыть смену</span>
            </a>
          </li>
          <li class="menu-item">
            <a
              href="#"
              @click="$modal.show('auth-logout')"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#logout" />
              </svg>
              <span>Выити</span>
            </a>
          </li>
        </ul>
        <ul class="support-list">
          <li class="support-list__item">
            <a href="#">
              <svg>
                <use xlink:href="@/assets/sprite.svg#question" />
              </svg>
              <span>Связаться с нами</span>
            </a>
          </li>
          <li class="support-list__item">
            <a href="tel:88007006222">
              <svg>
                <use xlink:href="@/assets/sprite.svg#phone" />
              </svg>
              <span>8 800 700 62 22</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </Modal>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton"
  export default {
    name: "Drawer",
    components: {ImageButton},
    props: {
      shift: {type: Object, default: null}
    },
    methods: {
      getImageUrl(img) {
        return require(`${img}`);
      }
    }
  }
</script>

<style scoped>

  .drawer {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fafafa;
    animation: drawerOpen .4s ease-in-out forwards;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .drawer-wrp{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    height: 100%;
  }

  .caption {
    display: flex;
    align-items: center;
    padding: 0 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
  }

  .back-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .menu {
    margin: 60px 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #294D9C;
  }

  .menu a {
    display: flex;
    align-items: center;
    padding: 22px 34px;
    color: #294D9C;
    transition: .25s all ease;
    text-decoration: none;
    cursor: pointer;
  }

  .menu a:hover {
    background: #F3F3F3;
  }

  .menu-item svg {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    fill: #294D9C;
  }

  .support-list {
    margin: auto 0 0 0;
    padding: 0 34px;
    list-style: none;
  }

  .support-list__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .support-list__item + .support-list__item {
    margin-top: 15px;
  }

  .support-list__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
  }

  .support-list__item svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    fill: rgba(0, 0, 0, 0.54);
  }

  @keyframes drawerOpen {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

</style>
