<template>
  <div class="receipt">
    <header class="receipt__header">
      <h2 class="title">
        {{ title }}
      </h2>
      <ImageButton
        v-if="cart.length > 0"
        class="btn-remove"
        @click="$modal.show('truncate-cart')"
      >
        <svg fill="rgba(0, 0, 0, 0.54)">
          <use xlink:href="@/assets/sprite.svg#delete" />
        </svg>
        <span>Очистить</span>
      </ImageButton>
    </header>
    <div class="receipt__body">
      <p
        v-if="cart.length <= 0"
        class="info"
      >
        <svg class="info-icon">
          <use xlink:href="@/assets/sprite.svg#back" />
        </svg>
        <span>
          Добавьте товары из списка
          для возврата
        </span>
      </p>
      <ScrollWrap
        class="product-wrp"
        style="max-height: 500px"
      >
        <ReceiptProductItem
          v-for="(product,i) in cart"
          :key="i"
          :product="product"
          :index="i"
        />
      </ScrollWrap>
    </div>
    <div class="receipt-footer">
      <div
        v-if="$route.name === 'PosReturn'"
        class="row"
      >
        <div class="col-12">
          <div
            v-if="client"
            class="customer-info"
          >
            <svg fill="black">
              <use xlink:href="@/assets/sprite.svg#gravatar" />
            </svg>
            <p>
              Покупатель:
              {{ client.name }}
            </p>
          </div>
        </div>
        <div class="col-12 mt-3">
          <ActionButton
            :disabled="cart.length === 0"
            class="add-sale"
            color="blue"
            @click="$modal.show('return-cash', {cart, client})"
          >
            <div class="add-sale-text">
              <svg
                width="20"
                height="20"
                fill="#fff"
              >
                <use xlink:href="@/assets/sprite.svg#replay" />
              </svg>
              <span>
                Оформить возврат
              </span>
            </div>
            <div class="price">
              {{ sumOfProducts }}
            </div>
          </ActionButton>
        </div>
      </div>
      <div
        v-else
        class="row"
      >
        <div class="col-xl-7 col-12">
          <ActionButton
            class="btn-style"
            :class="{selected: client}"
            @click="$modal.show('select-customer')"
          >
            <svg
              width="20"
              height="20"
            >
              <use xlink:href="@/assets/sprite.svg#gravatar" />
            </svg>
            <span
              v-if="client"
              style="color: #fff;"
            >
              {{ client.name }}
            </span>
          </ActionButton>
        </div>
        <div class="col-xl-5 col-12 mt-lg-3 mt-xl-0">
          <ActionButton class="btn-style">
            <svg
              width="20"
              height="20"
            >
              <use xlink:href="@/assets/sprite.svg#loyality" />
            </svg>
            <span>
              Скидка • {{ currentClient.discount }}%
            </span>
          </ActionButton>
        </div>
        <div class="col-12 mt-3">
          <ActionButton
            class="add-sale"
            color="blue"
            @click="beforeConfirmSales"
          >
            <div class="add-sale-text">
              <svg
                width="20"
                height="20"
                fill="#fff"
              >
                <use xlink:href="@/assets/sprite.svg#dollar" />
              </svg>
              <span>
                Продажа
              </span>
            </div>
            <div class="price">
              <span :class="[totalSumStyle]">{{ sumCart }} руб</span>
              <span v-if="sumDiscountCart > 0">{{ sumOfSales }} руб</span>
            </div>
          </ActionButton>
        </div>
      </div>
    </div>

    <ConfirmSale />
    <CallbackSales />
    <SelectCustomer />
    <ReturnCash />
    <ReturnSale />
    <Shift />
    <TruncateCart />
  </div>
</template>

<script>

  import ImageButton from "@/components/elements/ImageButton";
  import ActionButton from "@/components/elements/ActionButton";
  import SelectCustomer from "@/components/modals/SelectCustomerModal";
  import ReceiptProductItem from "@/components/products/ReceiptProductItem";
  import ConfirmSale from "@/components/modals/ConfirmSaleModal";
  import ReturnCash from "@/components/modals/ReturnCashModal";
  import ReturnSale from "@/components/modals/ReturnSaleModal";
  import Shift from "@/components/modals/ShiftListModal";
  import ScrollWrap from "@/components/elements/ScrollWrap";
  import TruncateCart from "@/components/modals/ConfirmTruncateCartModal";
  import CallbackSales from "@/components/modals/CallbackSalesModal";
  import {mapGetters} from 'vuex';

  export default {
    name: "PosReceipt",
    components: {
      ActionButton,
      SelectCustomer,
      ReceiptProductItem,
      ConfirmSale,
      ReturnCash,
      ReturnSale,
      Shift,
      ScrollWrap,
      ImageButton,
      TruncateCart,
      CallbackSales
    },
    data() {
      return {
        customer: null,
      }
    },
    computed: {
      ...mapGetters([
        'products',
        'cart',
        'sumCart',
        'sumDiscountCart',
        'currentClient',
        'currentSale',
      ]),
      totalSumStyle(){
        return this.sumDiscountCart > 0 ? 'line-through' : 'line-normal';
      },
      sumOfProducts() {
        return  this.cart
          .reduce((total, p) => total + this.getPrice(p.price) * p.qte, 0)
          .toFixed(2)
      },
      title() {
        return this.$route.name === 'PosReturn' ? 'Возврат' : 'Чек';
      },
      client() {
        if (this.$route.name === 'PosReturn') return this.currentSale.client;
        return this.currentClient;
      },
      sumOfSales(){
        return this.sumDiscountCart - (this.sumDiscountCart * this.currentClient.discount/100);
      }
    },
    beforeUpdate() {
      let sale;
      switch (this.$route.name) {
        case 'Home':
          sale = {};
          break;
        case 'PosReturn':
          sale = this.currentSale;
          break;
        default:
          throw Error('Receipt is defined on unknown route: ' + this.$route.name)
      }
      if (this.currentSale === sale || Object.keys(sale).length === 0) {
        return;
      }
      this.$store.commit('SET_SALE', sale);
      this.$eventBus.$emit('change-receipt-state');
    },
    created() {
      this.$eventBus.$on('change-receipt-state', this.changeReceiptState);
    },
    methods: {
      getPrice(price) {
        return Number(this.client.is_retail ? price.retail : price.wholesale);
      },
      beforeConfirmSales() {
        if (this.sumCart === 0) {
          this.$toast.error("Пожалуйста, добавьте товары в корзину!");
          return
        }
        this.$modal.show('confirm-sale')
      },
      changeReceiptState() {
        this.$store.commit('TRUNCATE_CART');
      }
    }
  }
</script>

<style scoped>

  .product-wrp {
    margin-top: 30px;
  }

  .receipt {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .receipt__header {
    display: flex;
    justify-content: space-between;
  }

  .receipt__body {
    flex-grow: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .info-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    vertical-align: top;
  }

  .info {
    position: relative;
    margin: auto;
    padding-left: 20px;
    max-width: 320px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  .btn-style {
    width: 100%;
    justify-content: flex-start;
  }

  .btn-style:hover svg {
    fill: #fff;
  }

  .btn-style.selected {
    background-color: #294D9C;
  }

  .btn-style.selected svg {
    fill: #fff;
  }

  .add-sale {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-sale:hover .price {
    color: #294D9C;
  }

  .add-sale-text {
    display: flex;
    align-items: center;
  }

  .price {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .customer-info {
    display: flex;
    align-items: center;
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    padding: 10px 15px;
    border-radius: 5px;
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .customer-info svg {
    margin-right: 7px;
    width: 20px;
    height: 20px;
    fill: black;
  }

  .customer-info p {
    margin: 0;
    display: inline-block;
  }

  .btn-remove {
    color: rgba(0, 0, 0, 0.54);
  }

  .btn-remove:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  .line-through{
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
  }
</style>
