<template>
  <div class="row justify-content-between">
    <div class="col-6">
      <div class="cash">
        <div class="cash-actions__caption">
          Пополнение / Вывод
        </div>
        <div class="cash-actions">
          <ImageButton
            class="cash-action"
            @click="$modal.show('refill', {title: 'Пополнение кассы', btnText: 'Пополнить деньги', action: 0})"
          >
            <svg class="cash-action__add">
              <use xlink:href="@/assets/sprite.svg#plus" />
            </svg>
          </ImageButton>
          <ImageButton
            class="cash-action"
            @click="$modal.show('refill', {title: 'Списание с кассы', btnText: 'Снять деньги', action: 1})"
          >
            <svg class="cash-action__remove">
              <use xlink:href="@/assets/sprite.svg#minus" />
            </svg>
          </ImageButton>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <div class="status">
        <ImageButton :class="{'btn-refresh': refreshing}">
          <svg>
            <use xlink:href="@/assets/sprite.svg#refresh" />
          </svg>
        </ImageButton>
        <a
          v-if="shift"
          class="status-item"
          target="_blank"
          :href="`${parentUrl}/shops/${shift.cashbox.shop.id}`"
        >
          {{ shift.cashbox.shop.name }}
        </a>
        <span
          v-if="shift"
          class="status-item"
        >Смена #{{ shift.number }}</span>
      </div>
    </div>
    <Refill />
  </div>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";
  import Refill from "@/components/modals/RefillCashboxModal";
  import { mapActions } from 'vuex';

  export default {
    name: "PosStatusBar",
    components: {
      ImageButton,
      Refill
    },
    props: {
      shift: {type: Object, default: null}
    },
    data(){
      return{
        refreshing: false,
        timerId: null,
        parentUrl: process.env.VUE_APP_WWW_URL
      }
    },
    mounted(){
      this.timerId = setInterval(this.refreshDatas, this.$settings.refresh_data_delai)
    },
    beforeDestroy(){
      if(this.timerId)
        clearInterval(this.timerId)
    },
    methods:{
      ...mapActions(['refreshShift']),
      async refreshDatas(){
        if(this.shift){
          this.refreshing = true
          await this.refreshShift(this.shift.id)
          this.refreshing = false
        }
      }
    }
  }
</script>

<style scoped>

  .cash-actions__caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
  }
  .cash {
    padding: 20px 15px;
  }
  .cash-actions {
    display: flex;

  }
  .cash-action {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
  }
  .cash-action + .cash-action {
    margin-left: 5px;
  }
  svg.cash-action__add {
    fill: #81C784;
    width: 14px;
    height: 14px;
  }
  svg.cash-action__remove {
    fill: #E57373;
    width: 14px;
    height: 2px;
  }
  .status {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.54);
  }
  .status-item {
     color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    position: relative;
    cursor: pointer;
  }
  .status-item:hover{
    color: #294D9C
  }
  .status-item + .status-item {
    margin-left: 20px;
  }
  .status-item + .status-item::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -1px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.54);
  }
  .btn-refresh{
    -webkit-animation:rotate 4s linear infinite;
    -moz-animation:rotate 4s linear infinite;
    animation:rotate 4s linear infinite;
  }
  @-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>
