<template>
<!-- eslint-disable -->
  <modal name="client-info" class="modal" width="500" height="auto">
    <div class="modal-content modal-content--sm">
      <ImageButton class="modal-close" @click="$modal.hide('client-info')">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="../../assets/sprite.svg#close"></use>
        </svg>
      </ImageButton>
      <div>
        <h2 class="modal-title">
          Информация о клиенте
        </h2>
        <div class="info-block">
          <h3 class="info-caption">
            Компания
          </h3>
          <p class="info-text">
            ООО "Элит-Строй"
          </p>
        </div>
        <div class="info-block">
          <h3 class="info-caption">
            Лицо принимающее решения
          </h3>
          <p class="info-text info-text--style">
            Курбанов Джабраил Магомедович
          </p>
        </div>
        <div class="info-block">
          <h3 class="info-caption">
            Контактный номер
          </h3>
          <p class="info-text">
            <a href="tel:+79285463644" class="info-text__phone">
              +7 928 546 36 44
            </a>
          </p>
        </div>
        <div class="info-block">
          <h3 class="info-caption">
            День рождения
          </h3>
          <p class="info-text">
            03.10.1975
          </p>
        </div>
        <div class="info-block">
          <h3 class="info-caption">
            Оплатил
          </h3>
          <p class="info-text">
            32 154 руб.
          </p>
        </div>

        <div class="btn-wrp btn-wrp--right">
          <LinkButton class="more">
            Открыть полностью
            <svg>
              <use xlink:href="../../assets/sprite.svg#arrow_right"></use>
            </svg>
          </LinkButton>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
  import ImageButton from "../elements/ImageButton";
  import LinkButton from "../elements/LinkButton";

  export default {
    name: "ClientInfo",
    components: {
      ImageButton,
      LinkButton
    }
  }
</script>

<style scoped>

  .modal.show .modal-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  }

  .modal-content {
    position: relative;
    margin: auto;
    width: 575px;
    padding: 25px 40px 40px 40px;
    border-radius: 4px;
    background-color: #fff;
  }

  .modal-content--sm {
    width: 500px;
  }

  .modal-title {
    margin: 0 0 25px 0;
    font: 500 20px/24px "Montserrat", sans-serif;
    color: #232323;
  }

  .info-block {
    margin-top: 20px;
  }

  .info-caption {
    margin: 0 0 5px 0;
    font: 400 12px/15px "Montserrat", sans-serif;
    color: #707070;
  }

  .info-text {
    margin: 0;
    font: 400 16px/19px "Montserrat", sans-serif;
    color: #000;
  }

  .info-text__phone {
    text-decoration: none;
    font: inherit;
    color: inherit;
  }

  .info-text--style {
    color: #294D9C;
  }

  .btn-wrp--right {
    text-align: right;
  }

  .more {
    display: inline-flex;
    align-items: center;
    font: 400 12px/15px "Montserrat", sans-serif;
    color: #707070;
    text-decoration: none;
  }

  .more svg {
    margin-left: 5px;
    width: 24px;
    height: 24px;
  }
</style>
