<template>
  <Modal
    name="confirmation"
    width="300"
    height="auto"
    @before-open="getParamsData"
  >
    <div class="modal-confirm">
      <div class="modal-confirm__img-wrp">
        <svg class="warning-icon">
          <use xlink:href="@/assets/sprite.svg#warning" />
        </svg>
      </div>
      <div class="modal-confirm__title">
        Вы уверены?
      </div>
      <ul class="confirmation-list">
        <li class="confirmation-list-list__item">
          <ActionButton
            class="btn--check"
            @click="doDelete"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            <span>Да</span>
          </ActionButton>
        </li>
        <li class="confirmation-list-list__item">
          <ActionButton
            class="btn--cancel"
            @click="$modal.hide('confirmation')"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            <span>Нет</span>
          </ActionButton>
        </li>
      </ul>
    </div>
  </Modal>
</template>

<script>
  import ActionButton from '@/components/elements/ActionButton';


  export default {
    name: 'Confirmation',
    components: {
      ActionButton
    },
    data() {
      return {
        id: null,
        type: '',
        categoryId: null,
        parentCategory: null,
      }
    },
    methods: {
      capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      },
      getParamsData(e) {
        this.id = e.params.id;
        this.type = e.params.type;
        this.categoryId = e.params.categoryId;
        this.parentCategory = e.params.parentCategory;
      },
      doDelete() {
        const methodName = `delete${this.capitalize(this.type)}`;
        this[methodName]()
      },
      deleteProduct() {
        this.$store.dispatch('deleteProduct', {id: this.id, categoryId: this.categoryId});
        this.$modal.hide('confirmation');
        this.$toast.success('Товар удален');
      },
      deleteCategory() {
        this.$store.dispatch('deleteCategory', {
          id: this.id,
          parentCategory: this.parentCategory,
          categoryType: this.$route.meta.type
        });
        this.$modal.hide('confirmation');
        this.$toast.success('Категория удалена');
      },
      deleteProcurement() {
        this.$store.dispatch('deleteProcurement', {id: this.id});
        this.$modal.hide('confirmation');
        this.$toast.success('Позиция удалена');
      },
      deleteClient() {
        this.$store.dispatch('deleteClient', this.id);
        this.$modal.hide('confirmation');
        this.$toast.success('Клиент удален');
      },
      deleteProvider() {
        this.$store.dispatch('deleteProvider', this.id);
        this.$modal.hide('confirmation');
        this.$toast.success('Поставщик удален');
      },
      deleteEmployee() {
        this.$store.dispatch('deleteEmployee', this.id);
        this.$modal.hide('confirmation');
        this.$toast.success('Сотрудник удален');
      },
      deletePosition() {
        this.$store.dispatch('deletePosition', this.id);
        this.$modal.hide('confirmation');
        this.$toast.success('Должность удалена');
      },
    }
  }
</script>

<style scoped>

  .modal-confirm {
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
  }

  .modal-confirm__img-wrp {
    text-align: center;
  }

  .modal-confirm__title {
    margin: 20px 0 30px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    text-align: center;
  }

  .confirmation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .btn--check,
  .btn--cancel {
    border: 0;
    padding: 0;
  }

  .btn--check:hover {
    background-color: transparent;
    color: #294D9C;
    transform: scale(1.05);
  }

  .btn--check >>> svg,
  .btn--check:hover >>> svg {
    fill: #294D9C;
  }

  .btn--cancel >>> svg {
    fill: #D68282;
  }

  .btn--cancel,
  .btn--cancel:hover {
    color: #D68282;
  }

  .btn--cancel:hover {
    background-color: transparent;
    color: #D68282;
    transform: scale(1.05);
  }

  .btn--cancel:hover svg {
    fill: #D68282;
  }

  .warning-icon {
    margin: 0 auto;
    display: block;
    width: 44px;
    height: 38px;
    fill: #D68282;
  }

</style>
