<template>
<!-- eslint-disable -->
  <modal name="new-sale" class="modal" width="1140" height="auto">
    <div class="modal-new-sale">
      <ImageButton name="close-sale" class="modal-close" @click="$modal.hide('new-sale')">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="@/assets/sprite.svg#close"></use>
        </svg>
      </ImageButton>
      <div class="new-sale">
        <div class="modal-title">
          Новая продажа
        </div>
        <div class="row align-items-center">
          <div class="col mb20">
            <div class="field-wrp">
              <div class="autosuggest-container">
                <vue-autosuggest
                  v-model="query"
                  @input="changeSuggestions"
                  :suggestions="filteredOptions"
                  :limit="6"
                  @selected="onSelected"
                  :get-suggestion-value="getSuggestionValue"
                  :input-props="{id:'autosuggest__input', placeholder:'Клиент', class:'input_text'}">
                  <div slot-scope="{suggestion}" style="display: flex; align-items: center;">
                    <div class="suggestions">
                      {{suggestion.item.name}}
                    </div>
                  </div>
                </vue-autosuggest>
              </div>
              <div v-if="clients.length === 0" class="field-hint active">
                Клиента не в базе, <span class="blue">Добавить</span>
              </div>
            </div>
          </div>
          <div class="col mb20">
            <span class="field-caption">
              Начните вводить имя клиента <br>
              чтобы выбрать из базы
            </span>
          </div>
        </div>

        <div class="row">
          <div v-if="textSearch > 0" class="col-7">
            <SearchField placeholder="Введите наименование товара"
                         class="new-sale__search code"
                         classes="main_filter__search--style"
            ></SearchField>
          </div>
          <div v-if="textSearch == 0" class="col-7">
            <SearchField placeholder="Кликните на поле и отсканируйте штрихкод"
                         class="new-sale__search code"
                         classes="main_filter__search--style"

            ></SearchField>
          </div>
          <div class="col-2">
            <div class="radio-style">
              <div>
                <input type="radio" id="shtrihcode"  v-model="textSearch" name="search_type"
                       value="0">
                <label for="shtrihcode"></label></div>
              <div>
                <input type="radio" id="searchText"  v-model="textSearch" name="search_type"
                       value="1">
                <label for="searchText"></label>
              </div>
            </div>
          </div>
          <div class="col ">
            <span class="field-caption">
              Чтобы искать по названию <br>
              переключите на поиск
            </span>
          </div>
        </div>
        <FileManager></FileManager>

      </div>
      <div class="product-add-wrp">
        <span>Нет нужного товара?</span>
        <a href="#" class="product-add" @click="$modal.show('new-product')">+ Добавить товар</a>
      </div>
      <Invoice></Invoice>
      <NewProduct :categories="categories"/>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
  import SearchField from '@/components/elements/SearchField'
  import Invoice from '@/components/Invoice'
  import FileManager from '@/components/FileManager'
  import InputField from '@/components/elements/InputField'
  import TreeSelect from '@riophae/vue-treeselect'
  import NewProduct from '@/components/products/NewProduct'
  import { VueAutosuggest } from 'vue-autosuggest'
  import { mapActions, mapGetters } from 'vuex'
  import ImageButton from '@/components/elements/ImageButton'

  export default {
    inject: ['$validator'],
    name: 'Sales',
    components: {
      Invoice,
      FileManager,
      SearchField,
      InputField,
      TreeSelect,
      NewProduct,
      VueAutosuggest,
      ImageButton
    },
    computed: {
      ...mapGetters(['clients', 'categories']),

      filteredOptions () {
        return [{ data: this.clients }]
      },

    },
    methods: {
      ...mapActions([
        'fetchClients',
        'fetchCategories'
      ]),
      onSelected (item) {

      },
      getSuggestionValue (suggestion) {
        return suggestion.item.name
      },
      changeSuggestions (text) {
        this.fetchClients(text)
      }
    },
    created () {
      this.fetchClients()
      this.fetchCategories()
    },
    data: function () {
      return {
        query: '',
        textSearch: 0
      }
    }
  }
</script>

<style>
  .radio-style {
    display: flex;
    justify-content: flex-start;
  }

  .radio-style input {
    display: none;
  }

  #shtrihcode ~ label {
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid #294D9C;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
  }

  #shtrihcode:checked ~ label {
    background-color: #294D9C;
  }

  #searchText ~ label {
    display: block;
    height: 40px;
    width: 40px;
    fill: blue;
    border: 1px solid #294D9C;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    background-position: center;
    background-repeat: no-repeat;
  }

  #searchText:checked ~ label {
    background-color: #294D9C;
  }

  .modal-title {
    margin: 0 0 25px 0;
    font: 500 20px/24px "Montserrat", sans-serif;
    color: #232323;
  }

  .hide {
    display: none;
  }

  .code .input_text {
    background-image: none;
    padding: 0 5px 0 20px;
  }

  .autosuggest__results ul {
    background-color: #fff;
    position: absolute;
    z-index: 101;
    padding: 0;
    border: 1px solid #294D9C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -3px;
    width: 100%;
  }

  .autosuggest__results ul li {
    list-style: none;
    padding: 5px 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
  }

  .autosuggest__results ul li:hover {
    background-color: #FAFAFA;
  }

  .autosuggest__results ul li:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .autosuggest-container .input_text {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #294D9C;
    border-radius: 5px;
    font: normal 14px/40px "Montserrat", sans-serif;
    color: #232323;
    flex: 1 1 100px;
    cursor: text;
    position: relative;
    z-index: 100;
    font-size: 12px;
  }

  .autosuggest-container .input_text:focus {
    outline: none;
  }

  .modal-new-sale {
    margin: auto;
    position: relative;
    width: 1140px;
    min-height: 500px;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
  }

  .new-sale {
    width: 750px;
    padding: 25px 40px 50px 40px;
  }

  .product-add-wrp {
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-size: 14px;
    line-height: 18px;
    color: #707070;
  }

  .product-add {
    margin-left: 10px;
    font: 400 14px/18px "Montserrat", sans-serif;
    color: #294D9C;
    text-decoration: none;
  }

  .field-caption {
    display: block;
    font: normal 12px/15px "Montserrat", sans-serif;
    color: rgba(35, 35, 35, 0.75);
  }

  .mb20 {
    margin-bottom: 20px;
  }

  .label {
    display: block;
    width: 100%;
  }

  .new-sale__search {
    display: block;
    width: 100%;
    height: 40px;
    border-color: rgba(41, 77, 156, 0.54);
  }

  .field-wrp {
    position: relative;
  }

  .field-hint {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 37px;
    z-index: 100;
    width: 100%;
    padding: 13px 20px;
    border: 1px solid #294D9C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fffefe;
    font-size: 12px;
    line-height: 15px;
  }

  .field-hint span {
    cursor: pointer;
  }

  .field-hint.active {
    visibility: visible;
    opacity: 1;
  }

  .field-hint .blue {
    font-weight: 700;
    color: #294D9C;
  }
</style>
