<template>
<!-- eslint-disable -->
  <modal name="posted_confirmation" width="300" height="auto">
    <div class="modal-confirm">
      <div class="modal-confirm__img-wrp">
        <svg class="warning-icon">
          <use xlink:href="@/assets/sprite.svg#warning"></use>
        </svg>
      </div>
      <div class="modal-confirm__title">
        Вы уверены?
      </div>
      <ul class="confirmation-list">
        <li class="confirmation-list-list__item">
          <ImageButton class="btn--check" @click="handlerForPosted">
            <svg>
              <use xlink:href="@/assets/sprite.svg#check"></use>
            </svg>
            <span>Да</span>
          </ImageButton>
        </li>
        <li class="confirmation-list-list__item">
          <ImageButton class="btn--cancel" @click="$modal.hide('posted_confirmation')">
            <svg>
              <use xlink:href="@/assets/sprite.svg#close"></use>
            </svg>
            <span>Нет</span>
          </ImageButton>
        </li>
      </ul>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
  import ImageButton from "@/components/elements/ImageButton";


  export default {
    name: "PostedConfirmation",
    components: {
      ImageButton
    },
    methods: {
      handlerForPosted() {
        this.$eventBus.$emit('set-procurement-posted')
      }
    }
  }
</script>

<style scoped>

  .modal-confirm {
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
  }

  .modal-confirm__img-wrp {
    text-align: center;
  }

  .modal-confirm__title {
    margin: 20px 0 30px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    text-align: center;
  }

  .confirmation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .btn--check >>> svg {
    fill: #294D9C;
  }

  .btn--cancel >>> svg {
    fill: #D68282;
  }

  .btn--cancel {
    color: #D68282;
  }

  .warning-icon {
    margin: 0 auto;
    display: block;
    width: 44px;
    height: 38px;
    fill: #D68282;
  }
</style>
