<template>
<!-- eslint-disable -->
  <modal name="surcharge" class="modal" width="535" height="auto" @before-open="getParamsData($event)">
    <div class="row">
      <div class="col-10">
        <form class="modal-sm">
          <h2 class="modal-title">
            {{title}}
          </h2>
          <div class="field-wrp mt-4">
            <label for="" class="field-caption">
              Сумма
            </label>
            <div class="row">
              <div class="col-4">
                <InputField></InputField>
              </div>
            </div>
          </div>
          <div class="field-wrp mt-4">
            <label for="" class="field-caption">
              Комментарий
            </label>
            <div class="row">
              <div class="col-12">
                <TextField class="comment"></TextField>
              </div>
            </div>
          </div>
          <div class="row mt-4 align-items-center">
            <div class="col-6">
              <ActionButton class="btn--submit" type="submit">
                <svg>
                  <use xlink:href="@/assets/sprite.svg#like"></use>
                </svg>
                <span>Выдать</span>
              </ActionButton>
            </div>
            <div class="col-5">
              <ActionButton class="button button--cancel" @click="$modal.hide('surcharge')">
                <svg>
                  <use xlink:href="@/assets/sprite.svg#close"></use>
                </svg>
                <span>Отменить</span>
              </ActionButton>
            </div>
          </div>
        </form>
      </div>
      <ImageButton class="modal-close" @click="$modal.hide('surcharge')">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="@/assets/sprite.svg#close"></use>
        </svg>
      </ImageButton>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
  import ImageButton from "../elements/ImageButton";
  import ActionButton from "../elements/ActionButton";
  import InputField from "../elements/InputField";
  import TextField from "../elements/TextField";

  export default {
    name: "Premium",
    components: {
      ImageButton,
      InputField,
      TextField,
      ActionButton
    },
    data() {
      return {
        title: "Выдать премию",
      }
    },
    methods: {
      getParamsData(e) {
        this.title = e.params.title;
      }
    }
  }
</script>

<style scoped>

  .modal-sm {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px 30px 30px 30px;
  }

  .button--cancel {
    color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
  }

  .modal-sm {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
  }

  .field-wrp {
    position: relative;
  }

  .modal-title {
    margin: 0;
    font: 500 20px/24px "Montserrat", sans-serif;
    color: #000;
  }

  .field-caption {
    display: block;
    margin: 0 0 5px 0;
    font: normal 12px/15px "Montserrat", sans-serif;
    color: rgba(35, 35, 35, 0.75);
  }

  .btn--submit {
    border: 0;
    outline: 0;
    box-shadow: none;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    font: 700 20px/24px "Montserrat", sans-serif;
    background: #294D9C;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }

  .btn--submit >>> svg {
    width: 22px;
    height: 20px;
    margin-right: 10px;
  }

  .comment >>> textarea {
    height: 120px;
  }

  .button:hover {
    background: #294D9C;
    color: #fff;
  }

  .button--cancel {
    border: 0;
    color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
    transition: all .25s ease;
  }

  .button--cancel:hover {
    color: #000;
    background-color: transparent;
  }

  .button--cancel >>> svg {
    width: 20px;
    height: 20px;
    fill: rgba(0, 0, 0, 0.54);
    transition: all .25s ease;
  }

  .button--cancel:hover >>> svg {
    fill: #000;
  }

</style>
