<template>
<!-- eslint-disable -->
  <modal name="Tariff" width="575" height="auto" @before-close="beforeClose">
    <div class="modal-box">
      <div class="modal-tariff">
        <ImageButton class="modal-close" @click="$modal.hide('Tariff')">
          <svg viewBox="0 0 24 24" width="24" height="24">
            <use xlink:href="@/assets/sprite.svg#close"></use>
          </svg>
        </ImageButton>
        <div class="tariff-item">
          <h2 class="tariff-item__title">
            Тариф 1
          </h2>
          <ul class="tariff-list">
            <li>Продажи</li>
            <li>Оприходования</li>
            <li>До 3-х сотрудников</li>
            <li>2 Магазина</li>
            <li>Складской учет</li>
            <li>Персональные рекомендации</li>
            <li>Бух. учет</li>
          </ul>
          <footer class="tariff-item__footer">
            <div class="tariff-item-price">
              <div class="tariff-item-price__value">3000</div>
              <small>руб/мес.</small>
            </div>
            <ImageButton class="btn--style" @click="$modal.hide('confirmation')">
              Сменить
            </ImageButton>
          </footer>
        </div>

        <ImageButton class="modal-tariff__arrow-left">
          <span class="arrow arrow--left"></span>
        </ImageButton>
        <ImageButton class="modal-tariff__arrow-right">
          <span class="arrow arrow--right"></span>
        </ImageButton>

      </div>
      <Confirmation></Confirmation>
    </div>
  </modal>
</template>

<script>
  /* eslint-disable */
  import ImageButton from "@/components/elements/ImageButton";
  import Confirmation from "@/components/modals/Confirmation";

  export default {
    name: "Tariff",
    components: {
      ImageButton,
      Confirmation
    },
    data() {
      return {}
    },
    methods: {
      reset() {
        Object.assign(this.$data, this.$options.data())
      }
    }
  }
</script>

<style scoped>

  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    fill: #fff;
  }


  .tariff-item__title {
    margin: 0;
    font: 700 20px/24px "Montserrat", "Arial", sans-serif;
    color: #000000;
  }

  .modal-tariff {
    position: relative;
    width: 500px;
    min-height: 700px;
    padding: 25px 40px 50px 40px;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
  }

  .modal-tariff::before {
    content: "";
    position: absolute;
    left: -145px;
    right: -145px;
    top: 40px;
    bottom: 40px;
    border-radius: 5px;
    background: #E5E5E5;
    z-index: -1;
  }

  .modal-tariff .tariff-item__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }

  .modal-close {
    right: -280px;
    top: -30px;
    height: auto;
  }

  .modal-close >>> svg {
    width: 28px;
    height: 28px;
  }

  .tariff-list {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
    font: 400 14px/24px "Montserrat", "Arial", sans-serif;
  }

  .tariff-list li {
    position: relative;
    padding: 0 0 0 10px;
  }

  .tariff-list li::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }


  .arrow {
    border: solid #fff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
  }

  .arrow--left {
    transform: rotate(135deg);
  }

  .modal-tariff__arrow-left,
  .modal-tariff__arrow-right {
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }

  .modal-tariff__arrow-left {
    left: -218px;
  }

  .modal-tariff__arrow-right {
    right: -218px;
  }

  .arrow--right {
    transform: rotate(-45deg);
  }

  .tariff-item__footer {
    margin-top: 30px;
    display: flex;
  }

  .btn--style {
    border: 0;
    outline: 0;
    padding: 11px 20px;
    border-radius: 0;
    width: 150px;
    height: auto;
    background: #294D9C;
    font: 400 14px/18px "Montserrat", "Arial", sans-serif;
    color: #fff;
    text-align: center;
  }

  .tariff-item {
    position: relative;
    width: 100%;
  }

  .tariff-item-price {
    margin-right: 35px;
    font: 700 24px/29px "Montserrat", "Arial", sans-serif;
    color: #294D9C;
  }

  .tariff-item-price small {
    display: block;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
  }

  .v--modal-overlay >>> .v--modal-box {
    overflow: visible;
  }
</style>
