<template>
  <div class="action-bar">
    <div class="row">
      <div class="col-3">
        <SelectList
          v-model="shop"
          caption="Все магазины"
          :items="shops"
          @input="changedShop"
        />
      </div>
      <div class="col-3">
        <SelectList
          ref="select"
          v-model="cashbox"
          caption="Все кассы"
          :items="filterCashboxes"
          @input="changedCashbox"
        />
      </div>
      <div class="col-3">
        <DateField
          :range="true"
          @change="periodChanged"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import DateField from "@/components/elements/DatePicker";
  import SelectList from "@/components/elements/Select";
  import {mapActions, mapGetters} from 'vuex';

  export default {
    name: "ShiftsActionBar",
    components: {
      DateField,
      SelectList
    },
    data(){
      return {
        shop: '',
        cashbox: null,
      }
    },
    computed: {
      ...mapGetters(['shops', 'cashboxes']),
        filterCashboxes() {
          let shopId = parseInt(this.shop, 10);
          if(!shopId) return this.cashboxes;
          return this.cashboxes.filter(cashbox => cashbox.shop.id === shopId);
        },
        getCashboxesIds(){
          return this.filterCashboxes.reduce((str, cashbox) => str + `${cashbox.id},`, '');
        }
    },
    created(){
      this.getListShops([]);
      this.getCashboxes();
    },
    methods: {
      ...mapActions(['getListShops', 'getCashboxes']),
      changedShop(){
        this.cashbox = null;
        this.$refs.select.$el[0].selected = true;
        this.$emit('shop-changed', this.getCashboxesIds);
      },
      changedCashbox(cashboxId){
        this.$emit('cashbox-changed', cashboxId);
      },
      periodChanged(period){
        this.$emit('period-changed', period);
      }
    }
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }

</style>
