<template>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>Номер смены</th>
        <th>Касса</th>
        <th>Пользовать открывший смену</th>
        <th>Оборот за смену</th>
        <th>Дата открытия/закрытия</th>
      </tr>
    </thead>
    <tbody>
      <template v-if="shifts.length">
        <tr
          v-for="shift in shifts"
          :key="shift.id"
        >
          <td>{{ shift.number }}</td>
          <td>
            <span>{{ shift.cashbox.name }}</span>
            <RouterLink :to="{name: 'ShopsInfos', params: {id: shift.cashbox.shop.id}}">
              {{ shift.cashbox.shop.name }}
            </RouterLink>
          </td>
          <td>
            {{ getEmployeeName(shift.created_by) }}
          </td>
          <td>{{ shift.revenue }}</td>
          <td>
            <p>{{ $date.toDateTime(shift.opened_at) }}</p>
            <p>{{ shift.closed_at ? $date.toDateTime(shift.closed_at) : "смена открыта" }}</p>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
  export default {
    name: 'ShiftsTable',
    props: {
      shifts: {
        type: Array,
        required: true
      }
    },
    created() {
      this.$store.dispatch('getEmployees');
    },
    methods: {
      getEmployeeName(created_by_id){
        const employee = this.$store.getters.getEmployeeById(created_by_id);

        return employee && employee.name;
      }
    },
  }
</script>
<style scoped>

</style>
