<template>
<!-- eslint-disable -->
  <div class="main_filter">
    <div class="row align-items-center">

      <div class="col-3">
        <SearchField  placeholder="Поиск по номеру перемещения" @input="onSearchChange"/>
      </div>
      <div class="col-3">
        <DatePicker class="date-field" @change="onPeriodChange" :range="true"/>
      </div>

      <div class="col-6 d-flex justify-content-end">
        <router-link class="btn btn-fill" :to="{name: 'MovesNew'}">
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus"></use>
          </svg>
          <span>Новое перемещение</span>
        </router-link>
      </div>

    </div>
  </div>
</template>

<script>
  /* eslint-disable */
import DatePicker from "@/components/elements/DatePicker"
import SearchField from "@/components/elements/SearchField"

export default {
 name: "MovesActionbar",
 components: {
     DatePicker,
     SearchField
 },
 methods: {
   onPeriodChange(dates){
     this.$emit("period-changed", dates)     
   },
   onSearchChange(e){
     this.$emit("search-changed", e)  
   }
 }
}
</script>

<style>
  .main_filter {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }

  .btn svg {
    width: 24px;
    height: 24px;
  }

  .btn-fill svg {
    fill: #fff;
  }

  .select {
    border: 1px solid #294D9C;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
  }

</style>
