<template>
<!-- eslint-disable -->
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>N°</th>
        <th>Наименование товара</th>
        <th>Кол-во</th>
        <th v-if="!isPosted"></th>
      </tr>
    </thead>
    <tbody v-if="positions.length > 0">
      <tr v-for="(position,i) in positions" :key="position.id">
        <td>{{(i+1)}}</td>
        <td>{{ getProductName(position.product) }}</td>
        <td>{{ position.count }} шт.</td>
        <td v-if="!isPosted" style="width: 35px">
          <ImageButton
            class="btn-remove"
            @click="$modal.show('actions-move', {action: 'delete-moveline', id: position.id})"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#remove_circle"></use>
            </svg>
          </ImageButton>
        </td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr>
        <td colspan="4" align="center">Нет позиций перемещения</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
  /* eslint-disable */
import ImageButton from "@/components/elements/ImageButton"
export default {
  name: 'MoveInfoTable',
  components:{ImageButton},
  props: {
    positions: {type: Array, required: true},
    products: {type: Array, required: true},
    isPosted: Boolean
  },
  methods: {
    getProductName(id){
      const product = this.products.find(p => p.id === parseInt(id));

      if (product) return product.name;

      return ''
    },
  }
}
</script>

<style scoped>
</style>
