<template>
  <tr class="procurement-table__item">
    <td>
      {{ position.name }}
    </td>
    <td>
      <span v-if="position.saved">{{ position.count }}шт.</span>
      <InputField
        v-else
        type="number"
        :min="0"
        :value="position.count"
        style="width: 90px"
        @input="countChange"
      />
    </td>
    <td>
      <ImageButton
        class="btn-remove"
        @click="removeFromPositions(index)"
      >
        <svg>
          <use xlink:href="@/assets/sprite.svg#remove_circle" />
        </svg>
      </ImageButton>
    </td>
  </tr>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton';
  import InputField from '@/components/elements/InputField';
  import {mapActions} from 'vuex'

  export default {
    name: 'MovesTableNewItem',
    components: {
      ImageButton,
      InputField
    },
    props: {
      position: {
        type: Object,
        required: true
      },
      index: {
        type: Number,
        required: true
      }
    },
    methods: {
      ...mapActions({
        updatePosition: 'moves/updatePosition',
        removeFromPositions: 'moves/removeFromPositions'
      }),
      countChange(e) {
        this.updatePosition({id: this.position.product, qte: e})
      }
    }
  }
</script>

<style scoped>

  .procurement-table__item {
    padding: 12px 0;
    margin-bottom: 5px;
    background-color: #fff;
  }

  .procurement-table__item td {
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .procurement-table__item td:first-child {
    width: 500px;
  }

  .btn-remove {
    display: inline-block;
  }

  .btn-remove >>> svg {
    width: 24px;
    height: 24px;
  }

</style>
