<template>
  <div>
    <ActionBar @on-search="getSearch" />
    <Table :clients="filteredClients" />
    <CreateCustomer />
    <Confirmation />
    <DetailClientModal />
  </div>
</template>

<script>
  import ActionBar from '@/components/clients/actionbars/IndexActionBar';
  import Table from '@/components/clients/tables/IndexTable';
  import CreateCustomer from '@/components/clients/modals/CreateCustomer';
  import Confirmation from "@/components/modals/Confirmation";
  import DetailClientModal from '@/components/clients/modals/DetailClientModal';
  import {mapActions, mapGetters} from 'vuex';

  export default {
    name: "ClientsIndex",
    components: {
      ActionBar,
      Table,
      CreateCustomer,
      Confirmation,
      DetailClientModal
    },
    data(){
      return{
        search: ''
      }
    },
    computed: {
      ...mapGetters(['clients']),
      filteredClients(){
        return this.clients.filter(
          p => p.name.toLowerCase().match(this.search.toLowerCase())
        )
      }
    },
    created() {
      this.getListClients();
    },
    methods: {
      ...mapActions(['getListClients']),
      getSearch(e){
        this.search = e;
      }
    }
  }
</script>

<style scoped>

</style>
