<template>
  <div>
    <ProductsActionbar
      :current-category="id"
      @is-search="setIsSearch"
    />

    <ProductsBreadcrumbs
      class="mb-3"
      @setCategoryId="setId"
    />
    <CategoryList
      v-if="!isSearchList"
      class="row"
      :categories="parentCategories"
      @setCategoryId="setId"
    />

    <ProductList
      class="row"
      :products="filterProducts"
    />
    <Confirmation />
  </div>
</template>

<script>
  import Confirmation from '@/components/modals/Confirmation';
  import CategoryList from '@/components/products/CategoryList';
  import ProductList from '@/components/products/ProductList';
  import ProductsActionbar from '@/components/products/ProductsActionbar';
  import ProductsBreadcrumbs from '@/components/products/ProductsBreadcrumbs';


  export default {
    name: 'Products',
    components: {
      ProductsActionbar,
      ProductList,
      CategoryList,
      Confirmation,
      ProductsBreadcrumbs
    },
    data() {
      return {
        id: null,
        parent: null,
        isSearchList: false
      }
    },
    computed: {
      parentCategories() {
        return this.$store.getters.categories.filter(category => category.parent === this.id);
      },
      filterProducts() {
        if (!this.isSearchList) {
          return this.$store.getters.products.filter(product => product.category === this.id);
        }
        return this.$store.getters.products;
      },
    },
    created() {
      this.$store.dispatch('fetchCategories', this.$route.meta.type);
      this.$store.dispatch('fetchProducts');
    },
    methods: {
      setId(id) {
        this.id = id
      },
      setIsSearch(isSearchList) {
        this.isSearchList = isSearchList;
      }
    }
  }
</script>
