<template>
<!-- eslint-disable -->
  <div>
    <div class="procurement-filter">
      <div class="row align-items-center justify-content-between mb-4">
        <div class="col-8">
          <h1 class="main-title">
            <router-link class="router-link" :to="{ name: 'ProcurementSingle', params: { id: procurement.id }}">
              <svg>
                <use xlink:href="@/assets/sprite.svg#back"></use>
              </svg>
            </router-link>
            Поступление №{{ `${procurement.number}`.padStart(6, '0') }} от
            {{this.formatDate(procurement.created_at)}}
          </h1>
        </div>
        <div class="col-2">
          <ActionButton @click="handlerForSaveProcurement" color="blue">
            <svg>
              <use xlink:href="@/assets/sprite.svg#check"></use>
            </svg>
            Сохранить
          </ActionButton>
        </div>
        <div class="col-2">
          <ActionButton @click="$modal.show('confirmation', {id:procurement.id, type:'procurement'})"
                        class="btn--delete">
            <svg>
              <use xlink:href="@/assets/sprite.svg#close"></use>
            </svg>
            Удалить
          </ActionButton>
        </div>
      </div>
      <div class="row align-items-center mb-4" v-if="shops && providers && procurement.shop && procurement.provider">
        <div class="col-3">
          <p class="caption">
            Поставщик
          </p>
          <select class="select" v-model="provider">
            <option value="" selected disabled>Выберите поставщика</option>
            <option :value="provider.id" v-for="(provider,i) in providers" :key="i">
              {{provider.name}}
            </option>
          </select>

        </div>
        <div class="col-3">
          <p class="caption">
            Место прихода
          </p>

          <select class="select" v-model="shop">
            <option value="" selected disabled>Выберите магазин</option>
            <option :value="shop.id" v-for="(shop,i) in shops" :key="i">
              {{shop.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="action-bar">
      <div class="row align-items-center">
        <div class="col-2">
          <a class="btn" @click="$modal.show('search-product')">
            Справочник
          </a>
        </div>
        <div class="col-10">
          <p class="desc">
            Выберите товар со справочника или
            <LinkButton @click="$modal.show('new-product')" class="mr-2">
              + создайте новый
            </LinkButton>
          </p>

        </div>
      </div>
    </div>
    <SearchProducts :isProcurement="true" :categories="categories"></SearchProducts>
    <NewProduct :categories="categories"/>
    <Confirmation></Confirmation>
  </div>
</template>

<script>
  /* eslint-disable */
  import {mapActions, mapGetters, mapMutations} from 'vuex'
  import LinkButton from '@/components/elements/LinkButton'
  import NewProduct from '@/components/products/NewProduct'
  import SearchProducts from '@/components/products/SearchProducts'
  import Confirmation from '@/components/modals/Confirmation'
  import ActionButton from "@/components/elements/ActionButton";

  export default {
    name: 'EditProcurementsSingleaction-bar',
    props: {
      procurement: {}
    },
    mounted() {
      this.provider = this.selected_provider;
      this.shop = this.selected_shop;
    },
    data() {
      return {
        provider: null,
        shop: null
      }
    },
    components: {
      LinkButton,
      NewProduct,
      SearchProducts,
      Confirmation,
      ActionButton
    },
    computed: {
      ...mapGetters([
        'shops',
        'categories',
        'newPositions',
        'providers',
        'selectedProviderForProcurement',
        'selectedShopForProcurement',
        'fetchProductsForSearch'
      ]),
      selected_provider() {
        if (this.procurement && this.procurement.provider && this.procurement.shop) {
          return this.procurement.provider.id
        }
        return
      },
      selected_shop() {
        if (this.procurement && this.procurement.provider && this.procurement.shop) {
          return this.procurement.shop.id
        }
        return
      },
    },
    methods: {
      ...mapActions([
        'fetchShops',
        'saveProcurement',
        'deleteProcurement',
        'fetchProcurements',
        'fetchCategories',
        'fetchProviders',
        'editProcurement',
        'getListShops',
        'submitNewProduct',
      ]),
      ...mapMutations([
        'RESET_NEWPOSITIONS'
      ]),
      formatDate(str) {
        let date = new Date(str);
        let dd = date.getDate();
        let mm = date.getMonth() + 1;//January is 0!

        const yyyy = date.getFullYear();
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        date = dd + '-' + mm + '-' + yyyy;

        return date
      },
      validateFields(positions) {
        for (let position of positions) {
          for (let key in position) {
            if (position[key] === null) {
              return false;
            }
          }
        }
        return true;
      },
      handlerForSaveProcurement() {
        const isValid = this.validateFields(this.newPositions);
        if (!isValid || this.shop === 'default' || this.provider === 'default') {
          this.$toast.error('Заполните поля');
        } else {
          this.$eventBus.$emit('edit-procurement', {provider: this.provider, shop: this.shop});
          this.$toast.success('сохранено');
          this.$router.push({name: 'ProcurementSingle', params: {id: this.procurement.id} });
        }
      }
    },
    created() {
      this.getListShops();
      this.fetchCategories();
      this.fetchProviders();
    }
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 15px 12px;
    margin-bottom: 15px;
  }

  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  .desc {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }

  .btn--delete {
    padding: 0;
    border: 0;
  }

  .btn--delete >>> svg {
    margin-right: 5px;
    fill: #757575;
  }

  .btn--delete,
  .btn--delete:hover {
    color: #757575;
  }

  .btn--delete:hover {
    color: #D68282;
    background-color: transparent;
  }

  .btn--delete:hover svg {
    fill: #D68282;
  }

</style>
