<template>
  <div class="action-bar">
    <div class="row align-items-center">
      <div class="col-3">
        <SearchField
          v-model="number"
          :placeholder="placeholder"
        />
      </div>
      <div class="col-3">
        <SelectList
          caption="Выберите магазин"
          :items="this.$store.getters.shops"
          @input="handlerForSelectShop"
        />
      </div>
      <div class="col-3">
        <DateField @change="handlerForDateSort" />
      </div>
      <div class="col-3 d-flex justify-content-end">
        <RouterLink
          class="btn btn-fill"
          :to="componentUrl"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>{{ buttonText }}</span>
        </RouterLink>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchField from "@/components/elements/SearchField";
  import DateField from "@/components/elements/DateField";
  import SelectList from "@/components/elements/Select";
  import debounce from 'lodash.debounce';

  export default {
    name: "ProcurementsIndexActionBar",
    components: {
      DateField,
      SearchField,
      SelectList
    },
    props: {
      placeholder: {
        type: String,
        default: ''
      },
      buttonText: {
        type: String,
        default: ''
      },
      componentUrl: {
        type: String,
        default: null
      },
    },
    data() {
      return {
        number: ''
      }
    },
    watch: {
      number: debounce( function() {
        const numberParsed = parseInt(this.number, 10);
        if (numberParsed || this.number === '') {
          this.$store.commit('SET_SEARCHID', numberParsed);
          this.$store.dispatch('fetchProcurements');
        }
      }, 600)
    },
    created() {
      this.$store.dispatch('getListShops');
    },
    methods: {
      handlerForSelectShop(value) {
        this.$store.commit('SET_SHOPID', value);
        this.$store.dispatch('fetchProcurements');
      },
      handlerForDateSort(dates) {
        this.$store.dispatch('setArrayDate', dates);
        this.$store.dispatch('fetchProcurements');
      },
    }
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }

  .btn >>> svg {
    width: 24px;
    height: 24px;
  }

  .btn-fill >>> svg {
    fill: #fff;
  }

</style>
