<template>
<!-- eslint-disable -->
  <div>
    <div class="procurement-filter ">
      <div class="row align-items-center mb-4">
        <div class="col-4">
          <h1 class="main-title" v-if="procurement.id">
            <router-link class="router-link arrow-back" to="/procurements">
              <svg>
                <use xlink:href="@/assets/sprite.svg#back"></use>
              </svg>
            </router-link>
            №{{ `${procurement.number}`.padStart(6, '0') }} от
            {{this.formatDate(procurement.created_at)}}
          </h1>
          <h1 class="main-title" v-else>
            <router-link class="router-link" to="/procurements">
              <svg>
                <use xlink:href="@/assets/sprite.svg#back"></use>
              </svg>
            </router-link>
            {{title}}
          </h1>
        </div>

        <div class="col-auto ml-auto">
          <h3 class="posted">
            <svg class="posted-icon posted-icon--posted">
              <use xlink:href="@/assets/sprite.svg#check_circle"></use>
            </svg>
            Проведен от  {{this.formatDate(procurement.posted_at)}}
          </h3>
        </div>
        <div class="col-auto ml-auto">
          <ActionButton class="btn--print" @click="print">
            <svg>
              <use xlink:href="@/assets/sprite.svg#print"></use>
            </svg>
            <span>Напечать документ</span>
          </ActionButton>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-3">
          <p class="caption">
            Поставщик
          </p>
          <p class="text">
            {{ procurement.provider ? procurement.provider.name : 'Перемещение'}}
          </p>
        </div>
        <div class="col-3">
          <p class="caption">
            Магазин
          </p>
          <p class="text">
            {{procurement.shop.name}}
          </p>
        </div>
      </div>
    </div>
    <Confirmation></Confirmation>
  </div>
</template>

<script>
  /* eslint-disable */
  import Confirmation from '@/components/modals/Confirmation'
  import ActionButton from '@/components/elements/ActionButton'

  export default {
    name: "InfoSingleActionBar",
    components: {
      Confirmation,
      ActionButton,
    },
    props: {
      procurement: {}
    },
    methods: {
      formatDate(str) {
        let date = new Date(str);
        let dd = date.getDate();
        let mm = date.getMonth() + 1;//January is 0!

        const yyyy = date.getFullYear();
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        date = dd + '-' + mm + '-' + yyyy;

        return date
      },
      print() {
        window.print()
      }
    }
  }
</script>

<style scoped>

  .posted {
    margin: 0;
    display: flex;
    align-items: center;
    color: #81C784;
  }

  .posted-icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    fill: #81C784;
  }

  .btn--print >>> svg {
    width: 20px;
    height: 18px;
    fill: #294D9C;
  }

  .btn--edit {
    border: none;
    padding: 0;
  }

  .btn--edit >>> svg {
    margin-right: 5px;
    fill: #294D9C;
  }

  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  .text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  @media print {
    .btn--print, .btn--edit, .arrow-back{
      display: none;
      visibility: hidden;
    }
  }
</style>
