<template>
  <div>
    <div class="procurement-filter">
      <div class="row align-items-center justify-content-between mb-4">
        <div class="col-8">
          <h1 class="main-title">
            <RouterLink
              class="router-link"
              to="/procurements"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#back" />
              </svg>
            </RouterLink>
            Новое поступление
          </h1>
        </div>
        <div class="col-2">
          <ImageButton
            class="btn--save"
            @click="handlerForSaveProcurement"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#check" />
            </svg>
            Сохранить
          </ImageButton>
        </div>
        <div class="col-2">
          <RouterLink
            class="link-icon"
            to="/procurements"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#close" />
            </svg>
            Отменить
          </RouterLink>
        </div>
      </div>
      <div
        v-if="shops"
        class="row align-items-center mb-4"
      >
        <div class="col-3">
          <p class="caption">
            Поставщик <sup>*</sup>
          </p>
          <select
            v-model="currentProvider"
            class="select"
          >
            <option
              value="default"
              selected
              disabled
            >
              Выберите поставщика
            </option>
            <option
              v-for="(provider,i) in providers"
              :key="i"
              :value="provider.id"
            >
              {{ provider.name }}
            </option>
          </select>
        </div>
        <div class="col-3">
          <p class="caption">
            Место прихода <sup>*</sup>
          </p>
          <select
            v-model="currentShop"
            class="select"
          >
            <option
              value="default"
              selected
              disabled
            >
              Выберите магазин
            </option>
            <option
              v-for="(shop,i) in shops"
              :key="i"
              :value="shop.id"
            >
              {{ shop.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <p class="caption">
            Оптовая наценка
          </p>
          <InputField
            v-model="wholesaleMargin"
            type="number"
            classes="test-wholesaleMargin"
            :min="0"
            :step="1"
            @input="addMarginToNewPositions('wholesale', wholesaleMargin)"
          />
        </div>
        <div class="col-2">
          <p class="caption">
            Розничная наценка
          </p>
          <InputField
            v-model="retailMargin"
            type="number"
            classes="test-retailMargin"
            :min="0"
            :step="1"
            @input="addMarginToNewPositions('retail', retailMargin)"
          />
        </div>
        <div class="col-2">
          <p class="caption">
            Округление
          </p>
          <select
            class="select"
            :value="roundingAccuracy"
            @change="setNewAccuracy"
          >
            <option value="0">
              Без
            </option>
            <option value="0.01">
              0.01
            </option>
            <option value="0.05">
              0.05
            </option>
            <option value="0.1">
              0.1
            </option>
            <option value="1">
              1
            </option>
            <option value="5">
              5
            </option>
            <option value="10">
              10
            </option>
            <option value="50">
              50
            </option>
            <option value="100">
              100
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="action-bar">
      <div class="row align-items-center">
        <div class="col-2">
          <a
            class="btn"
            @click="$modal.show('search-product')"
          >
            Справочник
          </a>
        </div>
        <div class="col-10">
          <p class="desc">
            Выберите товар со справочника или
            <LinkButton
              class="mr-2"
              @click="$modal.show('new-product', {currentCategory: null})"
            >
              + создайте новый
            </LinkButton>
          </p>
        </div>
      </div>
    </div>
    <SearchProducts :is-procurement="true" />
    <NewProduct :procurement="true" />
  </div>
</template>

<script>
  import ImageButton from '@/components/elements/ImageButton'
  import InputField from '@/components/elements/InputField'
  import LinkButton from '@/components/elements/LinkButton'
  import NewProduct from '@/components/products/NewProduct'
  import SearchProducts from '@/components/products/SearchProducts'
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: 'NewProcurementsSingleActionBar',
    components: {
      ImageButton,
      InputField,
      LinkButton,
      NewProduct,
      SearchProducts,
    },
    data() {
      return {
        currentProvider: 'default',
        currentShop: 'default',
        // Primarily is used as numbers,
        // empty string works as 0 and turns off auto change of products
        wholesaleMargin: '',
        retailMargin: '',
      }
    },
    computed: {
      ...mapGetters([
        'shops',
        'newPositions',
        'providers',
        'roundingAccuracy'
      ])
    },
    created() {
      this.getListShops();
      this.fetchProviders();
    },
    methods: {
      ...mapActions([
        'fetchProviders',
        'getListShops'
      ]),
      addMarginToNewPositions(property, marginInPercent) {
        const margin = marginInPercent / 100;
        this.$store.commit('ADD_MARGIN_TO_PRICE_PROPERTY_OF_NEWPOSITIONS', [property, margin]);
      },
      setNewAccuracy(e) {
        const payload = {roundingAccuracy: e.target.value};
        this.$store.commit('SET_ROUNDING_ACCURACY_FOR_PRICES_OF_NEWPOSITIONS', payload);
      },
      formatDate(str) {
        let date = new Date(str);
        let dd = date.getDate();
        let mm = date.getMonth() + 1;//January is 0!

        const yyyy = date.getFullYear();
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        date = dd + '-' + mm + '-' + yyyy;

        return date
      },
      validateFields(positions) {
        for (let position of positions) {
          for (let key in position) {
            if (position[key] === null) {
              return false;
            }
          }
          if (position.purchases > position.wholesale) {
            this.$toast.error('Оптовая цена должна быть больше закупочной');
            return false;
          }
          if (position.wholesale > position.retail) {
            this.$toast.error('Розничная цена должна быть больше оптовой');
            return false;
          }
          if (position.purchases > 0 && position.count === 0) {
            this.$toast.error('Введите количество товоров');
            return false;
          }
        }
        return true;
      },
      valided() {
        if (this.currentShop === 'default' || this.currentProvider === 'default') {
          this.$toast.error('поставщик и место прихода обязательные поля');
          return false;
        }
        return true;
      },
      handlerForSaveProcurement() {
        const isValidFields = this.validateFields(this.newPositions);
        if (isValidFields && this.valided()) {
          this.$eventBus.$emit('submit-new-procurement', {provider: this.currentProvider, shop: this.currentShop});
        }
      }
    },
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 15px 12px;
    margin-bottom: 15px;
  }

  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  .desc {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }

  .btn--save {
    display: flex;
    width: 100%;
    background-color: #294D9C;
    border-radius: 0;
    padding: 5px;
    color: #fff;
  }

  .btn--save >>> svg {
    fill: #fff;
  }

  .btn--save:hover {
    color: #fff;
  }

  .btn--save >>> svg,
  .btn--delete >>> svg {
    margin-right: 5px;
  }

  sup {
    color: red;
    font-weight: 700;
  }
</style>
