<template>
<!-- eslint-disable -->
  <div>
    <div class="procurement-filter ">
      <div class="row align-items-center mb-4">
        <div class="col-6">
          <h1 class="main-title" v-if="procurement.id">
            <router-link class="router-link" to="/procurements">
              <svg>
                <use xlink:href="@/assets/sprite.svg#back"></use>
              </svg>
            </router-link>
            Поступление
            №{{ `${procurement.number}`.padStart(6, '0') }} от
            {{this.formatDate(procurement.created_at)}}
          </h1>
          <h1 class="main-title" v-else>
            <router-link class="router-link" to="/procurements">
              <svg>
                <use xlink:href="@/assets/sprite.svg#back"></use>
              </svg>
            </router-link>
            {{title}}
          </h1>
        </div>

        <div class="col-auto">
          <ActionButton @click="$modal.show('posted_confirmation')" color="blue">
            Провести документ
          </ActionButton>
        </div>
        <div class="col-auto">
          <router-link class="link-icon" :to="{ name: 'ProcurementEditSingle', params: { id: procurement.id }}">
            <svg>
              <use xlink:href="@/assets/sprite.svg#edit"></use>
            </svg>
           <span>Редактировать</span>
          </router-link>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-3">
          <p class="caption">
            Поставщик
          </p>
          <p class="text">
            {{ procurement.provider ? procurement.provider.name : 'Перемещение'}}
          </p>
        </div>
        <div class="col-3">
          <p class="caption">
            Магазин
          </p>
          <p class="text">
            {{procurement.shop.name}}
          </p>
        </div>
      </div>
    </div>
    <PostedConfirmation></PostedConfirmation>
  </div>
</template>

<script>
  /* eslint-disable */
  import ActionButton from '@/components/elements/ActionButton'
  import PostedConfirmation from "@/components/modals/PostedConfirmation";

  export default {
    name: "PostedSingleActionBar",
    components: {
      ActionButton,
      PostedConfirmation
    },
    props: {
      procurement: {}
    },
    methods: {
      formatDate(str) {
        let date = new Date(str);
        let dd = date.getDate();
        let mm = date.getMonth() + 1;//January is 0!

        const yyyy = date.getFullYear();
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        date = dd + '-' + mm + '-' + yyyy;

        return date
      },
      print() {
        window.print()
      }
    }
  }
</script>

<style scoped>

  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  .text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .btn--edit >>> svg {
    margin-right: 5px;
  }

</style>
