<template>
  <div>
    <Actionbar
      ref="actionBar"
      :shop-name="genStoreName"
      :list-shops="shops"
      @search-changed="onSearchChange"
      @shop-changed="onShopChange"
    />
    <ShopTable :data-source="filteredItems" />
  </div>
</template>

<script>
  /* eslint-disable */
  import Actionbar from '@/components/cashboxes/ActionBar';
  import ShopTable from '@/components/cashboxes/Table';
  import {mapActions, mapGetters} from 'vuex';

  export default {
    name: 'CashBoxesIndex',
    components: {
      Actionbar,
      ShopTable
    },
    data(){
      return {
        searchChar:'',
      }
    },
    computed: {
      ...mapGetters([ 'shops','cashboxes']),
      genStoreName() {
        return 'Магазин ' + (this.cashboxes.length + 1);
      },
      filteredItems() {
        return this.cashboxes.filter((s) => {
        const chr = this.searchChar.toLowerCase();
        const cashName =  s.name.toLowerCase();
        const shopName =  s.shop.name.toLowerCase();
          return cashName.match(chr) || shopName.match(chr);
        })
      }
    },
    created(){
      this.$store.dispatch('getListShops');
      this.$store.dispatch('getCashboxes');
    },
    methods: {
      onSearchChange(e){
        this.searchChar = e;
      },
      onShopChange(e){
       if(e != null){
         this.$store.dispatch('getShopCashboxes', e);
       }
      },
    }
  }
</script>

<style scoped>

</style>

