<template>
  <div>
    <ActionBar />
    <Table />
    <CreatePosition />
    <UpdatePosition />
    <Confirmation />
  </div>
</template>

<script>
  import ActionBar from '@/components/positions/ActionBar';
  import Table from '@/components/positions/Table';
  import CreatePosition from "@/components/positions/CreatePosition"
  import UpdatePosition from "@/components/positions/UpdatePosition"
  import Confirmation from "@/components/modals/Confirmation";

  export default {
    name: "PositionsIndex",
    components: {
      Confirmation,
      ActionBar,
      Table,
      CreatePosition,
      UpdatePosition
    }
  }
</script>

<style scoped>

</style>