<template>
  <div>
    <div
      v-if="currentMove"
      class="move-actionbar"
    >
      <div class="procurement-filter ">
        <div class="row align-items-center justify-content-between mb-4">
          <div class="col-8">
            <h1 class="main-title">
              <LinkButton
                class="link-icon"
                @click="goBack"
              >
                <svg>
                  <use xlink:href="@/assets/sprite.svg#back" />
                </svg>
                Перемещение №{{ currentMove.number }}
              </linkbutton>
            </h1>
          </div>
          <div
            v-if="movePositions.length > 0"
            class="col-2"
          >
            <ImageButton
              class="btn--save"
              @click="trySave"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#check" />
              </svg>
              Сохранить
            </ImageButton>
          </div>
          <div
            v-if="movePositions.length > 0"
            class="col-2"
          >
            <LinkButton
              class="link-icon"
              @click="goBack"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#close" />
              </svg>
              Отменить
            </LinkButton>
          </div>
        </div>
        <div
          v-if="shops"
          class="row align-items-center mb-4"
        >
          <div class="col-3">
            <p class="field-caption">
              Откуда
            </p>
            <Select
              v-model="form.shop_from"
              :caption="shopFromCaption"
              :disabled="true"
              :items="shops"
            />
          </div>
          <div class="col-3">
            <p class="field-caption">
              Куда
            </p>
            <Select
              v-model="form.shop_where"
              :caption="shopToCaption"
              :disabled="true"
              :items="shops"
            />
          </div>
        </div>
      </div>
      <div class="main_filter">
        <div class="row align-items-center">
          <div class="col-2">
            <a
              class="btn"
              @click="$modal.show('search-product')"
            >
              Справочник
            </a>
          </div>
          <div class="col-10">
            <p class="desc">
              Выберите товар со справочника
            </p>
          </div>
        </div>
      </div>
    </div>
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>Наименование товара</th>
          <th style="width: 100px;">
            Кол-во
          </th>
          <th style="width: 45px" />
        </tr>
      </thead>
      <tbody>
        <tr>{{ }}</tr>
        <tr v-if="movePositions.length === 0">
          <td
            colspan="3"
            align="center"
          >
            Добавьте товара из 
            <LinkButton @click="$modal.show('search-product')">
              справочника
            </LinkButton>
          </td>
        </tr>
        <TableItem
          v-for="(pos,i) in movePositions"
          :key="i"
          :position="pos"
          :index="i"
        />
      </tbody>
    </table>
    <SearchProducts @selected-product="getPositions" />
    <ProgressBar
      v-if="loading"
      :full="true"
    />
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import LinkButton from '@/components/elements/LinkButton'
  import SearchProducts from '@/components/products/SearchProducts'
  import ImageButton from '@/components/elements/ImageButton'
  import Select from '@/components/elements/Select'
  import ProgressBar from '@/components/elements/ProgressBar'
  import TableItem from '@/components/moves/TableNewItem'

  export default {
    name: 'MovesNew',
    components: {
      LinkButton,
      SearchProducts,
      ImageButton,
      Select,
      TableItem,
      ProgressBar
    },
    data() {
      return {
        submited: false,
        loading: false,
        currentMove: null,
        form:{
          shop_from: '',
          shop_where: '',
          move_positions: []
        }
      }
    },
    computed: {
      ...mapGetters({
        shops:'shops',
        movePositions:'moves/movePositions',
        products: 'products'
      }),
      shopFromCaption(){
        if(this.currentMove){
         return this.currentMove.shop_from.name;
        }
        return 'Выберите магазин';
      },
      shopToCaption(){
        if(this.currentMove){
         return this.currentMove.shop_where.name;
        }
        return 'Выберите магазин';
      }
    },
    created() {
      this.getDataHandler(this.$route.params.id);
      this.getListShops();
    },
    methods: {
      ...mapActions({
        getMove: 'moves/getMove',
        getListShops:'getListShops',
        addToPositions:'moves/addToPositions',
        updateMove: 'moves/updateMove',
        fetchProducts: 'fetchProducts'
      }),
      async getDataHandler(id){
        this.loading = true;
        await this.fetchProducts();
        const result = await this.getMove(id);
        if(result.status === 200){
          this.currentMove = result.data;
          this.form.shop_from = this.currentMove.shop_from.id;
          this.form.shop_where = this.currentMove.shop_where.id;
          this.currentMove.move_positions.forEach(position => {
            let pos = {...position, name: this.getProductName(position.product)}
            this.addToPositions(pos);
          })
        }else{
          this.$router.push({name: 'NotFound'});
        }
        this.loading = false;
      },
      getPositions(position){
        this.addToPositions(position);
      },
      getProductName(id){
        const product = this.products.find(p => p.id === parseInt(id));
        if (product) return product.name;
        return ''
      },
      async trySave(){
         if(this.validated()){
         this.loading = true
         const result = await this.updateMove([this.form, this.currentMove.id])
          if(result.status === 200){
            this.$toast.success('успешно сохранено');
            this.goBack();
          }else{
           this.$toast.error(result.data)
          }
          this.loading = false
        }
         
      },
      validated(){
        this.form.move_positions = this.movePositions
        if((this.form.shop_from || this.form.shop_where) === ""){
          this.$toast.error('Выберите исходный и целевой магазин!')
          return false
        }
        if(this.form.shop_from === this.form.shop_where){
          this.$toast.error('Выберите разные магазины!')
          return false
        }
        var zero = 0
        this.form.move_positions.forEach(pos =>{
           if(pos.count === 0){
             this.$toast.error('количество '+ pos.name+' равно 0')
             zero++
           }
        })
        if(zero>0){
          return false
        }
        return true
      },
      goBack(){
        this.$router.push({name: 'MovesInfo', params:{id: this.currentMove.id}})
      }
    },
  }
</script>

<style scoped>
  .btn--save {
    display: flex;
    width: 100%;
    background-color: #294D9C;
    border-radius: 0;
    padding: 5px;
    color: #fff;
  }

  .btn--save >>> svg {
    fill: #fff;
  }

  .btn--save:hover {
    color: #fff;
  }

  .btn--save >>> svg,
  .btn--delete >>> svg {
    margin-right: 5px;
  }

  .btn--delete,
  .btn--delete:hover {
    color: #757575;
  }

  .btn--delete >>> svg {
    fill: #757575;
  }

  .main_filter {
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 15px 12px;
    margin-bottom: 15px;
  }

  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .field-caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  .desc {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }
</style>
