<template>
  <div>
    <ActionBar
      @search-changed="searchChange"
      @period-changed="periodChange"
    />
    <Table :range-moves="rangeMoves" />
    <div
      v-if="loading"
      class="row loader"
    >
      <ProgressBar />
    </div>
  </div>
</template>

<script>
  import ActionBar from '@/components/moves/ActionBar'
  import Table from '@/components/moves/tables/IndexTable'
  import ProgressBar from '@/components/elements/ProgressBar'
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: 'MovesHome',
    components: {
      ActionBar,
      Table,
      ProgressBar
    },
    data(){
      return{
        loading: false,
        searchParams: {
          created_at__gte: '',
          created_at__lte: '',
          number: '',
        }
      }
    },
    computed: {
      ...mapGetters({
        rangeMoves: 'moves/rangeMoves'
      })
    },
    created(){
      this.loadData();
    },
    methods:{
      ...mapActions({
        fetchMoves:'moves/fetchMoves',
        searchMoves: 'moves/searchMoves'
      }),
      async loadData(){
        this.loading = true;
        await this.fetchMoves();
        this.loading = false;
      },
      async searchChange(e){
        this.searchParams.number = e;
        this.loading = true;
        await this.searchMoves(this.searchParams);
        this.loading = false;
      },
      async periodChange(dates){
        this.searchParams.created_at__gte = dates[0];
        this.searchParams.created_at__lte = dates[1];
        this.loading = true;
        await this.searchMoves(this.searchParams);
        this.loading = false;
      }
    }
  }
</script>

<style scoped>

  .loader {
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
  }
</style>
