<template>
  <div>
    <div v-if="currentMove && !loading">
      <div>
        <div class="row align-items-center mb-4">
          <div class="col-4">
            <h1 class="main-title">
              <RouterLink
                class="router-link"
                :to="{name: 'Moves'}"
              >
                <svg>
                  <use xlink:href="@/assets/sprite.svg#back" />
                </svg>
              </RouterLink>
              Перемещение №{{ currentMove.number }}
            </h1>
          </div>
          <div class="col-8">
            <div
              class="row"
              style="display; flex; justify-content: flex-end"
            >
              <div
                v-if="currentMove.is_posted"
                class="col-auto ml-auto"
              >
                <div class="posted">
                  <svg class="posted-icon posted-icon--posted">
                    <use xlink:href="@/assets/sprite.svg#check_circle" />
                  </svg>
                  Проведен от {{ $date.toDate(currentMove.posted_at) }}
                </div>
              </div>
              <div
                v-if="currentMove.is_posted"
                class="col-auto ml-auto"
              >
                <ActionButton
                  class="btn--print"
                  @click="print"
                >
                  <svg>
                    <use xlink:href="@/assets/sprite.svg#print" />
                  </svg>
                  Напечать документ
                </ActionButton>
              </div>
              <div
                v-if="!currentMove.is_posted"
                class="col-auto"
              >
                <ActionButton
                  color="blue"
                  @click="$modal.show('actions-move', {action: 'post-move', id: currentMove.id})"
                >
                  Провести документ
                </ActionButton>
              </div>
              <div class="col-auto">
                <RouterLink
                  v-if="!currentMove.is_posted"
                  class="link-icon"
                  :to="{name: 'MovesEdit'}"
                >
                  <svg>
                    <use xlink:href="@/assets/sprite.svg#edit" />
                  </svg>
                  Редактировть
                </RouterLink>
                <LinkButton
                  class="link-icon"
                  @click="$modal.show('actions-move', {action: 'delete-move', id: currentMove.id})"
                >
                  <svg>
                    <use xlink:href="@/assets/sprite.svg#close" />
                  </svg>
                  Удалить
                </LinkButton>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-3">
            <p class="field-caption">
              Откуда
            </p>
            <p class="text">
              {{ currentMove.shop_from.name }}
            </p>
          </div>
          <div class="col-3">
            <p class="field-caption">
              Куда
            </p>
            <p class="text">
              {{ currentMove.shop_where.name }}
            </p>
          </div>
        </div>
      </div>
      <ScrollWrap style="max-height: 400px">
        <InfoTable
          :positions="currentMove.move_positions"
          :products="products"
          :is-posted="currentMove.is_posted"
        />
      </ScrollWrap>
    </div>
    <ConfirmActionModal @on-actions-move="getActionHandler" />
    <div v-if="loading">
      <ProgressBar
        message="Подождите..."
        orientation="vertical"
        :full="true"
      />
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import LinkButton from '@/components/elements/LinkButton'
  import InfoTable from '@/components/moves/InfoTable'
  import ConfirmActionModal from '@/components/moves/ConfirmActionModal'
  import ActionButton from '@/components/elements/ActionButton'
  import ProgressBar from '@/components/elements/ProgressBar'
  import ScrollWrap from '@/layouts/ScrollWrap'
  import {mapGetters, mapActions} from "vuex";

  export default {
    name: "MovesInfo",
    components: {
      LinkButton,
      ActionButton,
      InfoTable,
      ConfirmActionModal,
      ProgressBar,
      ScrollWrap
    },
    data(){
      return {
        loading: false,
        id: null,
        currentMove: null
      }
    },
    created(){
      this.getDataHandler(this.$route.params.id)
      this.fetchProducts()
    },
    computed:{
      ...mapGetters(['products']),
    },
    methods: {
      ...mapActions({
        getMove: 'moves/getMove',
        deleteMove: 'moves/deleteMove',
        confirmMove: 'moves/confirmMove',
        deleteMoveLine: 'moves/deleteMoveLine',
        fetchProducts: 'fetchProducts'
      }),
      async getDataHandler(id){
        this.loading = true
        const result = await this.getMove(id)
        if(result.status === 200){
          this.id = id
          this.currentMove = result.data
        }else{
          this.$router.push({name: 'NotFound'})
        }
        this.loading = false
      },
      async postMoveHandler(){
        this.loading = true
        const result = await this.confirmMove(this.id)
        if(result.status === 200){
          this.getDataHandler(this.id)
        }else{
          this.$toast.error("произошла ошибка. Попробуйте снова!")
        }
        this.loading = false
      },
      async deleteMoveHandler(){
        this.loading = true
        const result = await this.deleteMove(this.id)
        if(result.status === 204){
          this.$router.push({name: 'Moves'})
        }else{
          this.loading = false
          this.$toast.error("произошла ошибка. Попробуйте снова!")
        }
      },
      async deleteMoveLineHandler(id){
        this.loading = true
        const result = await this.deleteMoveLine(id)
        if(result.status === 204){
          this.getDataHandler(this.id)
        }else{
          this.loading = false
          this.$toast.error("произошла ошибка. Попробуйте снова!")
        }
      },
      getActionHandler(extras){
        switch (extras.action) {
          case "post-move":
            this.postMoveHandler()
            break;
          case "delete-move":
            this.deleteMoveHandler()
            break;
          case "delete-moveline":
            this.deleteMoveLineHandler(extras.id)
            break;
        }
      },
      print() {
        window.print()
      }
    },

  }
</script>

<style scoped>


  .posted {
    color: #81C784;
    font-weight: bold
  }
  .posted-icon {
    width: 20px;
    fill: #81C784;
    height: 20px;
    margin-bottom: -4px;
  }
  .btn--edit >>> svg {
    margin-right: 5px;
  }
  .btn--edit {
    border: none;
    padding: 0;
  }
  .main_filter {
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 15px 12px;
    margin-bottom: 15px;
  }
  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  .field-caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }
  .desc {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }
  .text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  @media print {
    .btn--print, .btn--edit, #back, .header__nav, .aside_nav {
      display: none !important;
      visibility: hidden;
    }
  }

</style>
