<template>
<!-- eslint-disable -->
  <div>
    <div class="move-actionbar">
      <div class="procurement-filter ">
        <div class="row align-items-center justify-content-between mb-4">
          <div class="col-8">
            <h1 class="main-title">
              <router-link class="router-link" :to="{name: 'Moves'}">
                <svg>
                  <use xlink:href="@/assets/sprite.svg#back"></use>
                </svg>
              </router-link>
              Новое перемещениие
            </h1>
          </div>
          <div class="col-2" v-if="movePositions.length > 0 && !submited">
            <ImageButton  class="btn--save" @click="trySave">
              <svg>
                <use xlink:href="@/assets/sprite.svg#check"></use>
              </svg>
              Сохранить
            </ImageButton>
          </div>
          <div class="col-2" v-if="movePositions.length > 0 && !submited">
            <router-link class="link-icon" :to="{name: 'Moves'}">
              <svg>
                <use xlink:href="@/assets/sprite.svg#close"></use>
              </svg>
              Отменить
            </router-link>
          </div>
          <div class="col-2">
            <ProgressBar message="погрузка..." :size="20" v-if="submited"/>
          </div>
        </div>
        <div class="row align-items-center mb-4" v-if="shops">
          <div class="col-3">
            <p class="field-caption">
              Откуда
            </p>
            <SelectList caption="Выберите магазин"
                      :items="shops"
                      v-model="form.shop_from" />
          </div>
          <div class="col-3">
            <p class="field-caption">
              Куда
            </p>
            <SelectList caption="Выберите магазин"
                      :items="shops"
                      v-model="form.shop_where" />
          </div>
        </div>
      </div>
      <div class="main_filter">
        <div class="row align-items-center">
          <div class="col-2">
            <a class="btn" @click="$modal.show('search-product')">
              Справочник
            </a>
          </div>
          <div class="col-10">
            <p class="desc">
              Выберите товар со справочника
            </p>

          </div>
        </div>
      </div>
    </div>
     <table class="table">
      <thead class="table-head">
      <tr>
        <th>Наименование товара</th>
        <th style="width: 100px;">Кол-во</th>
        <th style="width: 45px"></th>
      </tr>
      </thead>
      <tbody >
       <tr>{{ }}</tr>
       <tr v-if="movePositions.length === 0">
         <td colspan="3" align="center">
           Добавьте товара из 
           <LinkButton @click="$modal.show('search-product')">
             справочника
           </LinkButton>
         </td>
       </tr>
       <TableItem v-for="(pos,i) in movePositions" :key="i" :position="pos" :index="i"/>
      </tbody>
    </table>
    <SearchProducts @selected-product="getPositions" />
  </div>
</template>

<script>
  /* eslint-disable */
  import {mapActions, mapGetters} from 'vuex'
  import LinkButton from '@/components/elements/LinkButton'
  import SearchProducts from '@/components/products/SearchProducts'
  import ImageButton from '@/components/elements/ImageButton'
  import SelectList from '@/components/elements/Select'
  import ProgressBar from '@/components/elements/ProgressBar'
  import TableItem from '@/components/moves/TableNewItem'

  export default {
    name: 'MovesNew',
    components: {
      LinkButton,
      SearchProducts,
      ImageButton,
      SelectList,
      TableItem,
      ProgressBar
    },
    data() {
      return {
        submited: false, 
        form:{
          shop_from: '',
          shop_where: '',
          move_positions: []
        }
      }
    },
    computed: {
      ...mapGetters({
        shops:'shops',
        movePositions:'moves/movePositions'
      })
    },
    methods: {
      ...mapActions({
        getListShops:'getListShops',
        addToPositions:'moves/addToPositions',
        submitNewMove: 'moves/submitNewMove'
      }),
      getPositions(position){
        this.addToPositions(position)
      },
      async trySave(){
         if(this.validated()){
         this.submited = true
         const result = await this.submitNewMove(this.form)
          if(result.status === 201){
            this.$toast.success('успешно сохранено')
            this.$router.push({name: 'MovesInfo', params:{id: result.data.id}})
          }else{
           this.$toast.error(result.data)
          }
          this.submited = false
        }
         
      },
      validated(){
        this.form.move_positions = this.movePositions
        if((this.form.shop_from || this.form.shop_where) === ""){
          this.$toast.error('Выберите исходный и целевой магазин!')
          return false
        }
        if(this.form.shop_from === this.form.shop_where){
          this.$toast.error('Выберите разные магазины!')
          return false
        }
        var zero = 0
        this.form.move_positions.forEach(pos =>{
           if(pos.count === 0){
             this.$toast.error('количество '+ pos.name+' равно 0')
             zero++
           }
        })
        if(zero>0){
          return false
        }
        return true
      }
    },
    created() {
      this.getListShops();
    },
  }
</script>

<style scoped>
  .btn--save {
    display: flex;
    width: 100%;
    background-color: #294D9C;
    border-radius: 0;
    padding: 5px;
    color: #fff;
  }

  .btn--save >>> svg {
    fill: #fff;
  }

  .btn--save:hover {
    color: #fff;
  }

  .btn--save >>> svg,
  .btn--delete >>> svg {
    margin-right: 5px;
  }

  .btn--delete,
  .btn--delete:hover {
    color: #757575;
  }

  .btn--delete >>> svg {
    fill: #757575;
  }

  .main_filter {
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 15px 12px;
    margin-bottom: 15px;
  }

  .router-link >>> svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .field-caption {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  .desc {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }
</style>
