<template>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>Имя</th>
        <th>Телефон</th>
        <th>E-mail</th>
        <th>Номер карты</th>
        <th colspan="2">
          Тип
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="client in clients"
        :key="client.id"
      >
        <td
          class="clickable"
          @click="$modal.show('detail-client', {client: client})"
        >
          {{ client.name }}
        </td>
        <td><a :href="'tel:' + client.phone">{{ client.phone }}</a></td>
        <td><a :href="'mailto:' + client.email">{{ client.email }}</a></td>
        <td><span v-if="client.card">{{ client.card.card_number }}</span></td>
        <td>{{ is_retail(client.is_retail) }}</td>
        <td>
          <ImageButton
            class="btn--delete"
            @click="$modal.show('confirmation', {id: client.id, type: 'client'})"
          >
            <svg>
              <use xlink:href="@/assets/sprite.svg#delete" />
            </svg>
          </ImageButton>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
  import ImageButton from "@/components/elements/ImageButton";

  export default {
    name: 'ClientsIndexTable',
    components: {
      ImageButton
    },
    props: {
      clients: {
        type: Array,
        required: true
      }
    },
    methods: {
      is_retail(is_retail) {
        return is_retail ? 'Розничный' : 'Оптовый';
      }
    }
  }
</script>

<style scoped>
  .btn--delete {
    fill: #c4c4c4;
  }

  .btn--delete:hover >>> svg {
    fill: #D68282;
  }
  .clickable{
    cursor: pointer;
    color: var(--primary-color);
  }
  td:hover{
    background: rgba(0, 0, 0, 0.1);
  }
</style>
