<template>
  <div>
    <ActionBar
      @shop-changed="setCashboxesIds($event)"
      @cashbox-changed="setCashboxId($event)"
      @period-changed="setPeriod($event)"
    />
    <ShiftsTable :shifts="shifts" />
  </div>
</template>

<script>
  import ActionBar from '@/components/shifts/ActionBar'
  import ShiftsTable from '@/components/shifts/Table'
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: 'ShiftsIndex',
    components: {
      ActionBar,
      ShiftsTable
    },
    data(){
      return {
        searchParams: {
          cashbox__in: '',
          opened_at__gte: '',
          opened_at__lte: '',
        }

      }
    },
    computed: {
      ...mapGetters(['shifts']),
    },
    created(){
      this.getListShifts(this.searchParams);
    },
    methods: {
      ...mapActions(['getListShifts']),
      async setCashboxesIds(cashboxesIds){
        this.searchParams.cashbox__in = cashboxesIds;
        await this.getListShifts(this.searchParams);
      },
      async setCashboxId(id){
        this.searchParams.cashbox__in = id;
        await this.getListShifts(this.searchParams);
      },
      async setPeriod(period){
        this.searchParams.opened_at__lte = period[1];
        this.searchParams.opened_at__gte = period[0];
        await this.getListShifts(this.searchParams);
      }
    }
  }
</script>

<style scoped>

</style>

