<template>
<!-- eslint-disable -->
  <div>

    <nav class="aside_nav">
      <ul>
        <li><a href="#"><span class="aside_nav__ico">
          <svg>
            <use xlink:href="@/assets/sprite.svg#home"></use>
          </svg>
        </span>Главная</a></li>
        <li>
          <a class="dropdown" @click="dropdownActive" v-bind:class="{ 'dropdown-active': isActive }"><span
            class="aside_nav__ico">
            <svg>
              <use xlink:href="@/assets/sprite.svg#documents"></use>
            </svg>
          </span>Документы</a>
          <ul>
            <NavigationItem v-for="item of items" :key="item.name" :item="item"/>
          </ul>
        </li>
        <li>
          <a class="dropdown" @click="dropdownActive" v-bind:class="{ 'dropdown-active': isActive }"><span
            class="aside_nav__ico">
            <svg>
              <use xlink:href="@/assets/sprite.svg#documents"></use>
            </svg>
          </span>Документы</a>
          <ul>
            <NavigationItem v-for="item of items" :key="item.name" :item="item"/>
          </ul>
        </li>
        <li class="dropdown " @click="dropdownActive" v-bind:class="{ 'dropdown-active': isActive }">
          <a href="#">
            <span class="aside_nav__ico">
              <svg>
                <use xlink:href="@/assets/sprite.svg#goods"></use>
              </svg>
            </span>
            Товары
          </a>
          <ul>
            <li><a href="/products">Товары и услуги</a></li>
            <li><a href="#">Оценка склада</a></li>
            <li><a href="#">Редактор цен</a></li>
            <li><a href="#">Печать остатков</a></li>
            <li><a href="#">Печать этикеток</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><span class="aside_nav__ico">
            <svg>
              <use xlink:href="@/assets/sprite.svg#clients"></use>
            </svg>
          </span>
            Клиенты
          </a>
        </li>
        <li>
          <a href="#">
            <span class="aside_nav__ico">
              <svg>
                <use xlink:href="@/assets/sprite.svg#reports"></use>
              </svg>
            </span>
            Отчеты</a>
        </li>

      </ul>
    </nav>
  </div>
</template>

<script>
  /* eslint-disable */
  import NavigationItem from "@/components/NavigationItem";

  export default {
    name: "Aside",
    components: {
      NavigationItem
    },
    data() {
      return {
        isActive: false,
        items: [
          {
            name: 'Name1',
            meta: {
              target: 'http://localhost'
            }
          },
          {
            name: 'Name2',
            meta: {
              target: 'http://localhost'
            }
          }, {
            name: 'Name3',
            meta: {
              target: 'http://localhost'
            }
          }, {
            name: 'Name4',
            meta: {
              target: 'http://localhost'
            }
          }, {
            name: 'Name5',
            meta: {
              target: 'http://localhost'
            }
          }, {
            name: 'Name6',
            meta: {
              target: 'http://localhost'
            }
          }, {
            name: 'Name7',
            meta: {
              target: 'http://localhost'
            }
          }, {
            name: 'Name8',
            meta: {
              target: 'http://localhost'
            }
          },
        ]
      }
    },
    methods: {
      dropdownActive() {
        this.isActive = !this.isActive;
      }
    }
  }
</script>

<style scoped>
  .aside_nav {
    font-size: 14px;
    width: 195px;
    padding-top: 3px;
    padding-right: 15px;
  }

  .aside_nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .aside_nav ul a {
    text-decoration: none;
    font: inherit;
    color: inherit;
  }

  .aside_nav img {
    vertical-align: top;
  }

  .aside_nav > ul > li {
    margin-bottom: 25px;
  }

  .aside_nav .dropdown > a {
    position: relative;
  }

  .aside_nav .dropdown > a:after {
    content: '';
    background: url('../../assets/sprite.svg#arrow_down') 0 0 no-repeat;
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    right: -23px;
    top: 50%;
    margin-top: -9px;
  }

  .aside_nav .dropdown ul {
    display: none;
    padding-left: 24px;
  }

  .aside_nav .dropdown li {
    font-size: 12px;
    margin: 16px 0;
  }

  .aside_nav .dropdown-active {
    margin-bottom: 19px;
  }

  .aside_nav .dropdown-active > a:after {
    transform: rotate(180deg);
  }

  .aside_nav .dropdown-active + ul {
    display: block;
  }

  .aside_nav a.active {
    color: #294d9c;
  }

  .aside_nav__ico {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    margin-right: 6px;
  }

  .aside_nav__ico svg {
    width: 18px;
    height: 18px;
  }


</style>
