<template>
<!-- eslint-disable -->
  <header class="header">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <div class="col-auto header__logo">
          <router-link to="/">
            <svg class="header__logo-img">
              <use xlink:href="@/assets/sprite.svg#logo"></use>
            </svg>
            <span>CRON BUSINESS</span>
          </router-link>
        </div>

        <div class="col-auto">
          <div class="header__auth">
            <ul>
              <router-link class="router-link" :to="{ name: 'SettingsUser' }">
                <svg width="20" height="20">
                  <use xlink:href="@/assets/sprite.svg#account"></use>
                </svg>
              </router-link>

              <router-link :to="{ name: 'SettingsIndex' }">
                <svg width="20" height="20">
                  <use xlink:href="@/assets/sprite.svg#settings"></use>
                </svg>
              </router-link>
              <li>
                <a target="_blank" class="btn" :href="`${posUrl}`">Интерфейс кассира</a>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </header>
</template>

<script>
  /* eslint-disable */
  import {mapGetters} from 'vuex'

  export default {
    name: "Navbar",
    computed: {
      ...mapGetters({
        isLogged: 'isLoggedIn',
      })
    },
    data(){
      return{
        posUrl: process.env.VUE_APP_POS_URL
      }
    },
    methods: {
      logout: function () {
        this.$store.dispatch('logout')
          .then(() => {
            this.$router.push({name: 'Login'})
          })
      },
    },
  }
</script>

<style scoped>
  .header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .051);
    padding: 18px 0 19px
  }

  @media print {
    .header__nav,
    .header__auth {
      display: none;
    }
  }

  .header__logo {
    font-size: 1.2rem;
    letter-spacing: .025em;
    color: #294d9c;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
  }

  .header__logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: inherit;
  }

  .header__logo svg {
    margin-right: 15px;
    width: 48px;
    height: 31px;
  }


  .header__nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

  }

  .header__nav ul a {
    text-decoration: none;
    color: inherit;
  }


  .header__nav li:first-child {
    margin-left: 0
  }

  .header__nav li:last-child {
    margin-right: 0
  }

  .router-link {
    margin-right: 10px;
  }

  .router-link.router-link-exact-active {
    font-weight: 600;
    color: #294d9c;
  }

  .header__auth {
    font-size: 14px
  }

  .header__auth ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .header__auth li {
    margin: 0 10px
  }

  .header__auth li:first-child {
    margin-left: 0
  }

  .header__auth li:last-child {
    margin-right: 0
  }

  .header__auth .btn {
    height: 43px;
    padding: 0 26px;
    font-size: 16px;
    text-decoration: none;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    color: #294d9c;
    border: 1px solid #294d9c;
    height: 35px;
  }

  .btn img {
    margin-right: 5px
  }

  .btn:hover {
    color: #294d9c
  }
</style>
