<template>
<!-- eslint-disable -->
  <aside class="sidebar">
    <vue-tree-navigation :items="items" :defaultOpenLevel="0"></vue-tree-navigation>
  </aside>
</template>

<script>
  export default {
    name: "Sidebar",
    data() {
      return {
        items: [
          {
            name: "Главная", path: "//"
          },
          {
            name: "Предприятие",
            children: [
              {name: "Магазины", path: "/shops"},
              {name: "Кассы", path: "/cashboxes"},
              {name: "Смены", path: "/shifts"},
              {name: "Настройки", path: "/settings"},
            ]
          },
          {
            name: "Кадровый учет",
            children: [
              {name: "Должности", path: "/positions"},
              {name: "Сотрудники", path: "/employees"},
            ]
          },
          {
            name: "Склад",
            children: [
              {name: "Поступление товаров", path: "/procurements"},
              {name: "Продажи товаров", path: "/sales"},
              {name:"Возврат товара", path: "/returns"},
              {name: "Перемещение товаров", path: "/moves"},
            ]
          },
          {
            name: "Каталог",
            children: [
              {name: "Товары", path: "/products"},
              {name: "Услуги", path: "/services"},
            ]
          },
          {
            name: "Контрагенты",
            children: [
              {name: "Клиенты", path: "/clients"},
              {name: "Поставщики", path: "/providers"},
            ]
          },
          {
            name: "Маркетинг",
            children: [
              {name: "Скидки на продукцию", path: "/discounts"},
              {name: "Система лояльности", path: "/loyalties"},
              {name: "Кэшбек", path: "/cashback"},
            ]
          },
        ],
      };
    }
  }
</script>

<style scoped>
  @media print {
    .sidebar {
      display: none;
    }
  }

  >>> .NavigationLevel__children li {
    margin-left: 22px;
  }

  >>> .NavigationItem {
    padding: 0;
  }

  >>> .NavigationItem--active {
    color: #294d9c;
    font-weight: 700;
  }

  >>> .TreeNavigation li {
    padding-left: 0;
  }

  >>> .NavigationToggle__icon.NavigationToggle__icon--closed {
    transform: rotate(45deg);
  }

  >>> .NavigationToggle__icon {
    transform: rotate(-135deg);
  }


  >>> .NavigationToggle.NavigationToggle--closed {
    top: -6px;
  }

  >>> .NavigationItem__router-link {
    text-decoration: none;
    color: inherit;
  }

  >>> .NavigationLevel__parent {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 23px;
  }

  >>> .NavigationToggle {
    margin-left: 5px;
  }

  >>> .NavigationToggle__icon {
    border-color: #929292;
  }

  >>> .NavigationLevel--level-0 > ul > li + li {
    margin-top: 25px;
  }

  >>> .NavigationLevel--level-1 li {
    margin: 10px 0 10px 22px;
    font-size: 12px;
  }

  >>> .NavigationLevel--level-0 > ul > li:first-child > .NavigationItem::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url("../../assets/home.svg");

  }

  >>> .NavigationLevel--level-0 > ul > li .NavigationLevel__parent::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
  }

  >>> .NavigationLevel--level-0 > ul > li:nth-child(2) .NavigationLevel__parent::before {
    background-image: url("../../assets/documents.svg");
  }

  >>> .NavigationLevel--level-0 > ul > li:nth-child(3) .NavigationLevel__parent::before {
    background-image: url("../../assets/gravatar.svg");
    background-size: 16px 16px;
  }

  >>> .NavigationLevel--level-0 > ul > li:nth-child(4) .NavigationLevel__parent::before {
    background-image: url("../../assets/stock.svg");
    background-size: 16px 16px;
  }

  >>> .NavigationLevel--level-0 > ul > li:nth-child(5) .NavigationLevel__parent::before {
    background-image: url("../../assets/goods.svg");
  }

  >>> .NavigationLevel--level-0 > ul > li:nth-child(6) .NavigationLevel__parent::before {
    background-image: url("../../assets/gravatar.svg");
    background-size: 14px 14px;
  }
    >>> .NavigationLevel--level-0 > ul > li:nth-child(7) .NavigationLevel__parent::before {
    background-image: url("../../assets/discount.svg");
    background-size: 14px 14px;
  }

</style>
