<template>
  <div>
    <input
      :id="id"
      class="styled-checkbox"
      :type="type"
      :name="name"
      :checked="checked"
      @change="onChange"
    >
    <label :for="id">{{ label }}</label>
  </div>
</template>

<script>
export default {
    props:{
      checked: Boolean,
      single: Boolean,
      id:{type: String, default: null},
      label:{type: String, default: null},
      name:{type: String, default: null},
    },
    computed: {
      type(){
        return this.single ? 'radio' : 'checkbox';
      }
    },
    methods: {
      onChange(e){
       this.$emit('change', e.target.checked);
      }
    }
}
</script>

<style scoped>
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  background: #eee;
}
.styled-checkbox:hover + label:before {
  background: #294D9C;
  border: 0;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #294D9C;
  border: 0;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 8px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 0;
}


</style>