<template>
  <div
    class="circle-progress"
    :style="{width: getSize, height: getSize}"
  >
    <div
      class="c1"
      :style="{borderWidth:getStroke, borderColor: bgcolor,}"
    />
    <canvas
      ref="myCanvas"
      class="canvas"
      :width="size"
      :height="size"
    />
    <div
      class="text-content"
      :style="textStyle"
    >
      {{ getText }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CircleProgress',
    props: {
      size: {type: Number, default: 100},
      stroke: {type: Number, default: 10},
      percent: {type: Number, default: 0},
      bgcolor: {type: String, default: "#DEDEDE"},
      color: {type: String, default: "#294D9C"},
      textNo: Boolean,
      textStyle: {type: String, default: "font: 900 20px/20px 'Montserrat', 'Arial, sans-serif"},

    },
    data() {
      return {
        canvas: null
      }
    },
    computed: {
      getSize() {
        return this.size + "px"
      },
      getStroke() {
        return this.stroke + "px"
      },
      getX() {
        return this.size / 2
      },
      getY() {
        return this.size / 2
      },
      getRadious() {
        return ((this.size / 2) - this.stroke / 2)
      },
      getText() {
        return this.textNo ? '' : this.percent + "%"
      },
      getAngle() {
        return this.percent * 2 * Math.PI / 100
      }
    },
    mounted() {
      this.canvas = this.$refs['myCanvas'];
      this.createArc()
    },
    methods: {
      createArc() {
        var ctx = this.canvas.getContext("2d");
        ctx.beginPath();
        ctx.arc(this.getX, this.getY, this.getRadious, 0, this.getAngle);
        ctx.fillStyle = 'transparent';
        ctx.fill();
        ctx.lineWidth = this.stroke;
        ctx.strokeStyle = this.color;
        ctx.stroke();
      }
    }
  }
</script>

<style>
  .circle-progress {
    position: relative;
  }

  .circle-progress .c1 {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 50%;
  }

  .circle-progress .canvas {
    top: 0;
    left: 0;
    position: absolute;
  }

  .circle-progress .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
</style>
