<template>
  <div>
    <DatePicker
      v-if="range"
      v-model="selected"
      input-class="mx-input"
      append-to-body
      lang="ru"
      :format="format"
      :type="type"
      range
      placeholder="Показать за период"
      range-separator="-"
      :shortcuts="false"
      :confirm="true"
      @change="onChange"
    />
    <DatePicker
      v-else
      v-model="selected"
      input-class="mx-input"
      lang="ru"
      :format="format"
      :placeholder="placeholder"
      :type="type"
      @change="onChange"
    />
  </div>
</template>
<script>
  import DatePicker from 'vue2-datepicker'

  export default {
    name: 'CDatePicker',
    components: {DatePicker},
    props: {
      range: Boolean,
      format: {type: String, default: 'DD/MM/YYYY'},
      type: {type: String, default: 'date'},
      placeholder: {type: String, default: 'date'},
    },
    data() {
      return {
        selected: []
      }
    },
    methods: {
      onChange() {
        this.$emit('change', this.selected)
      }
    }
  }
</script>

<style scoped>

  >>> .mx-datepicker-range {
    width: 100%;
    height: 40px;
    color: #757575;
  }

  .mx-datepicker-range >>> .mx-input {
    height: 40px;
    border: 1px solid rgba(41, 77, 156, 0.54);
    transition: .25s all ease;
  }

  .mx-datepicker-range >>> .mx-input:hover,
  .mx-datepicker-range >>> .mx-input:focus {
    border-color: #294D9C;
  }

</style>