<template>
<!-- eslint-disable -->
  <div class="diagram">
    <div class="diagram__counts">
      <div class="diagram__count" v-for="y in yData" :key="y">{{ y }}</div>
    </div>
    <div class="diagram-inner">
      <div class="diagram__line" v-for="(x,j) in xData" :key="j">
        <div class="diagram__line-inside" :style="{height: calcPercent(x.value)}">
          <div class="diagram__caption">
            {{ x.value }}
          </div>
        </div>
        <div class="diagram__day">{{x.label}}</div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  export default {
    name: "Diagram",
    props:{
      yData:{type: Array, required: true},
      xData:{type: Array, required: true},
    },
    methods: {
      calcPercent(val){
        var max = this.yData[0];
        if(max == 0){ return "0%"}
        return Math.round((val * 100)/ max)+ "%";
      }
    }
  }
</script>

<style scoped>
  .diagram,
  .diagram-inner,
  .diagram__counts {
    display: flex;
  }

  .diagram {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 70%;
    flex-wrap: wrap;
  }

  .diagram-inner {
    justify-content: space-between;
    width: calc(100% - 35px);
  }

  .diagram__counts {
    width: 35px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .diagram__count {
    font: 400 10px/12px "Montserrat", sans-serif;
    color: #707070;
  }

  .diagram__line {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25px;
    height: 200px;
    border-radius: 5px;
    background-color: #EEEEEE;
  }

  .diagram__line-inside {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #294D9C, #6394FF);
  }

  .diagram__caption {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: -50px;
    left: 50%;
    width: 60px;
    height: 38px;
    border-radius: 5px;
    transform: translateX(-50%);
    font: 700 16px/38px "Montserrat", sans-serif;
    color: #fff;
    background-color: #294D9C;
    text-align: center;
    transition: all .25s ease;
  }

  .diagram__line:hover .diagram__caption {
    visibility: visible;
    opacity: 1;
  }

  .diagram__caption::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #294D9C transparent transparent transparent;
  }

  .diagram__days {
    width: 100%;
    padding-left: 35px;
    display: flex;
    justify-content: space-around;
  }

  .diagram__day {
    padding: 4px 2px;
    font: 400 10px/12px "Montserrat", sans-serif;
    color: #707070;
    text-align: center;
  }
</style>
