<template>
  <span class="dropdown-list">
    <a
      v-if="selectedItem"
      class="links"
      @click="setVisibility"
    >{{ selectedItem.name }}</a> 
    <ul v-if="visible">
      <li
        v-for="item in items"
        :key="item.id"
        :class="{selected: item === selectedItem}"
        @click="onSelected(item)"
      >
        {{ item.name }}
      </li>
    </ul>
  </span>
</template>

<script>
export default {
  name:"DropDownList",
  props: {
    items:{type: Array, required: true}
  },
  data(){
    return{
      selectedItem: null,
      visible: false
    }
  },
  mounted(){
    if(this.items.length > 0)
    this.selectedItem = this.items[0]
  },
  methods: {
    onSelected(item){
      this.selectedItem = item
      this.$emit('dropdown-item-change', item) 
      this.setVisibility()
    },
    setVisibility(){
      this.visible = !this.visible
    }
  }
}
</script>

<style scoped>


.dropdown-list{
  position: relative;
  z-index: 99999999;
}
.dropdown-list .links{
  cursor: pointer;
}
.dropdown-list ul{
  width: 130px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  list-style: none;
  padding: 0;
  top: 10px;
  left: 0;
  right: 5px;
  background: #FAFAFA;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.dropdown-list ul::before {
     content:"";
     position: absolute;
     left: 50%;
     top: -10px;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 0 10px 10px 10px;
     border-color: transparent transparent rgb(187, 74, 74) transparent;
     transform: translateX(-50%);
}
.dropdown-list ul li{
  z-index: 5;
  padding: 10px ;
  color: #294D9C;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.dropdown-list ul li:first-child{
  border-radius: 5px 5px 0 0;
}
.dropdown-list ul li:last-child{
  border-radius: 0 0 5px 5px;
}
.dropdown-list ul li:hover{
  background: #294D9C;
  color: #fff;
  cursor: pointer;
}
.dropdown-list ul li.selected{
  background: rgb(236, 242, 255);
  color: #294D9C;
}
</style>