<template>
  <button
    :type="type"
    class="btn"
    :disabled="disabled"
    @click="onClick"
  >
    <slot />
  </button>
</template>

<script>
  export default {
    name: "ImageButton",
    props: {
      type: {
        type: String,
        default: 'button'
      },
      disabled: Boolean
    },
    computed: {
      eventName() {
        switch (this.type) {
          case 'submit': return 'submit';
          case 'reset': return 'reset';
          default: return 'click';
        }
      }
    },
    methods: {
      onClick(event) {
        this.$emit(this.eventName, event);
      }
    }
  }
</script>

<style scoped>
  .btn {
    border: none;
    box-shadow: none;
    padding: 0;
    height: auto;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
  }

  .btn span {
    margin-left: 5px
  }

  .btn:hover {
    color: #294d9c
  }

  .btn svg {
    width: 24px;
    height: 24px;
    transition: .25s all ease-in-out;
  }
</style>
