<template>
  <label class="label">
    <slot />
    <input
      :type="type"
      class="input"
      :placeholder="placeholder"
      :name="name"
      :min="min"
      :max="max"
      :step="step"
      :class="[classes, {err: hasError}]"
      :value="value"
      :disabled="disabled"
      :hidden="hidden"
      :maxlength="maxlength"
      @input="onInput"
      @keypress="onKeyPress"
    >
  </label>
</template>

<script>
  export default {
    name: 'InputField',
    props: {
      placeholder: {
        type: String,
        default: null
      },
      classes: {
        type: String,
        default: null
      },
      name: {
        type: String,
        default: null
      },
      disabled: Boolean,
      // eslint-disable-next-line vue/require-default-prop
      value: [String, Number],
      type: {
        type: String,
        default: 'text'
      },
      hidden: Boolean,
      min: {
        type: Number,
        default: 0
      },
      // eslint-disable-next-line vue/require-default-prop
      max: Number,
      // eslint-disable-next-line vue/require-default-prop
      maxlength: {type:Number},
      step: {
        type: Number,
        default: 1
      },
      minus: Boolean,
      decimal: Boolean,
      hasError: Boolean
    },
    methods: {
      onInput(event) {
        this.$emit('input', event.target.value);
      },
      onKeyPress(event) {
        if (this.type === 'number' || this.type === 'phone') {
          if (this.decimal && event.charCode === 46)
            return true;
          if (this.minus && event.charCode === 45)
            return true;
          if ((event.charCode >= 48 && event.charCode <= 57))
            return true;
          event.preventDefault();
        }
      }
    }
  }
</script>

<style scoped>

  .input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    flex: 1 1 100px;
    color: #232323;
    font: normal 14px/40px "Montserrat", sans-serif;
    border: 1px solid rgba(41, 77, 156, 0.54);
    border-radius: 5px;
    cursor: text;
    transition: .25s all ease;
  }

  .input.err {
    border: 2px solid tomato;
    border-radius: 5px;
  }

  .label {
    display: block;
    color: rgba(0, 0, 0, 0.54);
  }

  input:focus {
    outline: none;
  }

  input:focus,
  input:hover {
    border-color: #294d9c;
  }

</style>
