<template>
  <button
    :type="type"
    :class="classes"
    @click="onClick"
  >
    <slot />
  </button>
</template>

<script>
  export default {
    name: "LinkButton",
    props: {
      type: {
        type: String,
        default: 'button'
      },
      classes: {
        type: String,
        default: 'btn-link'
      }
    },
    computed: {
      eventName() {
        switch (this.type) {
          case 'submit':
            return 'submit';
          case 'reset':
            return 'reset';
          default:
            return 'click';
        }
      }
    },
    methods: {
      onClick(event) {
        this.$emit(this.eventName, event);
      }
    }
  }
</script>

<style scoped>
  .btn-link {
    border: none;
    padding: 0;
    background-color: transparent;
    color: #294d9c;
    cursor: pointer;
  }

  .btn-link:hover,
  .btn-link:focus{
    outline: none;
  }

</style>
