<template>
<!-- eslint-disable -->
  <div class="no-data" :style="{flexDirection: oriente}">
    <svg fill="#B4B4B4" width="24" height="24"><use xlink:href="@/assets/sprite.svg#info"></use></svg>
    <span class="no-data-msg">{{ message }}</span>
  </div>
</template>

<script>
  /* eslint-disable */
export default {
  props: {
    message: {type:String, required: true},
    orientation: {type:String, default: "horizontal"},
  },
  computed: {
    oriente() {
      if(this.orientation.toLowerCase() == "vertical"){
        return "column"
      }
      return "row"
    }
  }
}
</script>

<style scoped>

  .no-data{
    display: flex;
    min-height: 150px;
    align-items: center;
    justify-content: center;
  }
  .no-data-msg{
      margin: 5px;
  }
</style>
