<template>
  <label
    class="label"
    :class="{capslock: isCapsLock}"
  >
    <slot />
    <input
      :type="type"
      class="input"
      :placeholder="placeholder"
      :name="name"
      :class="classes"
      :value="value"
      :disabled="disabled"
      :hidden="hidden"
      @input="onInput"
      @keyup="onKeyup"
    >
    <svg
      class="password-icon"
      :class="{capslock: isCapsLock}"
      @click="toggleVisibility"
    >
      <use
        v-if="isCapsLock"
        xlink:href="@/assets/sprite.svg#info"
      />
      <use
        v-else
        xlink:href="@/assets/sprite.svg#eye"
      />
    </svg>
  </label>
</template>

<script>
  export default {
    name: 'PasswordField',
    props: {
      placeholder: {
        type: String,
        default: ''
      },
      classes: {
        type: String,
        default: null
      },
      name: {
        type: String,
        default: null
      },
      disabled: Boolean,
      value: {
        type: String,
        default: null
      },
      hidden: Boolean,
    },
    data() {
      return {
        visible: false,
        isCapsLock: false
      }
    },
    computed: {
      type() {
        return this.visible ? 'text' : 'password';
      }
    },
    methods: {
      onInput(event) {
        this.$emit('input', event.target.value);
      },
      onKeyup(event) {
        this.isCapsLock = event.getModifierState('CapsLock');
      },
      toggleVisibility(){
          this.visible = !this.visible;
      }
    },
  }
</script>

<style scoped>
  .label {
    position: relative;
    border: 1px solid rgba(41, 77, 156, 0.54);
    display: block;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.54);
  }

  .label.capslock {
    border-color: orange;
  }

  .input {
    border: 0;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 50px 0 20px;
    border-radius: 5px;
    line-height: 40px;
    color: #232323;
    flex: 1 1 100px;
    cursor: text;
    transition: .25s all ease;
  }

  input:focus {
    outline: none;
  }

  input:focus,
  input:hover {
    border-color: #294d9c;
  }

  .password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 14px;
    height: 14px;
  }

  .password-icon.capslock {
    fill: orange;
  }
</style>
