<template>
  <div
    class="progress-content"
    :class="{full: full}"
    :style="setStyle"
  >
    <div
      class="progress-bar"
      :style="{width: setSize, height: setSize}"
    />
    <span
      v-if="message"
      class="progress-msg"
    >{{ message }}</span>
  </div>
</template>
<script>
export default {
  name: "ProgressBar",
  props: {
    message: {type: String,default:""},
    orientation: {type: String, default: 'horizontal'},
    size: {type: Number, default: 40},
    full: {type: Boolean}
  },
  computed:{
    setStyle(){
      if(this.orientation === "vertical"){
        return {flexDirection: "column", justifyContent: "center" }
      }
       return {flexDirection: "row", alignItems: "center" }
    },
    setSize(){
      return this.size+"px"
    }
  }
}
</script>
<style scoped>
.progress-content{
  display: flex;
}
.progress-content.full{
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-content.full .progress-msg{
  color: #fff;
  font-size: 18px;
}
.progress-bar {
  border: 3px solid #fff;
  border-radius: 50%;
  border-top: 3px solid #294d9c;
  animation: spin .8s linear infinite;
}
.progress-msg{
 margin: 5px;
 font-size: 12px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>
