<template>
  <label class="label">
    <svg class="search-icon">
      <use xlink:href="@/assets/sprite.svg#search" />
    </svg>
    <input
      :id="id"
      ref="inputSearch"
      type="search"
      class="search-input"
      :placeholder="placeholder"
      :name="name"
      :value="value"
      :class="classes"
      autofocus
      @input="onInput"
    >
  </label>
</template>

<script>
  export default {
    name: "SearchField",
    props: {
      placeholder: {
        type: String,
        required: true
      },
      classes: {
        type: String,
        default: ''
      },
      name: {
        type: String,
        default: ''
      },
      value: {
        type: String,
        default: ''
      },
      id: {
        type: String,
        default: null
      }
    },
    methods: {
      onInput(event) {
        this.$emit('input', event.target.value)
      }
    }
  }
</script>

<style scoped>

  .label {
    position: relative;
    display: block;
    margin-bottom: 0;
  }

  .search-input {
    border: 1px solid rgba(41, 77, 156, 0.54);
    align-items: center;
    height: 40px;
    border-radius: 5px;
    padding: 0 5px 0 35px;
    width: 100%;
    font-size: 0.85rem;
    transition: .25s all ease;
  }

  .search-input::placeholder {
    color: rgba(35, 35, 35, 0.75);
  }

  .search-input:hover,
  .search-input:focus{
    border-color: #294d9c;
    outline: none;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: rgba(0, 0, 0, 0.54);
    transition: .25s all ease;
  }

  .label:hover .search-icon,
  .label:focus .search-icon{
    fill: #294d9c;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-image: url('../../assets/close.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }

</style>
