<template>
<!-- eslint-disable -->
    <div class="switcher" :style="{maxWidth:size}">
      <a class="switch_item" :class="{active: item == selectedItem}"
         v-for="(item,i) in items" :key="i"
         @click="switchTo(item)">{{item.title}}</a>
    </div>
</template>
<script>
  /* eslint-disable */
export default {
  props:{
    overrideId: { type: Number, default: -1},
    items: { type: Array, required: true},
    size: { type: String, default: '100%' },
    Click: { type: Function},
  },
  data() {
    return{
      selected: null,
    }
  },
  computed: {
    selectedItem(){
      if(this.overrideId !== -1){
        return this.selected = this.items.find(e => e.id === this.overrideId);
      }else{
        return this.selected;
      }
    }
  },
  mounted(){
    if(this.items.length > 0){
      this.selected = this.items[0]
    }

  },
  methods:{
    switchTo(item){
      this.selected = item
      this.$emit('on-changed', this.selected)
    }
  }
}
</script>

<style scoped>
  .switcher {
    height: 30px;
    display: flex;
    border: 1px solid #294D9C;
    color: #fff;
    border-radius: 5px;
  }

  .switcher .switch_item {
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #294D9C;
    padding: 0 10px;
    text-decoration: none;
    border-right: 1px solid #294D9C;
  }
  .switcher .switch_item:last-child{
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }

  .switcher .switch_item.active {
    color: #fff;
    background: #294D9C;
  }
</style>
