<template>
  <div
    v-show="isActive"
    class="tabitem"
  >
    <slot />
  </div>
</template>

<script>
export default {
   props: {
        // eslint-disable-next-line vue/require-prop-types
        name: { required: true },
        // eslint-disable-next-line vue/require-prop-types
        selected: { default: false}
    },
    
    data() {
      return {
        isActive: false
      };
    },
    computed: {
      href() {
        return '#' + this.name.toLowerCase().replace(/ /g, '-');
      }
    },
    mounted() {
      this.isActive = this.selected; 
    }
}
</script>
<style  scoped>
</style>