<template>
  <div
    class="tabcontrol"
    :style="styles"
  >
    <div class="tabs">
      <ul>
        <li
          v-for="(tab,i) in tabs"
          :key="i"
        >
          <a
            :class="{'active': tab.isActive}"
            :href="tab.href"
            @click="selectTab(tab)"
          >{{ tab.name }}</a>
        </li>
      </ul>
    </div>
    <div class="tabs-details">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props:{
    background: {type: String, default: '#fff'},
    padding: {type: String, default: '0'},
    margin: {type: String, default: '0'},

  },
    data() {
      return {tabs: [] };
    },
    computed: {
      styles(){
        return {
          backgroundColor: this.background,
          padding: this.padding,
          margin: this.margin
        }
      }
    },
    created() {  
      this.tabs = this.$children; 
    },
    methods: {
      selectTab(selectedTab) {
        this.tabs.forEach(tab => {
          tab.isActive = (tab.name === selectedTab.name);
        });
      }
    }
}
</script>

<style scoped>


.tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
}
.tabs ul li{
  display: flex;
}
.tabs a{
  margin-right: 10px;
  border-bottom: 1px solid #dbdbdb;
  text-decoration: none;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding:  15px 10px;
  transition: none 86ms ease-out;
}
.tabs a:hover{
  background-color: #eaeef6;
}
.tabs a.active{
  background-color: #eaeef6;
  color: #294d9c;
  border-bottom: 1px solid #294d9c;
  cursor: pointer;
  transition: none 86ms ease-out;
}
</style>