<template>
<!-- eslint-disable -->
  <label>
    <slot></slot>
    <textarea :placeholder="placeholder"
              :name="name"
              @input="onInput">{{ value }}</textarea>
  </label>
</template>

<script>
  /* eslint-disable */
  export default {
    name: "TextField",
    props: {
      placeholder: {
        type: String,
      },
      name: {
        type: String
      },
      value: {
        type: [String, Number]
      },
    },
    methods: {
      onInput(event) {
        this.$emit('input', event.target.value)
      }
    }
  }
</script>

<style scoped>
  textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: 1px solid rgba(41, 77, 156, 0.54);
    border-radius: 5px;
    padding: 20px;
    color: #232323;
  }

  label {
    color: rgba(0, 0, 0, 0.54);
  }
</style>
