<template>
<!-- eslint-disable -->
  <div class="row">
    <!-- организация -->
    <div class="col-12">
      <div class="settings-item">
        <div class="item">
          <div class="item" v-if="company !== null ">
            <div class="caption">Название</div>
            <div class="value">{{ company.name }}</div>
            <template v-if="company.inn">
              <div class="caption">
                Инн
              </div>
              <div class="value">
                {{ company.inn }}
              </div>
            </template>

            <template v-if="company.address">
              <div class="caption">
                Адрес
              </div>
              <div class="value">
                <span v-for="item of company.address" :key="item.id"> {{ item }} </span>
              </div>
            </template>
            <div class="mt-2" v-if="!company.tariff !== null">
              <ActionButton color="" class="btn--light" @click="editCompany">
                <svg class="">
                  <use xlink:href="@/assets/sprite.svg#edit"></use>
                </svg>
                <span>Редактировать</span>
              </ActionButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import ActionButton from "@/components/elements/ActionButton";

  export default {
    name: "SettingsInfos",
    components: {
      ActionButton
    },
    props: {
      extras: {required: true}
    },
    computed: {
      company() {
        if (this.extras !== null) {
          if (Array.isArray(this.extras)) {
            if (this.extras.length > 0)
              return this.extras[0]
            return null
          }
          return this.extras
        }
        return null
      }
    },
    methods: {
      editCompany() {
        this.$emit('open-edit', true)
      }
    }
  }
</script>

<style scoped>

  .settings-item {
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
    border-radius: 5px;
  }

  .settings-item + .settings-item {
    margin-top: 30px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .caption {
    color: rgba(0, 0, 0, 0.4);
  }

  .value {
    font-weight: 400;
    margin-bottom: 30px;
  }

  .caption + .value {
    margin-top: 5px;
  }

  .btn--light {
    border: 0;
    outline: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #294D9C;
  }

  .btn--light svg {
    fill: #294D9C;
  }

</style>
