<template>
  <div class="settings--discounts">
    <!-- Система лояльности -->
    <div class="row">
      <div class="col-6">
        <h1 class="m-normal m-title">
          Система лояльности
        </h1>
        <h2 class="m-normal m-subtitle">
          Выберите режим скидок клиентов
        </h2>
        <Switcher
          :items="regimes"
          :override-id="credentials.type_enable_loyalty_module"
          @on-changed="switcherLoyaltyChange"
        />
      </div>  
    </div>
    <!-- Кэшбек -->
    <div
      class="row"
      style="margin-top: 50px"
    >
      <div class="col-6">
        <h1 class="m-normal m-title">
          Кэшбек
        </h1>
        <h2 class="m-normal m-subtitle">
          Включение или отключение
        </h2>
        <Switcher
          :items="states"
          :override-id="cashboxStateOverrideId"
          @on-changed="switcherCashbackChange"
        />
      </div>  
    </div>
    <!-- Button  save -->
    <div
      class="row"
      style="margin-top: 80px;"
    >
      <div class="col-6">
        <ActionButton
          color="blue"
          @click="updateLoyaltyProgramAsync"
        >
          Сохранить изменения
        </ActionButton>
      </div>
    </div>
    <ProgressBar
      v-if="loading"
      :full="true"
    />
  </div>
</template>

<script>
import  Switcher from '@/components/elements/Switcher';
import  ActionButton from '@/components/elements/ActionButton';
import  ProgressBar from '@/components/elements/ProgressBar';
import { mapActions, mapGetters } from 'vuex';

export default {
 name: 'SettingsLoyaltyProgram',
 components: {
   Switcher,
   ActionButton,
   ProgressBar
 },
 data(){
    return {
      loading: false,
      regimes: [
        {id: 1, title: "Динамический", value: 1},
        {id: 2, title: "Статический", value: 2}
      ],
      states: [
        {id: 1, title: "Включен", value: true},
        {id: 2, title: "Выключен", value: false}
      ],
      credentials: {
        type_enable_loyalty_module: null,
        enable_cashback:  null
      }
    }
 },
 computed: {
   ...mapGetters({
      loyaltyProgram: 'settings/loyaltyProgram',
   }),
   cashboxStateOverrideId(){
     return this.credentials.enable_cashback ? 1 : 2;
   }
 },
 mounted(){
   this.getLoyaltyProgramAsync();
 },
 methods: {
    ...mapActions({
      getLoyaltyProgram: 'settings/getLoyaltyProgram',
      updateLoyaltyProgram: 'settings/updateLoyaltyProgram',
    }),
    async getLoyaltyProgramAsync(){
      this.loading = true;
      const res= await this.getLoyaltyProgram();
      if(res.status === 200){
        this.credentials.type_enable_loyalty_module = this.loyaltyProgram.type_enable_loyalty_module;
        this.credentials.enable_cashback = this.loyaltyProgram.enable_cashback;
      }
      this.loading = false;
    },
    async updateLoyaltyProgramAsync(){
      this.loading = true;
      await this.updateLoyaltyProgram(this.credentials);
      this.loading = false;
    },
    switcherLoyaltyChange(regime) {
      this.credentials.type_enable_loyalty_module = regime.value;
    },
    switcherCashbackChange(state) {
      this.credentials.enable_cashback = state.value;
    },
 }
}
</script>

<style scoped>
.settings--discounts{
 background: #fff;
 margin-top: 20px;
}
.m-normal{
 font-family: Montserrat;
 font-style: normal;
}
.m-title{
font-weight: 500;
font-size: 22px;
line-height: 34px;
color: #000000;
}
.m-subtitle{
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #000000;
}
</style>