<template>
  <div>
    <div class="row">
      <div class="col-6">
        <div class="settings-item">
          <h2 class="title">
            Настройки организации
          </h2>
          <!-- progressbar -->
          <div
            v-if="submited"
            class="row loader"
          >
            <ProgressBar />
          </div>
          <form
            v-if="!submited"
            action
            @submit.prevent="saveCompany"
          >
            <div>
              <div class="mb-2">
                <InputField
                  v-model="form.name"
                  v-validate="'required'"
                  name="company_name"
                >
                  <div class="field-caption">
                    Название
                  </div>
                </InputField>
                <div
                  v-show="errors.has('company_name')"
                  class="errors"
                >
                  <span class="form-error">{{ errors.first('company_name') }}</span>
                </div>
              </div>
              <div class="mb-2">
                <InputField
                  v-model="form.inn"
                  v-validate="'required|numeric|verify_inn'"
                  name="company_inn"
                >
                  <div class="field-caption">
                    Инн
                  </div>
                </InputField>
                <div
                  v-show="errors.has('company_inn')"
                  class="errors"
                >
                  <span class="form-error">{{ errors.first('company_inn') }}</span>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <h2 class="title">
                Адрес организации
              </h2>
              <div class="mb-2">
                <InputField v-model="form.address.country">
                  <div class="field-caption">
                    Страна
                  </div>
                </InputField>
              </div>
              <div class="mb-2">
                <InputField v-model="form.address.region">
                  <div class="field-caption">
                    Область
                  </div>
                </InputField>
              </div>
              <div class="mb-2">
                <InputField v-model="form.address.city">
                  <div class="field-caption">
                    Город
                  </div>
                </InputField>
              </div>
              <div class="mb-2">
                <InputField v-model="form.address.street">
                  <div class="field-caption">
                    Улица
                  </div>
                </InputField>
              </div>
            </div>
            <ActionButton
              class="btn--save"
              type="submit"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#check" />
              </svg>
              <span class="btn__text">Сохранить</span>
            </ActionButton>
            <ActionButton
              class="btn--save"
              style="margin-left:15px"
              @click="cancel"
            >
              <svg>
                <use xlink:href="@/assets/sprite.svg#close" />
              </svg>
              <span class="btn__text">Отменить</span>
            </ActionButton>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import VeeValidate from "vee-validate";
  import Tariff from "@/components/modals/Tariff";
  import InputField from "@/components/elements/InputField";
  import ProgressBar from "@/components/elements/ProgressBar";
  import ActionButton from "@/components/elements/ActionButton";

  function sumOfProducts(values, coefficients) {
    return coefficients.reduce((result, coef, i) => result + coef * Number(values[i]), 0);
  }

  function computeChecksum(values, coefficients) {
    return sumOfProducts(values, coefficients) % 11 % 10;
  }

  export default {
    inject: ["$validator"],
    name: "SettingsEdit",
    components: {
      ActionButton,
      Tariff,
      InputField,
      ProgressBar
    },
    props: {
      extras: {required: true}
    },
    data() {
      return {
        submited: false,
        form: {
          tariff: null,
          name: "",
          inn: "",
          address: {
            country: "",
            region: "",
            city: "",
            street: ""
          }
        }
      };
    },
    computed: {
      employee() {
        if (this.extras !== null) {
          if (Array.isArray(this.extras)) {
            return this.extras[0];
          }
          return this.extras;
        }
        return null;
      }
    },
    created() {
      VeeValidate.Validator.extend('verify_inn', {
        getMessage(field, params, data) {
          return data;
        },
        validate(inn) {
          let valid, data;
          switch (inn.length) {
            case 10:
              const checksum = computeChecksum(inn, [2, 4, 10, 3, 5, 9, 4, 6, 8]);
              valid = checksum === Number(inn[9]);
              data = 'ИНН юр. лица содержит неправильное контрольное число';
              break;
            case 12:
              const checksum1 = computeChecksum(inn, [7, 2, 4, 10, 3, 5, 9, 4, 6, 8]);
              const checksum2 = computeChecksum(inn, [3, 7, 2, 4, 10, 3, 5, 9, 4, 6, 8]);
              valid = checksum1 === Number(inn[10]) && checksum2 === Number(inn[11]);
              data = 'ИНН физ. лица содержит неправильное контрольное число';
              break;
            default:
              valid = false;
              data = 'ИНН должен состоять из 10 или 12 цифр';
          }
          return {valid, data};
        }
      });

      if (this.employee !== null) {
        this.form = {
          id: this.employee.id,
          tariff: this.employee.tariff,
          name: this.employee.name,
          inn: this.employee.inn
        };
        if (this.employee.address !== null) {
          this.form.address = this.employee.address;
        }
      }
    },
    methods: {
      async saveCompany() {
        const result = await this.$validator.validate();
        if (!result) return;
        this.submited = true;
        const response = await this.$store.dispatch("settings/updateCompany", this.form);
        if (response.status === 200 || response.status === 201) {
          this.submited = false;
          this.$toast.success("Данные успешно сохранены!");
          this.$emit("open-edit", false);
        } else {
          this.submited = false;
          this.$toast.errors(response.data);
        }
      },
      cancel(){
         this.$emit("open-edit", false);
      }
    }
  };
</script>

<style scoped>
  .loader {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #fff;
  }

  .settings-item {
    width: 100%;
    padding: 40px 0px;
    background-color: #fff;
    border-radius: 5px;
  }

  .settings-item + .settings-item {
    margin-top: 30px;
  }

  .title {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
  }

  .field-caption {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 15px;
    color: #707070;
  }

  .btn--save {
    border: 0;
    padding: 0 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #294d9c;
  }

  .btn--save >>> svg {
    fill: #294d9c;
  }
</style>
