<template>
  <div class="action-bar">
    <div class="row justify-content-between align-items-center">
      <div class="col-3">
        <SearchField
          v-model="search"
          placeholder="Поиск по магазинию"
          @input="searchChar"
        />
      </div>

      <div class="col-3 d-flex justify-content-end">
        <ActionButton
          color="blue"
          @click="$modal.show('new-shop')"
        >
          <svg>
            <use xlink:href="@/assets/sprite.svg#plus" />
          </svg>
          <span>
            Новый магазин
          </span>
        </ActionButton>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchField from "@/components/elements/SearchField";
  import ActionButton from "@/components/elements/ActionButton";

  export default {
    name: "ShopsActionBar",
    components: {
      SearchField,
      ActionButton
    },
    data() {
      return {
        search: ''
      }
    },
    methods: {
      searchChar(event) {
        this.$emit("search-changed", event);
      }
    }
  }
</script>

<style scoped>

  .action-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 15px 11px;
    margin-bottom: 15px;
  }

</style>
