<template>
  <div>
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>Магазин</th>
          <th>Выручка за сегодня</th>
          <th>Выручка за все время</th>
          <th>Контакты</th>
        </tr>
      </thead>
      <tbody v-if="!loading">
        <tr
          v-for="data in items"
          :key="data.id"
        >
          <td>
            <RouterLink :to="{name: 'ShopsInfos', params: {id: data.id}}">
              {{ data.name }}
            </RouterLink>
          </td>
          <td>
            <span v-if="data.dailyStats">
              {{ data.dailyStats.amount_for_period }}
            </span>
          </td>
          <td>
            <span v-if="data.allStats">
              {{ data.allStats.amount_for_period }}
            </span>
          </td>
          <td>{{ data.phone }}</td>
        </tr>
        <tr v-if="items.length === 0">
          <td colspan="5">
            <div class="not-found">
              Нет соответствующих параметрам приходов
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      v-if="loading"
      class="loader"
    >
      <ProgressBar />
    </div>
  </div>
</template>

<script>
  import ProgressBar from '@/components/elements/ProgressBar';

  export default {
    name: 'ShopsTable',
    components: {
      ProgressBar
    },
    props: {
      items: {type: Array, required: true},
      loading: {type: Boolean, required: true},
    }
  }
</script>

<style scoped>

  .table {
    position: relative;
  }

  .loader {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

</style>
