<template>
<!-- eslint-disable -->
  <div id="app">
    <component :is="layout">
      <router-view class></router-view>
    </component>
  </div>
</template>

<script>
  /* eslint-disable */
const defaultLayout = "default";
export default {
  name: "App",
  computed: {
    layout() {
      return (this.$route.meta.layout || defaultLayout) + "-layout";
    }
  }
};
</script>

<style src="normalize.css/normalize.css"></style>
<style src="bootstrap/dist/css/bootstrap-grid.min.css"></style>
<style src="vuejs-noty/dist/vuejs-noty.css"></style>
<style src="vue2-datepicker/lib/datepicker.css"></style>

<style>
html {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee;
  font-size: 14px;
  color: #2c3e50;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a,
.router-link {
  color: #294d9c;
  text-decoration: none;
}
.link-icon {
  display: inline-flex;
  align-items: center;
  color: #294d9c;
  text-decoration: none;
}
.link-icon svg {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  fill: #294d9c;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  color: #294d9c;
  border: 1px solid #294d9c;
  height: 35px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border-radius: 5px;
}
.btn img {
  margin-right: 5px;
}
.btn:hover {
  color: #294d9c;
}
.btn-fill {
  background-color: #294d9c;
  color: #fff;
}
.btn-fill:hover {
  color: #fff;
}
.v--modal {
  border-radius: 5px;
}
.input {
  cursor: pointer;
}
.main-title {
  margin: 0;
  font: 500 20px/24px "Montserrat", "Arial", sans-serif;
  color: #000;
}
.main {
  padding-top: 37px;
  padding-bottom: 35px;
}
.container {
  min-width: 1170px;
}
.select {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 1px solid rgba(41, 77, 156, 0.54);
  border-radius: 5px;
  font: normal 14px/40px "Montserrat", sans-serif;
  color: rgba(35, 35, 35, 0.75);
}
.modal-close {
  position: absolute;
  width: 24px;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 1;
}
.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
.table-head {
  background-color: rgba(41, 77, 156, 0.54);
}
.table th {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}
.table th:first-child {
  border-radius: 5px 0 0 0;
}
.table th:last-child {
  border-radius: 0 5px 0 0;
}
.table td,
.table th {
  padding: 0 10px;
  height: 60px;
  vertical-align: middle;
}
.table td:first-child,
.table th:first-child {
  padding-left: 20px;
}
.table td:last-child,
.table th:last-child {
  padding-right: 20px;
}
.not-found {
  padding-left: 15px !important;
  font-size: 16px;
  color: #757575;
  text-align: center;
}
.table a {
  color: #294d9c;
  text-decoration: none;
}
.table tr:nth-child(even) {
  background-color: #fafafa;
}
.form-errors {
  padding: 10px 10px;
  background: rgb(228, 164, 164);
  color: rgb(199, 39, 39);
  font-size: 10px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.errors {
  padding-top: 5px;
  color: tomato;
}
.error {
  font-size: 12px;
  line-height: 1.2;
  color: #d68282;
}
.progress {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-error {
  font-size: 12px;
  line-height: 1.2;
  color: tomato;
}

.enable-select {
  user-select: all;
}
.disable-select {
  user-select: none;
}
.link-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
}
</style>
