<template>
  <div v-if="elements">
    <ActionBar
      placeholder="Поиск по номеру договора"
      button-text="Новое поступление"
      component-url="procurements/new"
    />
    <div>
      <table class="table">
        <thead class="table-head">
          <tr>
            <th>№ поступления</th>
            <th>Время поступления</th>
            <th>Количество позиций</th>
            <th>Магазин</th>
            <th>Поставщик</th>
            <th>Проведен</th>
          </tr>
        </thead>
        <tbody v-if="elements.length === 0">
          <tr>
            <td
              colspan="7"
              class="not-found"
            >
              Нет соответствующих параметрам приходов
            </td>
          </tr>
        </tbody>
        <TableItem
          v-for="elem in elements"
          :key="elem.date"
          :procurements="elem.procurements"
          :date="elem.date"
        />
      </table>
    </div>
  </div>
</template>

<script>
  import ActionBar from '@/components/procurements/actionbars/IndexActionBar'
  import TableItem from '@/components/procurements/tables/IndexTableItem'

  export default {
    name: 'ProcurementsIndex',
    components: {
      ActionBar,
      TableItem
    },
    computed: {
      elements() {
        return this.$store.getters.elements
      },
    },
    created() {
      this.$store.commit('SET_SEARCHID', '');
      this.$store.commit('SET_SHOPID', '');
    }
  }
</script>

<style scoped>

</style>
