<template>
<!-- eslint-disable -->
  <div>
    <div class="procurement">
      <NewActionBar v-if="isNewProcurement"></NewActionBar>
      <EditActionBar v-if="!isNewProcurement && isNotPosted && isEdit" :procurement="procurement"></EditActionBar>
      <PostedActionBar v-if="!isNewProcurement && isNotPosted && !isEdit" :procurement="procurement"></PostedActionBar>
      <InfoActionBar v-if="!isNewProcurement && !isNotPosted" :procurement="procurement"></InfoActionBar>
      <Table :procurement="procurement" :newPositions="newPositions" :isRemove="isRemove" :isEdit="isEdit"
             :isNewProcurement="isNewProcurement" :isNotPosted="isNotPosted"></Table>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import {mapActions, mapGetters} from 'vuex'
  import Table from '@/components/procurements/tables/SingleTable'
  import EditActionBar from '@/components/procurements/actionbars/EditSingleActionBar'
  import NewActionBar from '@/components/procurements/actionbars/NewSingleActionBar'
  import InfoActionBar from '@/components/procurements/actionbars/InfoSingleActionBar'
  import PostedActionBar from '@/components/procurements/actionbars/PostedSingleActionBar'


  export default {
    name: 'ProcurementsSingle',
    components: {
      Table,
      EditActionBar,
      NewActionBar,
      PostedActionBar,
      InfoActionBar
    },
    computed: {
      ...mapGetters(['procurement', 'newPositions']),
      isNewProcurement: function () {
        return !(Object.entries(this.procurement).length > 7);
      },
      isNotPosted() {
        return !this.procurement.is_posted;
      },
      isEdit() {
        return this.$route.name === 'ProcurementEditSingle';
      },
      isRemove() {
        return this.isEdit && this.isNotPosted;
      }
    },
    methods: {
      ...mapActions([
        'fetchProcurement',
        'submitNewProcurement',
        'setPosted',
        'editProcurement',
        'fetchProcurements',
        'submitNewProduct',
        'fetchProductsForSearch',
        'setSearchId',
        'setShopId',
        'setArrayDate'
      ]),

    },
    created() {
      const id = this.$route.params.id;
      this.fetchProcurement({id: id});
      this.$eventBus.$on('fetch-procurements', this.fetchProcurements);
      this.$eventBus.$on('submit-new-procurement', this.submitNewProcurement);
      this.$eventBus.$on('set-procurement-posted', this.setPosted);
      this.$eventBus.$on('edit-procurement', this.editProcurement);
      this.$eventBus.$on('set-searchId', this.setSearchId);
      this.$eventBus.$on('set-shopId', this.setShopId);
      this.$eventBus.$on('set-arrayDate', this.setArrayDate);
      this.$eventBus.$on('procurement-deleted', function () {
        this.$eventBus.$emit('set-searchId', {id: ""});
        this.$eventBus.$emit('set-shopId', {id: ""});
        this.$eventBus.$emit('set-arrayDate', {date_start: "", date_end: ""});
        this.$eventBus.$emit('fetch-procurements');
        this.$router.push('/procurements')
      }.bind(this));
      this.$eventBus.$on('submit-new-product', this.submitNewProduct);
      this.$eventBus.$on('added-new-product', function () {
        this.fetchProductsForSearch({selectedCategoryForSearch: null, selectedNameForSearch: null});
      }.bind(this))
    },
    beforeDestroy() {
      this.$eventBus.$off('set-searchId');
      this.$eventBus.$off('set-shopId');
      this.$eventBus.$off('set-arrayDate');
      this.$eventBus.$off('fetch-procurements');
      this.$eventBus.$off('submit-new-procurement');
      this.$eventBus.$off('set-procurement-posted');
      this.$eventBus.$off('edit-procurement');
      this.$eventBus.$off('delete-procurement');
      this.$eventBus.$off('procurement-deleted');
      this.$eventBus.$off('submit-new-product');
      this.$eventBus.$off('added-new-product');

    }
  }
</script>

<style scoped>
  .procurement {
    width: 100%;
  }
</style>
